$colors: (
  primary: (
    100: #e3e1fc,
    200: #c7c2f9,
    300: #aba4f6,
    light: #8f85f3,
    main: #7367f0,
    dark: #675dd8,
    700: #6258cc,
    800: #5c52c0,
    900: #564db4,
  ),
  secondary: (
    100: #e6e6e9,
    200: #cccdd3,
    300: #b3b5bc,
    light: #999ca6,
    main: #808390,
    dark: #737682,
    700: #6d6f7a,
    800: #666973,
    900: #60626c,
  ),
  info: (
    100: #ccf1f6,
    200: #99e3ed,
    300: #66d6e3,
    light: #33c8da,
    main: #00bad1,
    dark: #00a7bc,
    700: #009eb2,
    800: #0095a7,
    900: #008c9d,
  ),
  success: (
    100: #d4f4e2,
    200: #a9e9c5,
    300: #7edda9,
    light: #53d28c,
    main: #28c76f,
    dark: #24b364,
    700: #22a95e,
    800: #209f59,
    900: #1e9553,
  ),
  warning: (
    100: #ffecd9,
    200: #ffd9b4,
    300: #ffc58e,
    light: #ffb269,
    main: #ff9f43,
    dark: #e68f3c,
    700: #d98739,
    800: #cc7f36,
    900: #bf7732,
  ),
  error: (
    100: #ffdbdc,
    200: #ffb7b9,
    300: #ff9497,
    light: #ff7074,
    main: #ff4c51,
    dark: #e64449,
    700: #d94145,
    800: #cc3d41,
    900: #bf393d,
  ),
);

$gray: #2f2b3d;

$extra: (
  action: (
    focus: #eaeaec,
    disabled: #c1bfc5,
    active: #82808b,
    hover: #f3f2f3,
    selected: #eeeeef,
    disabled-bg: #dedde0,
  ),
  text: (
    disabled: #acaab1,
    secondary: #6d6b77,
    primary: #444050,
  ),
  border: (
    outline: #cdccd0,
    input: #d1d0d4,
  ),
  bg: (
    body: #f8f7fa,
    paper: #ffffff,
    chat: #f3f2f5,
    tarck: #f1f0f2,
    chip: #eeeeef,
    avatar: #eeedf0,
  ),
  etc: (
    200: #d5d5d8,
    500: #97959e,
    800: #595564,
    white: #fff,
    divider: #e6e6e8,
    overlay: rgba(47, 43, 61, 0.16),
    snackbar: #2f2b3d,
    table-header: #ffffff,
    gray-light: #fafafa,
  ),
);

$dark-gray: #e1def5;
$dark-shadow: #131120;

$dark: (
  action: (
    focus: #535876,
    disabled: #64667d,
    active: #9a9ab0,
    hover: #3a3d53,
    selected: #3d4157,
    disabled-bg: #4c4e65,
  ),
  text: (
    disabled: #76778e,
    secondary: #acabc1,
    primary: #cfcde4,
  ),
  border: (
    outline: #585a71,
    input: #56596f,
  ),
  bg: (
    body: #25293c,
    paper: #2f3349,
    chat: #202534,
    tarck: #3a3f57,
    avatar: #373b50,
  ),
  etc: (
    200: #53556b,
    500: #9293ae,
    800: #bdbcd3,
    divider: #44485e,
    overlay: rgba(#171925, 0.6),
    snackbar: #f7f4ff,
    table-header: #2f3349,
    gray-light: #353a52,
  ),
);
