// Font Family
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$font-family: (
  body: (
    font-family: '"Public Sans", sans-serif',
  ),
  heading: (
    font-family: '"Instrument Sans", sans-serif',
  ),
  public: (
    font-family: '"Public Sans", sans-serif',
  ),
);
// Font Size
// $font-size: (
//   base: (font-size: 16px,),
//   h:(
//     1: clamp(40px, 4vw, 46px),
//     2: clamp(32px, 4vw, 38px),
//     3: clamp(24px, 4vw, 28px),
//     4: clamp(20px, 4vw, 24px),
//     5: clamp(16px, 4vw, 18px),
//     6: clamp(13px, 4vw, 15px),
//   ),
//   sbtitle:(
//     1: clamp(13px, 4vw, 15px),
//     2: clamp(11px, 4vw, 13px),
//   ),
//   body: (
//     1: clamp(13px, 4vw, 15px),
//     2: clamp(11px, 4vw, 13px),
//   ),
//   etc:(
//     caption: clamp(12px, 4vw, 13px),
//     overline: clamp(11px, 4vw, 12px),
//   )
// );

// Line Height
// $line-height: (
//   body: (line-height: 1.5,),
//   heading: (line-height: 1.2,),
// );

$font-size: (
  base: (
    font-size: 16px,
  ),
  h: (
    1: 46px,
    2: 38px,
    3: 28px,
    4: 24px,
    5: 18px,
    6: 15px,
  ),
  subtitle: (
    1: 15px,
    2: 13px,
  ),
  body: (
    1: 15px,
    2: 13px,
  ),
  etc: (
    caption: 13px,
    overline: 12px,
    chip: 13px,
    tooltip: 13px,
    avatar: 15px,
    alert: 18px,
    theader: 13px,
  ),
  btn: (
    s: 13px,
    m: 15px,
    l: 17px,
  ),
  input: (
    s: 13px,
    m: 15px,
    l: 17px,
    label: 13px,
    helper: 13px,
  ),
);

// Font Weight
$font-weight: (
  fw: (
    black: 900,
    extra-bold: 800,
    bold: 700,
    semi-bold: 600,
    medium: 500,
    regular: 400,
    light: 300,
  ),
);
