$pc_large: 2580px;
$pc_base: 1920px;
$pc_small: 1260px;
$tablet: 768px;
$mobile_large: 520px;
$mobile_base: 375px;
$mobile_small: 344px;
$themeColors: (primary, secondary, info, success, warning, error);

$border-radius: (
  s: 4px,
  m: 6px,
  l: 8px,
  round: 500px,
);

$padding: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  11: 44px,
  12: 48px,
);

$gap: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
);
