$pc_large: 2580px;
$pc_base: 1440px;
$pc_small: 1260px;
$tablet: 768px;
$mobile_large: 480px;
$mobile_base: 360px;
$mobile_small: 320px;

:root {
  /*========== Colors ==========*/
  --primary-color: #748c70;
  --black-color: #0c0c0c;
  --white-color: #fff;
  --background-color: #fff;

  --primary-25: #f0f2ef;
  --primary-50: #d1d9cf;
  --primary-100: #b2bfaf;
  --primary-200: #a2b39f;
  --primary-300: #93a690;
  --primary-400: #839980;
  --primary-600: #5a6d57;
  --primary-700: #404e3e;
  --primary-750: #343e32;
  --primary-800: #272f25;
  --primary-900: #0d100c;

  --gray-f9: #f9f9f9;
  --gray-ed: #ededed;
  --gray-df: #dfdfdf;
  --gray-cb: #cbcbcb;
  --gray-ad: #adadad;
  --gray-86: #868686;
  --gray-60: #606060;
  --gray-40: #404040;
  --gray-20: #202020;

  --success-bg: #f3fdfa;
  --success-lt: #00ba88;
  --success: #00966d;
  --warning-bg: #f7e4c9;
  --warning-lt: #ecbb77;
  --warning: #e09126;
  --error-bg: #fff2f2;
  --error-lt: #ed2e2e;
  --error: #c30000;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;

  --medium-font: 400;
  --semi-bold-font: 600;
  --bold-font: 700;

  --display1-font: 4rem;
  --display2-font: 3.5rem;

  --h1-font: 2.75rem;
  --h2-font: 2.5rem;
  --h3-font: 2rem;
  --h4-font: 1.5rem;
  --h5-font: 1.25rem;
  --h6-font: 1rem;

  --body-xl-font: 1.25rem;
  --body-lg-font: 1.125rem;
  --body-md-font: 1rem;
  --body-sm-font: 0.875rem;
  --body-xs-font: 0.75rem;

  --caption-lg-font: 0.875rem;
  --caption-md-font: 0.75rem;
  --caption-sm-font: 0.625rem;

  --btn-lg-font: 1rem;
  --btn-sm-font: 0.875rem;

  --overline-lg-font: 1rem;
  --overline-sm-font: 0.75rem;

  /* ========= margin ========= */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-25: 1.25rem;
  --m-1-5: 1.5rem;
  --m-1-75: 1.75rem;
  --m-2: 2rem;
  --m-2-25: 2.25rem;
  --m-2-5: 2.5rem;
  --m-2-75: 2.75rem;
  --m-3: 3rem;
  --m-3-25: 3.25rem;
  --m-3-5: 3.5rem;
  --m-3-75: 3.75rem;
  --m-4: 4rem;

  /* =========== gap ============== */
  --gap-1: 0.25rem;
  --gap-2: 0.5rem;
  --gap-3: 0.75rem;
  --gap-4: 1rem;
  --gap-5: 1.25rem;
  --gap-6: 1.5rem;
  --gap-7: 1.75rem;
  --gap-8: 2rem;
  --gap-12: 3rem;
  --gap-14: 3.5rem;
  --gap-16: 4rem;

  /* ========== padding ============= */
  --padding-1: 0.25rem;
  --padding-2: 0.5rem;
  --padding-3: 0.75rem;
  --padding-4: 1rem;
  --padding-5: 1.25rem;
  --padding-6: 1.5rem;
  --padding-7: 1.75rem;
  --padding-8: 2rem;
  --padding-9: 2.25rem;
  --padding-10: 2.5rem;
  --padding-12: 3rem;
  --padding-14: 3.5rem;
  --padding-15: 3.75rem;
  --padding-16: 4rem;
  --padding-25: 6.25rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* ========= etc ============= */
}

@media (max-width: $mobile_large) {
  :root {
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --h3-font: 1rem;
    --h4-font: 0.8125rem;
    --h5-font: 0.75rem;
    --h6-font: 0.75rem;

    --body-xl-font: 0.875rem;
    --body-lg-font: 0.875rem;
    --body-md-font: 0.875rem;
    --body-sm-font: 0.75rem;
    --body-xs-font: 0.625rem;

    --caption-lg-font: 0.75rem;
    --caption-md-font: 0.75rem;
    --caption-sm-font: 0.75rem;
  }
}
