/***************************************************************
    02. animations
***************************************************************/
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes faqimg {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

@keyframes toastLaoding {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prgbar {
  0% {
    width: 0;
  }
  100% {
    width: var(--prg-bar);
  }
}

@keyframes p {
  0% {
    --p: 0;
  }

  100% {
  }
}
