/***************************************************************
    05. color
***************************************************************/
.primary_100 {
  color: var(--primary-100);
}

.primary_200 {
  color: var(--primary-200);
}

.primary_300 {
  color: var(--primary-300);
}

.primary_light {
  color: var(--primary-light);
}

.primary {
  color: var(--primary);
}

.primary_dark {
  color: var(--primary-dark);
}

.primary_700 {
  color: var(--primary-700);
}

.primary_800 {
  color: var(--primary-800);
}

.primary_900 {
  color: var(--primary-900);
}

.primary_o_lighter {
  color: var(--primary-o-lighter);
}

.primary_o_light {
  color: var(--primary-o-light);
}

.primary_o {
  color: var(--primary-o);
}

.primary_o_dark {
  color: var(--primary-o-dark);
}

.primary_o_darker {
  color: var(--primary-o-darker);
}

.primary_s_small {
  box-shadow: var(--primary-s-small);
}

.primary_s_medium {
  box-shadow: var(--primary-s-medium);
}

.primary_s_large {
  box-shadow: var(--primary-s-large);
}

.secondary_100 {
  color: var(--secondary-100);
}

.secondary_200 {
  color: var(--secondary-200);
}

.ssecondary_300 {
  color: var(--secondary-300);
}

.ssecondary_light {
  color: var(--secondary-light);
}

.secondary {
  color: var(--secondary);
}

.secondary_dark {
  color: var(--secondary-dark);
}

.secondary_700 {
  color: var(--secondary-700);
}

.secondary_800 {
  color: var(--secondary-800);
}

.secondary_900 {
  color: var(--secondary-900);
}

.secondary_o_lighter {
  color: var(--secondary-o-lighter);
}

.secondary_o_light {
  color: var(--secondary-o-light);
}

.secondary_o {
  color: var(--secondary-o);
}

.secondary_o_dark {
  color: var(--secondary-o-dark);
}

.secondary_o_darker {
  color: var(--secondary-o-darker);
}

.secondary_s_small {
  box-shadow: var(--secondary-s-small);
}

.secondary_s_medium {
  box-shadow: var(--secondary-s-medium);
}

.secondary_s_large {
  box-shadow: var(--secondary-s-large);
}

.info_100 {
  color: var(--info-100);
}

.info_200 {
  color: var(--info-200);
}

.info_300 {
  color: var(--info-300);
}

.info_light {
  color: var(--info-light);
}

.info {
  color: var(--info);
}

.info_dark {
  color: var(--info-dark);
}

.info_700 {
  color: var(--info-700);
}

.info_800 {
  color: var(--info-800);
}

.info_900 {
  color: var(--info-900);
}

.info_o_lighter {
  color: var(--info-o-lighter);
}

.info_o_light {
  color: var(--info-o-light);
}

.info_o {
  color: var(--info-o);
}

.info_o_dark {
  color: var(--info-o-dark);
}

.info_o_darker {
  color: var(--info-o-darker);
}

.info_s_small {
  box-shadow: var(--info-s-small);
}

.info_s_medium {
  box-shadow: var(--info-s-medium);
}

.info_s_large {
  box-shadow: var(--info-s-large);
}

.success_100 {
  color: var(--success-100);
}

.success_200 {
  color: var(--success-200);
}

.success_300 {
  color: var(--success-300);
}

.success_light {
  color: var(--success-light);
}

.success {
  color: var(--success);
}

.success_dark {
  color: var(--success-dark);
}

.success_700 {
  color: var(--success-700);
}

.success_800 {
  color: var(--success-800);
}

.success_900 {
  color: var(--success-900);
}

.success_o_lighter {
  color: var(--success-o-lighter);
}

.success_o_light {
  color: var(--success-o-light);
}

.success_o {
  color: var(--success-o);
}

.success_o_dark {
  color: var(--success-o-dark);
}

.success_o_darker {
  color: var(--success-o-darker);
}

.success_s_small {
  box-shadow: var(--success-s-small);
}

.success_s_medium {
  box-shadow: var(--success-s-medium);
}

.success_s_large {
  box-shadow: var(--success-s-large);
}

.warning_100 {
  color: var(--warning-100);
}

.warning_200 {
  color: var(--warning-200);
}

.warning_300 {
  color: var(--warning-300);
}

.warning_light {
  color: var(--warning-light);
}

.warning {
  color: var(--warning);
}

.warning_dark {
  color: var(--warning-dark);
}

.warning_700 {
  color: var(--warning-700);
}

.warning_800 {
  color: var(--warning-800);
}

.warning_900 {
  color: var(--warning-900);
}

.warning_o_lighter {
  color: var(--warning-o-lighter);
}

.warning_o_light {
  color: var(--warning-o-light);
}

.warning_o {
  color: var(--warning-o);
}

.warning_o_dark {
  color: var(--warning-o-dark);
}

.warning_o_darker {
  color: var(--warning-o-darker);
}

.warning_s_small {
  box-shadow: var(--warning-s-small);
}

.warning_s_medium {
  box-shadow: var(--warning-s-medium);
}

.warning_s_large {
  box-shadow: var(--warning-s-large);
}

.error_100 {
  color: var(--error-100);
}

.error_200 {
  color: var(--error-200);
}

.error_300 {
  color: var(--error-300);
}

.error_light {
  color: var(--error-light);
}

.error {
  color: var(--error);
}

.error_dark {
  color: var(--error-dark);
}

.error_700 {
  color: var(--error-700);
}

.error_800 {
  color: var(--error-800);
}

.error_900 {
  color: var(--error-900);
}

.error_o_lighter {
  color: var(--error-o-lighter);
}

.error_o_light {
  color: var(--error-o-light);
}

.error_o {
  color: var(--error-o);
}

.error_o_dark {
  color: var(--error-o-dark);
}

.error_o_darker {
  color: var(--error-o-darker);
}

.error_s_small {
  box-shadow: var(--error-s-small);
}

.error_s_medium {
  box-shadow: var(--error-s-medium);
}

.error_s_large {
  box-shadow: var(--error-s-large);
}

.action_focus {
  color: var(--action-focus);
}

.gray_700 {
  color: var(--gray-200);
}

.action_disabled {
  color: var(--action-disabled);
}

.text_disabled {
  color: var(--text-disabled);
}

.gray_500 {
  color: var(--gray-500);
}

.action_active {
  color: var(--action-active);
}

.text_secondary {
  color: var(--text-secondary);
}

.gray_800 {
  color: var(--gray-800);
}

.text_primary {
  color: var(--text-primary);
}

.main_color {
  color: var(--main);
}

.action_hover {
  color: var(--action-hover);
}

.action_selected {
  color: var(--action-selected);
}

.divider {
  color: var(--divider);
}

.action_disabled_bg {
  color: var(--action-disabled-bg);
}

.outline_border {
  color: var(--outline-border);
}
.input_border {
  color: var(--input-border);
}

.backdrop_overlay {
  color: var(--backdrop-overlay);
}

.gray_o_lighter {
  color: var(--gray-o-lighter);
}

.gray_o_lighter {
  color: var(--gray-o-lighter);
}

.gray_o_light {
  color: var(--gray-o-light);
}

.gray_o {
  color: var(--gray-o);
}

.gray_o_dark {
  color: var(--gray-o-dark);
}

.gray_o_darker {
  color: var(--gray-o-darker);
}

.gray_s_xsmall {
  box-shadow: var(--gray-s-xsmall);
}

.gray_s_small {
  box-shadow: var(--gray-s-small);
}

.gray_s_medium {
  box-shadow: var(--gray-s-medium);
}

.gray_s_large {
  box-shadow: var(--gray-s-large);
}

.gray_s_xlarge {
  box-shadow: var(--gray-s-xlarge);
}

.snakbar_color {
  color: var(--snakbar-color);
}

.body_bg {
  color: var(--body-bg);
}

.paper_bg {
  color: var(--paper-bg);
}

.table_bg {
  color: var(--table-bg);
}

.chat_bg {
  color: var(--chat-bg);
}

.track_bg {
  color: var(--track-bg);
}

.gray_light {
  color: var(--gray-light);
}

.light_color {
  color: var(--light-color);
}
