/***************************************************************
    03. layout
***************************************************************/
:root {
  --header-height: 3rem;
}

.pd_none {
  padding-bottom: 0;
}

.mb_0_25 {
  margin-bottom: var(--m-0-25);
}

.mb_0_5 {
  margin-bottom: var(--m-0-5);
}

.mb_0_75 {
  margin-bottom: var(--m-0-75);
}

.mb_1 {
  margin-bottom: var(--m-1);
}

.mb_1_25 {
  margin-bottom: var(--m-1-25);
}

.mb_1_5 {
  margin-bottom: var(--m-1-5);
}

.mb_1_75 {
  margin-bottom: var(--m-1-75);
}

.mb_2 {
  margin-bottom: var(--m-2);
}

.mb_2_25 {
  margin-bottom: var(--m-2-25);
}

.mb_2_5 {
  margin-bottom: var(--m-2-5);
}

.mb_2_75 {
  margin-bottom: var(--m-2-75);
}

.mb_3 {
  margin-bottom: var(--m-3);
}

.mb_3_25 {
  margin-bottom: var(--m-3-25);
}

.mb_3_5 {
  margin-bottom: var(--m-3-5);
}

.mb_3_75 {
  margin-bottom: var(--m-3-75);
}

.mb_4 {
  margin-bottom: var(--m-4);
}

.mt_0_25 {
  margin-top: var(--m-0-25);
}

.mt_0_5 {
  margin-top: var(--m-0-5);
}

.mt_0_75 {
  margin-top: var(--m-0-75);
}

.mt_1 {
  margin-top: var(--m-1);
}

.mt_1_25 {
  margin-top: var(--m-1-25);
}

.mt_1_5 {
  margin-top: var(--m-1-5);
}

.mt_1_75 {
  margin-top: var(--m-1-75);
}

.mt_2 {
  margin-top: var(--m-2);
}

.mt_2_25 {
  margin-top: var(--m-2-25);
}

.mt_2_5 {
  margin-top: var(--m-2-5);
}

.mt_2_75 {
  margin-top: var(--m-2-75);
}

.mt_3 {
  margin-top: var(--m-3);
}

.mt_3_25 {
  margin-top: var(--m-3-25);
}

.mt_3_5 {
  margin-top: var(--m-3-5);
}

.mt_3_75 {
  margin-top: var(--m-3-75);
}

.mt_4 {
  margin-top: var(--m-4);
}

.flex {
  @include flex;
}

.flex_center {
  @include flexcenter;
}

.flex_btw {
  @include flexbtw;
}

.flex_right {
  @include flexright;
}

.flex_top {
  @include flextop;
}

.flex_topcenter {
  @include flextopcenter;
}

.flex_topbtw {
  @include flextopbtw;
}

.flex_topright {
  @include flextopright;
}

.inner_0_25 {
  padding-inline: 0.25rem;
}

.inner_0_5 {
  padding-inline: 0.5rem;
}

.inner_0_75 {
  padding-inline: 0.75rem;
}

.inner_1 {
  padding-inline: 1rem;
}

.inner_1_25 {
  padding-inline: 1.25rem;
}

.inner_1_5 {
  padding-inline: 1.5rem;
}

.inner_1_75 {
  padding-inline: 1.75rem;
}

.inner_2 {
  padding-inline: 2rem;
}

.innerb_0_25 {
  padding-block: 0.25rem;
}

.innerb_0_5 {
  padding-block: 0.5rem;
}

.innerb_0_75 {
  padding-block: 0.75rem;
}

.innerb_1 {
  padding-block: 1rem;
}

.innerb_1_25 {
  padding-block: 1.25rem;
}

.innerb_1_2 {
  padding-block: 1.5rem;
}

.innerb_1_75 {
  padding-block: 1.75rem;
}

.innerb_2 {
  padding-block: 2rem;
}

.list_0_25 {
  @include list_0_25;
}

.list_0_5 {
  @include list_0_5;
}

.list_0_75 {
  @include list_0_75;
}

.list_1 {
  @include list_1;
}

.list_1_25 {
  @include list_1_25;
}

.list_1_25 {
  @include list_1_5;
}

.list_1_75 {
  @include list_1_75;
}

.list_2 {
  @include list_2;
}

.main {
  min-height: 100svh;
}
