@charset "utf-8";

/* ================== font ==================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");

$white_c: #fff;
$text_c: #222;
$text_c_2: #999;
$bg_gray: #ebebeb;
$border_c: #010101;
$mb_1: 1rem;
$mb_2: 2rem;
$mb_3: 3rem;
$mb_4: 4rem;
$mb_5: 5rem;
$big_f: 1.5rem;
$large_f: 1.25rem;
$medium_f: 1rem;
$normal_f: .8125rem;
$small_f: .75rem;
$smaller_f: .6875rem;
$medium_bold_f: 500;
$semi_bold_f: 600;
$bold_f: 700;
$extra_bold_f: 800;




/* ================= common ================ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: $normal_f;
  color: $text_c;
  line-height: 1.8;
  letter-spacing: -1px;
  background-color: #000;

}



::-moz-selection {
  background-color: $text_c;
  color: $text_c_2;
}

::selection {
  background-color: $text_c;
  color: $text_c_2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text_c;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ================== scroll bar =================== */
::-webkit-scrollbar {
  width: .5rem;
  background: $text_c;
}

::-webkit-scrollbar-thumb {
  background: $border_c;
  border-radius: 1rem;
}


/* ============== font ================= */
.big_f{
  font-size: 2.125rem;
}

.large_f{
  font-size: 1.875rem;
} 

.medium_f{
  font-size: 1.5rem;
}

.normal_f{
  font-size: 1rem;
}

.small_f{
  font-size: .8125rem;
}

.smaller_f{
  font-size: .75rem;
}

.bold_f{
  font-size: 700;
}

.semi_bold_f{
  font-size: 600
}


/* ============== layout =================== */
body.active{
  overflow: hidden;
}

.main{
  overflow: hidden;
  position: relative;
}

.main.active{
  overflow-y: hidden;
}


section{
  position: relative;
}

.section_container{
  width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 1.5rem;
}

h2{
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: $extra_bold_f;
}

/* ---- loading -----*/
.loading{
  height: 100vh; 
  width: 100%;
  position:fixed;
  z-index:9999; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: #fff; 
  background: #000;
  display: none;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid{
  display: grid;
  align-content: space-between;
}


/* ===================== nav ==================== */
.nav_full{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.9);
  z-index: 999;
  padding: $mb_3 0;
  display: none;

  .nav_inner{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .full_menu{
      

      .full_item{

        .full_link{
          color: $white_c;
          font-size: 2rem;
          font-weight: 500;
          text-transform: capitalize;
          transition: .3s;
          position: relative;

          &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 5px;
            top: 50%;
            left: 0;
            transition: .3s;
            background-color: #F3A238;
          }

          &:hover::after{
            width: 100%;
          }
        }

        .sub_menu{
          padding-bottom: $mb_1;

          .sub_link{
            color: $white_c;
            font-size: 1.125rem;


            &:hover{
              color: #F3A238;
            }
          }
        }
      }
    }

    .contact_link img{
      max-width: 200px;
      margin-top: $mb_3;
    }
  }

  .menu_close{
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    img{
      max-width: 30px;
    }
  }

  &.active{
    display: block;
  }
}


/* =========================== top ======================== */
.block01{
  background: #000 url('../images/m/m_bg.jpg') no-repeat center center;
  text-align: center;

  .section_container{
    padding: 3rem 2rem;
    
    .logo{
      margin-bottom: $mb_2;

      img{
        max-width: 145px;
      }
    }

    .about_img{
      position: relative;

      .about_img1{
        max-width: 300px;
        
      }

      .about_img2{
        position: absolute;
        top: 36px;
        max-width: 260px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .normal_f{
      color: $white_c;
      line-height: 2.5;
      padding-top: $mb_3;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        width: 25px;
        height: 1px;
        background-color: #F3A238;
        top: $mb_1;
        left: 50%;
        transform: translate(-50%);
      }
    }

    .copy{
      color: $text_c_2;
      font-size: $smaller_f;
    }
  }
}

/* =========================== footer ======================== */
.footer{
  background-color: #000;

  .section_container{
    text-align: center;
    min-height: initial;
    padding-bottom: $mb_3;

    .footer_img{
      max-width: 150PX;
      margin-bottom: $mb_2;
    }

    .small_f{
      color: $white_c;
      border-top: 3px solid $white_c;
      padding-top: $mb_2;
      text-align: left;
      margin-bottom: $mb_5;
    }

    .footer_img2{
      width: 200px;
    }
  }
}


/* =================== section_block2 about ==================== */
.block02{
  background: url('../images/m/2-bg.png') no-repeat center center;
  background-size: cover;
  text-align: center;

  h2{
    text-align: center;
    margin-bottom: $mb_3;
    position: relative;

    .block02_h1{
      max-width: 280px;
    }

    .block02_h2{
      max-width: 214px;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .block02_img{
    max-width: 330px;
    margin-bottom: $mb_4;
  }

  .small_f{
    color: $white_c;
    text-align: left;
  }
}

/* =================== section_block3 ==================== */
.block03{
  background-color: $bg_gray;
  font-weight: $semi_bold_f;

  .section_container{
    padding: 5rem 1.5rem 3rem;
  
    h2{
      
      img{
        max-width: 284px;
        margin-bottom: $mb_2;
      }
    }

    .small_f{
      margin-bottom: $mb_3;
    }
  }

  .block03_img{
    text-align: center;
    margin-bottom: $mb_2;

    img{
      max-width: 202px;
    }
  }

  .block03_list{

    .block03_item{
      text-align: center;
      border-bottom: 1px solid $border_c;
      padding-bottom: $mb_1;
      margin-bottom: $mb_1;

      .title{
        font-size: $large_f;
        font-weight: $extra_bold_f;
        line-height: 3rem;
      }

      &:last-child{
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

}


/* =================== section_block04 overview ==================== */
.block04{
  background: #000 url('../images/m/4-bg.png') no-repeat center center;
  color: $white_c;
  background-size: cover;

  .section_container{
    color: $white_c;
    text-align: right;
    padding: 5rem 1.5rem 2rem;

    h2{
      font-size: 2rem;
      line-height: 1.5;
      font-weight: $semi_bold_f;
      margin-bottom: $mb_2;
      padding-bottom: $mb_2;
      border-bottom: 1px solid $white_c;
    }

    .img_list{
      margin-top: $mb_5;

      .img_item{
        border-bottom: 1px solid $white_c;
        padding: 1rem 0;

        .no{
          height: 33px;
          width: auto;
        }
        .comt{
          height: 24px;
          width: auto;
        }
      }
    }

    .bottom_img{
      
      margin-top: $mb_5;

      .smaller_f{
        text-align: left;
      }

      img{
        margin-top: -$mb_2;
        max-width: 148px;
      }
    }
  }
}


/* =================== section_block05 challenge01 ==================== */
.block05{
  background: #F3A238 url('../images/m/m_slide_1.png') repeat-x center bottom;
  animation: bg_slide 100s linear infinite;
  background-size: 2000px;
  background-position-y: 110%;
  h2{

    img{
      display: block;
      margin-bottom: $mb_2;
      height: 32px;
      width: auto;
    }

    margin-bottom: 7rem;
  }

  .block05_list{
    margin-bottom: 250px;
    border-top: 2px solid $border_c;

    .block05_item{
      padding-top: $mb_2;
      position: relative;

      &.border_b{
        border-bottom: 1px solid $border_c;
        padding-bottom: 1.5rem;
      }
      

      .title img{
        height: 19px;
        width: auto;
      }

      .small_f{
        font-weight: $semi_bold_f;
      }

      .btn_go{
        position: absolute;
        top: 1.5rem;
        right: 0;
        
        img{
          max-width: 20px;
        }
      }
    }
  }
}

@keyframes bg_slide {
  from {background-position-x: 0;}
  to {background-position-x: -10000px;}
}


/* =================== section_block06 challenge02 video==================== */
.block06{
  background-color: #000;
  


  video{
    width: 100%;
    padding: 0 3rem;
    max-width: 375px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .section_container{
    position: relative;
    z-index: 1;
    padding: 5rem 1.5rem 2rem;
    h2{
      color: $white_c;
      font-weight: $bold_f;

      img{
        height: 30px;
        width: auto;
        display: block;
        margin-bottom: $mb_1;
      }

      margin-bottom: $mb_2;
    }

    .section06_img{
      text-align: center;
      margin-bottom: $mb_3;

      .block_img1{
        max-width: 137px;
        margin-bottom: 6rem;
      }

      .block_img2{
        max-width: 329px;
      }
    }

    .section06_list{
      border-top: 2px solid $white_c;
      padding-top: $mb_2;

      .section06_item{

        margin-bottom: $mb_2;
        .title {
          margin-bottom: $mb_1;

          img{
            height: 18px;
            width: auto;
          }
        }

        .small_f{
          color: $white_c;
        }
      }
    }
  }

}


/* =================== section_block07 studio ==================== */
.block07{
  background: #000 url('../images/m/bg-7.png') no-repeat center center;
  background-size: cover;

  .section_container{
    text-align: center;
    position: relative;

    .section07_img{
      text-align: center;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);

      .block07_img1{
        width: 4px;
        margin-bottom: .5rem;
      }
  
      .block07_img2{
        display: block;
        max-width: 89px;
      }
    }

    .block07_img3{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img{
        width: 80px;
      }
    }
    
    .small_f{
      color: $white_c;
      position: absolute;
      bottom: 150px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

    .block07_img4{
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);

      img{
        width: 110px;
      }
    }
  }
}



.open_video{
    
  .popup_video{
    height: 80vh;
  }
}

.open_video .close{
  color: $white_c;
  position: fixed;
  font-size: $large_f;
  z-index: 1000;
  right: 2rem;
  top: 2rem;
}


/* =================== section_block08 challenge03==================== */
.block08{

  background: $bg_gray url('../images/m/m_slide_2.png') repeat-x center bottom;
  background-size: 2000px;
  background-position-y: 110%;
  animation: bg_slide 100s linear infinite;

  h2{
    margin-bottom: $mb_5;
    img{
      height: 30px;
      width: auto;
      display: block;
      margin-bottom: $mb_2;
    }
  }

  .block08_list{
    border-top: 2px solid $border_c;
    padding-top: $mb_2;
    margin-bottom: 250px;


    .block08_item{
      position: relative;
      

      .title img{
        width: 77px;
        margin-bottom: $mb_1;
      }

      .btn_go{
        position: absolute;
        top: 0;
        right: 0;

        img{
          width: 19px;
        }
      }

      .small_f{
        border-bottom: 1px solid $border_c;
        font-weight: $semi_bold_f;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

/* =================== section_block09 challenge04 ==================== */
.block09{
  background: #000;
  overflow: hidden;

  .section_container{
    max-width: 930px;
    padding: 5rem 1.5rem 2rem;
  }
  
  .circle01{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 375px;
  }

  .circle02{
    position: absolute;
    top: 10%;
    right: 0;
    max-width: 287px;
  }

  h2{
    color: $white_c;
    font-weight: $semi_bold_f;
    margin-bottom: $mb_5;

    img{
      height: 30px;
      width: auto;
      display: block;
      margin-bottom: $mb_2;
    }
  }

  .block09_logo{
    img{
        max-width: 170px;
        margin-left: -.5rem;
      }
  }
  .block09_data{
    border-top: 2px solid $white_c;
    padding-top: 2rem;
    position: relative;
    
    .block09_item{
      padding: $mb_1 0 $mb_3;

      .block09_logotitle{
        color: #fff;
        font-size: $medium_f;
        font-weight: $bold_f;
        border-top: 1px solid #fff;
        padding-top: 1.5rem;
      }

      .block09_img{
        text-align: center;

        img{
          width: 120px;
        }
      }

      .small_f{
        color: $white_c;
        margin-top: $mb_1;
      }
    }
  }
  
  .block09_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;

    img{
        width: 45%;
    }
  }
}

/* =================== section_block10 vition ==================== */
.block10{
  background-color: #1b181c;
  overflow: hidden;

  .circle01{
    position: absolute;
    top: -0;
    left: 0%;
    max-width: 279px;
  }

  .circle02{
    position: absolute;
    bottom: 0;
    right: 0%;
    max-width: 357px;
    z-index: 1;
  }

  .section_container{
    min-height: initial;

    h2 {
      position: relative;

      img{
        max-width: 152px;
      }

      &::after{
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 38px;
        height:1px;
        background-color: $white_c;
        bottom: -$mb_2;
      }
    }

    .small_f{
      color: $white_c;
      margin-top: $mb_4;
      position: relative;

      &::after{
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 38px;
        height:2px;
        background-color: $white_c;
        bottom: -$mb_3;
      }
    }
  }

  

  .year_img{
    margin-top: $mb_3;
    img{
      display: block;
      
      &.txt{
        width: 33px;
        margin-bottom: $mb_1;
        margin-left: 1.5rem;
      }

      &.number{
        max-width: 88px;
        margin-left: 1.5rem;
      }
    }

    .motion_img{
      max-width: 375px;
      margin: -$mb_4 auto 2rem;
    }
  }
}

/* =================== section_block11 news ==================== */
.block11{
  background-color: #000;
  min-height: initial;

  .section_container{
    min-height: initial;
  }

  h2 {
    img{
      width: 203px;
    }
  }

  .news_slide{
    margin-top: $mb_3;
    height: 350px;

    .page_arrow{
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      transform: translateY(-50%);

      .swiper-button-prev, .swiper-button-next{
        position: initial;
        width: initial;
        height: inherit;
        color: $white_c;
        margin-top: 0;
      }

      .swiper-button-next{
        font-size: 1.5rem;
        &:after{
          display: none;
        }
      }

      .swiper-button-prev{

        font-size: 1.5rem;
        &:after{
          display: none;
        }
      }
    }

    .swiper-pagination-bullet{
      background: $white_c;
    }
    .swiper-pagination-bullet-active{
      background: #F3A238;
    }
    
    .news_list{

      .news_item{
        border-bottom: 1px solid $white_c;
        width: 90%;
        color: $white_c;
        font-size: $medium_f;
        justify-content: flex-start;
        line-height: 3;
        cursor: pointer;

        .number{
          font-weight: 300;
          width: 10%;
          position: relative;

          &::after{
            content: '';
            position: absolute;
            right: 0rem;
            top: calc(50% - .5rem);
            width: 2px;
            height: 1rem;
            background-color: $text_c_2;
          }
        }

        .title{
          padding: 0 2rem;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 90%;
          word-break: keep-all;
          white-space: nowrap;
          transition: .3s;

          &:hover{
            color: #F3A238;
          }
        }
      }
    }
  }
}

.modal,
.open_video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: .3s;

  .modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .85);
    opacity: 0;
    transition: .3s;
  } 

  .popup_video{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    max-width: 1120px;
    width: 100%;
    padding: 2rem;
  }

  &.active,
  .modal_overlay{
    opacity: 1;
    z-index: 999;
  }

  .news_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    transition: .2s;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: left;
    z-index: 99999;
  }
  
}
  

.news_popup .title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.news_popup .news_date{
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.news_popup .news_date span{
  color: #999;
  font-size: .875rem;
  margin-left: .5rem;
}

.news_popup .description{
  font-size: .75rem;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
}

.news_popup .more_view{
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #eee;
  position: relative;
  z-index: 999;
}

.news_popup .more_view a{
  color: #222;
  display: inline-flex;
  align-items: center;
  font-size: .6875rem;
  font-weight: 500;
  border: 1px solid #ddd;
  padding: .5rem 2rem;
  transition: .3s;
}

.news_popup .more_view a:hover{
  background-color: #232323;
  color: #fff;
  border: 1px solid #232323;
  text-decoration: none;
}

.news_popup .more_view i{
  transition: transform .3s;
}

.news_popup .more_view a:hover i{
  transform: translateX(.2rem);
}

.news_popup .close{
  font-size: 2rem;
  color: #999;
  position: absolute;
  top: -3rem;
  right: 0;
  background: $white_c;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}


.slider11.open .news_popup{
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: .45s .1s;
}

/* =================== section_block12 contact ==================== */
.block12{
  background: #000 url('../images/m/bg-12.png') no-repeat center top;

  .section_container{
      padding: 5rem 1.5rem 0;

    h2{
      text-align: center;
  
      img{
        max-width: 542px;
      }
    }

    .block12_list{
      margin-top: $mb_5;
      color: $white_c;

      .block12_item{
        border-bottom: 1px solid $white_c;
        padding-bottom: $mb_2;
        margin-bottom: $mb_5;

        .title{
          font-size: $large_f;
          margin-bottom: $mb_1
        }
      }
    }
  }
}


.fixed_menu{
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 30px;
  z-index: 1;

  .fullmenu{
    margin-bottom: $mb_1;
    display: block;
    opacity: .5;
    cursor: pointer;
    transition: .3s;


    &:hover{
      opacity: 1;
    }
    
    img{
      width: 100%;
    }
  }

  .play_btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: .5;
    transition: .3s;
    
    background: url(../images/web/btn-2.png) no-repeat center center;
    background-size: cover !important;

    &:hover{
      opacity: 1;
    }
  }
}




/* ============== media query ================== */
@media screen and (min-height: 668px) {
  .section_container{
    min-height: initial;
  }

  .block01 .section_container,
  .block07 .section_container{
    min-height: 80vh;
  }
}

@media screen and (max-width: 374px) {
  .block06 {
    .section_container {
      .section06_list {
        .small_f{
          font-size: $small_f;
        }
      }
    }
  }
  
  
}

@media screen and (max-width: 359px) {
  .normal_f{
    font-size: .875rem;
  }
  .small_f{
    font-size: .7rem;
  }

  /* ========== block01 ============== */
  .block01 {
  .section_container {
    .about_img {
      .about_img2{
        padding: 0 1rem;
      }
    }
  }
}
}