/***************************************************************
    08. buttons
***************************************************************/
button {
  cursor: pointer;
  &:disabled {
    background-color: var(--gray-03);
    color: var(--gray-02);
  }
}

.btn {
  @include span1b;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: var(--w);
  background-color: var(--primary-color);
  color: var(--gray-white);
  @include flexcenter;
  gap: 0.5rem;
  border: 1px solid transparent;

  i {
    width: 1.25rem;
  }

  &-icon {
    width: 2rem;
    height: 2rem;
  }

  &.color_white {
    background-color: var(--gray-white);
    color: var(--gray-01);
    border-color: var(--gray-04);
  }

  &.color_error {
    background-color: var(--system-red);
  }

  &.color_black {
    background-color: var(--gray-black);
  }

  &.color_gray {
    background-color: var(--gray-05);
    color: var(--gray-01);
  }

  &.color_kakao {
    background-color: #fee500;
    color: var(--gray-black);
  }

  &.color_apple {
    background-color: #000;
    color: var(--gray-white);
  }

  &.size_s {
    padding: 0.5rem 0.75rem;
    @include span2;
    border-radius: 0.25rem;
    width: fit-content;
    gap: 0.25rem;
    font-weight: var(--medium-f);
  }

  &.size_xs {
    padding: 0.375rem 0.625rem;
    @include span3;
    border-radius: 0.25rem;
    width: fit-content;
    gap: 0.25rem;
    font-weight: var(--medium-f);

    i {
      width: 1rem;
    }
  }

  &.type_wide {
    border-radius: 0.5rem;

    &.size_l {
      border-radius: 0;
    }

    &.size_s {
      @include span2b;
      border-radius: 0.25rem;
      padding: 0.75rem 1rem;
      width: 100%;
    }
  }

  &.type_round {
    border-radius: 6rem;
    width: fit-content;
    padding: 0.75rem 1rem;
    box-shadow: var(--shadow-btn);

    &.size_s {
      opacity: 0.8;
      @include span3b;
      padding: 0.375rem 0.75rem 0.375rem 0.5rem;
      box-shadow: none;
      gap: 0;

      &.color_black {
        background-color: #000;
      }
    }
  }

  &.type_popup {
    border-radius: 0.5rem;
    padding-block: 14px;
  }

  &.type_social {
    padding-block: 11px;
  }
}

.btn_fixed {
  position: fixed;
  bottom: 0.5rem;
  width: 100%;
  display: grid;
  gap: 0.5rem;
  padding-inline: 1rem;
  z-index: var(--z-fixed);
}
