/***************************************************************
    09. components
***************************************************************/
.swiper-pagination-bullet {
  width: 0.3125rem;
  height: 0.3125rem;
  color: var(--gray-04);
}

.swiper-pagination-bullet-active {
  background-color: var(--gray-black);
}

.more_btn {
  @include p5;
  color: var(--gray-01);
  @include flex;
  gap: 0.125rem;

  i {
    width: 1.25rem;
  }
}

//* tooltip *//
.tooltip {
  position: absolute;
  z-index: var(--z-tool);

  p {
    @include span2b;
    color: var(--gray-white);
    padding: 0.375rem 0.75rem;
    border-radius: 3rem;
    background-color: var(--gray-black);
    animation: tootip 1.25s ease-in-out infinite;

    &::after {
      content: "";
      position: absolute;
      background-color: var(--gray-black);
      width: 1rem;
      height: 1rem;
      left: 50%;
      z-index: -1;
      bottom: -0.5rem;
      transform: rotate(45deg) translateX(-50%);
    }

    &.left {
      &::after {
        left: 1.5rem;
      }
    }
  }
}

.rounded_box {
  @include flextop;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;

  .title {
    @include p3;
    color: var(--gray-02);
    width: 4.75rem;
  }

  .txt {
    @include p3;
    width: calc(100% - 5.25rem);
    max-height: 2.625rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
  }
}

.toast {
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--gray-white);
  @include p4;
  padding: 0.75rem;
  border-radius: 999px;
  position: fixed;
  width: calc(100% - 2rem);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--b);
}

/* calendar */
.calendar {
  position: relative;

  &-month {
    @include span1b;
    padding-left: 1.25rem;
  }

  &-toggle {
    @include p5b;
    color: var(--gray-01);
    @include flexright;
    gap: 0.125rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1.25rem;

    i {
      width: 1.25rem;
      transition: 0.2s;
    }

    &.toggleOpen {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &-con {
    margin: 1rem auto 0;
    width: 100%;
    display: grid;
    gap: 10px;
  }

  &-day {
    @include flexbtw;
    padding-bottom: 0.125rem;
    width: 100%;
    max-width: calc(100% - 3.75rem);
    margin: 0 auto;

    p {
      width: 30px;
      text-align: center;
      @include span3;
      color: var(--gray-02);
    }
  }

  &-week {
    .week_in {
      @include flexbtw;
      max-width: calc(100% - 3.75rem);
      margin: 0 auto;
    }

    p {
      width: 30px;
      height: 30px;
      @include flexcenter;
      @include span3;
      color: var(--gray-03);
      position: relative;
      z-index: 1;

      &:last-child {
        color: var(--system-red-06);
      }

      &.today {
        border: 0.125rem solid var(--primary-color);
        border-radius: 50%;

        &.done {
          background-color: var(--primary-color);
          color: var(--gray-white);
        }
      }

      &.start {
        background-color: var(--primary-color);
        border-radius: 50% 0 0 50%;
        color: var(--gray-white);

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          aspect-ratio: 1;
          background-color: var(--primary-color);
          left: -4px;
          z-index: -1;
          border-radius: 50%;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 5vw;
          background-color: var(--primary-color);
          right: -5vw;
          z-index: -1;

          @include sd {
            width: 2.5vw;
            right: -2.5vw;
          }
        }
      }

      &.end {
        background-color: var(--primary-color);
        border-radius: 0 50% 50% 0;
        color: var(--gray-white);

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 5vw;
          background-color: var(--primary-color);
          left: -5vw;
          z-index: -1;

          @include sd {
            width: 2.5vw;
            left: -2.5vw;
          }
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          aspect-ratio: 1;
          background-color: var(--primary-color);
          right: -4px;
          z-index: -1;
          border-radius: 50%;
        }
      }

      &.ing {
        background-color: var(--primary-color);
        color: var(--gray-white);

        &::before,
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 5vw;
          background-color: var(--primary-color);
          z-index: -1;

          @include sd {
            width: 2.5vw;
          }
        }

        &::before {
          left: -5vw;

          @include sd {
            left: -2.5vw;
          }
        }

        &::after {
          right: -5vw;

          @include sd {
            right: -2.5vw;
          }
        }
      }

      &.fail {
        &::after {
          content: "";
          background-image: url(../images/system/cal_fail.svg);
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-size: cover;
          opacity: 0.6;
        }
      }

      &:first-child.end::before,
      &:first-child.ing::before {
        width: 10vw;
        left: -10vw;
      }

      &:last-child.start::after,
      &:last-child.start::after {
        width: 10vw;
        right: -10vw;
      }
    }

    &.hide_week {
      display: none;
    }

    &.this_week {
    }
  }

  .today {
    color: var(--gray-black);
  }
}

/* swiper 관련 */
.swiper-pagination-fraction {
  background: rgba(47, 47, 47, 0.6);
  width: fit-content;
  color: var(--gray-white);
  padding: 0.25rem 0.625rem;
  border-radius: 3rem;
  @include span3;
  right: 2rem;
  left: initial;
}

// 내레벨
.my_level {
  width: 100%;
  padding-inline: 1.25rem;

  &-data {
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    position: relative;
    box-shadow: var(--shadow-s);
  }
  .more_btn {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }

  &-con {
    margin-block: 0.25rem 1.25rem;
    position: relative;
    @include flexbtw;

    .txt {
      @include p6b;
      padding-top: 0.875rem;
    }
  }

  &-icon {
    margin-right: 0.625rem;
    width: 4.875rem;
    height: 5.625rem;
    background-image: url(../images/icon/lv0.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  &-prg {
    position: relative;

    .txt {
      @include p4;
      color: var(--gray-01);
      padding-bottom: 0.5rem;
    }

    .icon {
      width: 1.25rem;
      height: 1.5625rem;
      background-image: url(../images/icon/lv1.svg);
      background-position: center;
      background-size: 90%;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      bottom: 0.625rem;
    }

    .progress {
      background-color: var(--gray-04);
      height: 0.375rem;
      width: calc(100% - 0.5rem);
      border-radius: 999px;
      overflow: hidden;
      position: relative;

      .bar {
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        background-color: var(--primary-color);
        border-radius: 999px;
        width: var(--w);
        animation: width 1.5s ease-in-out;
      }
    }
  }
}

//label
.label {
  @include span4;
  padding: 0.125rem 0.25rem 1px;
  width: fit-content;

  &.color_primary_ap {
    background-color: var(--primary-01);
    color: var(--primary-color);
  }

  &.color_gray_ap {
    background-color: var(--gray-05);
    color: var(--gray-02);
  }
}

//기록
.recoard_item {
  border-radius: 0.5rem;
  background-color: var(--gray-white);
  box-shadow: var(--shadow-add);
  padding: 1.375rem 1rem;
  @include flex;
  gap: 0.5rem;

  i {
    width: 2rem;
  }

  .data {
    width: calc(100% - 2.5rem);

    .title {
      @include flex;
      gap: 0.5rem;

      p {
        @include span1b;
      }
    }

    .txt {
      @include span3;
      color: var(--gray-02);
      padding-top: 0.5rem;
    }
  }
}

.noti {
  padding: 0.75rem 1rem;
  width: 100%;
  display: block;
  .txt {
    @include span3;
  }

  &.color_black {
    background-color: var(--gray-black);
    color: var(--gray-white);

    &.type_link {
      background-image: url(../images/system/right_gray.svg);
      background-size: 1.25rem;
      background-position: calc(100% - 1rem) center;
      background-repeat: no-repeat;
    }
  }
}

//롤링 노티
.rolling_noti {
  height: 2rem;
  width: 100%;

  .data {
    background-color: var(--primary-005);
    @include p4;
    color: var(--gray-01);
    text-align: center;
    padding: 0.375rem 1rem;
    border-radius: 0.25rem;
    height: 2rem;

    strong {
      font-weight: var(--bold-f);
    }
  }
}

// 유저 프로필
.user_info {
  @include flex;
  gap: 0.25rem;

  &.size_s {
    .thumb {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      background-color: var(--gray-05);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .name {
      @include span3b;
    }
  }
}

// 채팅 입력폼
.chat_input {
  width: 100%;
  padding-inline: 1rem;
  height: 4.625rem;
  @include flex;
  gap: 0.75rem;
  border-top: 1px solid var(--gray-05);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .input_block {
    width: calc(100% - 3.25rem);
  }

  .sendBtn {
    width: 2.5rem;
    cursor: pointer;
  }

  .tooltip {
    top: -1.875rem;
  }
}
