/***************************************************************
    07. form
***************************************************************/
input[type="text"],
input[type="password"],
input[type="tell"],
input[type="email"],
input[type="number"] {
  background-color: var(--gray-05);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  @include span2;
  width: 100%;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;
  transition: 0.2s;

  &::placeholder {
    color: var(--gray-03);
  }

  &:required {
    background-image: url(../images/system/check_off.svg);

    &.valid {
      background-image: url(../images/system/check_on.svg);
    }

    &.error {
      background-image: none;
      background-color: var(--system-red-005);
    }
  }
}

.label {
  @include span2;
  padding-bottom: 0.25rem;
  display: block;
}

.input_wrap {
  position: relative;
  width: 100%;

  input ~ label {
    @include span3;
    padding-top: 0.5rem;

    &.error {
      color: var(--system-red);
    }
  }

  .input_block {
    position: relative;
    width: 100%;

    .btn_abs {
      position: absolute;
      top: 50%;
      right: 0.75rem;
      transform: translateY(-50%);

      & ~ .time_count {
        @include span3b;
        color: var(--gray-02);
        position: absolute;
        right: 4.25rem;
        top: 50%;
        transform: translateY(-50%);
        @include flexright;

        .jst-hours {
          display: none;
        }
      }
    }
  }
}
