/***************************************************************
    07. form
***************************************************************/
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  background-color: var(--gray-05);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  @include span2;
  width: 100%;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;
  transition: 0.2s;

  &:focus,
  &:hover {
    background-color: var(--primary-005);
  }

  &::placeholder {
    color: var(--gray-03);
  }

  &:required:not(:focus) {
    background-image: url(../images/system/checkOff.svg);

    &.valid {
      background-image: url(../images/system/checkOn.svg);
    }
  }

  &:required {
    &.error {
      background-image: none;
      background-color: var(--system-red-005);
    }
  }

  &.inputCk:required:not(:focus) {
    &:user-invalid {
      background-image: none;
      background-color: var(--system-red-005);
    }

    &:valid {
      background-image: url(../images/system/checkOn.svg);
    }
  }

  &:placeholder-shown + .btn_abs {
    background-color: var(--gray-white);
    color: var(--gray-02);
    border-color: var(--gray-04);
  }
}

.label {
  @include span2;
  padding-bottom: 0.25rem;
  display: block;
}

.input_wrap {
  position: relative;
  width: 100%;

  input ~ label {
    @include span3;
    padding-top: 0.5rem;
    display: block;

    &.error {
      color: var(--system-red);
    }
  }

  .input_block {
    position: relative;
    width: 100%;

    .btn_abs {
      position: absolute;
      top: 0.45rem;
      right: 0.75rem;

      & ~ .time_count {
        @include span3b;
        color: var(--gray-02);
        position: absolute;
        right: 4.25rem;
        top: 1rem;
        @include flexright;

        .jst-hours {
          display: none;
        }
      }
    }
  }

  .ip_info {
    @include span3;
    color: var(--primary-color);
    padding-top: 0.5rem;

    &.error {
      color: var(--system-red);
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

//* checkbox *//
.check_wrap {
  label {
    @include flex;
    gap: 6px;
    cursor: pointer;

    .checkbox {
      width: 2rem;
      height: 2rem;
      background-size: cover;
      background-repeat: no-repeat;
      transition: 0.1s;
    }

    .label {
      color: var(--gray-02);
      width: calc(100% - 38px);
      @include flexbtw;

      a {
        @include misc2under;
      }

      &.size_l {
        @include span1b;
        color: var(--gray-black);
      }
    }
  }

  .ip_checkbox ~ label .checkbox {
    background-image: url(../images/system/checkOff.svg);
  }

  .ip_checkbox:checked ~ label .checkbox {
    background-image: url(../images/system/checkOn.svg);
  }

  .ip_radio ~ label .checkbox {
    background-image: url(../images/system/radioOff.svg);
  }

  .ip_radio:checked ~ label .checkbox {
    background-image: url(../images/system/radioOn.svg);
  }

  input:disabled ~ label {
    cursor: default;
  }
}

.check_list {
  padding-inline: 0.75rem;
  display: grid;
  gap: 0.25rem;
}

.select_wrap {
  position: relative;
  width: 100%;

  .overlay {
    opacity: 0;
    z-index: -1;
  }
  label {
    @include span2;
    display: block;
    margin-bottom: 0.5rem;
  }

  .selectBtn {
    background-image: url(../images/system/down_gray.svg);
    background-color: var(--gray-05);
    background-repeat: no-repeat;
    background-position: calc(100% - 0.75rem) center;
    border-radius: 0.5rem;
    color: var(--gray-03);
    padding: 1rem 0.75rem;
    text-align: left;
    width: 100%;
    @include span2;

    &.optSlt {
      color: var(--gray-black);
    }
  }

  .optionList {
    position: absolute;
    width: 100%;
    left: 0;
    top: 4.5rem;

    transition: all 0.5s ease-in;
    max-height: 0;
    overflow: hidden;
    z-index: 10;

    .optionItem {
      border-bottom: 1px solid var(--gray-04);
      border-right: 1px solid var(--gray-04);
      border-left: 1px solid var(--gray-04);
      color: var(--gray-01);
      @include span2;
      padding: 1rem 0.75rem;
      cursor: pointer;
      background-color: var(--gray-white);
      transition: 0.2s;

      &:first-child {
        border-top: 1px solid var(--gray-04);
        border-radius: 0.5rem 0.5rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      &:hover {
        background-color: var(--gray-05);
      }
    }
  }

  &.active {
    .overlay {
      opacity: 1;
      z-index: 9;
    }
    .selectBtn {
      background-image: url(../images/system/top_gray.svg);
    }

    .optionList {
      max-height: 500px;
    }

    .optionmodal {
      bottom: 0;
    }
  }
}

// input option
.btnClear {
  position: absolute;
  top: 0.45rem;
  right: 0.75rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../images/system/delete_circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;

  &.type_s {
    right: 4rem;
  }

  &.type_m {
    right: 5.5rem;
  }

  &.type_l {
    right: 6.5rem;
  }
}
