/***************************************************************
    11. popup
***************************************************************/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--z-modal);
  transition: opacity 0.2s;
}

//popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;

  &.open {
    z-index: var(--z-modal);
    opacity: 1;
  }
}

.pop_contents {
  width: 20rem;
  padding: 1.5rem;
  background-color: var(--gray-white);
  position: fixed;
  z-index: var(--z-modal);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;

  .title {
    @include p2b;
    padding-bottom: 0.75rem;
  }

  .txt {
    @include p3;
    color: var(--gray-01);
  }

  .popup_btn {
    @include flexbtw;
    gap: 0.5rem;
    padding-top: 1rem;
  }
}

//modal
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;

  &.open {
    opacity: 1;
    z-index: var(--z-modal);

    .modal_contents {
      bottom: 0;
    }
  }
}

.modal_contents {
  position: fixed;
  bottom: -100svh;
  left: 0;
  right: 0;
  background-color: var(--gray-white);
  z-index: var(--z-modal);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: 0.3s;

  .modal_title {
    display: grid;
    gap: 0.5rem;
    padding: 2rem 1.25rem 0;

    .title {
      @include p1b;
    }

    .txt {
      @include p3;
      color: var(--gray-02);
    }
  }

  .modal_con {
    padding: 1rem 1.25rem;
  }

  .modal_btn {
    display: grid;
    gap: 1rem;
    padding: 0 1rem 0.5rem;
  }

  .toast {
    position: absolute;
    top: -3.5rem;
  }
}
