@use "../abstracts/" as abs;

/***************************************************************
    components - atoms
***************************************************************/
.chip {
  @include abs.chip;
  border-radius: var(--border-radius-m);
  height: 32px;
  padding-inline: var(--padding-3);
  background-color: var(--bg-chip);
  gap: var(--gap-1);
  white-space: nowrap;
  width: fit-content;
  @include abs.flexcenter;

  .ic {
    width: 16px;
    opacity: 0.7;
    background-color: var(--action-active);
    cursor: pointer;
  }

  &.s {
    height: 24px;
    border-radius: var(--border-radius-s);
    padding-inline: 10px;

    .avatar {
      width: 16px;
      height: 16px;
    }

    &:has(.avatar) {
      padding-left: var(--gap-1);
    }
  }

  &.outline {
    border: 1px solid var(--etc-divider);
    background-color: transparent;
  }

  &.label {
    background-color: var(--primary-alp-light);
    color: var(--primary-main);
  }

  @each $c in abs.$themeColors {
    &.#{$c} {
      background-color: var(--#{$c}-main);
      color: var(--etc-white);
    }

    &.#{$c}.outline {
      background-color: transparent;
      border-color: var(--#{$c}-main);
      color: var(--#{$c}-main);
    }

    &.#{$c}.label {
      background-color: var(--#{$c}-alp-light);
      color: var(--#{$c}-main);
    }
  }
}

.badge {
  padding-inline: var(--padding-5);
  background-color: var(--primary-main);
  border-radius: var(--border-radius-s);
  color: var(--etc-white);
  @include abs.badge;
  display: inline-flex;
  align-items: center;
  height: 28px;

  &.label {
    background-color: var(--primary-alp-light);
    color: var(--primary-main);
  }

  &.dot {
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
  }

  @each $c in abs.$themeColors {
    &.#{$c} {
      background-color: var(--#{$c}-main);

      &.label {
        background-color: var(--#{$c}-alp-light);
        color: var(--#{$c}-main);
      }
    }
  }
}

.accordion {
  display: grid;
  gap: var(--gap-2);
  width: 100%;

  .acc-block {
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-xs);
    background-color: var(--bg-paper);

    .acc-title {
      padding: var(--padding-3) var(--padding-5) var(--padding-3)
        var(--padding-6);
      @include abs.flexbtw;
      gap: var(--gap-2);
      cursor: pointer;

      .tit {
        @include abs.body1;
      }

      .ic {
        width: 20px;
        transition: all 0.2s;
      }
    }

    .acc-con {
      display: none;
      transition: none;
      @include abs.body1;
      color: var(--text-secondary);
      padding: 0 var(--padding-5) var(--padding-5) var(--padding-6);
    }

    &.opened {
      .acc-title {
        .ic {
          transform: rotate(90deg);
        }
      }
    }
  }

  &.custom {
    gap: 0;
    border: 1px solid var(--etc-divider);
    border-radius: var(--border-radius-m);

    .acc-block {
      background-color: var(--etc-gray-light);
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid var(--etc-divider);

      &:last-child {
        border-bottom: none;
      }

      .acc-con {
        padding-top: var(--padding-5);
        background-color: var(--bg-paper);
        border-top: 1px solid var(--etc-divider);
      }

      &.opened {
        .acc-title {
          .ic {
            transform: rotate(0);
            mask-image: url(../images/system/minus.svg);
          }
        }
      }
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: var(--bg-avatar);
  position: relative;

  @each $c in abs.$themeColors {
    &.#{$c} {
      background-color: var(--#{$c}-alp-light);

      .thumb {
        color: var(--#{$c}-main);

        .ic {
          background-color: var(--#{$c}-main);
        }
      }
    }
  }

  .thumb {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include abs.flexcenter;
    @include abs.avatar;

    .ic {
      width: 24px;
    }

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }

    &.avt1 {
      background-image: url(../images/sub/avatar-1.png);
    }

    &.avt2 {
      background-image: url(../images/sub/avatar-2.png);
    }

    &.avt3 {
      background-image: url(../images/sub/avatar-3.png);
    }

    &.avt4 {
      background-image: url(../images/sub/avatar-4.png);
    }

    &.avt5 {
      background-image: url(../images/sub/avatar-5.png);
    }

    &.avt6 {
      background-image: url(../images/sub/avatar-6.png);
    }

    &.avt7 {
      background-image: url(../images/sub/avatar-7.png);
    }

    &.avt8 {
      background-image: url(../images/sub/avatar-8.png);
    }

    &.avt9 {
      background-image: url(../images/sub/avatar-9.png);
    }

    &.avt10 {
      background-image: url(../images/sub/avatar-10.png);
    }

    &.avt11 {
      background-image: url(../images/sub/avatar-11.png);
    }

    &.avt12 {
      background-image: url(../images/sub/avatar-12.png);
    }

    .logo {
      width: 22px;
      aspect-ratio: 1;
      background-size: contain;
      background-repeat: no-repeat;

      &.logo-paypal {
        background-image: url("/assets/images/icons/logo-paypal.svg");
      }
    }
  }

  .badge {
    width: 12px;
    height: 12px;
    position: absolute;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 2px solid var(--bg-paper);
  }

  &.round {
    border-radius: 50%;

    .thumb {
      border-radius: 50%;
    }

    .badge {
      right: 0;
      bottom: 0;
    }
  }

  &.rounded {
    border-radius: var(--border-radius-m);

    .thumb {
      border-radius: var(--border-radius-m);
    }
  }

  &-group {
    @include abs.flex;
    padding-left: 8px;

    .avatar {
      border-radius: 50%;
      border: 2px solid var(--bg-paper);
      margin-left: -8px;

      .thumb {
        border-radius: 50%;
      }

      &:nth-child(4) {
        // z-index: 1;
      }

      &:nth-child(3) {
        // z-index: 2;
      }

      &:nth-child(2) {
        // z-index: 3;
      }

      &:first-child {
        // z-index: 4;
      }

      &:has(.tooltip) {
        &:hover {
          transform: translateY(-3px);
          box-shadow: var(--shadow-m);
          z-index: 4;

          .tooltip {
            opacity: 1;
            z-index: 10;
            top: -40px;
          }
        }
      }
    }

    .tooltip {
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      z-index: -1;
    }

    &.s {
      .avatar {
        width: 26px;
        height: 26px;
        margin-left: -10px;
      }
    }
  }

  &-card {
    @include abs.flex;
    gap: var(--gap-3);
  }

  &-data {
    display: grid;
  }

  &-name {
    @include abs.body1;
  }

  &-txt {
    @include abs.body2;
    color: var(--text-secondary);
  }

  &.l {
    width: 44px;
    height: 44px;

    .thumb {
      .ic {
        width: 28px;
      }
    }
  }
}

.tooltip {
  width: fit-content;
  border-radius: var(--border-radius-s);
  background-color: var(--etc-snackbar);
  padding: 5px var(--padding-3);
  position: absolute;

  &-txt {
    @include abs.tooltip;
    color: var(--bg-paper);
    white-space: nowrap;
  }

  &::after {
    content: "";
    width: 12px;
    height: 6px;
    position: absolute;

    mask-image: url(../images/sub/tooltip.svg);
    background-color: var(--etc-snackbar);
    display: none;
  }

  &.bottom {
    &::after {
      display: block;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.top {
    &::after {
      display: block;
      top: -6px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
    }
  }

  &.right {
    &::after {
      display: block;
      top: 50%;
      right: -9px;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  &.left {
    &::after {
      display: block;
      top: 50%;
      left: -9px;
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.custom-option {
  @include abs.flextop;
  gap: var(--gap-1);
  padding: var(--padding-4);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--primary-main);
  position: relative;

  .option-data {
    width: 100%;
    max-width: 260px;
    .option-title {
      @include abs.flexbtw;
      height: 36px;

      .ic {
        width: 28px;
        background-color: var(--primary-main);

        &.lg {
          width: 40px;
        }
      }

      .tit {
        @include abs.body1;
        font-weight: var(--fw-medium);
      }

      .sub {
        @include abs.body2;
        color: var(--text-disabled);
      }
    }

    .option-txt {
      @include abs.body2;
      color: var(--text-secondary);
    }

    .option-price {
      padding-top: var(--padding-2);
      @include abs.flexbottomcenter;

      .lg {
        @include abs.h4;
        color: var(--primary-main);

        span {
          @include abs.body2;
          font-weight: var(--fw-regular);
          position: relative;
          top: -12px;
        }
      }

      .sm {
        @include abs.body2;
        color: var(--text-disabled);
      }
    }
  }

  &.vertical {
    flex-direction: column;
    gap: var(--gap-2);
    max-width: 190px;
    align-items: center;
    padding-bottom: var(--padding-2);

    .check-block {
      order: 2;
    }

    .option-data {
      order: 1;
      .option-title {
        flex-direction: column;
        gap: var(--gap-2);
        height: auto;
      }

      .option-txt {
        padding-top: var(--padding-2);
        text-align: center;
      }
    }
  }

  &.img {
    width: 190px;
    height: 190px;
    padding: 0;

    .check-block {
      position: absolute;
      top: var(--padding-2);
      right: var(--padding-2);
    }

    .option-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.progress {
  width: 100%;
  @include abs.flex;
  gap: var(--gap-2);

  &-bar {
    height: 6px;
    width: 100%;
    background-color: var(--action-selected);
    border-radius: var(--border-radius-round);
    position: relative;

    span {
      background-color: var(--primary-main);
      border-radius: var(--border-radius-round);
      height: 100%;
      position: absolute;
      left: 0;
      width: var(--barW);
      box-shadow: var(--primary-shadow-s);
    }
  }

  &-per {
    @include abs.body2;
    color: var(--text-secondary);
    font-weight: var(--fw-medium);
    white-space: nowrap;
  }

  &.s {
    .progress-bar {
      height: 3px;
    }
  }

  &.secondary {
    .progress-bar span {
      background-color: var(--secondary-main);
      box-shadow: var(--secondary-shadow-s);
    }
  }
}

.snackbar {
  padding: var(--padding-3) var(--padding-4);
  background-color: var(--etc-snackbar);
  border-radius: var(--border-radius-m);
  width: fit-content;
  @include abs.flex;
  gap: var(--gap-4);
  box-shadow: var(--shadow-xs);

  &-txt {
    @include abs.body2;
    color: var(--bg-paper);
  }

  .btn.text .ic {
    background-color: var(--bg-paper);
  }
}

.alert {
  width: 100%;
  max-width: var(--maxW);
  border-radius: var(--border-radius-m);
  @include abs.flextop;
  gap: var(--gap-4);
  padding: var(--padding-3) var(--padding-4);

  &-icon {
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-m);
    background-color: var(--etc-white);
    padding: var(--padding-1);
  }

  &-data {
    width: calc(100% - 96px);
    display: grid;
    gap: var(--gap-1);
  }

  &-title {
    @include abs.alert;
    color: var(--etc-white);
  }

  &-con {
    @include abs.body1;
    color: var(--etc-white);
  }

  &-close {
    width: 34px;
    padding: 7px;
    cursor: pointer;

    .ic {
      background-color: var(--etc-white);
    }
  }

  @each $c in abs.$themeColors {
    &.#{$c} {
      background-color: var(--#{$c}-main);

      .alert-icon {
        .ic {
          background-color: var(--#{$c}-main);
        }
      }

      &.label {
        background-color: var(--#{$c}-alp-light);

        .alert-icon {
          background-color: var(--#{$c}-main);

          .ic {
            background-color: var(--etc-white);
          }
        }

        .alert-title,
        .alert-con {
          color: var(--#{$c}-main);
        }

        .alert-close {
          .ic {
            background-color: var(--#{$c}-main);
          }
        }
      }

      &.outline {
        border: 1px solid var(--#{$c}-main);
        background-color: transparent;

        .alert-icon {
          background-color: var(--#{$c}-alp-light);
        }

        .alert-title,
        .alert-con {
          color: var(--#{$c}-main);
        }

        .alert-close {
          .ic {
            background-color: var(--#{$c}-main);
          }
        }
      }
    }
  }

  &.error .alert-icon .ic {
    mask-image: url(../images/system/alert-circle.svg);
  }

  &.warning .alert-icon .ic {
    mask-image: url(../images/system/alert-triangle.svg);
  }

  &.info .alert-icon .ic {
    mask-image: url(../images/system/info-circle.svg);
  }

  &.success .alert-icon .ic {
    mask-image: url(../images/system/circle-check.svg);
  }
}

.dialog {
  position: relative;
  padding: var(--padding-6);
  box-shadow: var(--shadow-l);
  border-radius: var(--border-radius-l);
  background-color: var(--bg-paper);
  width: 100%;
  max-width: var(--maxW);

  &-con {
    display: grid;
    gap: var(--gap-6);
  }

  &-title {
    @include abs.h5;
  }

  &-txt {
    @include abs.body1;
    color: var(--text-secondary);
  }

  .btn-list {
    padding-top: var(--padding-6);
    justify-content: flex-end;
  }

  &-close {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--etc-white);
    border-radius: var(--border-radius-s);
    top: -10px;
    right: -10px;
    padding: 5px;
    box-shadow: var(--shadow-xs);
    cursor: pointer;

    .ic {
      background-color: var(--text-disabled);
    }
  }
}

.toast {
  padding: var(--padding-3) var(--padding-4);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
  @include abs.flex;
  gap: var(--gap-3);

  &-txt {
    @include abs.toast;
  }

  &-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;

    .ic {
      background-color: var(--etc-white);
    }

    &:has(.x) {
      background-color: var(--error-main);
    }

    &:has(.check) {
      background-color: var(--success-main);
    }

    &:has(.loading) {
      .ic {
        background-color: var(--text-primary);
        animation: loading 1s linear infinite;
      }
    }
  }

  &-close {
    width: 34px;
    height: 34px;
    padding: 7px;
    cursor: pointer;
  }

  .avatar-data {
    gap: 2px;
  }

  .avatar-name {
    @include abs.alert;
  }

  .avatar-txt {
    @include abs.caption;
  }
}

.list {
  padding-block: var(--padding-2);
  background-color: var(--bg-paper);
  width: 100%;
  max-width: var(--maxW);

  &-title {
    padding: 10px var(--padding-5);
    color: var(--text-disabled);
    text-transform: uppercase;
    @include abs.subtitle2;
  }

  &-item {
    padding: var(--padding-2) var(--padding-4);
    width: 100%;
    // flex-wrap: wrap;
    border-radius: var(--border-radius-m);
    @include abs.flexbtw;

    &:hover {
      background-color: var(--action-hover);
    }

    &.active {
      background-color: var(--primary-alp-light);
      color: var(--primary-main);

      .list-name {
        .ic {
          background-color: var(--primary-main);
        }
      }
    }

    &.disabled {
      .list-name {
        .name {
          color: var(--text-disabled);
        }
      }
    }

    .check-block .label {
      gap: var(--gap-2);
    }
  }

  &-name {
    @include abs.flex;
    gap: var(--gap-3);

    .ic {
      width: 22px;
    }

    .name {
      @include abs.body1;
    }
  }

  &-right {
    gap: var(--gap-2);
    @include abs.flexright;

    .ic {
      width: 22px;
      transition: all 0.2s;
    }
  }
}

.breadcrumbs {
  @include abs.flex;
  gap: var(--gap-2);

  p {
    color: var(--primary-main);
    @include abs.body1;
    position: relative;
    @include abs.flex;
    gap: var(--gap-1);

    .ic {
      width: 20px;
      background-color: var(--primary-main);
      mask-size: 18px;
    }

    &::after {
      content: "/";
      padding-left: 8px;
      color: var(--text-secondary);
    }

    &:last-child {
      color: var(--text-primary);

      .ic {
        background-color: var(--text-primary);
      }

      &::after {
        display: none;
      }
    }
  }
}

.dropdown {
  width: 100%;
  max-width: var(--maxW);
  position: relative;

  &-btn {
    width: 100%;
    border: 1px solid var(--border-input);
    border-radius: var(--border-radius-m);
    background-color: transparent;
    min-height: 38px;
    padding: 6px 14px;
    @include abs.flexbtw;

    gap: 10px;
    position: relative;

    & > .ic {
      width: 16px;
      cursor: pointer;
    }

    .chips {
      @include abs.flex;
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  &-list {
    padding: var(--padding-2);
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-l);
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2px;
    background-color: var(--bg-paper);
    display: grid;
    gap: 2px;
    display: none;

    li {
      @include abs.body1;
      padding: var(--padding-2) var(--padding-4);
      border-radius: var(--border-radius-m);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: var(--action-hover);
      }

      &.active {
        background-color: var(--primary-alp-light);
        color: var(--primary-main);
      }

      &.disabled {
        background-color: var(--bg-paper);
        color: var(--text-disabled);
        cursor: default;
      }
    }
  }
}

.stepper {
  @include abs.flexbtw;
  width: 100%;
  gap: var(--gap-2);

  .divider {
    width: 100%;
    height: 3px;
    border-radius: var(--border-radius-round);
    background-color: var(--primary-alp-light);
  }

  .step {
    @include abs.flex;
    gap: var(--gap-2);

    &-icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid var(--primary-alp-light);
      @include abs.flexcenter;

      .ic {
        background-color: transparent;
        width: 14px;
      }
    }

    &-no {
      @include abs.h4;
      white-space: nowrap;
    }

    &-desc {
      white-space: nowrap;
      .step-name {
        @include abs.flex;
        gap: var(--gap-2);
        @include abs.body1;
        font-weight: var(--fw-medium);

        .no {
          @include abs.h6;
          font-weight: var(--fw-medium);
        }
      }

      .step-subtxt {
        @include abs.body2;
        color: var(--text-secondary);
      }
    }

    &.now {
      .step-icon {
        border: 5px solid var(--primary-main);
      }
    }

    &:has(~ .now) {
      .step-icon {
        background-color: var(--primary-main);

        .ic {
          background-color: var(--etc-white);
        }
      }

      & + .divider {
        background-color: var(--primary-main);
      }
    }
  }

  &.center {
    .step {
      flex-direction: column;
      gap: var(--gap-4);

      &-no {
        display: none;
      }

      &-desc {
        text-align: center;
        .step-name {
          justify-content: center;

          .no {
            display: none;
          }
        }
      }
    }
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

    .divider {
      width: 3px;
      height: 40px;
      margin-left: 9px;
    }

    &.center {
      align-items: center;

      .divider {
        margin-left: 1px;
      }

      &:has(.step-subtxt) {
        .divider {
          height: 17px;
        }
      }
    }
  }

  &.custom {
    gap: var(--gap-4);
    justify-content: flex-start;

    .divider {
      width: 34px;
      height: 34px;
      background-color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .ic {
        width: 20px;
        background-color: var(--text-secondary);
      }
    }

    .step {
      padding: var(--padding-1);
      gap: var(--gap-3);
      &-icon {
        width: 38px;
        height: 38px;
        border-radius: var(--border-radius-m);
        border: none;
        background-color: var(--action-hover);
        @include abs.h5;

        .ic {
          width: 22px;
          background-color: var(--text-primary);
        }
      }

      &.now {
        .step-icon {
          border: none;
          background-color: var(--primary-main);
          color: var(--etc-white);
          box-shadow: var(--primary-shadow-s);

          .ic {
            background-color: var(--etc-white);
          }
        }
      }

      &:has(~ .now) {
        .step-name,
        .step-subtxt {
          color: var(--text-disabled);
        }

        .step-icon {
          background-color: var(--primary-alp-light);
          color: var(--primary-main);

          .ic {
            background-color: var(--primary-main);
          }
        }

        & + .divider {
          background-color: transparent;
        }
      }
    }

    &.vertical {
      .divider {
        display: none;
      }
    }
  }
}

.tabs {
  @include abs.flex;
  border-bottom: 1px solid var(--etc-divider);

  .tab-btn {
    @include abs.flexcenter;
    gap: 6px;
    @include abs.btnm;
    height: 38px;
    padding-inline: var(--padding-5);
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    font-weight: var(--fw-medium);

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: transparent;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.2s;
    }

    .ic {
      width: 18px;
    }

    &:hover {
      color: var(--primary-main);
      background-size: 100% 2px;

      .ic {
        background-color: var(--primary-main);
      }

      &::after {
        background-color: var(--primary-alp-light);
      }
    }

    &.active {
      color: var(--primary-main);

      .ic {
        background-color: var(--primary-main);
      }
      &::after {
        background-color: var(--primary-main);
      }
    }
  }

  &.fill {
    border-bottom: none;
    gap: var(--gap-1);
    .tab-btn {
      border-radius: var(--border-radius-m);

      &::after {
        display: none;
      }

      &:hover {
        background: var(--primary-alp-light);
      }

      &.active {
        background: var(--primary-main);
        color: var(--etc-white);
        box-shadow: var(--primary-shadow-s);
        .ic {
          background-color: var(--etc-white);
        }
      }
    }
  }

  &.vertical {
    flex-direction: column;
    width: 130px;
    border-bottom: none;
    border-right: 1px solid var(--etc-divider);

    .tab-btn {
      width: 100%;

      &::after {
        width: 2px;
        height: 100%;
        right: 0;
        left: initial;
      }
    }

    &.fill {
      border-right: none;
    }
  }
}

.pagenation {
  @include abs.flexcenter;
  gap: 6px;

  .page-btn {
    width: 38px;
    height: 38px;
    border-radius: var(--border-radius-m);
    background-color: var(--action-selected);
    @include abs.body2;
    @include abs.flexcenter;
    cursor: pointer;

    &.active {
      background-color: var(--primary-alp-light);
      color: var(--primary-main);
    }

    &:hover {
      background-color: var(--action-disabled-bg);
    }

    .ic {
      width: 18px;

      &.chevron-left,
      &.chevrons-left {
        background-color: var(--text-disabled);
      }
    }

    &.disabled {
      cursor: default;
      opacity: 0.45;
    }
  }

  &.outline {
    .page-btn {
      border: 1px solid var(--border-input);
      background-color: transparent;

      &.active {
        background-color: var(--primary-alp-light);
        color: var(--primary-main);
        border-color: var(--primary-main);
      }
    }
  }

  &.round {
    .page-btn {
      border-radius: 50%;
    }
  }

  &.s {
    .page-btn {
      width: 30px;
      height: 30px;
      font-size: var(--etc-caption);
    }
  }

  &.l {
    gap: 10px;
    .page-btn {
      width: 48px;
      height: 48px;
      @include abs.body1;
    }
  }

  @each $c in abs.$themeColors {
    &.#{$c} {
      .page-btn {
        &.active {
          background-color: var(--#{$c}-main);
          color: var(--etc-white);
          box-shadow: var(--#{$c}-shadow-s);
        }

        &:hover {
          background-color: var(--#{$c}-alp-light);
          color: var(--#{$c}-main);
        }
      }
    }
  }
}

.card {
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
  width: 100%;
  max-width: var(--maxW);
  overflow: hidden;
  background-color: var(--bg-paper);

  &-header {
    padding: var(--padding-6) var(--padding-6) 0;
  }

  &-title {
    @include abs.h5;
  }

  &-subtitle {
    @include abs.subtitle1;
    color: var(--text-secondary);
  }

  &-con {
    padding: var(--padding-6);
    @include abs.body1;
    color: var(--text-secondary);
  }

  &-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .btn-list {
    justify-content: flex-end;
    padding: 0 var(--padding-6) var(--padding-6);
  }

  &.fill {
    background-color: var(--primary-main);

    .card-header {
      .card-title {
        color: var(--etc-white);
      }
    }
    .card-con {
      color: var(--etc-white);
    }
  }

  &.label {
    background-color: var(--primary-alp-light);
    box-shadow: none;

    .card-header {
      .card-title {
        color: var(--primary-main);
      }
    }
    .card-con {
      color: var(--primary-main);
    }
  }

  &.outline {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--primary-main);

    .card-header {
      .card-title {
        color: var(--primary-main);
      }
    }
    .card-con {
      color: var(--primary-main);
    }
  }

  .tabs {
    padding: var(--padding-6) var(--padding-6) 0;
  }
}

.timeline {
  width: 100%;
  max-width: var(--maxW);

  &-item {
    width: 100%;

    @each $c in abs.$themeColors {
      &.#{$c} {
        .timeline-header {
          .header-dot {
            border-color: var(--#{$c}-alp-light);

            &::before {
              background-color: var(--#{$c}-main);
            }
          }
        }
      }
    }
  }

  &-header {
    @include abs.flex;
    gap: var(--gap-4);
    width: 100%;
    height: 36px;

    .header-dot {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 3px solid var(--primary-alp-light);
      position: relative;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--primary-main);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .header-title {
      @include abs.flexbtw;
      width: 100%;

      .title {
        @include abs.body1;
        font-weight: var(--fw-medium);
      }

      .date {
        @include abs.caption;
        color: var(--text-disabled);
      }
    }
  }

  &-con {
    padding-block: var(--padding-1) var(--padding-4);
    position: relative;
    padding-left: 33px;
    display: grid;
    gap: var(--gap-2);

    &::before {
      content: "";
      position: absolute;
      left: 8px;
      width: 1px;
      height: calc(100% - 4px);
      background-color: var(--etc-divider);
    }

    .txt {
      @include abs.body1;
      color: var(--text-secondary);
    }

    .avatar-card {
      gap: 10px;
      .avatar {
        width: 32px;
        height: 32px;
      }
      .avatar-name {
        @include abs.body2;
        color: var(--text-secondary);
      }
    }
  }

  &.dot {
    .timeline-item {
      @each $c in abs.$themeColors {
        &.#{$c} {
          .timeline-header {
            .header-dot {
              border-color: var(--#{$c}-main);
            }
          }
        }
      }
    }
    .timeline-header {
      .header-dot {
        border-color: var(--primary-main);
        &::before {
          background-color: transparent;
        }
      }
    }
    .timeline-con {
      &::before {
        background-color: transparent;
        background-image: url(../images/sub/divider.svg);
        background-repeat: repeat-y;
        background-position: center top;
      }
    }
  }

  &-list {
    display: grid;
    gap: var(--gap-10);

    .list-item {
      width: 100%;
      @include abs.flex;
      gap: 20px;

      .list-data {
        width: calc(100% - 72px);
        .date {
        }

        .data-card {
          .data-title {
          }
          .data-con {
            .txt {
            }
          }
        }
      }
      .list-icon {
        width: 32px;
      }
    }
  }

  &-cards {
    display: grid;
    gap: var(--gap-10);
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      background-color: var(--etc-divider);
    }

    .card-block {
      gap: var(--gap-5);
      @include abs.flextopbtw;

      .card-date {
        width: calc(50% - 36px);

        .date {
          color: var(--text-disabled);
          text-align: right;
          padding-top: var(--gap-5);
          @include abs.caption;
        }
      }

      .card-icon {
        width: 32px;
        background-color: var(--etc-white);
        height: 64px;
        padding-block: 16px;
        position: relative;

        .icon-bg {
          height: 32px;
          aspect-ratio: 1;
          border-radius: 50%;
          overflow: hidden;
          @include abs.flexcenter;
        }

        .ic {
          width: 20px;
        }
      }

      .card-item {
        width: calc(50% - 36px);
        padding: var(--gap-6);
        border-radius: var(--border-radius-m);
        box-shadow: var(--shadow-m);
        background-color: var(--etc-white);

        .data-title {
          @include abs.h5;
        }

        .data-con {
          display: grid;
          padding-top: var(--gap-4);
          gap: var(--gap-3);

          .txt {
            color: var(--text-secondary);
            @include abs.body1;
          }

          .data-thumb {
            gap: var(--gap-4);
            @include abs.flexbtw;
          }
        }

        .avatar-review {
          @include abs.flexbtw;

          .ic {
            width: 28px;
            background-color: var(--warning-main);
          }

          & + .txt {
            @include abs.body2;
          }
        }
      }

      &:first-child {
        .icon-bg {
          background-color: var(--error-alp-light);

          .ic {
            background-color: var(--error-main);
          }
        }
      }

      &:nth-child(2) {
        .icon-bg {
          background-color: var(--success-alp-light);

          .ic {
            background-color: var(--success-main);
          }
        }
      }

      &:nth-child(3) {
        .icon-bg {
          background-color: var(--warning-alp-light);

          .ic {
            background-color: var(--warning-main);
          }
        }
      }

      &:nth-child(4) {
        .icon-bg {
          background-color: var(--info-alp-light);

          .ic {
            background-color: var(--info-main);
          }
        }
      }

      &:nth-child(5) {
        .icon-bg {
          background-color: var(--primary-alp-light);

          .ic {
            background-color: var(--primary-main);
          }
        }
      }

      &:nth-child(even) {
        .card-date {
          order: 3;

          .date {
            text-align: left;
          }
        }

        .card-icon {
          order: 2;
        }

        .card-item {
          order: 1;
        }
      }
    }
  }
}

//아이콘 인포
.info-data {
  &-title {
    gap: 2px;
    flex-wrap: wrap;
    @include abs.flex;

    .h4-title {
      @include abs.h4;
    }

    .data-up {
      gap: 2px;
      color: var(--success-main);
      white-space: nowrap;
      @include abs.body2;
      @include abs.flex;

      .ic {
        width: 24px;
        background-color: var(--success-main);
      }
    }

    .title-desc {
      color: var(--text-secondary);
      width: 100%;
      @include abs.caption;
    }
  }

  &-item {
    @include abs.flexbtw;

    .item-left {
      gap: var(--gap-3);
      @include abs.flex;
    }

    .item-icon {
      width: 40px;
      aspect-ratio: 1;
      background-color: var(--etc-gray-light);
      border-radius: var(--border-radius-s);
      @include abs.flexcenter;
    }

    .item-txt {
      display: grid;
      gap: 2px;

      .name {
        @include abs.body2;
      }

      .desc {
        color: var(--text-secondary);
        @include abs.caption;
      }
    }
    .item-right {
      width: var(--w);
      text-align: right;
    }

    .bar-txt {
      @include abs.body2;
    }

    .bar-bg {
      width: 100%;
      height: 4px;
      position: relative;

      .bar-fill {
        width: var(--w);
        position: absolute;
        left: 0;
        height: 100%;
      }

      &.primary {
        background-color: var(--primary-alp-light);

        .bar-fill {
          background-color: var(--primary-main);
        }
      }

      &.info {
        background-color: var(--info-alp-light);

        .bar-fill {
          background-color: var(--info-main);
        }
      }

      &.secondary {
        background-color: var(--secondary-alp-light);

        .bar-fill {
          background-color: var(--secondary-main);
        }
      }
    }
  }
}
