@use "../abstracts/" as abs;

/***************************************************************
    components - header
***************************************************************/
.nav {
  padding: var(--gap-4) var(--gap-3);

  .list-right {
    // opacity: 0;

    .chip {
      border-radius: var(--border-radius-round);
    }
  }

  &-group {
    padding-block: 14px var(--gap-2);
  }

  &-title {
    font-size: var(--etc-caption);
    line-height: 22px;
    color: var(--text-disabled);
    height: 34px;
    padding-inline: var(--gap-3);
    display: inline-flex;
    align-items: center;
    position: relative;

    .tit-op {
      opacity: 0;
    }

    .tit-cl {
      height: 0;
      width: 100%;
      background-color: var(--border-outline);
      margin-bottom: 17px;
      display: block;
      opacity: 1;

      &::before {
        content: "";
        width: 22px;
        height: 1px;
        background-color: var(--etc-divider);
        position: absolute;
        top: 50%;
        left: var(--gap-3);
      }
    }
  }

  &-link {
    width: 46px;

    &.subOpen.opened > .list-item .ic.chevron-right {
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
  }

  .list-item {
    padding-inline: var(--gap-3);
    transition: none;
    white-space: nowrap;
  }

  .list-name {
    .name {
      opacity: 0;
      white-space: nowrap;
    }
  }

  &-list {
    display: grid;
    gap: 6px;
  }

  &-sub {
    display: none;
    transition: none;
    height: 0;
    overflow: hidden;

    .ic.circle {
      height: 12px;
    }

    .nav-sub {
      .ic.circle {
        width: 34px;
        mask-position: var(--gap-4) center;
      }

      .nav-sub {
        .ic.circle {
          width: 44px;
          mask-position: 26px center;
        }
      }
    }
  }
}

.header {
  // width: 100%;
  width: 70px;
  box-shadow: var(--shadow-s);
  height: 100svh;
  overflow-y: hidden;
  z-index: var(--z-fixed);
  white-space: nowrap;
  transition: all 0.2s;

  &-top {
    padding: var(--gap-5) 19px;
    gap: var(--gap-3);
    @include abs.flexbtw;

    .logo a {
      gap: var(--gap-3);
      font-size: 22px;
      font-weight: var(--fw-bold);
      @include abs.flex;

      span {
        opacity: 0;
        transition: all 0.2s;
      }
    }

    #sidebarToggle {
      .ic {
        width: 20px;
      }
    }
  }

  .scroll {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  &:hover {
    width: 260px;

    .logo a span {
      opacity: 1;
    }

    .nav {
      &-title {
        .tit-op {
          opacity: 1;
        }

        .tit-cl {
          opacity: 0;
        }
      }

      &-link {
        width: initial;
      }

      &-sub {
        height: auto;
      }

      .list-item {
        &.active {
          color: var(--etc-white);
          background: var(--menu-active);
          box-shadow: var(--primary-shadow-s);

          .ic {
            background-color: var(--etc-white);
          }
        }
      }

      .list-name {
        .name {
          opacity: 1;
        }
      }
    }

    & ~ .main {
      max-width: calc(100% - 260px);
    }
  }

  &.fixed {
    width: 260px;

    & ~ .main {
      max-width: calc(100% - 260px);
    }

    .logo a span {
      opacity: 1;
    }

    .nav {
      &-title {
        .tit-op {
          opacity: 1;
        }

        .tit-cl {
          opacity: 0;
        }
      }

      &-link {
        width: 100%;
      }

      &-sub {
        height: auto;
      }

      .list-item {
        &.active {
          color: var(--etc-white);
          background: var(--menu-active);
          box-shadow: var(--primary-shadow-s);

          .ic {
            background-color: var(--etc-white);
          }
        }
      }

      .list-name {
        .name {
          opacity: 1;
        }
      }
    }
  }
}
