/***************************************************************
    05. color
***************************************************************/
.primary_color {
  color: var(--primary-color);
}

.black_color {
  color: var(--black-color);
}

.white_color {
  color: var(--white-color);
}

.primary_25 {
  color: var(--primary-25);
}

.primary_50 {
  color: var(--primary-50);
}

.primary_100 {
  color: var(--primary-100);
}

.primary_200 {
  color: var(--primary-200);
}

.primary_300 {
  color: var(--primary-300);
}

.primary_400 {
  color: var(--primary-400);
}

.primary_600 {
  color: var(--primary-600);
}

.primary_700 {
  color: var(--primary-700);
}

.primary_750 {
  color: var(--primary-750);
}

.primary_800 {
  color: var(--primary-800);
}

.primary_900 {
  color: var(--primary-900);
}

.gray_f9 {
  color: var(--gray-f9);
}

.gray_f9 {
  color: var(--gray-f9);
}

.gray_ed {
  color: var(--gray-ed);
}

.gray_df {
  color: var(--gray-df);
}

.gray_ad {
  color: var(--gray-ad);
}

.gray_86 {
  color: var(--gray-86);
}

.gray_60 {
  color: var(--gray-60);
}

.gray_40 {
  color: var(--gray-40);
}

.gray_20 {
  color: var(--gray-20);
}

.success_bg {
  color: var(--success-bg);
}

.success_lt {
  color: var(--success-lt);
}

.success_color {
  color: var(--success);
}

.warning_bg {
  color: var(--warning-bg);
}

.warning_lt {
  color: var(--warning-lt);
}

.warning_color {
  color: var(--warning);
}

.error_bg {
  color: var(--error-bg);
}

.error_lt {
  color: var(--error-lt);
}

.error_color {
  color: var(--error);
}
