/***************************************************************
    04. typo
***************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-primary);
}

.medium_font {
  font-weight: var(--medium-font);
}

.semi_bold_font {
  font-weight: var(--semi-bold-font);
}

.bold_font {
  font-weight: var(--bold-font);
}

.display1 {
  @include display1;
}

.display2 {
  @include display2;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.h6 {
  @include h6;
}

.body_xl {
  @include bodyxl;
}

.body_lg {
  @include bodylg;
}

.body_md {
  @include bodymd;
}

.body_sm {
  @include bodysm;
}

.body_xs {
  @include bodyxs;
}

.body_xs_underline {
  @include bodyxs_underline;
}

.caption_lg {
  @include captionlg;
}

.caption_md {
  @include captionmd;
}

.caption_sm {
  @include captionsm;
}

.btn_lg {
  @include btnlg;
}

.btn_sm {
  @include btnsm;
}

.overline_lg {
  @include overlinelg;
}

.overline_sm {
  @include overlinesm;
}
