$small_device: 320px;
$base_device: 360px;
$large_device: 480px;

//typo
$point_f: "Poppins";

//color
:root {
  // -- color -- //
  --primary-color: rgba(0, 180, 0, 1);
  --primary-09: rgba(0, 180, 0, 0.9);
  --primary-08: rgba(0, 180, 0, 0.9);
  --primary-07: rgba(0, 180, 0, 0.7);
  --primary-06: rgba(0, 180, 0, 0.6);
  --primary-05: rgba(0, 180, 0, 0.5);
  --primary-04: rgba(0, 180, 0, 0.4);
  --primary-03: rgba(0, 180, 0, 0.3);
  --primary-02: rgba(0, 180, 0, 0.2);
  --primary-01: rgba(0, 180, 0, 0.1);
  --primary-005: rgba(0, 180, 0, 0.05);

  --system-red: rgba(244, 68, 50, 1);
  --system-red-09: rgba(244, 68, 50, 0.9);
  --system-red-08: rgba(244, 68, 50, 0.8);
  --system-red-07: rgba(244, 68, 50, 0.7);
  --system-red-06: rgba(244, 68, 50, 0.6);
  --system-red-05: rgba(244, 68, 50, 0.5);
  --system-red-04: rgba(244, 68, 50, 0.4);
  --system-red-03: rgba(244, 68, 50, 0.3);
  --system-red-02: rgba(244, 68, 50, 0.2);
  --system-red-01: rgba(244, 68, 50, 0.1);
  --system-red-005: rgba(244, 68, 50, 0.05);

  --system-yellow: rgba(255, 199, 16, 1);
  --system-yellow-09: rgba(255, 199, 16, 0.9);
  --system-yellow-08: rgba(255, 199, 16, 0.8);
  --system-yellow-07: rgba(255, 199, 16, 0.7);
  --system-yellow-06: rgba(255, 199, 16, 0.6);
  --system-yellow-05: rgba(255, 199, 16, 0.5);
  --system-yellow-04: rgba(255, 199, 16, 0.4);
  --system-yellow-03: rgba(255, 199, 16, 0.3);
  --system-yellow-02: rgba(255, 199, 16, 0.2);
  --system-yellow-01: rgba(255, 199, 16, 0.1);
  --system-yellow-005: rgba(255, 199, 16, 0.05);

  --gray-black: rgba(47, 47, 47, 1);
  --gray-01: rgba(116, 116, 116, 1);
  --gray-02: rgba(159, 159, 159, 1);
  --gray-03: rgba(201, 201, 201, 1);
  --gray-04: rgba(223, 223, 223, 1);
  --gray-05: rgba(245, 245, 245, 1);
  --gray-white: rgba(255, 255, 255, 1);

  --brand-yellow: rgba(255, 198, 15, 1);
  --brand-orange: rgba(255, 142, 0, 1);
  --brand-blue: rgba(0, 171, 234, 1);
  --brand-purple: rgba(101, 101, 217, 1);

  --shadow-btn: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);

  // -- font -- //
  --h1-f: 1.5rem;
  --h2-f: 1.25rem;
  --h3-f: 1.125rem;
  --p1-f: 1.25rem;
  --p2-f: 0.9375rem;
  --p3-f: 0.875rem;
  --p4-f: 0.8125rem;
  --p5-f: 0.75rem;
  --p6-f: 1.125rem;
  --p7-f: 1rem;
  --span1-f: 0.9375rem;
  --span2-f: 0.8125rem;
  --span3-f: 0.75rem;
  --span4-f: 0.625rem;
  --misc1-f: 0.9375rem;
  --misc2-f: 0.8125rem;

  --bold-f: 700;
  --medium-f: 500;
  --thin-f: 300;

  --second-f: "Poppins";
  --line-h: 1.5;

  // -- z-index -- //
  --z-tool: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media (max-width: #{$base_device - 1px}) {
  :root {
    //typo
    --h1-f: 6.6852vw;
    --h2-f: 5.571vw;
    --h3-f: 5.0139vw;
    --p1-f: 5.571vw;
    --p2-f: 4.178vw;
    --p3-f: 3.8997vw;
    --p4-f: 3.6212vw;
    --p5-f: 3.3426vw;
    --p6-f: 5.0139vw;
    --span1-f: 4.178vw;
    --span2-f: 3.6212vw;
    --span3-f: 3.3426vw;
    --span4-f: 2.7855vw;
    --misc1-f: 4.1783vw;
    --misc2-f: 3.6212vw;
  }
}
