/* ================== font ==================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
/* ================= common ================ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: .875rem;
  color: #222;
  line-height: 1.5;
  background-color: #000;
  letter-spacing: -1px;
}

::-moz-selection {
  background-color: #222;
  color: #999;
}

::selection {
  background-color: #222;
  color: #999;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ================== scroll bar =================== */
::-webkit-scrollbar {
  width: .5rem;
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #010101;
  border-radius: 1rem;
}

/* ============== font ================= */
.big_f {
  font-size: 2.125rem;
}

.large_f {
  font-size: 1.875rem;
}

.medium_f {
  font-size: 1.5rem;
}

.normal_f {
  font-size: 1rem;
}

.small_f {
  font-size: .875rem;
}

.smaller_f {
  font-size: .75rem;
}

.bold_f {
  font-size: 700;
}

.semi_bold_f {
  font-size: 600;
}

/* ============== layout =================== */
body.active {
  overflow: hidden;
}

.main {
  overflow: hidden;
  position: relative;
}

.main.active {
  overflow-y: hidden;
}

section {
  min-height: 100vh;
  position: relative;
  padding: 7rem 0;
}

.section_container {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

/* ---- loading -----*/
.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #000;
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* =========================== header ======================== */
.nav {
  text-align: center;
}

.nav .nav_list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav_list .nav_item .nav_link {
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  padding: 0 2rem;
  position: relative;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.nav .nav_list .nav_item .nav_link::after {
  content: '';
  display: block;
  width: 1px;
  height: .75rem;
  background-color: #999;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav .nav_list .nav_item:last-child .nav_link::after {
  display: none;
}

.header_btn {
  display: none;
}

/* =========================== top ======================== */
section.block01 {
  padding-top: 3rem;
  background: url("../images/web/1-bg.jpg") no-repeat center center;
  background-size: cover;
}

.nav_full {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  padding: 3rem 0;
  display: none;
}

.nav_full .nav_inner {
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav_full .nav_inner .full_menu .full_item .full_link {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

.nav_full .nav_inner .full_menu .full_item .full_link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 5px;
  top: 50%;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #F3A238;
}

.nav_full .nav_inner .full_menu .full_item .full_link:hover::after {
  width: 100%;
}

.nav_full .nav_inner .full_menu .full_item .sub_menu .sub_link {
  color: #fff;
  font-size: 1.125rem;
  line-height: 2;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.nav_full .nav_inner .full_menu .full_item .sub_menu .sub_link:hover {
  color: #F3A238;
}

.nav_full .nav_inner .contact_link img {
  max-width: 250px;
}

.nav_full .menu_close {
  position: fixed;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}

.nav_full .menu_close img {
  max-width: 48px;
}

.nav_full.active {
  display: block;
}

.about_contents {
  text-align: center;
}

.about_contents h1 img {
  max-width: 192px;
  margin-top: 10vh;
}

.about_contents .about_img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -56%);
          transform: translate(-50%, -56%);
}

.about_contents .about_img img[src$="1-2.png"] {
  max-width: 732px;
  width: 100%;
}

.about_contents .normal_f {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  letter-spacing: 3px;
  width: 100%;
}

.about_contents .normal_f::before {
  content: '';
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #fff;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.copy {
  font-size: 0.875rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #999;
}

/* =========================== footer ======================== */
.footer {
  border-top: 1px solid #fff;
  padding: 7rem 0;
  background-color: #000;
}

.footer .section_container .flex_l img {
  max-width: 210px;
  margin-bottom: 5rem;
}

.footer .section_container .flex_l .smaller_f {
  color: #fff;
  line-height: 1.8;
  position: relative;
}

.footer .section_container .flex_l .smaller_f::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2rem;
  width: 250px;
  height: 3px;
  background-color: #fff;
}

.footer .section_container .flex_r img {
  max-width: 248px;
}

/* =================== section_block2 about ==================== */
.block02 {
  background: url("../images/web/2-bg.png") no-repeat center center;
}

.block02 h2 img {
  max-width: 402px;
  display: block;
  margin-bottom: 2rem;
}

.block02 h2 + .small_f {
  display: block;
  color: #fff;
  font-weight: initial;
}

.block02 h2 + .small_f::before {
  display: none;
}

.block02 .section_container > .small_f {
  color: #fff;
  position: relative;
}

.block02 .section_container > .small_f::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.block02 .about_motion {
  margin: 5rem 0;
}

/* =================== section_block3 ==================== */
.block03 {
  background-color: #ebebeb;
  text-align: right;
  font-weight: 600;
}

.block03 h2 img {
  max-width: 500px;
  margin-bottom: 2rem;
}

.block03 h2 + .small_f {
  border-bottom: 1px solid #010101;
  padding-bottom: 4rem;
}

.block03 .block03_contents {
  margin-top: 5rem;
}

.block03 .block03_contents .img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 8px solid #010101;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.block03 .block03_contents .img .block03_img1 {
  max-width: 75px;
  display: block;
  margin-bottom: 2rem;
}

.block03 .block03_contents .img .block03_img2 {
  max-width: 326px;
  display: block;
}

.block03 .block03_list .block03_item {
  width: 30%;
  border-bottom: 1px solid #010101;
  padding-bottom: 3rem;
}

.block03 .block03_list .block03_item .title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.block03 .block03_list .block03_item .txt {
  font-size: 0.875rem;
}

/* =================== section_block04 overview ==================== */
.block04 {
  background: #000 url("../images/web/4-bg.png") no-repeat center bottom;
  color: #fff;
}

.block04 .section_container .flex_l {
  width: 70%;
  max-width: 440px;
}

.block04 .section_container .flex_l h2 {
  font-size: 2rem;
  border-top: 1px solid #fff;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.block04 .section_container .flex_l .small_f {
  padding-bottom: 5rem;
}

.block04 .section_container .flex_l .img_list {
  margin-top: 5rem;
}

.block04 .section_container .flex_l .img_list img {
  margin-bottom: 2rem;
  max-width: 340px;
}

.block04 .section_container .flex_l .smaller_f {
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.block04 .section_container .flex_r {
  width: 30%;
}

.block04 .section_container .flex_r img {
  min-width: 550px;
  margin-left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: -11vh;
}

/* =================== section_block05 challenge01 ==================== */
.block05 {
  background: #F3A238 url("../images/web/web_slide_1.png") repeat-y 95% center;
  background-size: 43%;
  -webkit-animation: bg_slide 100s linear infinite;
          animation: bg_slide 100s linear infinite;
}

.block05 .flex_l {
  width: 70%;
  max-width: 430px;
}

.block05 .flex_l h2 {
  font-size: 2.125rem;
  font-weight: 800;
  padding-bottom: 3rem;
}

.block05 .flex_l h2 img {
  max-width: 300px;
  display: block;
  margin-bottom: 2rem;
}

.block05 .flex_l .block05_list {
  border-top: 4px solid #010101;
  margin-top: 5rem;
  padding: 5rem 0 0;
  border-bottom: 4px solid #010101;
}

.block05 .flex_l .block05_list .block05_item {
  margin-bottom: 3rem;
  font-weight: 600;
  position: relative;
}

.block05 .flex_l .block05_list .block05_item.border_b {
  border-bottom: 1px solid #010101;
  padding-bottom: 2rem;
}

.block05 .flex_l .block05_list .block05_item .title img {
  max-height: 24px;
  margin-bottom: 1rem;
}

.block05 .flex_l .block05_list .block05_item .btn_go {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

@-webkit-keyframes bg_slide {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -10000px;
  }
}

@keyframes bg_slide {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -10000px;
  }
}

/* =================== section_block06 challenge02 video==================== */
.block06 {
  height: auto;
  background-color: #000;
}

.block06 video {
  width: 100%;
  padding: 0 2rem;
  max-width: 1400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.block06 .section_container {
  position: relative;
  z-index: 2;
  color: #fff;
}

.block06 .section_container h2 {
  font-size: 2rem;
}

.block06 .section_container h2 img {
  max-height: 35px;
  display: block;
}

.block06 .section_container .block_img {
  margin: 5rem auto;
  padding: 6rem 0;
  max-width: 500px;
  display: block;
}

.block06 .section_container .section06_data .data_title {
  position: relative;
  border-bottom: 1px solid #fff;
  width: 100%;
  max-width: 350px;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.block06 .section_container .section06_data .data_title img {
  max-width: 180px;
}

.block06 .section_container .section06_data .data_title a {
  position: absolute;
  top: 0;
  left: 200px;
}

.block06 .section_container .section06_data .data_title a img {
  width: 24px;
}

.block06 .section_container .section06_data .section06_list .title img {
  max-height: 24px;
  margin-bottom: 1rem;
}

/* =================== section_block07 studio ==================== */
.block07 {
  background: #000 url("../images/web/7-bg.png") no-repeat center bottom;
  background-size: cover;
}

.block07 .section_container {
  text-align: center;
  position: relative;
  height: calc(100vh - 14rem);
}

.block07 .section_container .block07_img1 {
  position: absolute;
  top: -160px;
  left: calc(50% - 3px);
  max-width: 6px;
}

.block07 .section_container .block07_img2 {
  position: absolute;
  top: .5rem;
  left: calc(50% - 57px);
  width: 114px;
}

.block07 .section_container .block07_img3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  width: 100%;
}

.block07 .section_container .block07_img3 img {
  width: 100px;
}

.block07 .section_container .small_f {
  position: absolute;
  bottom: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.block07 .section_container .small_f span {
  display: inline-block;
  width: 100%;
}

.block07 .section_container .block07_img4 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  width: 180px;
}

.open_video .close {
  color: #fff;
  position: fixed;
  font-size: 1.75rem;
  z-index: 1000;
  right: 2rem;
  top: 2rem;
}

/* =================== section_block08 challenge03==================== */
.block08 {
  background: #ebebeb url("../images/web/web_slide_2.png") repeat-y 95% center;
  background-size: 43%;
  -webkit-animation: bg_slide 100s linear infinite;
          animation: bg_slide 100s linear infinite;
}

.block08 .flex_l {
  width: 70%;
  max-width: 360px;
}

.block08 .flex_l h2 {
  font-size: 1.6875rem;
  font-weight: 800;
  padding-bottom: 3rem;
}

.block08 .flex_l h2 img {
  max-width: 296px;
  display: block;
  margin-bottom: 2rem;
}

.block08 .flex_l .block08_list {
  border-top: 4px solid #010101;
  margin-top: 5rem;
  padding: 5rem 0 0;
  border-bottom: 4px solid #010101;
}

.block08 .flex_l .block08_list .block08_item {
  margin-bottom: 3rem;
  font-weight: 600;
  position: relative;
}

.block08 .flex_l .block08_list .block08_item.border_b {
  border-bottom: 1px solid #010101;
  padding-bottom: 3rem;
}

.block08 .flex_l .block08_list .block08_item .title img {
  max-height: 24px;
  margin-bottom: 1rem;
}

.block08 .flex_l .block08_list .block08_item .btn_go {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

/* =================== section_block09 challenge04 ==================== */
.block09 {
  background: #000;
  padding: 7rem 0;
  overflow: hidden;
}

.block09 .section_container {
  max-width: 800px;
}

.block09 .circle01 {
  position: absolute;
  bottom: -100px;
  left: 15%;
  max-width: 1100px;
  width: 80%;
}

.block09 .circle02 {
  position: absolute;
  top: -10%;
  right: 15%;
  max-width: 900px;
}

.block09 h2 {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.6875rem;
  font-weight: initial;
  font-weight: 700;
  padding-bottom: 3rem;
}

.block09 h2 img {
  display: block;
  margin-bottom: 2rem;
}

.block09 .block09_logo {
  margin: 2rem 0;
  position: relative;
}

.block09 .block09_logo img {
  max-width: 200px;
}

.block09 .block09_logo::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 555px;
  background-color: #fff;
  display: block;
  top: -5rem;
}

.block09 .block09_logo::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 555px;
  background-color: #fff;
  display: block;
  bottom: -2rem;
}

.block09 .block09_data {
  position: relative;
  z-index: 1;
  margin-top: 9.5rem;
  padding-bottom: 3rem;
}

.block09 .block09_data::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 555px;
  background-color: #fff;
  display: block;
  bottom: 0;
}

.block09 .block09_data .circle03 {
  position: relative;
  bottom: -3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block09 .block06_contents {
  width: 100%;
  padding-top: 3rem;
}

.block09 .block06_contents .block09_logotitle {
  font-size: 1.125rem;
  font-weight: 700;
}

.block09 .block06_contents .block09_item {
  color: #fff;
  margin-bottom: 6rem;
  line-height: 1.8;
  position: relative;
}

.block09 .block06_contents .block09_item img {
  max-width: 180px;
  margin-bottom: 2rem;
}

.block09 .block06_contents .block09_item:first-child::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 555px;
  background-color: #fff;
  display: block;
  bottom: -2.5rem;
}

.block09 .block06_contents .block09_list {
  text-align: center;
  padding-top: 2rem;
}

.block09 .block06_contents .block09_list img {
  margin: .5rem;
}

/* =================== section_block10 vition ==================== */
.block10 {
  padding: 7rem 0 0;
  background-color: #1b181c;
  overflow: hidden;
}

.block10 .circle01 {
  position: absolute;
  top: -1rem;
  left: 15%;
  max-width: 948px;
}

.block10 .circle02 {
  position: absolute;
  bottom: 0;
  right: 15%;
  max-width: 915px;
}

.block10 .section_container {
  position: relative;
  z-index: 1;
  height: calc(100vh - 7rem);
  max-width: 900px;
}

.block10 .section_container h2 {
  position: relative;
}

.block10 .section_container h2 img {
  max-width: 423px;
}

.block10 .section_container h2::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 38px;
  height: 1px;
  background-color: #fff;
  bottom: -2rem;
}

.block10 .section_container .small_f {
  color: #fff;
  margin-top: 4rem;
  position: relative;
}

.block10 .section_container .small_f::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 38px;
  height: 2px;
  background-color: #fff;
  bottom: -3rem;
}

.block10 .section_container .block10_data {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.block10 .section_container .block10_data .year_img {
  position: absolute;
  top: 7rem;
}

.block10 .section_container .block10_data .year_img img {
  display: block;
}

.block10 .section_container .block10_data .year_img img.txt {
  max-width: 30px;
  margin-bottom: 1rem;
}

.block10 .section_container .block10_data .year_img img.number {
  max-width: 100px;
}

/* =================== section_block11 news ==================== */
.block11 {
  background-color: #000;
}

.block11 h2 {
  text-align: center;
}

.block11 h2 img {
  width: 100%;
}

.block11 .news_slide {
  margin-top: 5rem;
  height: 500px;
}

.block11 .news_slide .page_arrow {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.block11 .news_slide .page_arrow .swiper-button-prev, .block11 .news_slide .page_arrow .swiper-button-next {
  position: initial;
  width: initial;
  height: inherit;
  color: #fff;
  margin-top: 0;
}

.block11 .news_slide .page_arrow .swiper-button-next {
  font-size: 2rem;
}

.block11 .news_slide .page_arrow .swiper-button-next:after {
  display: none;
}

.block11 .news_slide .page_arrow .swiper-button-prev {
  font-size: 2rem;
}

.block11 .news_slide .page_arrow .swiper-button-prev:after {
  display: none;
}

.block11 .news_slide .swiper-pagination-bullet {
  background: #fff;
}

.block11 .news_slide .swiper-pagination-bullet-active {
  background: #F3A238;
}

.block11 .news_slide .news_list .news_item {
  border-bottom: 1px solid #fff;
  width: 90%;
  color: #fff;
  font-size: 1.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 3;
  cursor: pointer;
}

.block11 .news_slide .news_list .news_item .number {
  font-weight: 300;
  width: 10%;
  position: relative;
}

.block11 .news_slide .news_list .news_item .number::after {
  content: '';
  position: absolute;
  right: 0rem;
  top: calc(50% - .5rem);
  width: 2px;
  height: 1rem;
  background-color: #999;
}

.block11 .news_slide .news_list .news_item .title {
  padding: 0 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
  word-break: keep-all;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
}

.block11 .news_slide .news_list .news_item .title:hover {
  color: #F3A238;
}

.modal,
.open_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal .modal_overlay,
.open_video .modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal .popup_video,
.open_video .popup_video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1120px;
  width: 100%;
  padding: 2rem;
}

.modal.active,
.modal .modal_overlay,
.open_video.active,
.open_video .modal_overlay {
  opacity: 1;
  z-index: 999;
}

.modal .news_popup,
.open_video .news_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem;
  text-align: left;
  z-index: 99999;
}

.news_popup .title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.news_popup .news_date {
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.news_popup .news_date span {
  color: #999;
  font-size: .875rem;
  margin-left: .5rem;
}

.news_popup .description {
  font-size: .875rem;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.news_popup .more_view {
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #eee;
  position: relative;
  z-index: 999;
}

.news_popup .more_view a {
  color: #222;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .75rem;
  font-weight: 500;
  border: 1px solid #ddd;
  padding: .75rem 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.news_popup .more_view a:hover {
  background-color: #232323;
  color: #fff;
  border: 1px solid #232323;
  text-decoration: none;
}

.news_popup .more_view i {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.news_popup .more_view a:hover i {
  -webkit-transform: translateX(0.2rem);
          transform: translateX(0.2rem);
}

.news_popup .close {
  font-size: 2rem;
  color: #999;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.slider11.open .news_popup {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: .45s .1s;
  transition: .45s .1s;
}

/* =================== section_block12 contact ==================== */
.block12 {
  background: url("../images/web/12-bg.png") no-repeat center bottom;
  padding: 7rem 0 4rem;
  background-size: cover;
}

.block12 h2 {
  text-align: center;
}

.block12 h2 img {
  max-width: 542px;
}

.block12 .block12_contents {
  margin-top: 5rem;
}

.block12 .block12_contents .block12_list {
  margin-bottom: 4rem;
  position: relative;
}

.block12 .block12_contents .block12_list .line1 {
  width: 250px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #fff;
  display: block;
}

.block12 .block12_contents .block12_list .line2 {
  width: 250px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #fff;
  display: block;
}

.block12 .block12_contents .block12_list .block12_item {
  color: #fff;
  position: relative;
}

.block12 .block12_contents .block12_list .block12_item .title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 2rem;
  position: relative;
}

.block12 .block12_contents .block12_list .block12_item .title::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 4px;
  background-color: #fff;
  left: 0;
  bottom: -2rem;
}

.block12 .block12_contents .block12_list .block12_item .small_f {
  margin-top: 3rem;
}

.block12 .block12_contents .block12_list .contact_img {
  max-width: 174px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block12 .block12_contents .block12_list .flex_r {
  text-align: right;
}

.block12 .block12_contents .block12_list .flex_r .title::after {
  left: initial;
  right: 0;
}

/* =================== fixed menu ================ */
.contactus_link {
  position: fixed;
  left: 0;
  bottom: 25%;
  z-index: 5;
}

.contactus_link img {
  max-width: 36px;
}

.fixed_menu {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 40px;
  z-index: 1;
}

.fixed_menu .fullmenu {
  margin-bottom: 1rem;
  display: block;
  cursor: pointer;
}

.fixed_menu .fullmenu img {
  width: 100%;
}

.fixed_menu .play_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../images/web/btn-3.png) no-repeat center center;
  background-size: cover !important;
}

/* =================== tablet ===================== */
@media screen and (min-height: 1024px) {
  /* ---- layout ------*/
  section {
    min-height: initial;
  }
  section.block01 {
    height: 768px;
  }
  .block07 .section_container {
    height: 500px;
  }
  .block09 {
    padding: 6rem 0 6rem;
  }
  .block10 .section_container {
    height: 768px;
  }
  .block12 {
    padding: 7rem 0 3rem;
  }
  /* about */
  .about_contents .about_img {
    top: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .block06 video {
    max-width: 1024px;
  }
  .block06 .section_container .block_img {
    max-width: 480px;
    padding: 5rem 0;
    margin: 2rem auto;
  }
  .block07 .section_container .block07_img3 {
    top: 40%;
    width: 70px;
  }
  .block09 {
    padding: 6rem 0 6rem;
  }
  .block09 .circle01 {
    left: 10%;
  }
  .block09 .circle02 {
    right: 10%;
  }
  .block09 .section_containe {
    max-width: 800px;
  }
  .block10 .circle01 {
    left: 0;
    width: 70%;
  }
  .block10 .circle02 {
    right: 5%;
    width: 70%;
  }
  .block10 .section_container {
    max-width: 800px;
  }
  .block10 .section_container .small_f::after {
    bottom: -2rem;
  }
  .block10 .section_container .block10_data {
    bottom: 3rem;
  }
  .block10 .section_container .block10_data .year_img img.number {
    max-width: 100px;
  }
  .block11 .news_slide .news_list .news_item {
    font-size: 1.25rem;
  }
}

@media screen and (max-height: 800px) {
  .block10 {
    height: calc(100vh * 1.1);
  }
  .block10 .section_container {
    height: 100%;
  }
}

@media screen and (max-height: 700px) {
  .block10 {
    height: calc(100vh * 1.2);
  }
}

@media screen and (max-height: 650px) {
  .block10 {
    height: calc(100vh * 1.3);
  }
}

@media screen and (min-width: 2048px) {
  .section {
    padding: 14rem 0;
  }
  section.block01 {
    height: 100vh;
  }
  section.block01 .about_contents h1 img {
    zoom: 1.3;
  }
  .block02 .about_motion {
    padding: 3rem 0;
  }
  .block07 .section_container {
    height: 750px;
  }
  .block07 .section_container .block07_img1 {
    top: -260px;
  }
  .block07 .section_container .block07_img2 {
    top: -5.5rem;
  }
  .block07 .section_container .block07_img3 {
    top: 40%;
  }
  .block09 .block09_data {
    top: 5rem;
  }
  .block10 .section_container {
    height: 750px;
  }
  .block10 .section_container .block10_data {
    bottom: -5rem;
  }
}
