.move {
    animation: move 250s linear infinite;
}

@keyframes move {
    100% {
        transform: translateY(-1000%);
    }
}

.y_m_left {
    animation: y_m_left 1s ease-in 1 ;
}

@keyframes y_m_left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.y_m_right {
    animation: y_m_right 1s ease-in 1;
}

@keyframes y_m_right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.ball {
    animation: ball 2s linear 1;
}

@keyframes ball {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.link {
    cursor: pointer;
}

    .link img:hover {
        transform: scale(1.05,1.05)
    }

.web .container {
    width: 100%;
    height: 100%;
}

.web .menu {
}

    .web .menu a {
        display: block;
        cursor: pointer;
    }

.web .menu_full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 8000;
    color: #fff;
    font-family: "Dinmed";
}

    .web .menu_full .item {
        cursor: pointer;
    }

    .web .menu_full .active {
        text-decoration: line-through;
        text-decoration-color: #ffb80f;
        text-decoration-thickness: 5px;
    }

    .web .menu_full .subs {
    }

        .web .menu_full .subs .sub {
            cursor: pointer;
            display: block;
            color: #fff;
        }

            .web .menu_full .subs .sub:hover {
                color: #ffb80f;
            }

            .web .menu_full .subs .sub .active {
                text-decoration: line-through;
                text-decoration-color: #ffb80f;
                text-decoration-thickness: 2px;
            }

.web .slider1 {
    overflow: hidden;
    /* font-family: barlow; */
    font-weight: 400;
    background: url('../images/web/1-bg.jpg') no-repeat center center;
    background-size: cover;
    background-color: #000;
}

    .web .slider1 img {
        display: block;
        margin: 0 auto;
    }

    .web .slider1 .menu {
    }

        .web .slider1 .menu a {
        }

.web .slider2 {
    overflow: hidden;
    text-align: center;
    background: url('../images/web/2-bg.png') no-repeat center center;
    background-size: cover;
    background-color: #000;
}

    .web .slider2 img {
        display: block;
        /* margin: 0 auto; */
    }

.web .slider3 {
    overflow: hidden;
    text-align: center;
    background-color: #ebebeb;
}

    .web .slider3 img {
        display: block;
        margin: 0 auto;
    }

.web .slider4 {
    overflow: hidden;
    text-align: center;
    background: url('../images/web/4-bg.png') no-repeat center bottom;
    background-size: cover;
    background-color: #000;
}

    .web .slider4 img {
        display: block;
        margin: 0 auto;
    }

.web .slider5 {
    overflow: hidden;
    text-align: center;
    background-color: #f3a238;
}

    .web .slider5 img {
        display: block;
        margin: 0 auto;
    }


.web .slider6 {
    overflow: hidden;
    text-align: center;
    background-color: #171717;
}

    .web .slider6 img {
        display: block;
        margin: 0 auto;
    }

.web .slider7 {
    overflow: hidden;
    text-align: center;
    background: url('../images/web/7-bg.png') no-repeat center bottom;
    background-size: cover;
    background-color: #000;
}

    .web .slider7 img {
        display: block;
        margin: 0 auto;
    }

.web .slider8 {
    overflow: hidden;
    text-align: center;
    background-color: #e8e8e8;
}

    .web .slider8 img {
        display: block;
        margin: 0 auto;
    }


.web .slider9 {
    overflow: hidden;
    text-align: center;
    background-color: #000;
}

    .web .slider9 img {
        display: block;
        margin: 0 auto;
    }


.web .slider10 {
    overflow: hidden;
    text-align: center;
    background-color: #1b181c;
}

    .web .slider10 img {
        display: block;
        margin: 0 auto;
    }

.web .slider11 {
    overflow: hidden;
    text-align: center;
    background-color: #000;
}

    .web .slider11 img {
        display: block;
        margin: 0 auto;
    }

    .web .slider11 .swiper-scrollbar {
        background-color: #7f7f7f;
        height: 4px;
    }

    .web .slider11 .swiper-scrollbar-drag {
        background: #fff;
    }

.web .slider12 {
    overflow: hidden;
    text-align: center;
    background: url('../images/web/12-bg.png') no-repeat center bottom;
    background-size: cover;
}

    .web .slider12 img {
        display: block;
        margin: 0 auto;
    }

.web .slider13 {
    overflow: hidden;
    text-align: center;
    background: #000;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: #fff;
}


    .web .slider13 img {
        display: block;
        margin: 0 auto;
    }


    /* 추가 */
    .align-center{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }

    .swiper-container{
        width: 100%;
        max-width: 1230px;
    }

    
    @media screen and (max-width: 1024px) {
        .align-center{
           padding-right: 2rem;
           padding-left: 2rem;
        }

        .web .slider10 img[src$="motion.png"]{
            width: 100%;
            max-width: calc(100% - 4rem);
        }
    }


.tablet_wrap{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#tablet_app .slider2{
    max-height: 900px;
}

#tablet_app .slider3,
#tablet_app .slider4,
#tablet_app .slider5,
#tablet_app .slider6,
#tablet_app .slider7,
#tablet_app .slider8,
#tablet_app .slider9,
#tablet_app .slider10,
#tablet_app .slider11,
#tablet_app .slider12{
    max-height: 1200px;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    transition: .3s;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .85);
    opacity: 0;
    transition: .3s;
} 

.modal.active,
.modal_overlay{
    opacity: 1;
    z-index: 999;
}

.popup{
    cursor: pointer;
}

.news_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    transition: .2s;
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem;
    text-align: left;
    z-index: 99999;
}

.news_popup a{
    color: #222;
}

.news_popup a:hover{
    text-decoration: underline;

}

.news_popup .title{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.news_popup .news_date{
    font-weight: 500;
    border-bottom: 1px solid #eee;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.news_popup .news_date span{
    color: #999;
    font-size: .875rem;
    margin-left: .5rem;
}

.news_popup .description{
    font-size: .875rem;
    line-height: 1.5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
}

.news_popup .more_view{
    margin-top: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 999;
}

.news_popup .more_view a{
    color: #222;
    display: inline-flex;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    border: 1px solid #ddd;
    padding: .75rem 2rem;
    transition: .3s;
}

.news_popup .more_view a:hover{
    background-color: #232323;
    color: #fff;
    border: 1px solid #232323;
    text-decoration: none;
}

.news_popup .more_view i{
    transition: transform .3s;
}

.news_popup .more_view a:hover i{
    transform: translateX(.2rem);
}

.news_popup .close{
    font-size: 2rem;
    color: #999;
    position: absolute;
    top: 1rem;
    right: 1rem;
}


.slider11.open .news_popup{
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .45s .1s;
}