@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
.primary {
  color: #00B400;
}

.system_red {
  color: #F44432;
}

.system_yellow {
  color: #FFC710;
}

.black {
  color: #2F2F2F;
}

.light {
  color: #fff;
}

.gray01 {
  color: #747474;
}

.gray02 {
  color: #9F9F9F;
}

.gray03 {
  color: #C9C9C9;
}

.gray04 {
  color: #DFDFDF;
}

.gray05 {
  color: #F5F5F5;
}

.primary {
  color: #00B400;
}

.system_red {
  color: #F44432;
}

.system_yellow {
  color: #FFC710;
}

.black {
  color: #2F2F2F;
}

.light {
  color: #fff;
}

.gray01 {
  color: #747474;
}

.gray02 {
  color: #9F9F9F;
}

.gray03 {
  color: #C9C9C9;
}

.gray04 {
  color: #DFDFDF;
}

.gray05 {
  color: #F5F5F5;
}

/* mediaquery */
/* grid */
/* typo */
/* shadow */
/***************************************************************
    01. base
***************************************************************/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100svh;
  scroll-behavior: smooth;
  color: #2F2F2F;
}

main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  outline-style: none;
  margin: 0;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #2F2F2F;
}

input:foucs {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #C9C9C9;
  font-size: inherit;
  line-height: 1;
}

[type=radio],
[type=checkbox] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  padding: 0;
}

[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit;
}

/***************************************************************
    02. animations
***************************************************************/
/***************************************************************
    03. layer
***************************************************************/
:root {
  font-size: 16px;
  --user-header: 3rem;
}

.pd_none {
  padding-bottom: 0;
}

.mt_0_25 {
  margin-top: 0.25rem;
}

.mt_0_5 {
  margin-top: 0.5rem;
}

.mt_0_75 {
  margin-top: 0.75rem;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_1_25 {
  margin-top: 1.25rem;
}

.mt_1_5 {
  margin-top: 1.5rem;
}

.mt_1_75 {
  margin-top: 1.75rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_2_5 {
  margin-top: 2.5rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mt_3_5 {
  margin-top: 3.5rem;
}

.mt_4 {
  margin-top: 4rem;
}

.bg_gray {
  background: #F5F5F5;
}

.bg_black {
  background: #2F2F2F;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.flex_topcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_topbtw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*font*/
/***************************************************************
    04. typo
***************************************************************/
:root {
  --h1-f: 2.625rem;
  --h2-f: 1.875rem;
  --h3-f: 3rem;
  --p1-f: 2.375rem;
  --p2-f: 2.25rem;
  --p3-f: 1.5rem;
  --p4-f: 1.375rem;
  --p5-f: 1.25rem;
  --p6-f: 1.125rem;
  --span1-f: 1.5rem;
  --span2-f: 1.25rem;
  --span3-f: 1.375rem;
  --span4-f: 1.125rem;
  --span5-f: 2.25rem;
  --misc1-f: 1.25rem;
  --misc2-f: 1.125rem;
  --point-f: "Poppins";
}
@media (min-width: 768px) {
  :root {
    --h1-f: 1.75rem;
    --h2-f: 1.25rem;
    --h3-f: 2.375rem;
    --p1-f: 1.5625rem;
    --p2-f: 1.5rem;
    --p3-f: 1rem;
    --p4-f: .875rem;
    --p5-f: .8125rem;
    --p6-f: .75rem;
    --span1-f: 1rem;
    --span2-f: .9375rem;
    --span3-f: .875rem;
    --span4-f: .75rem;
    --span5-f: 1.5rem;
    --misc1-f: .9375rem;
    --misc2-f: .75rem;
  }
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Colo r Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "sans-serif";
  font-weight: 500;
  line-height: 1.2;
}

.line_h {
  line-height: 1.5;
}

.line_th {
  text-decoration: line-through;
}

.line_under {
  text-decoration: underline;
}

.bold_f {
  font-weight: 700;
}

.point_f {
  font-family: var(--point-f);
}

/***************************************************************
    06. form
***************************************************************/
input:not([type=radio]):not([type=checkbox]) {
  padding: 1.25rem;
  font-size: var(--small-f);
  background-color: #F5F5F5;
  border-radius: 0.75rem;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  input:not([type=radio]):not([type=checkbox]) {
    font-size: var(--base-f);
  }
}
input:not([type=radio]):not([type=checkbox]):hover, input:not([type=radio]):not([type=checkbox]):focus {
  background-color: rgba(0, 180, 0, 0.05);
}

.input_block {
  position: relative;
}

/***************************************************************
    05. buttons
***************************************************************/
button:disabled {
  background: #C9C9C9;
}

.btn_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
}

.btn_fix {
  position: fixed;
  bottom: 5svh;
  width: 100%;
  padding: 0 2rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
}

.btn_b {
  border-radius: 0.75rem;
  font-size: var(--base-f);
  padding: 1.25rem 0;
  width: 100%;
  max-width: 20rem;
  line-height: 1;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .btn_b {
    max-width: 25rem;
    padding: 1.5rem;
  }
}

.btn_m {
  border-radius: 0.75rem;
  font-size: var(--base-f);
  padding: 1.25rem 0;
  width: 100%;
  max-width: 20rem;
  line-height: 1;
  overflow: hidden;
  position: relative;
  display: block;
}

.btn_round {
  border-radius: 5rem;
}

.btn_dark {
  background: #2F2F2F;
  color: #fff;
}

.btn_light {
  border: 1px solid #DFDFDF;
  background-color: #fff;
  color: #747474;
}

.btn_dark_gr {
  background: #2F2F2F;
  color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.btn_dark_gr::after {
  content: "";
  position: absolute;
  background: #00B400;
  width: 0%;
  height: 120%;
  opacity: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.75rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.btn_dark_gr:hover, .btn_dark_gr:active {
  -webkit-transform: translate(0.25rem, 0.25rem);
          transform: translate(0.25rem, 0.25rem);
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #00B400;
}
.btn_dark_gr:hover::after, .btn_dark_gr:active::after {
  opacity: 1;
  width: 100%;
}
.btn_dark_gr.hover {
  -webkit-transform: translate(0.25rem, 0.25rem);
          transform: translate(0.25rem, 0.25rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn_dark_gr.hover::after {
  opacity: 1;
  width: 100%;
}

/***************************************************************
    07. components
***************************************************************/
/***************************************************************
    08. nav
***************************************************************/
/***************************************************************
    09. popup
***************************************************************/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popup .popup_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.75rem;
  z-index: 2;
  padding: 1.5rem;
  width: 88.8889vw;
  max-width: 20rem;
}
.popup .popup_wrap .pop_title {
  font-size: var(--base-f);
  font-weight: 700;
}
.popup .popup_wrap .pop_txt {
  font-size: var(--small-f);
}
.popup .popup_con {
  max-height: 50svh;
  overflow: auto;
}
.popup .result_pop .title {
  text-align: center;
  font-size: var(--large-f);
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.popup .result_pop .dec {
  line-height: 1.5;
  font-size: var(--small-f);
  color: #747474;
  margin-bottom: 1rem;
}
.popup .result_pop .sub {
  font-size: var(--base-f);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.popup .result_pop .sub_list {
  color: #747474;
}
.popup .result_pop .sub_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-bottom: 0.5rem;
}
.popup .result_pop .sub_list li .title {
  font-size: var(--small-f);
  font-weight: 700;
  text-align: left;
  width: 5rem;
}
.popup .result_pop .sub_list li .txt {
  width: calc(100% - 5rem);
  font-size: var(--small-f);
}
.popup .pop_txt {
  color: #9F9F9F;
  padding: 0.75rem 0 1rem;
}
.popup .pop_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}
.popup .pop_btn button {
  padding: 0.8125rem;
  border-radius: 0.5rem;
  width: 100%;
}
.popup.open {
  z-index: 99;
  opacity: 1;
}

/***************************************************************
    10. header
***************************************************************/
/***************************************************************
    11. footer
***************************************************************/
/***************************************************************
    12. board
***************************************************************/
/***************************************************************
    13. main
***************************************************************/
body.open {
  height: 100svh;
  overflow: hidden;
}

body {
  margin: 0 auto;
}

/* ----------- 사용자 설문 ----------------- */
.user_wrap {
  min-height: 100svh;
  background-color: #fff;
  position: relative;
}
.user_wrap .user_header {
  height: var(--user-header);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(0.125rem);
          backdrop-filter: blur(0.125rem);
  background: rgba(255, 255, 255, 0.1);
  z-index: 9;
}
.user_wrap .user_header .left_icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
}
.user_wrap .user_header .left_icon img {
  width: 100%;
}
.user_wrap .user_header .center_title {
  font-size: var(--base-f);
}
.user_wrap .user_header .right_icon {
  width: 2rem;
}
.user_wrap .user_info {
  padding: 2rem 1.25rem;
}
.user_wrap .user_info .title {
  font-size: var(--largest-f);
  font-weight: 700;
  line-height: 1.5;
}
.user_wrap .user_info .sub_txt {
  color: #747474;
  font-size: var(--base-f);
  margin-top: 0.5rem;
}
.user_wrap .user_info .name_img {
  background-color: #F5F5F5;
  width: 100%;
  max-width: 50vw;
  aspect-ratio: 1;
  border-radius: 1rem;
  margin: 8svh auto 0;
}
.user_wrap .age_slide {
  width: 100%;
  height: 50svh;
  margin: 7svh auto;
}
.user_wrap .age_slide .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #C9C9C9;
  font-size: var(--large-f);
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.user_wrap .age_slide .swiper-slide.swiper-slide-active {
  font-size: 2rem;
  color: #00B400;
}
.user_wrap .main_question {
  text-align: center;
  padding-top: 10svh;
}
.user_wrap .main_question .question_icon {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 3.875rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  background-color: #F5F5F5;
}
.user_wrap .main_question .question_title {
  font-size: var(--large-f);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.user_wrap .main_question .main_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.user_wrap .main_question .main_list .main_slt {
  width: 33.3333vw;
  border-radius: 1rem;
  padding: 2rem 0;
  background: #F5F5F5;
  font-size: var(--base-f);
  font-weight: 700;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.user_wrap .main_question .main_list .main_slt::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1vw;
  aspect-ratio: 1.25;
  border-radius: 50%;
  background: #F2FBF2;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}
.user_wrap .main_question .main_list .main_slt:hover::after {
  width: 100vw;
}
.user_wrap .main_question .main_list .main_slt .icon {
  width: 8.8889vw;
  margin: 0 auto 2rem;
}
.user_wrap .main_question .sub_list {
  overflow: auto;
  padding: 0 2rem 8rem;
}
.user_wrap .main_question .sub_list .sub_slt {
  margin: 0 auto 1rem;
  width: 100%;
  max-width: 18.75rem;
}
.user_wrap .main_question .sub_list .sub_slt .select_icon {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: #fff;
}
.user_wrap .main_question .sub_list .sub_slt .select_txt {
  width: calc(100% - 64px);
}
@media (min-width: 768px) {
  .user_wrap .main_question .sub_list .sub_slt {
    max-width: 25rem;
  }
}
.user_wrap .main_question .sub_list .sub_slt input[type=checkbox] {
  display: none;
}
.user_wrap .main_question .sub_list .sub_slt input[type=checkbox] ~ label {
  background-color: #F5F5F5;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: var(--small-f);
  line-height: 1.5;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .user_wrap .main_question .sub_list .sub_slt input[type=checkbox] ~ label {
    font-size: var(--base-f);
  }
}
.user_wrap .main_question .sub_list .sub_slt input[type=checkbox] ~ label::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #F2FBF2;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}
.user_wrap .main_question .sub_list .sub_slt input[type=checkbox]:checked ~ label {
  font-weight: 700;
  background-color: #fff;
}
.user_wrap .main_question .sub_list .sub_slt input[type=checkbox]:checked ~ label::after {
  content: "";
  width: 100vw;
}

.onboarding {
  display: grid;
  text-align: center;
  height: 100svh;
  -ms-flex-line-pack: center;
      align-content: center;
}
.onboarding .on_img {
  width: 88.8889vw;
  max-width: 25rem;
  margin: 0 auto;
  position: relative;
}
.onboarding .on_img::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(60%, #fff));
  background: linear-gradient(transparent 20%, #fff 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40svh;
}
.onboarding .on_txt {
  font-size: var(--large-f);
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  bottom: 5svh;
}

.loading {
  display: grid;
  height: 100svh;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
}
.loading .loading_ani {
  width: 70vw;
}
.loading .loading_ani lottie-player {
  margin: 0 auto;
}
.loading .loading_ani .checkani {
  max-width: 7.5rem;
}
.loading .title {
  font-size: var(--large-f);
  font-weight: 700;
  line-height: 1.5;
}
.loading .sub {
  font-size: var(--small-f);
  color: #747474;
  margin-top: 1rem;
  line-height: 1.5;
}

.result_block {
  padding: 2rem 1.25rem 0;
  overflow-x: hidden;
}
.result_block .result_no {
  font-size: var(--small-f);
  color: #747474;
}
.result_block .result_tap {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.result_block .result_tap .tab_btn {
  background-color: #2F2F2F;
  color: #fff;
  padding: 0.75rem 1rem;
  font-size: var(--small-f);
  line-height: 1;
  border-radius: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.result_block .result_tap .tab_btn::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: #00B400;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.75rem;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.result_block .result_tap .tab_btn.active {
  background-color: #00B400;
  -webkit-box-shadow: 0.25rem 0.25rem 0 rgba(18, 161, 18, 0.1);
          box-shadow: 0.25rem 0.25rem 0 rgba(18, 161, 18, 0.1);
}
.result_block .result_tap .tab_btn:hover {
  -webkit-transform: translate(0.25rem, 0.25rem);
          transform: translate(0.25rem, 0.25rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.result_block .result_tap .tab_btn:hover::after {
  width: 100%;
  opacity: 1;
}
.result_block .result_name {
  font-size: var(--base-f);
}
.result_block .tab_contents {
  margin: 2rem 0;
}
.result_block .tab_contents .result_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.result_block .tab_contents .result_main .icon {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: #F5F5F5;
}
.result_block .tab_contents .result_main .title {
  font-size: var(--largest-f);
  font-weight: 700;
}
.result_block .tab_contents .result_sub {
  margin: 2rem 0;
}
.result_block .tab_contents .result_sub .title {
  font-size: var(--large-f);
}
.result_block .tab_contents .result_sub .sub_txt {
  padding-left: 1rem;
}
.result_block .tab_contents .result_sub .sub_txt li {
  margin: 1rem 0;
  font-size: var(--base-f);
  padding-left: 0.5rem;
  position: relative;
}
.result_block .tab_contents .result_sub .sub_txt li::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #C9C9C9;
  position: absolute;
  left: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.result_block .tab_contents .rcmd_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F5F5F5;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  margin: 2rem 0;
}
.result_block .tab_contents .rcmd_item .item_data {
  width: 25%;
}
.result_block .tab_contents .rcmd_item .item_data .item_img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto 1rem;
}
.result_block .tab_contents .rcmd_item .item_data .item_name {
  text-align: center;
  font-size: var(--smaller-f);
}
.result_block .tab_contents .rcmd_more {
  margin: 2rem 0;
}
.result_block .tab_contents .rcmd_more .rcmdBtn {
  margin: 0 auto 1rem;
}
.result_block .tab_contents .rcmd_more .rcmdBtn .down {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.result_block .tab_contents .rcmd_more .rcmdBtn.rcmd_open .down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.result_block .tab_contents .rcmd_more .rcmd_detail {
  background-color: #F5F5F5;
  padding: 1px 1.5rem;
  border-radius: 1rem;
}
.result_block .tab_contents .rcmd_more .rcmd_detail .more_txt {
  font-size: var(--base-f);
  line-height: 1.5;
  margin: 2rem 0;
}
.result_block .tab_contents .rcmd_more .rcmd_detail .more_txt span {
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}
.result_block .tab_contents .advice {
  margin: 2rem 0;
}
.result_block .tab_contents .advice .title {
  font-size: var(--large-f);
  font-weight: 700;
}
.result_block .tab_contents .advice .advice_list .advice_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F5F5F5;
  padding: 1.25rem 0;
}
.result_block .tab_contents .advice .advice_list .advice_data .advice_txt {
  width: 80%;
}
.result_block .tab_contents .advice .advice_list .advice_data .adviceBtn {
  font-size: var(--small-f);
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #F5F5F5;
  color: #747474;
  border: 1px solid #DFDFDF;
}
.result_block .btn_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F5F5F5;
  width: calc(100% + 2.5rem);
  -webkit-transform: translateX(-1.25rem);
          transform: translateX(-1.25rem);
  padding: 2rem 0;
  gap: 0.5rem;
}