.font_s{font-size:.875rem;}
.font_s2{font-size:.625rem; color:#da0000;}
.font_m{font-size:1.5rem;}
.font_m2{font-size:1.25rem; margin-bottom:20px;}


/*평가인증 컨설팅*/
.consulting{margin-bottom:100px;}
.bg_ract{display:block; width:100px; height:100px; background:#ff8286; position:absolute; transform:rotate(45deg); top:-70px; left:-70px;}

.consulting .ul_service{flex-wrap:wrap;}
.consulting .ul_service li{width:49%; justify-content:flex-start; background:#f5f5f5; margin-bottom:20px;}

.consulting .ul_service .table_side{position:relative; background:#52bdb5; width:16%; color:#fff; padding:18px; font-size:3rem; font-weight:100; display:flex; justify-content:flex-end; align-items:flex-end; overflow:hidden;}
.consulting .ul_service .table_txt{padding:30px; width:84%;}

.consulting .ul_table{}
.consulting .ul_table li{width:50%; border-top:2px solid #52bdb5; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.consulting .ul_table li:last-child{border-right:0}
.consulting .ul_table_th{text-align:center; padding:20px 0; border-bottom:1px solid #ddd; font-weight:500; font-size:1.125rem}
.consulting .ul_table_td{padding:20px;}
.consulting .ul_table_td p{background:url(../images/table_pd_bg.png) no-repeat left 12px; padding-left:10px; margin-bottom:10px;}
.consulting .ul_table_etc{background:#f5f5f5; padding:30px;}
.consulting .ul_table_etc .title{font-size:1.125rem; font-weight:500; margin-bottom:20px;}
.consulting .ul_table_etc p{margin-bottom:20px;}



.consulting .process{flex-wrap:wrap;}
.consulting .process li{width:19%; justify-content:flex-start; margin-bottom:30px;}
.consulting .process .con_process_icon{}
.consulting .process .con_process_txt{width:100%;}
.consulting .process .prc_no{width:35%; letter-spacing:-1px; text-align:right; padding-right:5px;}
.consulting .process .prc_txt{width:65%; word-break:keep-all; padding-top:4px;}

.consulting .ul_list{}
.consulting .ul_list li{width:24%; position:relative; overflow:hidden; text-align:center; padding:40px 30px 30px;}
.consulting .ul_list .con_bg01{background:#f5f5f5 url(../images/con_bg1.png) no-repeat center 40px;}
.consulting .ul_list .con_bg02{background:#f5f5f5 url(../images/con_bg2.png) no-repeat center 40px;}
.consulting .ul_list .con_bg03{background:#f5f5f5 url(../images/con_bg3.png) no-repeat center 40px;}
.consulting .ul_list .con_bg04{background:#f5f5f5 url(../images/con_bg4.png) no-repeat center 40px;}
.consulting .ul_list p{font-weight:500; font-size:1.125rem; padding-top:50px; margin-bottom:10px;}
.consulting .ul_list span{display:block;}

.consulting .ul_step{border-top:2px solid #52bdb5;}
.consulting .ul_step li{justify-content:flex-start; width:100%; padding:20px; border-bottom:1px solid #ddd;}
.consulting .ul_step .step_no{width:14%; text-align:right; font-size:3rem; font-weight:100;}
.consulting .ul_step .step_no span{display:inline-block; width:1px; background:#ddd; height:36px; margin:0 20px}
.consulting .ul_step .step_txt{width:86%;}
.consulting .ul_step .step_txt p{font-weight:500; margin-bottom:20px;}
.consulting .ul_step .step_txt span{display:block;}

.consulting .write_form{border-top:2px solid #52bdb5;}



/*적정성평가*/
.consulting .full_table{border-top:2px solid #52bdb5;  text-align:center; margin-bottom:20px;}
.consulting .full_table th{text-align:center !important; font-size:1.125rem; font-weight:500;}
.consulting .full_table th, .consulting .full_table td{border-bottom:1px solid #ddd; padding:16px;}
.consulting .full_table .table_borderl{border-left:1px solid #ddd; text-align:left;}
.consulting .full_table .table_bg{background:#f9f9f9;}
.consulting .full_table .table_borderl2{border-left:1px solid #ddd;}
.consulting .full_table .text_l{text-align:left !important;}
.consulting .full_table .table_borderr{border-right:1px solid #ddd;}


.consulting .popup_btn{text-align:center;}
.consulting .popup_btn a{display:inline-block; font-size:1.5rem; padding:20px 40px; background:#52bdb5; color:#fff; border-radius:42px; transition: all 0.2s ease-in-out;}
.consulting .popup_btn a:hover{text-decoration:none; background:#ff8286; transition: all 0.2s ease-in-out;}

.consulting .ul_list2{flex-wrap:wrap;}
.consulting .ul_list2 li{background:#f5f5f5; padding:30px; width:49%; margin-bottom:2% ;position:relative; overflow:hidden;}
.consulting .ul_list2 li .title{margin-bottom:0; background:none; font-weight:500; font-size:1.125rem; padding-lefT:0;}
.consulting .ul_list2 li p{background: url(../images/table_pd_bg.png) no-repeat left 12px; padding-left:10px; margin-bottom:10px;}
.consulting .ul_list2 .color_blue{margin-bottom:20px;display:block;}





@media screen and (max-width: 1024px) {
    
    .consulting .ul_service .table_txt{padding:20px;}

    .consulting .process li{width:30%;}
    .consulting .process .prc_no{width:24%;}
    .consulting .process .prc_txt{width:76%; padding-top:7px;}
    
}




@media screen and (max-width: 768px) {
    
    .font_s{font-size:.75rem;}
    .font_m{font-size:1.25rem;}
    .font_m2{font-size:1rem; margin-bottom:20px;}

    .consulting .ul_service .table_txt{padding:20px;}
    .consulting .ul_table_th{padding:12px;}
    
    .consulting .ul_list li{padding:30px 20px 20px; background-position:center 30px !important;}
    .consulting .ul_list p{font-size:1rem; margin-bottom:5px;}
    
    .consulting .ul_step .step_no{font-size:2.5rem;}
    .consulting .ul_step .step_no span{height:30px;}
    .consulting .ul_step .step_txt p{margin-bottom:10px;}
    
    .consulting .full_table th{font-size:1rem;}
    
    .consulting .ul_list2 li .title{font-size:1rem;}

    
}

@media screen and (max-width: 425px) {

    
    .consulting{margin-bottom:50px;}

    .consulting .ul_service li{width:100%;}
    .consulting .ul_service .table_side{font-size:2rem; padding:10px;}
    
    .consulting .ul_table{flex-wrap:wrap;}
    .consulting .ul_table li{width:100%; border-right:0;}
    .consulting .ul_table_th{font-size:1rem;}
    .consulting .ul_table_etc{padding:20px;}
    .consulting .ul_table_etc .title{font-size:.875rem;}
    
    .consulting .process li{width:48%;}
    .consulting .process .con_process_icon{width:34%; padding-right:5px;}
    .consulting .process .con_process_icon img{width:100%;}
    .consulting .process .con_process_txt{width:66%;}
    .consulting .process .prc_no{width:30%; padding-right:0;}
    .consulting .process .prc_txt{width:70%; padding-left:5px; padding-top:4px;}
    
    .consulting .ul_list{flex-wrap:wrap;}
    .consulting .ul_list li{width:48%; margin-bottom:4%; padding:20px 10px 20px; background-position:center 20px !important;}
    
    .consulting .ul_step li{padding:20px 0;}
    .consulting .ul_step .step_no{width:20%; font-size:2rem;}
    .consulting .ul_step .step_no span{height:23px; margin:0 10px;}
    .consulting .ul_step .step_txt{width:80%; padding-right:10px;}
    .consulting .ul_step .step_txt img{width:100%;}
    
    
    .consulting .full_table th{font-size:.875rem;}
    .consulting .full_table td{font-size:.75rem;}
    .consulting .full_table th, .consulting .full_table td{padding:10px;}
    
    .consulting .popup_btn a{font-size:.875rem; padding:10px 20px; transition: all 0.2s ease-in-out;}

    .consulting .ul_list2 li{width:100%; margin-bottom:20px; padding:20px;}

}







