#contents{}


/*slide*/
#contents .slide_banner{width:100%; position:relative; z-index:1;}
#contents .slide_banner .slide_list{position:relative; overflow:hidden;}
#contents .slidebg1{background:#e5f5f5;}
#contents .slidebg2{background:#fff3f3;}
#contents .slidebg3{background:#efeeec;}
#contents .slidebg4{background:#ccdbee;}
#contents .slideimg{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; overflow:hidden;}
#contents .slideimg img{object-fit: cover; width:100%; max-width:1260px;}

#contents .slide_tab{position:relative; top:-70px; margin-bottom:70px; z-index:2;}
#contents .slide_tab li{width:25%; background:#eee; text-align:center;}
#contents .slide_tab li a{display:block; height:200px; color:#fff; font-size:1.5rem; padding-top:40%;}
#contents .slide_tab li a:hover{text-decoration:none;}
#contents .slide_tab li a.slide_tab1{background:#ff8286 url(../images/slidetab01.png) no-repeat center 30%;}
#contents .slide_tab li a.slide_tab2{background:#52bdb5 url(../images/slidetab02.png) no-repeat center 30%;}
#contents .slide_tab li a.slide_tab3{background:#2682c4 url(../images/slidetab03.png) no-repeat center 30%;}
#contents .slide_tab li a.slide_tab4{background:#7e5fbb url(../images/slidetab04.png) no-repeat center 30%;}
#contents .slide_tab li a.slide_tab1:hover{background:#f9f9f9 url(../images/slidetab01_on.png) no-repeat center 30%; color:#ff8286}
#contents .slide_tab li a.slide_tab2:hover{background:#f9f9f9 url(../images/slidetab02_on.png) no-repeat center 30%; color:#52bdb5}
#contents .slide_tab li a.slide_tab3:hover{background:#f9f9f9 url(../images/slidetab03_on.png) no-repeat center 30%; color:#2682c4}
#contents .slide_tab li a.slide_tab4:hover{background:#f9f9f9 url(../images/slidetab04_on.png) no-repeat center 30%; color:#7e5fbb;}





/*vod*/
#contents .movie{}
#contents .movie .movie_view{width:60%; max-width:730px;}
#contents .movie .movie_view .video_wrap{width:100%; height:415px;}
#contents .movie .video_wrap iframe, #contents .movie ul .movie_s iframe{width:100%; height:100%;}


#contents .movie .movie_list{width:40%; bordeR:1px solid #ddd; padding:36px 30px; height:415px; overflow:hidden; align-items:center;}
#contents .movie .movie_list li{margin-bottom:20px}
#contents .movie .movie_list li:last-child{margin-bottom:0;}
#contents .movie .movie_list .movie_thumb{width:100%; max-width:170px;}
#contents .movie .movie_list .movie_thumb .video_wrap{width:100%; height:100px;}
#contents .movie .movie_list .movie_title{width:100%; max-width:250px;}
#contents .movie .movie_list .movie_title a{display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; word-break:break-all; overflow:hidden;}
#contents .movie .movie_list li span{font-size:.75rem; display:block; margin-top:10px; color:#999;}





/*wide*/
#contents .wide_con{max-height:312px; width:100%; margin:80px 0; background:url(../images/wide_bg.png) no-repeat 90% bottom, linear-gradient(90deg, #f7f8e8 50%, #f8f0f0 50%);}
#contents .wide_con .wide_txt{font-size:.875rem;}
#contents .wide_con .book{width:50%; padding:30px; position:relative;}
#contents .wide_con .book h2{position:absolute; left:230px; z-index:9;}
.swiper-wrapper{height:auto !important;}
.swiper-container{}
.swiper-slide .book_img{width:40%; max-width:200px; height:250px; overflow:hidden; object-fit: cover; }
.swiper-slide .book_img img{width:100%;}
.swiper-slide .book_text{width:70%; padding-top:90px; overflow:hidden;}
.swiper-slide .book_text .book_title_s{color:#2682c4;}
.swiper-slide .book_text .book_title_b{font-size:1.125rem; font-weight:500}
.swiper-slide .book_text .book_info{font-size:.875rem; color:#666; padding-top:30px;}

.swiper-container .nav_btn{position:absolute; top:0; right:0; width:70px;}
.swiper-container .nav_btn i, #contents .class_1 .nav i{font-size:.75rem; color:#999; transition:all 0.2s ease-in-out}
.swiper-button-next, .swiper-button-prev{width:30px; height:30px; background:#fff; border-radius:50%; transition:all 0.2s ease-in-out}
.swiper-button-next:hover i, .swiper-button-prev:hover i, #contents .class_1 .nav_pre:hover i, #contents .class_1 .nav_next:hover i{color:#fff; transition:all 0.2s ease-in-out}
.swiper-button-next:hover, .swiper-button-prev:hover, #contents .class_1 .nav_pre:hover, #contents .class_1 .nav_next:hover{background:#ff8286; transition:all 0.2s ease-in-out}

#contents .wide_con .consulting{width:50%; padding:40px 0; text-align:center;}
#contents .wide_con .consulting h2{margin-bottom:20px;}
#contents .wide_con .consulting ul{margin:20px auto 0; width:460px;}
#contents .wide_con .consulting li{width:100px; height:100px;}
#contents .wide_con .consulting li a{font-weight:500; display:block; width:100%; height:100%; border-radius:50%; background:#fff; padding-top:26%;  box-shadow:0 0 5px #eee; transition:all  0.2s ease-in-out}
#contents .wide_con .consulting li a:hover{text-decoration:none; box-shadow:0 0 10px #f0d8d8; transition:all 0.2s ease-in-out}






/*class*/
#contents .class_1{border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-bottom:80px;}
#contents .class_1 .class_title{background:#edf4f8 url(../images/classbg.png) no-repeat; max-width:280px; height:325px; width:30%; position:relative;}
#contents .class_1 .class_title h2{margin-top:20px;}
#contents .class_1 .class_list{width:80%; padding:30px 0 0 40px;}
#contents .class_1 .class_list li{width:25%; max-width:216px;}
#contents .class_1 .nav{position:absolute; bottom:30px; right:30px;}
#contents .class_1 .nav > div{background:#fff; width:30px; height:30px; border-radius:50%; cursor: pointer; align-items:center;justify-content:center;display:flex;}
#contents .class_1 .nav_next{margin-left:10px;}
#contents .class1_tuhmb{border:1px solid #ddd;}
#contents .class1_tuhmb img{width:100%;}
#contents .class_cate{font-size:.875rem; color:#999; margin:10px 0;}
#contents .class_cate a{color:#999;}
#contents .class_subject{display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; word-break:break-all; overflow:hidden;}

#contents .class_2{margin-bottom:80px; position:relative;}
#contents .class_2 li{width:20%; max-width:230px;}

#contents .class_2 .more{position:absolute; top:40px; right:0; font-size:.875rem;}
#contents .class_2 .more a{color:#999;}




/*CS*/
#contents .customer{border-top:1px solid #ddd; padding:50px 0;}
#contents .cs_center{width:40%; max-width:520px;}
#contents .cs_center h2{text-align:left; margin-bottom:0;}
#contents .cs_center .call a, #contents .cs_center .call{color:#ff8286; font-size:3rem; text-decoration:none;}
#contents .cs_center .call_time span{display:inline-block; width:1px; height:10px; background:#999; margin:0 10px;}
#contents .customer .cs_quick{width:60%;}
#contents .customer .cs_quick ul{margin-top:10px;}
#contents .customer .cs_quick li{width:20%; max-width:140px; text-align:center; height:120px; border:1px solid #ddd;}
#contents .customer .cs_quick li:hover{border:2px solid #2682c4;}
#contents .customer .cs_quick li a{display:block; height:100%; height:100%; padding-top:70px; font-weight:500; font-size:1.125rem;}
#contents .customer .cs_quick li a:hover{text-decoration:none; color:#222;}
#contents .customer .cs_quick a.cs_quick1{background:url(../images/csquick01.png) no-repeat center 24px;}
#contents .customer .cs_quick a.cs_quick2{background:url(../images/csquick02.png) no-repeat center 24px;}

#contents .customer .cs_quick a.cs_quick3{background:url(../images/csquick03.png) no-repeat center 24px;}

#contents .customer .cs_quick a.cs_quick4{background:url(../images/csquick04.png) no-repeat center 24px;}

#contents .customer .cs_quick a.cs_quick5{background:url(../images/csquick05.png) no-repeat center 24px;}










@media screen and (max-width: 1024px) {
    /*slide*/
    #contents .slide_tab{margin-bottom:0;}
    #contents .slide_tab li a{height:170px; font-size:1.25rem; padding-top:45%;}
    
    /*movie*/
    #contents .movie .movie_view{max-width:560px;}
    #contents .movie .movie_view .video_wrap{height:314px;}
    #contents .movie .movie_list{height:314px; padding:20px;}
    #contents .movie .movie_list li{margin-bottom:16px;}
    #contents .movie .movie_list .movie_thumb{max-width:120px;}
    #contents .movie .movie_list .movie_thumb .video_wrap{height:80px;}
    #contents .movie .movie_list .movie_title{max-width:210px;}
    #contents .movie .movie_list li span{margin-top:8px;}
    
    /*wide*/
    #contents .wide_con{background:linear-gradient(90deg, #f7f8e8 50%, #f8f0f0 50%);}
    #contents .wide_con .book{padding:20px;}
    #contents .wide_con .book h2{left:180px; top:30px;}
    .swiper-slide .book_img{height:auto;}
    .swiper-slide .book_text{padding-top:80px;}
    .swiper-slide .book_text .book_info{padding-top:20px;}
    #contents .wide_con .consulting{padding:20px 0;}
    #contents .wide_con .consulting h2{margin-bottom:10px;}
    #contents .wide_con .consulting ul{margin:10px auto 0; width:420px;}
    #contents .wide_con .consulting li{width:90px; height:90px;}
    #contents .wide_con .consulting li a{padding-top:30%;}
    
    
    /*class*/
    .class_1 .con_in{padding:0; width:100%; max-width:1024px;}
    #contents .class_1 .class_title{max-width:220px; height:auto; background-size:cover; background-position:center bottom;}
    #contents .class_1 .nav{bottom:20px; right:20px;}
    #contents .class_1 .class_list{padding:30px;}
    #contents .class_1 .class_list li{max-width:170px;}
    #contents .class_2 li{max-width:180px;}
    #contents .class_2 .more{right:20px; top:30px;}
    
    
    /*customer*/
    #contents .customer{padding:30px 0;}
    #contents .cs_center{width:30%; max-width:300px;}
    #contents .cs_center .call a, #contents .cs_center .call{font-size:2.5rem;}
    #contents .customer .cs_quick{width:70%;}
    #contents .customer .cs_quick ul{margin-top:23px;}
    #contents .customer .cs_quick li{max-width:120px; height:100px;}
    #contents .customer .cs_quick li a{padding-top:60px; font-size:.875rem; background-position:center 20px !important;}
}


/*mobile*/
@media screen and (max-width: 768px) {
    h2{font-size:1.5rem;}
    /*slide*/
    #contents .slide_tab{top:-50px; max-width:680px; margin:0 auto; width:100%;}
    #contents .slide_tab .grid_flex{align-items:center; border:1px solid #ddd; background:#fff;}
    #contents .slide_tab li{border-right:1px solid #ddd;  background:#fff;}
    #contents .slide_tab li:last-child{border-right:0;}
    #contents .slide_tab li a{background-color:#fff !important; height:auto; padding:10px 0; background-image:none !important; color:#555; font-size:.75rem;}
    #contents .slide_tab li a.select{color:#2682c4;}
    
    
    #contents .movie .movie_view{width:100%; max-width:680px; margin:0 auto;}
    #contents .movie .movie_view .video_wrap{}
    
    /*wide*/
    #contents .wide_con{background:none; min-height: 500px;}
    #contents .wide_con > .grid_flex{flex-direction:column; padding:0; max-width:768px;}
    #contents .wide_con .book{width:100%; background:#f7f8e8;}
    #contents .wide_con .book h2{left:50%; top:50px; margin-lefT:-18%;}
    #contents .wide_con .consulting{width:100%; background:#f8f0f0;}
    #contents .wide_con .consulting ul{margin:20px auto 0;}
    #contents .wide_con .consulting li a{font-size:.875rem;}
    
    /*class*/
    #contents .class_1{border:none; margin-bottom:50px;}
    #contents .class_1 > .grid_flex{flex-direction:column;}
    #contents .class_1 .class_title{width:100%; max-width:768px; background:none;}
    #contents .class_1 .class_title h2{margin-top:20px; line-height:1rem;}
    #contents .class_1 .nav{bottom:10px;}
    #contents .class_1 .nav > div{background:#eee;}
    #contents .class_1 .class_list{padding:16px 8px; width:100%;}
    #contents .class_cate{font-size:.75rem; margin:5px 0;}
    #contents .class_subject{font-size:.875rem;}
    #contents .class_2 li{max-width:130px;
    }
    #contents .class_2 .more{top:20px; font-size:.75rem;}
    
    
    
    /*customer*/
    #contents .customer > .grid_flex{flex-direction:column;}
    #contents .cs_center{width:100%;}
    #contents .cs_center .call a, #contents .cs_center .call{font-size:2rem;}
    #contents .cs_center .call_time{font-size:.75rem;}
    #contents .customer .cs_quick{width:100%;}
}

@media screen and (max-width: 425px) {
    
    /*slide*/
    
    #contents .slide_banner{margin-bottom:50px;}
    #contents .slide_banner .slide_tab{display:none;}
    
    /*movie*/
    #contents .movie .movie_view .video_wrap{height:200px;}
    
    
    /*wide*/
    #contents .wide_con{margin:50px 0;}
    #contents .wide_con .book h2{margin-left:-13%; top:30px;}
    .swiper-slide .book_text .book_info{display:none;}
    #contents .wide_con .book .nav_btn{display:none;}
    .swiper-slide .book_text{padding-top:70px;}
    .swiper-slide .book_text .book_title_s{font-size:.75rem;}
    .swiper-slide .book_text .book_title_b{font-size:.825rem;}
    #contents .wide_con .consulting .grid_flex{flex-wrap:wrap;}
    #contents .wide_con .consulting ul{width:240px; padding:0 20px;}
    #contents .wide_con .consulting li{margin-bottom:20px;}
    #contents .wide_con .wide_txt{font-size:.75rem;}
    #contents .wide_con .consulting li a{font-size:.875rem; padding-top:28px;}
    
    
    /*class*/
    #contents .class_1{margin-bottom:10px;}
    #contents .class_1 .nav{display:none;}
    #contents .class_list .grid_flex, #contents .class_2 .grid_flex{flex-wrap:wrap;}
    #contents .class_1 .class_list li, #contents .class_2 li{width:50%; margin-bottom:30px; padding:0 4px; max-width: 250px;}
    #contents .class_2{margin-bottom:30px;}
    #contents .class_2 li:last-child{display:none;}
    #contents .class_2{padding:0 8px;}
    #contents .class_subject{height:40px;}
    
    /*customer*/
    #contents .customer .cs_quick .grid_flex{flex-wrap:wrap;}
    #contents .customer .cs_quick ul{border:1px solid #ddd;}
    #contents .customer .cs_quick li{width:50%; max-width:200px; height:auto; text-align:left; border:0;}
    #contents .customer .cs_quick li a{padding:10px 10px 10px 53px; background-position:20px center !important; background-size:10% !important; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
    #contents .customer .cs_quick li:hover{border:none;}
    #contents .customer .cs_quick li:nth-child(2n) a{border-right:none;}
    #contents .customer .cs_quick li:nth-child(5) a{border-bottom:none;}
    
    #contents .cs_center .call_time{font-size:.875rem;}
}









    