/*font*/
h1{display:block; width:100%; font-size:3rem;}
h2{text-align:left; color:#7e5fbb; font-weight:600; margin-bottom:0;}
.font_l{font-size:1.875rem;}
.font_m{font-size:1.5rem;}
.font_s{font-size:.875rem;}
.font_sbj{font-size:1.25rem; font-weight:600; margin-bottom:10px;}
.font_bold{font-weight:600;}
.color_purple, .block_div li span{color:#7e5fbb; font-weight:500}



/*과제제출*/
#my_popup{width:100%; margin:0 auto; background:#f1f1f1; font-size:1.125rem; padding-bottom:1px;}
.popup_header{ padding:50px 0; background: background: rgb(126,95,187); background: linear-gradient(295deg, rgba(126,95,187,1) 0%, rgba(126,95,187,1) 50%, rgba(38,130,196,1) 100%); color:#fff; text-align:center}
.popup_header p{font-size:1.5rem;}

.popup_notice{background:#fff; width:100%; max-width:960px; margin:20px auto; padding:50px;}
.block_div{margin:50px 0; line-height:200%;}
.block_div ul{padding-left:20px;}
.block_div ul > li{margin-bottom:16px;}
.block_div ul > li > ul > li{font-size:1rem; margin-bottom:5px;}
.list_type1{list-style:disc;}
.list_type2{list-style:revert; }
.list_type3{list-style:decimal;}

.agree_check{width:100%; background:#fff; margin:20px auto; max-width:960px; padding:20px 30px;}
.agree_check input[type="checkbox"]{margin-right:5px;}


.popup_contents{background:#fff; width:100%; max-width:960px; margin:20px auto; padding:20px;}
.tabs{margin-top:30px; position:relative; width:100%; flex-wrap:wrap; border:1px solid #ddd;}
.tab{width:100%;}
.tab > label{position:absolute; padding:20px 0; width:50%; display:block; cursor:pointer; text-align:center; top:0; border-bottom:5px solid #7e5fbb;}
.tab .right_label{right:0;}
.tab input[type="radio"]{display:none;}
.tab .content{display:none; padding:30px; margin-top:71px; background:#fff; flex-wrap:wrap;}
.tab .content p{display:inline-block;}
.tab .content .flie_block{display:flex; align-items: center; flex-wrap:wrap;}
.tab .content .flie_block span{width:3px; background:#555; display:inline-block; margin:0 20px; height:.875rem;}
.tab .content .flie_block:nth-child(2)::before{content:''; display:block; width:100%; border:1px solid #ddd; margin:30px 0;}
.tab [type="radio"]:checked ~ label{background:#7e5fbb; z-index:2; color:#fff;}
.tab [type="radio"]:checked + label + .content{z-index:1; display:block;}
.file_btn{display:inline-block; width:50%;}
.file_btn a{text-decoration:underline; color:#7e5fbb; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; width:100%; display:inline-block;}
.file_btn i{color:#7e5fbb;}
.file_btn label{display:inline-block; padding:15px 40px; color:#222; font-size:1rem; cursor:pointer; border:3px solid #7e5fbb; transition:all 0.1s ease-in-out;}
.file_btn label i{margin-left:5px; font-size:.875rem;}
.file_btn label:hover, .file_btn label:hover i{background:#7e5fbb; color:#fff; transition:all 0.1s ease-in-out;}
.file_btn input[type="file"]{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.tab textarea{margin-top:20px; width:100%; border:1px solid #ddd; resize:vertical; padding:20px;}
.tab textarea:hover{border:1px solid #7e5fbb;}
.tabs_notice{margin-top:30px; background:#f9f9f9; padding:20px; line-height:150%;}




/*btn*/
button{cursor:pointer}
.btn{width:100%; max-width:960px; justify-content:center; margin:50px auto;}
.btn button{font-size:1.5rem; color:#fff; cursor:pointer; line-height:100%; padding:20px  40px; border-radius:32px; margin:0 10px}
.btn button.btn_purple{background:#7e5fbb;-webkit-transition:all 0.1s ease-in-out; -o-transition:all 0.1s ease-in-out; transition:all 0.1s ease-in-out;}
.btn button.btn_purple:hover{background:#2682c4;-webkit-transition:all 0.1s ease-in-out; -o-transition:all 0.1s ease-in-out; transition:all 0.1s ease-in-out;}

.btn button.btn_gray{background:#555;-webkit-transition:all 0.1s ease-in-out; -o-transition:all 0.1s ease-in-out; transition:all 0.1s ease-in-out;}
.btn button.btn_gray:hover{background:#999;-webkit-transition:all 0.1s ease-in-out; -o-transition:all 0.1s ease-in-out; transition:all 0.1s ease-in-out;}

.flie_btn{padding:15px 40px; font-size:1rem; font-weight:500;}

.check_btn{margin:30px 0;}
.check_btn button{padding:16px 30px 16px 50px; transition:all 0.1s ease-in-out; color:#fff;}
.check_btn button:hover{opacity:.9;}
.check_btn button.check_m{background:#323232 url(../_images/my_btn1.png) no-repeat 20px center;}
.check_btn button.check_ipin{background:#323232 url(../_images/my_btn2.png) no-repeat 16px center;}

.check_btn2{margin:20px 0; padding-bottom:10px; border-bottom:1px solid #ddd;}
.check_btn2 p{margin:10px 0; display:flex; align-items:center;}
.check_btn2 p span{width:20%;}
.check_btn2 button{padding:10px 30px; background:#323232; color:#fff; margin-left:10px;  transition:all 0.1s ease-in-out;}
.check_btn2 button:hover{opacity:.9;}
.check_btn2 input{border:1px solid #ddd; padding:10px;}

.edit_mypage{padding:10px 20px; border:1px solid #999; transition:all 0.1s ease-in-out;}
.edit_mypage:hover{opacity:.8;}



/*자동등록방지인증 팝업*/
#captcha_popup{width:400px; margin:0 auto; border:1px solid #ddd;}
#captcha_popup .top_h1{color:#fff; border-bottom:1px solid #ddd; padding:20px 10px; background:#7e5fbb}
#captcha_popup .top_h1 h1{font-size:1.25rem; line-height:100%; width:80%;}
#captcha_popup .top_h1 .info_link a{font-size:.75rem; display:inline-block; background:#fff; color:#222; line-height:100%; padding:5px 10px;}
#captcha_popup .top_h1 .info_link a:hover{text-decoration:none; opacity:.9;}
#captcha_popup .info_text{text-align:center; padding:20px; font-size:.875rem; line-height:200%;}
#captcha_popup .info_text .font_m{font-size:1rem; font-weight:500;}
#captcha_popup .info_text .dashed_line{margin:20px 0; border-bottom:1px dashed #ddd;}
#captcha_popup .info_text .capt_img{border:1px solid #ddd;margin-top:20px; padding:20px;  background:#f9f9f9;}
#captcha_popup .info_text .capt_img img{border:1px solid #999;}
#captcha_popup .info_text .capt_img .capt_btn{margin:20px 0; border-bottom:1px dashed #ddd; padding-bottom:20px;}
#captcha_popup .info_text .capt_img .capt_btn button{border:1px solid #999; line-height:100%; margin:0 5px; padding:8px 20px; background:#fff; color:#222; transition:all 0.1s ease-in-out;}
#captcha_popup .info_text .capt_img .capt_btn button:hover{background:#999; color:#fff;}
#captcha_popup .info_text .capt_img input{border:1px solid #999; padding:8px 10px; width:150px;}
#captcha_popup .info_text .capt_img .capt_sumbmit{border:1px solid #7e5fbb; line-height:100%; margin:0 5px; padding:10px 20px; background:#7e5fbb; color:#fff; transition:all 0.1s ease-in-out;}
#captcha_popup .info_text .capt_img .capt_sumbmit:hover{opacity:.8;}



/*평가*/
.popup_contents .con_block{margin-bottom:50px; font-weight:500;}
.popup_contents .question_block{font-weight:400;  line-height:200%; font-size:1rem; margin-top:10px;}
.popup_contents .con_block .question_block input[type="radio"]{vertical-align:middle; margin-right:5px;}
.popup_contents .con_block .question_block input[type="text"]{padding:15px 20px; border:1px solid #ddd; width:100%;}


/*평가*/
#my_popup .popup_test{width:1200px; margin:0 auto;}
#my_popup .test_sidebar{width:220px; margin:20px 0; background:#fff;}
#my_popup .test_sidebar .test_time{background:#222; color:#fff; padding:20px 30px;}
#my_popup .test_sidebar .test_time .clock{font-size:3rem; font-weight:600;}
#my_popup .test_sidebar .check_answer{margin-top:20px;}
#my_popup .test_sidebar .check_answer .block_check{font-size:.875rem; border-top:1px solid #ddd;}
#my_popup .test_sidebar .check_answer .block_check li{border-bottom:1px solid #ddd; display:flex;}
#my_popup .test_sidebar .check_answer .block_check .check_q{padding:10px 15px; border-right:1px solid #ddd; background:#f9f9f9; width:35%;}
#my_popup .test_sidebar .check_answer .block_check .check_a{padding:10px; width:65%;}







/*mobile*/
@media screen and (max-width: 768px) {
    #my_popup{font-size:1rem;}
    .block_div ul > li > ul{font-size:.875rem;}
    
    /*btn*/
    .check_btn button{padding:16px 20px 16px 40px; font-size:.75rem;}
    .check_btn button.check_m{background-size:10px;}
    .check_btn button.check_ipin{background-size:20px; background-position:12px center;}
    
    .check_btn2 p span{width:30%;}
}

@media screen and (max-width: 425px) {
    h1{font-size:2rem;}
    h2{font-size:1.5rem;}
    .font_l{font-size:1.5rem;}
    .font_m{font-size:1.125rem;}
    .font_s{font-size:.75rem;}
    .popup_header p{font-size:1rem;}
    
    
    /*과제제출*/
    #my_popup{font-size:.875rem;}
    .popup_header{padding:20px 0;}
    .popup_notice{padding:30px;}
    .block_div{margin:30px 0;}
    .block_div ul > li > ul > li{font-size:.75rem;}
    
    .tab .content{padding:20px;}
    
    
    /*btn*/
    .btn{margin:30px 0;}
    .btn button{font-size:1rem; padding:16px 40px; margin:0 5px;}
    .file_btn label{font-size:.875rem; padding:10px 20px; bordeR:2px solid #7e5fbb}
    
    .check_btn{margin:20px 0;}
    .check_btn button{width:100%; margin-bottom:10px; text-align:left; font-size:.875rem; padding-left:20%;}
    .check_btn button.check_m{background-size:10px; background-position:12% center;}
    .check_btn button.check_ipin{background-size:20px;  background-position:10% center;}
    
    
    .check_btn2 button{font-size:.875rem;}
    .check_btn2 p span{width:40%;}
    .edit_mypage{font-size:.875rem;}
    .edit_mypage + span{display:block; margin-top:10px;}
    
    /*평가*/
    .popup_contents .question_block{font-size:.75rem;}
}



@media screen and (max-width: 359px) {
    *{font-size:13px;}
}



