/* //////// contents /////////// */
/*about*/




/*sub01*/
.sub01{text-align:center;}
.sub01_bg{background:url(../images/sub01_bg.png) no-repeat left top; max-width:730px; width:100%; margin:50px auto; text-align:left; padding:40px 120px; line-height:200%;}
.sub01_01_2 .sub01_01_2_grid{margin:50px 0;}
.sub01_01_2 .sub01_01_2_grid .sub01_01_2title{width:25%; max-width:230px; justify-content:flex-start;}
.sub01_01_2 .sub01_01_2_grid .sub01_01_2title .sub01_01_2b{font-size:4.25rem; font-weight:100; color:#005aab;}
.sub01_01_2 .sub01_01_2_grid .sub01_01_2title .sub01_01_2b span{font-size:1.5rem;}
.sub01_01_2 .sub01_01_2_grid .sub01_01_2title .title2{padding-left:10px; position:relative; top:5px;}
.sub01_01_2 .sub01_01_2_grid .sub01_01_2title .title2 span{font-size:1rem; color:#999; display:block;}
.sub01_01_2 .sub01_01_2_grid .sub01_01_2con{width:75%; text-align:center;}


/*인증현황*/
.sub01_02{}
.sub01_02 ul.grid_flex{flex-wrap:wrap; margin:50px 0;}
.sub01_02 ul li{width:50%; padding:30px 0; justify-content: flex-start;}
.sub01_02 .font_s{margin-bottom:20px;}
.sub01_02 ul li .sub01_02_img{width:50%;}
.sub01_02 ul li .sub01_02_2txt{width:46%; padding-left:10px;}
.sub01_02 ul li:nth-child(9) .sub01_02_img, .sub01_02 ul li:nth-child(9) .sub01_02_2txt, .sub01_02 ul li:last-child .sub01_02_img, .sub01_02 ul li:last-child .sub01_02_2txt{width:100%}
.sub01_02 ul li:nth-child(9), .sub01_02 ul li:last-child{flex-direction:column-reverse; text-transform:uppercase;}



/*회사연혁*/
.sub01_03{margin:50px 0;}
.sub01_03 li.grid_flex{justify-content:flex-start; background:url(../images/sub01_03bg2.png) repeat-y 174px center; padding-bottom:50px;}
.sub01_03 li:last-child{padding-bottom:0;}
.sub01_03 .sub01_03_title{width:20%; max-width:180px; font-size:3rem; font-weight:100; font-style:italic; background:url(../images/sub01_03bg.png) no-repeat right 24px;}
.sub01_03 .sub01_03_group{width:80%; justify-content:flex-start; padding-left:50px;}
.sub01_03 .sub01_03_txt{justify-content:flex-start; padding-left:50px; margin-bottom:30px;}
.sub01_03 .sub01_03_txt .color_blue{width:10%; font-weight:500;}
.sub01_03 .sub01_03_txt .sub01_03_info{width:90%; line-height:2rem;}
.map{width:100%;}


/*찾아오시는 길*/
.sub01_04{}
.sub01_04 .title4{margin:30px 0 20px;}
.sub01_04_info{width:100%; margin-bottom:50px}
.sub01_04_info .title5{width:24%;}
.sub01_04_info .sub01_04_txt{width:76%; line-height:2rem}
.sub01_04_info .sub01_04_txt p span{width:30%; display:inline-block;}
.map{width:100%; height:auto;}


@media screen and (max-width: 1024px) {
    .contents img{width:100%;}
    

    
    
    
    /*about*/
    .sub01_01_2 .sub01_01_2_grid{flex-direction:column; margin:50px 0 30px;}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2title{width:100%;}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2con{width:100%;}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2title .sub01_01_2con{font-size:3.5rem;}
    
    .sub01_bg{background:url(../images/sub01_bg.png) no-repeat 20px top}
    
    /*회사연혁*/
    .sub01_03 .sub01_03_title{width:30%;}
    .sub01_03 .sub01_03_group{width:70%;}
    .sub01_03 .sub01_03_txt{padding-left:20px;}
    .sub01_03 .sub01_03_txt .color_blue{width:16%;}
    .sub01_03 .sub01_03_txt .sub01_03_info{width:94%;}
    
}

@media screen and (max-width: 768px) {
    

}

@media screen and (max-width: 425px) {
    
    
    
    /*about*/
    .sub01_bg{background:url(../images/sub01_bg.png) no-repeat left top; padding:50px 0; background-size:20%; margin:30px auto;}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2title .sub01_01_2b{font-size:3.25rem;}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2title .title2{padding-left:5px; top:8px;}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2title .title2 span{font-size:.6875rem}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2con{text-align:left; font-size:1rem}
    .sub01_01_2 .sub01_01_2_grid .sub01_01_2con img{width:80%;}
    .sub01_02 ul li:nth-child(9), .sub01_02 ul li:last-child{flex-direction:column;}
    
    
    
    /*인증현황*/
    .sub01_02 ul.grid_flex{flex-wrap:wrap;}
    .sub01_02 ul li{flex-direction:column; padding:10px 8px;}
    .sub01_02 ul li .sub01_02_img{width:100%;}
    .sub01_02 ul li .sub01_02_2txt{width:100%; padding:10px 0;}
    
    
    
    /*회사연혁*/
    .sub01_03 li.grid_flex{flex-direction:column; background:none; padding-bottom:0;}
    .sub01_03 .sub01_03_title{background:none; width:100%; font-size:2rem; font-weight:300;}
    .sub01_03 .sub01_03_group{width:100%; padding:10px 0 30px;}
    .sub01_03 .sub01_03_txt{flex-direction:column; padding-left:0; margin-bottom:16px;}
    
    
    
    /*찾아오시는 길*/
    .sub01_04_info{flex-direction: column;}
    .sub01_04_info .title5{width:100%; margin-bottom:5px; font-size:1rem}
    .sub01_04_info .sub01_04_txt{width:100%; line-height:1.5rem;}
    .sub01_04_info .sub01_04_txt p span{width:100%;}
    
    
    
}
