/***************************************************************
    03. layout
***************************************************************/
@use "../abstracts/" as abs;

//basic
.inner {
  width: 100%;
  padding-inline: 1.25rem;
  position: relative;
}

.mb_0_25 {
  margin-bottom: 0.25rem;
}

.mb_0_5 {
  margin-bottom: 0.5rem;
}

.mb_0_75 {
  margin-bottom: 0.75rem;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mb_1_25 {
  margin-bottom: 1.25rem;
}

.mb_1_5 {
  margin-bottom: 1.5rem;
}

.mb_1_75 {
  margin-bottom: 1.75rem;
}

.mb_2 {
  margin-bottom: 2rem;
}

.mt_0_25 {
  margin-top: 0.25rem;
}

.mt_0_5 {
  margin-top: 0.5rem;
}

.mt_0_75 {
  margin-top: 0.75rem;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_1_25 {
  margin-top: 1.25rem;
}

.mt_1_5 {
  margin-top: 1.5rem;
}

.mt_1_75 {
  margin-top: 1.75rem;
}

.mt_2 {
  margin-top: 2rem;
}

.inner_0_25 {
  padding-inline: 0.25rem;
}

.inner_0_5 {
  padding-inline: 0.5rem;
}

.inner_0_75 {
  padding-inline: 0.75rem;
}

.inner_1 {
  padding-inline: 1rem;
}

.inner_1_25 {
  padding-inline: 1.25rem;
}

.inner_1_5 {
  padding-inline: 1.5rem;
}

.inner_1_75 {
  padding-inline: 1.75rem;
}

.inner_2 {
  padding-inline: 2rem;
}

.list_0_25 {
  display: grid;
  gap: 0.25rem;
}

.list_0_5 {
  display: grid;
  gap: 0.5rem;
}

.list_0_75 {
  display: grid;
  gap: 0.75rem;
}

.list_1 {
  display: grid;
  gap: 1rem;
}

.list_1_25 {
  display: grid;
  gap: 1.25rem;
}

.list_1_5 {
  display: grid;
  gap: 1.5rem;
}

.list_1_75 {
  display: grid;
  gap: 1.75rem;
}

.list_2 {
  display: grid;
  gap: 2rem;
}

/* flex */
.flexbtw {
  @include abs.flexbtw;
}

.flexright {
  @include abs.flexright;
}

.scroll {
  overflow-y: auto;
  height: 100svh;
}

@for $i from 1 through 12 {
  .column-#{$i} {
    grid-column: span #{$i};
    box-sizing: border-box;
  }
}
