/***************************************************************
    04. typo
***************************************************************/
@use 'sass:map';
@use '../abstracts/' as abs;

// %heading {
//   line-height: 146.667%;
// }

body{
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
  color: var(--text-primary);
}

.public_font{
  font-family: var(--public-font-family);
}

.t-h1{
  @include abs.h1;
}

.t-h2{
  @include abs.h2;
}

.t-h3{
  @include abs.h3;
}

.t-h4{
  @include abs.h4;
}

.t-h5{
  @include abs.h5;
}

.t-h6{
  @include abs.h6;
}

.t-subtitle1{
  @include abs.subtitle1;
}

.t-subtitle2{
  @include abs.subtitle2;
}

.t-body1{
  @include abs.body1;
}

.t-body2{
  @include abs.body2;
}

.t-caption{
  @include abs.caption;
}

.t-overline{
  @include abs.overline;
}

.fw-black{
  font-weight: var(--fw-black);
}

.fw-ex_bold{
  font-weight: var(--fw-extra-bold);
}

.fw-bold{
  font-weight: var(--fw-bold);
}

.fw-semi_bold{
  font-weight: var(--fw-semi-bold);
}

.fw-medium{
  font-weight: var(--fw-medium);
}

.fw-regular{
  font-weight: var(--fw-regular);
}

.fw-light{
  font-weight: var(--fw-light);
}