/***************************************************************
    04. typo
***************************************************************/
@use "sass:map";
@use "../abstracts/" as abs;

// %heading {
//   line-height: 146.667%;
// }

body {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
  color: var(--text-primary);
}

.public_font {
  font-family: var(--public-font-family);
}

.f-h1 {
  @include abs.h1;
}

.f-h2 {
  @include abs.h2;
}

.f-h3 {
  @include abs.h3;
}

.f-h4 {
  @include abs.h4;
}

.f-h5 {
  @include abs.h5;
}

.f-h6 {
  @include abs.h6;
}

.f-subtitle1 {
  @include abs.subtitle1;
}

.f-subtitle2 {
  @include abs.subtitle2;
}

.f-body1 {
  @include abs.body1;
}

.f-body2 {
  @include abs.body2;
}

.f-caption {
  @include abs.caption;
}

.f-overline {
  @include abs.overline;
}

.fw-black {
  font-weight: var(--fw-black);
}

.fw-ex_bold {
  font-weight: var(--fw-extra-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi_bold {
  font-weight: var(--fw-semi-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-light {
  font-weight: var(--fw-light);
}
