$pc_large: 2580px;
$pc_base: 1920px;
$pc_small: 1024px;
$tablet: 768px;
$mobile_large: 520px;
$mobile_base: 375px;
$mobile_small: 320px;
$min_height: 740px;

//typo
$lineth: line-through;
$lineunder: underline;
$lineh: 1.5;

:root {
  /*========== Colors ==========*/
  --primary-color: #ff6b00;
  --primary-alt: #fff0ea;
  --secondary-color: #0028ac;
  --text-primary: #222222;
  --text-secondary: #666;
  --error-color: #ff3c00;
  --border-color: #ddd;
  --light-green-color: #8cdb38;
  --green-color: #0ec16e;
  --yellow-color: #f7c02c;
  --light-blue-color: #04dbe3;
  --blue-color: #2692ed;
  --purple-color: #9d37e5;
  --pink-color: #fd49ff;
  --dark-pink-color: #f4348e;
  --red-color: #f9454a;
  --gray-class: #838995;
  --gray-dark: #333;
  --gray-color: #999;
  --light-color: #fff;
  --nav-bg: #f0f2f4;
  --btn-border: #e9e9e9;
  --border-color: #ddd;

  --placeholder-color: #bbb;
  --disabled-bg: #eee;
  --action-hover-bg: #f4f4f4;
  --gray-light: #f8f8f8;

  /*========== Font and typography ==========*/
  --body-font: "Inter", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

  --font-20: 1.25rem;
  --font-16: 1rem;
  --font-14: 0.875rem;
  --font-12: 0.75rem;
  --font-10: 0.625rem;

  --bold-font: 700;
  --semi-bold-font: 500;
  --medium-font: 400;
  --thin-font: 300;

  /* ========= margin ========= */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-25: 1.25rem;
  --m-1-5: 1.5rem;
  --m-1-75: 1.75rem;
  --m-2: 2rem;
  --m-2-25: 2.25rem;
  --m-2-5: 2.5rem;
  --m-2-75: 2.75rem;
  --m-3: 3rem;
  --m-3-25: 3.25rem;
  --m-3-5: 3.5rem;
  --m-3-75: 3.75rem;
  --m-4: 4rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* ========= etc ============= */
  --shadow-s: 0 0 0.625rem 0 rgba(0, 0, 0, 0.025);
  --shadow-m: 0 0 0.625rem 0 rgba(0, 0, 0, 0.05);
  --shadow-l: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
  --shadow-card: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);

  @media (max-width: #{$mobile_base - 1px }) {
    font-size: 4.2781vw;
  }
}
