/***************************************************************
    05. color
***************************************************************/
.primary_color {
  color: var(--primary-color);
}

.secondary_color {
  color: var(--secondary-color);
}

.error_color {
  color: var(--error-color);
}

.text_primary {
  color: var(--text-primary);
}

.text_secondary {
  color: var(--text-secondary);
}

.placehoder_color {
  color: var(--placeholder-color);
}

.focus_color {
  color: var(--focus-color);
}

.border_color {
  color: var(--border-color);
}

.disabled_bg {
  background-color: var(--disabled_bg);
}

.action_hover_bg {
  background-color: var(--action-hover-bg);
}

.gray_color {
  color: var(--gray-color);
}

.gray_dark {
  color: var(--gray-dark);
}

.white_color {
  color: var(--white-color);
}

.light_green_color {
  color: var(--light-green_color);
}

.green_color {
  color: var(--green-color);
}

.yellow_color {
  color: var(--yellow-color);
}

.light_blue_color {
  color: var(--light-blue-color);
}

.blue_color {
  color: var(--blue-color);
}

.purple_color {
  color: var(--purple-color);
}

.pink_color {
  color: var(--pink-color);
}

.dark_pink_color {
  color: var(--dark-pink-color);
}

.gray_class {
  color: var(--gray-class);
}

.nav_bg {
  background-color: var(--nav-bg);
}
