/* ============ icons ================ */
i {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  width: 100%;
  display: inline-block;
}

//quick icon
.ic_quick_guide {
  background-image: url(/images/common/quick_guide.svg);
}

.ic_quick_home {
  background-image: url(/images/common/quick_home.svg);
}

.ic_quick_plan {
  background-image: url(/images/common/quick_plan.svg);
}

.ic_quick_rate {
  background-image: url(/images/common/quick_rate.svg);
}

.ic_quick_refresh {
  background-image: url(/images/common/quick_refresh.svg);
}

// system
.ic_chevron_left {
  background-image: url(/images/system/chevron_left.svg);
}

.ic_chevron_left_dark {
  background-image: url(/images/system/chevron_left_dark.svg);
}

.ic_chevron_right {
  background-image: url(/images/system/chevron_right.svg);
}

.ic_chevron_right_dark {
  background-image: url(/images/system/chevron_right_dark.svg);
}

.ic_chevron_up_dark {
  background-image: url(/images/system/chevron_up_dark.svg);
}

.ic_chevron_down_dark {
  background-image: url(/images/system/chevron_down_dark.svg);
}

.ic_chevron_double_left {
  background-image: url(/images/system/chevron_double_left.svg);
}

.ic_chevron_double_right {
  background-image: url(/images/system/chevron_double_right.svg);
}

.ic_del_circle {
  background-image: url(/images/system/del_circle.svg);
}

.ic_alarm {
  background-image: url(/images/system/alarm.svg);
}

.ic_caution_green {
  background-image: url(/images/system/caution_green.svg);
}

.ic_caution_gray {
  background-image: url(/images/system/caution_gray.svg);
}

.ic_menu {
  background-image: url(/images/system/menu.svg);
}

.ic_globe_w {
  background-image: url(/images/system/globe_w.svg);
}

.ic_logo_s {
  background-image: url(/images/common/logo_s.svg);
}

.ic_star_yellow {
  background-image: url(/images/system/star_yellow.svg);
}

.ic_user_fill_green {
  background-image: url(/images/system/user_fill_green.svg);
}

.ic_user_fill_w {
  background-image: url(/images/system/user_fill_w.svg);
}

.ic_user {
  background-image: url(/images/system/user.svg);
}

.ic_qr {
  background-image: url(/images/system/qr.svg);
}

.ic_clock_primary {
  background-image: url(/images/system/clock_primary.svg);
}

.ic_setting {
  background-image: url(/images/system/setting.svg);
}

.ic_x {
  background-image: url(/images/system/x.svg);
}

.ic_setting {
  background-image: url(/images/system/setting.svg);
}

.ic_logout {
  background-image: url(/images/system/logout.svg);
}

.ic_calendar {
  background-image: url(/images/system/calendar.svg);
}

.ic_excel {
  background-image: url(/images/system/excel.svg);
}

.ic_excel_cash {
  background-image: url(/images/system/excel_cash.svg);
}

.ic_plus {
  background-image: url(/images/system/plus.svg);
}

.ic_minus {
  background-image: url(/images/system/minus.svg);
}

.ic_check_w {
  background-image: url(/images/system/check_w.svg);
}

.ic_zoom_in {
  background-image: url(/images/system/zoom_in.svg);
}

.ic_zoom_in_gray {
  background-image: url(/images/system/zoom_in_gray.svg);
}

.ic_equip_1 {
  background-image: url(/images/equip_1.svg);
}

.ic_equip_2 {
  background-image: url(/images/equip_2.svg);
}

.ic_equip_3 {
  background-image: url(/images/equip_3.svg);
}

.ic_equip_4 {
  background-image: url(/images/equip_4.svg);
}

.ic_equip_5 {
  background-image: url(/images/equip_5.svg);
}

.ic_atsign {
  background-image: url(/images/system/atsign.svg);
}

.ic_smartphone {
  background-image: url(/images/system/smartphone.svg);
}

.ic_arrow_left_circle_green {
  background-image: url(/images/system/arrow_left_circle_green.svg);
}

.ic_trash {
  background-image: url(/images/system/trash.svg);
}

.ic_alert {
  background-image: url(/images/system/alert.svg);
}

.ic_download_primary {
  background-image: url(/images/system/download_primary.svg);
}

.ic_download_disabled {
  background-image: url(/images/system/download_disabled.svg);
}

.ic_cashsum {
  background-image: url(/images/system/cashsum.svg);
}

.ic_receipt {
  background-image: url(/images/system/receipt.svg);
}

.ic_receiptoff {
  background-image: url(/images/system/receiptoff.svg);
}

.ic_coin {
  background-image: url(/images/system/coin.svg);
}

.ic_coin_share {
  background-image: url(/images/system/coin_share.svg);
}

.ic_orderset_cancel_gray {
  background-image: url(/images/system/orderset_cancel_gray.svg);
}

.ic_orderset_cancel_primary {
  background-image: url(/images/system/orderset_cancel_primary.svg);
}

.ic_orderset_complete_gray {
  background-image: url(/images/system/orderset_complete_gray.svg);
}

.ic_orderset_complete_primary {
  background-image: url(/images/system/orderset_complete_primary.svg);
}

.ic_orderset_ready_gray {
  background-image: url(/images/system/orderset_ready_gray.svg);
}

.ic_orderset_ready_primary {
  background-image: url(/images/system/orderset_ready_primary.svg);
}

.ic_orderset_receipt_cancel_w {
  background-image: url(/images/system/orderset_receipt_cancel_w.svg);
}

.ic_orderset_receipt_cancel_gray {
  background-image: url(/images/system/orderset_receipt_cancel_gray.svg);
}

.ic_orderset_receipt_cancel_primary {
  background-image: url(/images/system/orderset_cancel_primary.svg);
}

.ic_orderset_refuse_gray {
  background-image: url(/images/system/orderset_refuse_gray.svg);
}

.ic_orderset_refuse_primary {
  background-image: url(/images/system/orderset_refuse_primary.svg);
}

.ic_orderset_reorder_w {
  background-image: url(/images/system/orderset_reorder_w.svg);
}

.ic_orderset_reorder_gray {
  background-image: url(/images/system/orderset_reorder_gray.svg);
}

.ic_orderset_reorder_primary {
  background-image: url(/images/system/orderset_reorder_primary.svg);
}

.ic_print {
  background-image: url(/images/system/print.svg);
}

.ic_info_gray {
  background-image: url(/images/system/info_gray.svg);
}

.ic_coin_cancel {
  background-image: url(/images/system/coin_cancel.svg);
}

.ic_coin_ok {
  background-image: url(/images/system/coin_ok.svg);
}

.ic_vending_machine_gray {
  background-image: url(/images/system/vending_machine_gray.svg);
}

.ic_vending_machine_primary {
  background-image: url(/images/system/vending_machine_primary.svg);
}

.ic_checkcircle_gray {
  background-image: url(/images/system/checkcircle_gray.svg);
}

.ic_cancelcircle {
  background-image: url(/images/system/cancelcircle.svg);
}

.ic_time_blue {
  background-image: url(/images/system/time_blue.svg);
}

.ic_checkCircleOn {
  background-image: url(/images/system/checkCircleOn.svg);
}

.ic_checkCircleNone {
  background-image: url(/images/system/checkCircleNone.svg);
}

.ic_lock_primary {
  background-image: url(/images/system/lock_primary.svg);
}

.ic_unlock {
  background-image: url(/images/system/unlock.svg);
}

.ic_timer_gray {
  background-image: url(/images/system/timer_gray.svg);
}

.ic_open_locker_w {
  background-image: url(/images/system/open_locker_w.svg);
}

.ic_refresh_w {
  background-image: url(/images/system/refresh_w.svg);
}

.ic_lockers {
  background-image: url(/images/system/lockers.svg);
}

.ic_wrench {
  background-image: url(/images/system/wrench.svg);
}

.ic_mouse {
  background-image: url(/images/system/mouse.svg);
}

.ic_arrow_up_down {
  background-image: url(/images/system/arrow_up_down.svg);
}

.ic_sort_up {
  background-image: url(/images/system/sort_up.svg);
}

.ic_sort_down {
  background-image: url(/images/system/sort_down.svg);
}

.ic_copy {
  background-image: url(/images/system/copy.svg);
}

.ic_search {
  background-image: url(/images/system/search.svg);
}
