/***************************************************************
    04. typo
***************************************************************/
body {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--text-primary);
  letter-spacing: -0.5px;
  font-weight: var(--semi-bold-font);

  &:lang(en),
  &:lang(de) {
    font-family: "inter", "Noto Sans", -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
    letter-spacing: 1;
  }

  &:lang(ja) {
    font-family: "inter", "Noto Sans JP", -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
  }
}

.mix_f {
  font-family: "inter", "Noto Sans KR";
}

.thin_f {
  font-weight: var(--thin-font);
}

.medium_f {
  font-weight: var(--medinum-font);
}

.semi_bold_f {
  font-weight: var(--semi-bold-font);
}

.bold_f {
  font-weight: var(--bold-font);
}

.txt_center {
  text-align: center;
}

.txt_left {
  text-align: left;
}

.txt_right {
  text-align: right;
}

.font_lineth {
  text-decoration: line-through;
}

.font20b {
  @include font20b;
}

.font20 {
  @include font20;
}

.font20b28h {
  @include font20b28h;
}

.font16b {
  @include font16b;
}

.font16 {
  @include font16;
}

.font16b24h {
  @include font16b24h;
}

.font1624h {
  @include font1624h;
}

.font1620h {
  @include font1620h;
}

.font14b {
  @include font14b;
}

.font14 {
  @include font14;
}

.font14b24h {
  @include font14b24h;
}

.font1424h {
  @include font1424h;
}

.font14b20h {
  @include font14b20h;
}

.font1420h {
  @include font1420h;
}

.font12b {
  @include font12b;
}

.font12 {
  @include font12;
}

.font12b24h {
  @include font12b24h;
}

.font1224h {
  @include font1224h;
}

.font1218h {
  @include font1218h;
}

.font12b16h {
  @include font12b16h;
}

.font1216h {
  @include font1216h;
}

.font10b {
  @include font10b;
}

.font10 {
  @include font10;
}

.font10b16h {
  @include font10b16h;
}
