$pc:1260px;
$tablet:752px;
$mobile_large: 480px;
$mobile_base: 360px;
$mobile_small: 320px;


//typo
$point_f: 'Poppins';
$lineth: line-through;
$lineunder: underline;
$boldf: 700;
$lineh: 1.5;

//color
$primary: #2DCD6F;
$primary-dark: #11AE4F;
$system-red: #F0101B;
$system-red-light: #FF6067;
$system-red-lighter: #FFE5E7;
$system-yellow-light: #EEFF86;
$system-yellow: #FFD53F;
$system-yellow-dark: #FFBC25;
$system-blue-light: #ACFCFB;
$system-blue: #88BFFF;
$system-blue-dark: #1A82FC;
$system-blue-vivid: #0062FF;
$system-orange: #FF8A34;
$system-orange-dark: #FF5B01;
$system-purple: #755FE2;
$system-bluegreen: #78DFC1;
$system-pink: #FF464F;
$system-pink-light: #FFB5D8;

$bg-dark: #141414;
$bg-black: #000;
$dark: #232426;
$light: #fff;
$gray01: #424347;
$gray02: #5F6166;
$gray03: #9C9D9F;
$gray04: #C6C7C8;
$gray05: #E1E2E2;
$gray06: #F2F4F6;
$gray07: #F9F9FB;


.primary{
  color: $primary;
}
.primary_Dark{
  color: $primary-dark;
}
.system_red{
  color: $system-red;
}
.system_red_light{
  color: $system-red-light;
}
.system_red_light{
  color: $system-red-lighter;
}
.system_yellow_light{
  color: $system-yellow-light;
}
.system_yellow{
  color: $system-yellow;
}
.system_yellow_dark{
  color: $system-yellow-dark;
}
.system_blue_light{
  color: $system-blue-light;
}
.system_blue{
  color: $system-blue;
}
.system_blue_dark{
  color: $system-blue-dark;
}
.system_blue_vivid{
  color: $system-blue-vivid;
}
.system_orange{
  color: $system-orange;
}
.system_orange_dark{
  color: $system-orange-dark;
}
.system_pruple{
  color: $system-purple;
}
.system_bluegreen{
  color: $system-bluegreen;
}
.system_pink{
  color: $system-pink;
}
.system_pink_light{
  color: $system-pink-light;
}
.dark{
  color: $dark;
}
.light{
  color: $light;
}
.gray01{
  color: $gray01;
}
.gray02{
  color: $gray02;
}
.gray03{
  color: $gray03;
}
.gray04{
  color: $gray04;
}
.gray05{
  color: $gray05;
}
.gray06{
  color: $gray06;
}
.gray07{
  color: $gray07;
}

.bg_primary{
  background-color: $primary;
}
.bg_primary_dark{
  background-color: $primary-dark;
}
.bg_system_red{
  background-color: $system-red;
}
.bg_system_red_light{
  background-color: $system-red-light;
}
.bg_system_red_lighter{
  background-color: $system-red-lighter;
}
.bg_system_yellow_light{
  background-color: $system-yellow-light;
}
.bg_system_yellow{
  background-color: $system-yellow;
}
.bg_system_yellow_dark{
  background-color: $system-yellow-dark;
}
.bg_system_blue_light{
  background-color: $system-blue-light;
}
.bg_system_blue{
  background-color: $system-blue;
}
.bg_system_blue_dark{
  background-color: $system-blue-dark;
}
.bg_system_blue_vivid{
  background-color: $system-blue-vivid;
}
.bg_system_orange{
  background-color: $system-orange;
}
.bg_system_orange_dark{
  background-color: $system-orange-dark;
}
.bg_system_purple{
  background-color: $system-purple;
}
.bg_system_bluegreen{
  background-color: $system-bluegreen;
}
.bg_system_pink{
  background-color: $system-pink;
}
.bg_system_pink_light{
  background-color: $system-pink-light;
}

.bg_black{
  background-color: $bg-black;
}

.bg_dark2{
  background-color: $bg-dark;
}

.bg_dark{
  background-color: $dark;
}
.bg_light{
  background-color: $light;
}
.bg_gray01{
  background-color: $gray01;
}
.bg_gray02{
  background-color: $gray02;
}
.bg_gray03{
  background-color: $gray03;
}
.bg_gray04{
  background-color: $gray04;
}
.bg_gray05{
  background-color: $gray05;
}
.bg_gray06{
  background-color: $gray06;
}
.bg_gray07{
  background-color: $gray07;
}
 