@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');


:root{
  /* color */
  --primary01: #3C5DF6;
  --primary02: #00A9E0;
  --system01: #EC736D;
  --system02: #FFD341;
  --system03: #65C453;
  --black: #2F2F2F;
  --gray01: #747474;
  --gray02: #9F9F9F;
  --gray03: #C9C9C9;
  --gray04: #DFDFDF;
  --gray05: #F5F5F5;
  --white: #FFFFFF;

  /* typo */
  --base-font: 'Noto Sans KR';
  --h1-f: 1.875rem;
  --h2-f: 1.375rem;
  --h3-f: 1.25rem;
  --p1-f: 1.875rem;
  --p2-f: 1.25rem;
  --p3-f: 1.125rem;
  --p4-f: 1rem;
  --span1-f:1.125rem;
  --span2-f:1rem;
  --span3-f:.875rem;
  --misc1-f:1.251rem;
  --misc2-f:1rem;
  --large-f: 1.125rem;
  --base-f: 1rem;
  --small-f: .875rem;
  --bold-f: 700;
  --line-h: 1.5;

  /* z-index */
  --z-header: 9;
  --z-nav: 5;
  --z-tool: 1;
  --z-bottom: -1;
}


body{
  line-height: 1.2;
  font-weight: 500;
  color: var(--black);
}

body.on{
  overflow: hidden;
}

/* ----------------------- color ---------------------------- */
.primary_c01{
  color: var(--primary01);
}
.primary_c02{
  color: var(--primary02);
}
.system_c01{
  color: var(--system01);
}
.system_c02{
  color: var(--system02);
}
.system_c03{
  color: var(--system03);
}
.black_c{
  color: var(--black);
}
.gray_c01{
  color: var(--gray01);
}
.gray_c02{
  color: var(--gray02);
}
.gray_c03{
  color: var(--gray03);
}
.gray_c04{
  color: var(--gray04);
}
.gray_c05{
  color: var(--gray05);
}
.white_C{
  color: var(--white);
}


/* ------------------------------- typo ------------------------- */
.h1_f{
  font-size: var(--h1-f);
}
.h2_f{
  font-size: var(--h2-f);
}
.h3_f{
  font-size: var(--h3-f);
}
.p1_f{
    font-size: var(--p1-f);
}
.p2_f{
    font-size: var(--p2-f);
}
.p3_f{
    font-size: var(--p3-f);
}
.p4_f{
    font-size: var(--p4-f);
}
.span1_f{
    font-size: var(--span1-f);
}
.span2_f{
    font-size: var(--span2-f);
}
.span3_f{
    font-size: var(--span3-f);
}
.misc1_f{
    font-size: var(--misc1-f);
    text-transform: underline;
}
.misc2_f{
    font-size: var(--misc2-f);
    text-transform: underline;
}

.large_f{
  font-size: var(--large-f);
}
.base_f{
  font-size: var(--base-f);
}
.small_f{
  font-size: var(--small-f);
}
.bold_f{
  font-weight: var(--bold-f);
}
.medium_f{
  font-weight: 500;
}
.line_h{
  line-height: var(--line-h);
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.a_underline{
    text-decoration: underline;
}

/* --------------------------- margin -------------------- */
.mb_0_5{
  margin-bottom: .5rem;
}
.mb_1{
  margin-bottom: 1rem;
}
.mb_1_5{
  margin-bottom: 1.5rem;
}
.mb_2{
  margin-bottom: 2rem;
}
.mb_2_5{
  margin-bottom: 2.5rem;
}
.mb_3{
  margin-bottom: 3rem;
}
.mb_3_5{
  margin-bottom: 3.5rem;
}
.mb_4{
  margin-bottom: 5rem;
}

/* -------------------------- grid ------------------------- */
.rmain_wrap{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.rheader_wrap{
  width: 100%;
  max-width: 500px;
  padding: 0 2rem;
}

.pd_base{
  padding: 0 1.375rem;
}

.align_left{
  text-align: left;
}

.align_center{
  text-align: center;
}

.align_right{
  text-align: right;
}

.flex_wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 1.375rem;
}

@function vh($quantity) {
    @return calc((var(--vh, 1vh) * #{$quantity}) - 8.5rem);
    }

.grid_wrap{
    display: grid;
    height: vh(100);
    align-items: center;
    align-content: center;
    gap: 2.5rem;
  }

  .grid_full{
    display: grid;
    height: 100vh;
    align-items: center;
    align-content: center;
    gap: 2.5rem;
    overflow: hidden;
  }

.grid_bt{
    display: grid;
    height: vh(100);
    align-items: center;
    align-content: space-between;
}

.grid_1{
  width: calc(100% / 5);
}

.grid_2{
  width: calc((100% / 5) * 2);
}

.grid_3{
  width: calc((100% / 5) * 3);
}

.grid_4{
  width: calc((100% / 5) * 4);
}

.grid_5{
  width: 100%; 
}

/* ------------------------tap button ------------------------- */
.tab_menu{
  .tab_over{

    .tab_link{
      width: initial;
      padding: 0 1rem;

      &:first-child{
        margin-left:  1.875rem;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: - 1.875rem;
          width:  1.875rem;
          height: 1px;
          border-bottom: 1px solid var(--gray04);
        }
      }
      &:last-child{
        margin-right:  1.875rem;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          right: - 1.875rem;
          width:  1.875rem;
          height: 1px;
          border-bottom: 1px solid var(--gray04);
        }
      }
    }
  }
}

.tab_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .tab_link{
    text-align: center;
    position: relative;
    width: 100%;
    font-weight: var(--bold-f);
    color: var(--gray03);
    line-height: 76px;
    border-bottom: 1px solid var(--gray04);
    transition: all .3s;
    cursor: pointer;

    &.active{
      color: var(--black);
      
      &::after{
        color: var(--gray01);
        content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          display: block;
          height: 0;
          width: 100%;
          border-bottom: 4px solid var(--black);
      }
    }
  }
}
















/* --------------------- button --------------------- */

button,
input[type=button],
input[type=submit]{
  &:hover{
    filter: brightness(.96);
  }
}

.btn_center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
}

.btn_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.btn_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.btn_icon{
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: var(--base-f);
  font-weight: var(--bold-f);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 36px;
}

.btn_s{
  border: 1px solid transparent;
  border-radius: .5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 36px;
  font-size: var(--base-f);

}

.btn_m{
  border: 1px solid transparent;
  display: inline-block;
  border-radius: .75rem;
  padding: 0 1.5rem;
  font-size: var(--h2-f);
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
}

.btn_b{
  border: 1px solid transparent;
  display: inline-block;
  border-radius: .75rem;
  font-weight: var(--bold-f);
  font-size: var(--h2-f);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.btn_blue{
  background-color: var(--primary01);
  color: #fff;

  &:disabled{
    background-color: var(--gray03);
    color: var(--gray02)
  }
}

.btn_blueline{
  color: var(--primary01);
  border-color: var(--primary01);
}

.btn_red{
  background-color: var(--system01);
  color: #fff;
}

.btn_gray{
  background-color: var(--gray03);
  color: var(--gray02);
}

.btn_light{
  background-color: var(--gray05);
  color: var(--gray02);
}

.btn_trans{
  background-color: var(--white);
  color: var(--gray01);

  &:hover{
    filter: brightness(1);
    opacity: .8;
    
  }
}


.btn_white{
  border-color: var(--gray03);
  color: var(--gray02);
}

.btn_apple{
  background-color: #000;
  color: #fff;
}

.btn_kakao{
  background-color: #FEE500;
  color: #191919;
  height: 56px;
  
  img{
    width: 24px;
    margin-right: .6875rem;
  }
}

.btn_rec{
  border-radius: 0;
}






/* --------------------- form --------------------- */
.btnClear,
.btnCheck{
  position: absolute;
  width: 42px;
  height: 42px;
  background: url(../images/icon_deletegr.svg) no-repeat center;
  top: calc(50% - 21px);
  right: .5rem;
  opacity: 1;
  cursor: pointer;
  transition: all .3s;
}

.pass_view{
  width: 42px;
  height: 42px;
  position: absolute;
  right: 3rem;
  top: calc(50% - 21px);
  background: url(../images/icon_eye-off.svg) no-repeat center;
  opacity:1;
  transition: all .2s;
  cursor: pointer;

  &.pass_view-on{
    background: url(../images/icon_eye-on.svg) no-repeat center;
  }
}

.input_info{
  color: var(--gray02);
  font-size: var(--base-f);
  margin-top: .75rem;

  &.error{
    color: var(--system01);
  }
}

.rinput[type=text],
.rinput[type=password],
.rinput[type=search]{
  font-size: var(--large-f);
  color: var(--black);
  background-color: var(--gray05);
  border-radius: .75rem;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 1.25rem;
  width: 100%;
  border: 0;

  &::placeholder{
    color: var(--gray03);
  }

  &:placeholder-shown ~ input[type=submit]{
    background-color: var(--gray03);
  }

  &:placeholder-shown ~ .btnClear{
    opacity: 0;
  }

  &:focus,
  &:hover{
    background-color: rgba(60,93,246,.05);
  }

  &:disabled{
    background-color: var(--gray04);

    &::placeholder{
      color: var(--gray02);
    }
  }
}

.rinput[type=submit]{
  width: 130px;
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: var(--h3-f);
  border-radius: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.inputPass{
  &:placeholder-shown ~ .pass_view{
    opacity: 0;
  }

  &:valid ~ .btnCheck{
    background: url(../images/icon_checkblue.svg) no-repeat center;
    cursor: initial;
  }

  &:placeholder-shown + .btnCheck{
    opacity: 0;
  }
}




.rinput:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(236,115,109,.05);
}

.rtextarea{
  color: var(--black);
  padding: 1.5rem 1.125rem;
  width: 100%;
  background-color: var(--gray05);
  border-radius: .75rem;
  font-size: var(--large-f);
  line-height: 1.5;
  border: 0;
}

.selectbox{
  width: 100%;
  position: relative;
  
  .selectBtn{
    height: 70px;
    background-color: var(--gray05);
    width: 100%;
    font-size: var(--large-f);
    border-radius: .75rem;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }

  .optionList{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    border-left: 1px solid var(--gray04);
    border-right: 1px solid var(--gray04);
    margin-top: .5rem;
    transition: all .3s ease-in;
    max-height: 0;
    z-index: var(--z-tool);
    overflow: hidden;
    

    .optionItem{
      border-bottom: 1px solid var(--gray04);
      height: 60px;
      display: flex;
      align-items: center;
      font-size: var(--base-f);
      background-color: var(--white);
      padding: 0 1.125rem;
      cursor: pointer;

      &:first-child{
        border-top: 1px solid var(--gray04);
      }

      &:hover{
        background-color: var(--gray05);
      }
    }
  }

  .selectArrow{
    position: absolute;
    right: 1.25rem;
    top: 23px;
    transition: all .3s;
  }

  &.active .optionList{
    max-height: 500px;
  }

  &.active .selectArrow{
    transform: rotate(180deg);
  }
}

.input_basic{
  width: 100%;
  position: relative;

  label{
    display: block;
    font-size: var(--large-f);
  }
}

.input_btmix{
  display: flex;
  position: relative;
  
  .rinput[type=submit]{
    border-radius: 0 .75rem .75rem 0;
    width: 135px;

  }

  .rinput[type=text],
  .rinput[type=search],
  .rinput[type=password]{
    border-radius: .75rem 0 0 .75rem;
    width: calc(100% - 135px);
  }

  .btnClear{
    right: 140px;
  }
}

.input_pass{
  position: relative;

}

.check_list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .input_check{
    margin-right: 1rem;
    width: auto;
  }
}

.input_check{
  width: 100%;
  padding: .5rem 0;

  .rinput[type=checkbox],
  .rinput[type=radio]{
    display: none;
  }

  .rinput[type=checkbox] ~ .ck_line,
  .rinput[type=radio] ~ .ck_line{
    font-size: var(--large-f);
    display: block;
    padding-left: 30px;
    line-height: 28px;
    background: url(../images/icon_chk-off.svg) no-repeat left center;
    background-size: contain;
    cursor: pointer;
  }

  .rinput[type=checkbox]:checked ~ .ck_line,
  .rinput[type=radio]:checked ~ .ck_line{
    background: url(../images/icon_chk-on.svg) no-repeat left center;
    background-size: contain;
  }

  .rinput[type=checkbox] ~ .ck_circle,
  .rinput[type=radio] ~ .ck_circle{
    font-size: var(--large-f);
    display: block;
    padding-left: 30px;
    line-height: 28px;
    background: url(../images/icon_rd-off.svg) no-repeat left center;
    background-size: contain;
    cursor: pointer;
  }

  .rinput[type=checkbox]:checked ~ .ck_circle,
  .rinput[type=radio]:checked ~ .ck_circle{
    background: url(../images/icon_rd-on.svg) no-repeat left center;
    background-size: contain;
  }
}

.input_toggle{
  .toggle{
    display: none;

    + .toggle_btn{
      display: block;
      width: 68px;
      height: 38px;
      position: relative;
      cursor: pointer;
      user-select: none;
      background: var(--gray03);
      border-radius: 68px;
      padding: 4px;
      transition: all .4s ease;
  
      &:after,
      &::before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        
      }

      &:after {
        left: 0;
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
      }
      
      &:before {
        display: none;
      }
    }

    &:checked + .toggle_btn {
      background: var(--primary01);
    }

    &:checked + .toggle_btn:after {
      left: 50%;
    }
  }
}



/* ------------------------- popup ---------------------- */
.rpopup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .3s;
  z-index: -1;
  opacity: 0;

  .overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
  }

  &.on{
    z-index: 10000;
    opacity: 1;
  }

  .pop_open{
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 4rem);
    max-width: 420px;
    min-width:calc(400px - 2rem);
    background: var(--white);
    border-radius: 2rem;
    padding: 1.5rem;
    transform: translate(-50%, -50%);
    z-index: var(--z-tool);
    
  }

  .pop_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;

    button{
      width: 100%;

    }
  }

  .pop_info{
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 4rem);
    max-width: 400px;
    min-width:calc(400px - 2rem);
    background: var(--black);
    color: var(--white);
    font-size: var(--large-f);
    border-radius: 3rem;
    padding: 1.5rem 0;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: var(--z-tool);
    
  }
}

.main_popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .3s;
  z-index: -1;
  opacity: 0;

  .overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
  }

  .pop_bottom{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 500px;
    min-width:calc(500px - 2rem);
    transform: translateX(-50%);
    background: var(--white);
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
  }

  .pop_in{

    .popup_title{
      font-size: var(--h1-f);
      font-weight: var(--bold-f);
      padding: 2rem 2rem .5rem;
    }

    .popup_sub{
      font-size: var(--large-f);
      color: var(--gray02);
      padding: 0 2rem;
    }

    .pop_dec{
      line-height: var(--line-h);
      padding: 2rem;
    }
  }

  &.on{
    z-index: 10000;
    opacity: 1;
  }

  .btn_center{
    padding: 1.375rem;
    gap: 0;
  }

}


@media (max-width: 499px) {

:root{
  /* typo */
  --h1-f: 1.5rem;
  --h2-f: 1.25rem;
  --h3-f: 1.125rem;
  --p1-f: 1.5rem;
  --p2-f: .9375rem;
  --p3-f: .875rem;
  --p4-f: .8125rem;
  --span1-f:.9375rem;
  --span2-f:.8125rem;
  --span3-f:.625rem;
  --misc1-f:.9375rem;
  --misc2-f:.8125rem;
  --large-f: .9375rem;
  --base-f: .875rem;
  --small-f: .8125rem;
  --smaller-f: .625rem;
}
/* ------------------------------- typo ------------------------- */
.h1_f{
  font-size: var(--h1-f);
}
.h2_f{
  font-size: var(--h2-f);
}
.h3_f{
  font-size: var(--h3-f);
}
.large_f{
  font-size: var(--large-f);
}
.base_f{
  font-size: var(--small-f);
}
.small_f{
  font-size: var(--smaller-f);
}
.medium_f{
    font-size: var(--base-f)
}

/* ------------------ grid --------------------- */
.rheader_wrap{
    padding: 0 1.5rem;
  }
  
  .pd_base{
    padding: 0 1rem;
  }

  .grid_wrap{
    gap: 2rem;
  }
/* ------------------------tap button ------------------------- */
.tab_menu{
  .tab_over{

    .tab_link{

      &:first-child{
        margin-left:  1.875rem;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: - 1.875rem;
          width:  1.875rem;
          height: 1px;
          border-bottom: 1px solid var(--gray04);
        }
      }
      &:last-child{
        margin-right:  1.875rem;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          right: - 1.875rem;
          width:  1.875rem;
          height: 1px;
          border-bottom: 1px solid var(--gray04);
        }
      }
    }
  }
}

.tab_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
   

  .tab_link{
    text-align: center;
    position: relative;
    width: 100%;
    font-weight: var(--bold-f);
    color: var(--gray03);
    line-height: 76px;
    border-bottom: 1px solid var(--gray04);
    transition: all .3s;
    cursor: pointer;

    &.active{
      color: var(--black);
      
      &::after{
        color: var(--gray01);
        content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          display: block;
          height: 0;
          width: 100%;
          border-bottom: 4px solid var(--black);
      }
    }
  }
}

.btn_kakao{
    height: 42px;
    font-size: var(--large-f);
    
    img{
      width: 20px;
      margin-right: .5rem;
    }
  }




/* --------------------- button --------------------- */

// .btn_icon{
//   border: 1px solid transparent;
//   border-radius: 3rem;
//   font-size: var(--base-f);
//   font-weight: var(--bold-f);
//   padding: 0 1rem;
//   display: flex;
//   align-items: center;
//   height: 36px;
// }

// .btn_s{
//   border: 1px solid transparent;
//   border-radius: .5rem;
//   padding: 0 1rem;
//   display: flex;
//   align-items: center;
//   height: 36px;
//   font-size: var(--base-f);

// }

// .btn_m{
//   border: 1px solid transparent;
//   display: inline-block;
//   border-radius: .75rem;
//   padding: 0 1.5rem;
//   font-size: var(--h2-f);
//   display: flex;
//   align-items: center;
//   height: 60px;
//   justify-content: center;
// }

.btn_b{
  border-radius: .5rem;
  font-size: var(--span1-f);
  height: 50px;
}






/* --------------------- form --------------------- */
.btnClear,
.btnCheck{
  position: absolute;
  width: 42px;
  height: 42px;
  background: url(../images/icon_deletegr.svg) no-repeat center;
  top: calc(50% - 21px);
  right: .5rem;
  opacity: 1;
  cursor: pointer;
  transition: all .3s;
}

.pass_view{
  width: 42px;
  height: 42px;
  position: absolute;
  right: 3rem;
  top: calc(50% - 21px);
  background: url(../images/icon_eye-off.svg) no-repeat center;
  opacity:1;
  transition: all .2s;
  cursor: pointer;

  &.pass_view-on{
    background: url(../images/icon_eye-on.svg) no-repeat center;
  }
}

.input_info{
  color: var(--gray02);
  font-size: var(--base-f);
  margin-top: .75rem;

  &.error{
    color: var(--system01);
  }
}

.rinput[type=text],
.rinput[type=password],
.rinput[type=search]{
  font-size: var(--large-f);
  color: var(--black);
  background-color: var(--gray05);
  border-radius: .75rem;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 1.25rem;
  width: 100%;
  border: 0;

  &::placeholder{
    color: var(--gray03);
  }

  &:placeholder-shown ~ input[type=submit]{
    background-color: var(--gray03);
  }

  &:placeholder-shown ~ .btnClear{
    opacity: 0;
  }

  &:focus,
  &:hover{
    background-color: rgba(60,93,246,.05);
  }

  &:disabled{
    background-color: var(--gray04);

    &::placeholder{
      color: var(--gray02);
    }
  }
}

.rinput[type=submit]{
  width: 130px;
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: var(--h3-f);
  border-radius: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.inputPass{
  &:placeholder-shown ~ .pass_view{
    opacity: 0;
  }

  &:valid ~ .btnCheck{
    background: url(../images/icon_checkblue.svg) no-repeat center;
    cursor: initial;
  }

  &:placeholder-shown + .btnCheck{
    opacity: 0;
  }
}




.rinput:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(236,115,109,.05);
}

.rtextarea{
  color: var(--black);
  padding: 1.5rem 1.125rem;
  width: 100%;
  background-color: var(--gray05);
  border-radius: .75rem;
  font-size: var(--large-f);
  line-height: 1.5;
  border: 0;
}

.selectbox{
  width: 100%;
  position: relative;
  
  .selectBtn{
    height: 70px;
    background-color: var(--gray05);
    width: 100%;
    font-size: var(--large-f);
    border-radius: .75rem;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }

  .optionList{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    border-left: 1px solid var(--gray04);
    border-right: 1px solid var(--gray04);
    margin-top: .5rem;
    transition: all .3s ease-in;
    max-height: 0;
    z-index: var(--z-tool);
    overflow: hidden;
    

    .optionItem{
      border-bottom: 1px solid var(--gray04);
      height: 60px;
      display: flex;
      align-items: center;
      font-size: var(--base-f);
      background-color: var(--white);
      padding: 0 1.125rem;
      cursor: pointer;

      &:first-child{
        border-top: 1px solid var(--gray04);
      }

      &:hover{
        background-color: var(--gray05);
      }
    }
  }

  .selectArrow{
    position: absolute;
    right: 1.25rem;
    top: 23px;
    transition: all .3s;
  }

  &.active .optionList{
    max-height: 500px;
  }

  &.active .selectArrow{
    transform: rotate(180deg);
  }
}

.input_basic{
  width: 100%;
  position: relative;

  label{
    display: block;
    font-size: var(--large-f);
  }
}

.input_btmix{
  display: flex;
  position: relative;
  
  .rinput[type=submit]{
    border-radius: 0 .75rem .75rem 0;
    width: 135px;

  }

  .rinput[type=text],
  .rinput[type=search],
  .rinput[type=password]{
    border-radius: .75rem 0 0 .75rem;
    width: calc(100% - 135px);
  }

  .btnClear{
    right: 140px;
  }
}

.input_pass{
  position: relative;

}

.check_list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .input_check{
    margin-right: 1rem;
    width: auto;
  }
}

.input_check{
  width: 100%;
  padding: .5rem 0;

  .rinput[type=checkbox],
  .rinput[type=radio]{
    display: none;
  }

  .rinput[type=checkbox] ~ .ck_line,
  .rinput[type=radio] ~ .ck_line{
    font-size: var(--large-f);
    display: block;
    padding-left: 30px;
    line-height: 28px;
    background: url(../images/icon_chk-off.svg) no-repeat left center;
    background-size: contain;
    cursor: pointer;
  }

  .rinput[type=checkbox]:checked ~ .ck_line,
  .rinput[type=radio]:checked ~ .ck_line{
    background: url(../images/icon_chk-on.svg) no-repeat left center;
    background-size: contain;
  }

  .rinput[type=checkbox] ~ .ck_circle,
  .rinput[type=radio] ~ .ck_circle{
    font-size: var(--large-f);
    display: block;
    padding-left: 30px;
    line-height: 28px;
    background: url(../images/icon_rd-off.svg) no-repeat left center;
    background-size: contain;
    cursor: pointer;
  }

  .rinput[type=checkbox]:checked ~ .ck_circle,
  .rinput[type=radio]:checked ~ .ck_circle{
    background: url(../images/icon_rd-on.svg) no-repeat left center;
    background-size: contain;
  }
}

.input_toggle{
  .toggle{
    display: none;

    + .toggle_btn{
      display: block;
      width: 68px;
      height: 38px;
      position: relative;
      cursor: pointer;
      user-select: none;
      background: var(--gray03);
      border-radius: 68px;
      padding: 4px;
      transition: all .4s ease;
  
      &:after,
      &::before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        
      }

      &:after {
        left: 0;
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
      }
      
      &:before {
        display: none;
      }
    }

    &:checked + .toggle_btn {
      background: var(--primary01);
    }

    &:checked + .toggle_btn:after {
      left: 50%;
    }
  }
}



/* ------------------------- popup ---------------------- */
.rpopup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .3s;
  z-index: -1;
  opacity: 0;

  .overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
  }

  &.on{
    z-index: 10000;
    opacity: 1;
  }

  .pop_open{
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 4rem);
    max-width: 420px;
    min-width:calc(400px - 2rem);
    background: var(--white);
    border-radius: 2rem;
    padding: 1.5rem;
    transform: translate(-50%, -50%);
    z-index: var(--z-tool);
    
  }

  .pop_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;

    button{
      width: 100%;

    }
  }

  .pop_info{
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 4rem);
    max-width: 400px;
    min-width:calc(400px - 2rem);
    background: var(--black);
    color: var(--white);
    font-size: var(--large-f);
    border-radius: 3rem;
    padding: 1.5rem 0;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: var(--z-tool);
    
  }
}

.main_popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .3s;
  z-index: -1;
  opacity: 0;

  .overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
  }

  .pop_bottom{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 500px;
    min-width:calc(500px - 2rem);
    transform: translateX(-50%);
    background: var(--white);
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
  }

  .pop_in{

    .popup_title{
      font-size: var(--h1-f);
      font-weight: var(--bold-f);
      padding: 2rem 2rem .5rem;
    }

    .popup_sub{
      font-size: var(--large-f);
      color: var(--gray02);
      padding: 0 2rem;
    }

    .pop_dec{
      line-height: var(--line-h);
      padding: 2rem;
    }
  }

  &.on{
    z-index: 10000;
    opacity: 1;
  }

  .btn_center{
    padding: 1.375rem;
    gap: 0;
  }

}

}
