/***************************************************************
    02. animations
***************************************************************/
//bubble
@keyframes bubble{
  0%{
    transform: translate(-50%, 0);
  }
  50%{
    transform: translate(-50%, .5rem);
  }
  100%{
    transform: translate(-50%, 0);
  }
}


//intro
@keyframes intro01 {
  0%{
    background-color: $primary;
    color: $light;
  }

  20%{
    background-color: $primary;
    color: $light;
  }

  25%{
    background-color: $light;
    color: $primary;
  }

  100%{
    background-color: $light;
    color: $primary;
  }
}


@keyframes intro02 {
  0%{
    background-color: $primary;
    color: $light;
  }

  45%{
    background-color: $primary;
    color: $light;
  }

  50%{
    background-color: $light;
    color: $primary;
  }

  100%{
    background-color: $light;
    color: $primary;
  }
}


@keyframes intro03 {
  0%{
    background-color: $primary;
    color: $light;
  }

  50%{
    background-color: $primary;
    color: $light;
  }

  70%{
    background-color: $primary;
    color: $light;
  }

  75%{
    background-color: $light;
    color: $primary;
  }

  100%{
    background-color: $light;
    color: $primary;
  }
}

@keyframes intro04 {
  0%{
    background-color: $light;
    color: $primary;
  }

  45%{
    background-color: $light;
    color: $primary;
  }

  50%{
    background-color: $primary;
    color: $light;
  }

  100%{
    background-color: $primary;
    color: $light;
  }
}


@keyframes intro05 {
  0%{
    background-color: $light;
    color: $primary;
  }

  50%{
    background-color: $light;
    color: $primary;
  }

  70%{
    background-color: $light;
    color: $primary;
  }

  75%{
    background-color: $primary;
    color: $light;
  }

  100%{
    background-color: $primary;
    color: $light;
  }
}


@keyframes pattern_l{
  0%{
    background-position: 0% center;
  }
  100%{
    background-position: 10000% center;
  }
}

@keyframes pattern_r{
  0%{
    background-position: 0% center;
  }
  100%{
    background-position: -10000% center;
  }
}


@keyframes keypad {
  0%{
    filter: contrast(.95);
  }
  100%{
    filter: contrast(1);
  }
}