/*font*/
/***************************************************************
    04. typo
***************************************************************/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root{
  //typo
  --h1-f: 1.75rem;
  --h2-f: 1.25rem;
  --h3-f: 2rem;
  --p1-f: 1.5625rem;
  --p2-f: 1.5rem;
  --p3-f: 1rem;
  --p4-f: 1.125rem;
  --p5-f: .8125rem; 
  --p6-f: .75rem;
  --p7-f: .875rem;
  --span1-f: 1rem;
  --span2-f: .8125rem;
  --span3-f: .875rem;
  --span4-f: .75rem;
  --span5-f: 1.5rem;
  --span6-f: 2rem;
  --misc1-f: .9375rem;
  --misc2-f: .75rem;

  @include tablet{
    --h1-f: 2.625rem;
    --h2-f: 1.875rem;
    --h3-f: 3rem;
    --p1-f: 2.375rem;
    --p2-f: 2.25rem;
    --p3-f: 1.5rem;
    --p4-f: 1.75rem;
    --p5-f: 1.25rem;
    --p6-f: 1.125rem;
    --p7-f: 1.375rem;
    --span1-f: 1.5rem;
    --span2-f: 1.25rem;
    --span3-f: 1.375rem;
    --span4-f: 1.125rem;
    --span5-f: 2.25rem;
    --span6-f: 3rem;
    --misc1-f: 1.25rem;
    --misc2-f: 1.125rem;
  }
  }

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Colo r Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "sans-serif";
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.5px;
}

.line_h{
  line-height:$lineh;
}

.line_th{
  text-decoration: $lineth;
}

.line_under{
  text-decoration: $lineunder;
}

.bold_f{
  font-weight: $boldf;
}

.point_f{
  font-family: var(--point-f);
}

.centertxt{
  text-align: center
}

.h1_fb{
  @include h1fb;
}

.h1_f{
  @include h1f;
}

.h2_fb{
  @include h2fb;
}

.h2_f{
  @include h2f;
}

.h3_fb{
  @include h3fb;
}

.h3_f{
  @include h3f;
}

.p1_fb{
  @include p1fb;
}

.p1_f{
  @include p1f;
}

.p2_fb{
  @include p2fb;
}

.p2_f{
  @include p2f;
}

.p3_fb{
  @include p3fb;
}

.p3_f{
  @include p3f;
}

.p4_fb{
  @include p4fb;
}

.p4_f{
  @include p4f;
}

.p5_fb{
  @include p5fb;
}

.p5_f{
  @include p5f;
}

.p6_fb{
  @include p6fb;
}

.p6_f{
  @include p6f;
}

.p7_fb{
  @include p7fb;
}

.p7_f{
  @include p7f;
}

.span1_fb{
  @include span1fb;
}

.span1_f{
  @include span1f;
}

.span2_fb{
  @include span2fb;
}

.span2_f{
  @include span2f;
}

.span3_fb{
  @include span3fb;
}

.span3_f{
  @include span3f;
}

.span4_fb{
  @include span4fb;
}

.span4_f{
  @include span4f;
}

.span5_fb{
  @include span5fb;
}

.span5_f{
  @include span5f;
}

.span6_fb{
  @include span6fb;
}

.span6_f{
  @include span6f;
}

.misc1_fb{
  @include misc1fb;
}

.misc1_f{
  @include misc1f;
}

.misc2_fb{
  @include misc2fb;
}

.misc2_f{
  @include misc2f;
}