@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
:root {
  --primary-color: rgba(0, 180, 0, 1);
  --primary-09: rgba(0, 180, 0, 0.9);
  --primary-08: rgba(0, 180, 0, 0.9);
  --primary-07: rgba(0, 180, 0, 0.7);
  --primary-06: rgba(0, 180, 0, 0.6);
  --primary-05: rgba(0, 180, 0, 0.5);
  --primary-04: rgba(0, 180, 0, 0.4);
  --primary-03: rgba(0, 180, 0, 0.3);
  --primary-02: rgba(0, 180, 0, 0.2);
  --primary-01: rgba(0, 180, 0, 0.1);
  --primary-005: rgba(0, 180, 0, 0.05);
  --system-red: rgba(244, 68, 50, 1);
  --system-red-09: rgba(244, 68, 50, 0.9);
  --system-red-08: rgba(244, 68, 50, 0.8);
  --system-red-07: rgba(244, 68, 50, 0.7);
  --system-red-06: rgba(244, 68, 50, 0.6);
  --system-red-05: rgba(244, 68, 50, 0.5);
  --system-red-04: rgba(244, 68, 50, 0.4);
  --system-red-03: rgba(244, 68, 50, 0.3);
  --system-red-02: rgba(244, 68, 50, 0.2);
  --system-red-01: rgba(244, 68, 50, 0.1);
  --system-red-005: rgba(244, 68, 50, 0.05);
  --system-yellow: rgba(255, 199, 16, 1);
  --system-yellow-09: rgba(255, 199, 16, 0.9);
  --system-yellow-08: rgba(255, 199, 16, 0.8);
  --system-yellow-07: rgba(255, 199, 16, 0.7);
  --system-yellow-06: rgba(255, 199, 16, 0.6);
  --system-yellow-05: rgba(255, 199, 16, 0.5);
  --system-yellow-04: rgba(255, 199, 16, 0.4);
  --system-yellow-03: rgba(255, 199, 16, 0.3);
  --system-yellow-02: rgba(255, 199, 16, 0.2);
  --system-yellow-01: rgba(255, 199, 16, 0.1);
  --system-yellow-005: rgba(255, 199, 16, 0.05);
  --gray-black: rgba(47, 47, 47, 1);
  --gray-01: rgba(116, 116, 116, 1);
  --gray-02: rgba(159, 159, 159, 1);
  --gray-03: rgba(201, 201, 201, 1);
  --gray-04: rgba(223, 223, 223, 1);
  --gray-05: rgba(245, 245, 245, 1);
  --gray-white: rgba(255, 255, 255, 1);
  --brand-yellow: rgba(255, 198, 15, 1);
  --brand-orange: rgba(255, 142, 0, 1);
  --brand-blue: rgba(0, 171, 234, 1);
  --brand-purple: rgba(101, 101, 217, 1);
  --shadow-btn: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  --h1-f: 1.5rem;
  --h2-f: 1.25rem;
  --h3-f: 1.125rem;
  --p1-f: 1.25rem;
  --p2-f: 0.9375rem;
  --p3-f: 0.875rem;
  --p4-f: 0.8125rem;
  --p5-f: 0.75rem;
  --p6-f: 1.125rem;
  --p7-f: 1rem;
  --span1-f: 0.9375rem;
  --span2-f: 0.8125rem;
  --span3-f: 0.75rem;
  --span4-f: 0.625rem;
  --misc1-f: 0.9375rem;
  --misc2-f: 0.8125rem;
  --bold-f: 700;
  --medium-f: 500;
  --thin-f: 300;
  --second-f: "Poppins";
  --line-h: 1.5;
  --z-tool: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media (max-width: 359px) {
  :root {
    --h1-f: 6.6852vw;
    --h2-f: 5.571vw;
    --h3-f: 5.0139vw;
    --p1-f: 5.571vw;
    --p2-f: 4.178vw;
    --p3-f: 3.8997vw;
    --p4-f: 3.6212vw;
    --p5-f: 3.3426vw;
    --p6-f: 5.0139vw;
    --span1-f: 4.178vw;
    --span2-f: 3.6212vw;
    --span3-f: 3.3426vw;
    --span4-f: 2.7855vw;
    --misc1-f: 4.1783vw;
    --misc2-f: 3.6212vw;
  }
}
/* mediaquery */
/* typo */
/* flex */
/***************************************************************
    01. base
***************************************************************/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100svh;
  scroll-behavior: smooth;
}

main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  outline-style: none;
  margin: 0;
  border: none;
  transition: all 0.2s;
}

input:foucs {
  outline: none;
}

input::-webkit-input-placeholder {
  font-size: inherit;
  line-height: 1;
}

[type=radio],
[type=checkbox] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  padding: 0;
}

[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

/***************************************************************
    02. animations
***************************************************************/
@keyframes tootip {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/***************************************************************
    03. layer
***************************************************************/
.mb_0_25 {
  margin-bottom: 0.25rem;
}

.mb_0_5 {
  margin-bottom: 0.5rem;
}

.mb_0_75 {
  margin-bottom: 0.75rem;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mb_1_25 {
  margin-bottom: 1.25rem;
}

.mb_1_5 {
  margin-bottom: 1.5rem;
}

.mb_1_75 {
  margin-bottom: 1.75rem;
}

.mb_2 {
  margin-bottom: 2rem;
}

.mb_2_5 {
  margin-bottom: 2.5rem;
}

.mb_3 {
  margin-bottom: 3rem;
}

.mb_3_5 {
  margin-bottom: 3.5em;
}

.mb_4 {
  margin-bottom: 4rem;
}

.mt_0_25 {
  margin-top: 0.25rem;
}

.mt_0_5 {
  margin-top: 0.5rem;
}

.mt_0_75 {
  margin-top: 0.75rem;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_1_25 {
  margin-top: 1.25rem;
}

.mt_1_5 {
  margin-top: 1.5rem;
}

.mt_1_75 {
  margin-top: 1.75rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_2_25 {
  margin-top: 2.25rem;
}

.mt_2_5 {
  margin-top: 2.5rem;
}

.mt_2_75 {
  margin-top: 2.75rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mt_3_25 {
  margin-top: 3.25rem;
}

.mt_3_5 {
  margin-top: 3.5rem;
}

.mt_3_75 {
  margin-top: 3.75rem;
}

.mt_4 {
  margin-top: 5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_top {
  display: flex;
  align-items: flex-start;
}

.flex_topcenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex_topbtw {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_topright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex_bottom {
  display: flex;
  align-items: flex-end;
}

.flex_bottomcenter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex_bottombtw {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.inner_0_25 {
  padding-inline: 0.25rem;
}

.inner_0_5 {
  padding-inline: 0.5rem;
}

.inner_0_75 {
  padding-inline: 0.75rem;
}

.inner_1 {
  padding-inline: 1rem;
}

.inner_1_25 {
  padding-inline: 1.25rem;
}

.inner_1_5 {
  padding-inline: 1.5rem;
}

.inner_1_75 {
  padding-inline: 1.75rem;
}

.inner_2 {
  padding-inline: 2rem;
}

.block_0_25 {
  padding-block: 0.25rem;
}

.block_0_5 {
  padding-block: 0.5rem;
}

.block_0_75 {
  padding-block: 0.75rem;
}

.block_1 {
  padding-block: 1rem;
}

.block_1_25 {
  padding-block: 1.25rem;
}

.block_1_5 {
  padding-block: 1.5rem;
}

.block_1_75 {
  padding-block: 1.75rem;
}

.block_2 {
  padding-block: 2rem;
}

.list_0_25 {
  display: grid;
  gap: 0.25rem;
}

.list_0_5 {
  display: grid;
  gap: 0.5rem;
}

.list_0_75 {
  display: grid;
  gap: 0.75rem;
}

.list_1 {
  display: grid;
  gap: 1rem;
}

.list_1_25 {
  display: grid;
  gap: 1.25rem;
}

.list_1_5 {
  display: grid;
  gap: 1.5rem;
}

.list_1_75 {
  display: grid;
  gap: 1.75rem;
}

.list_2 {
  display: grid;
  gap: 2rem;
}

.main {
  background-color: var(--gray-05);
  min-height: calc(100svh - 3rem);
}

.fullpage {
  position: relative;
  height: 100svh;
  background-color: var(--gray-white);
}

.header + .fullpage {
  height: calc(100svh - 3rem);
}

section {
  background-color: var(--gray-white);
  padding-block: 1.5rem 2rem;
}
section.contents {
  padding-inline: 1.25rem;
}
section.full {
  min-height: calc(100svh - 3rem);
}

/***************************************************************
    04. typo
***************************************************************/
body {
  font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "sans-serif";
  font-weight: var(--medium-f);
  line-height: 1.2;
  color: var(--gray-black);
}

.h1_f {
  font-size: var(--h1-f);
  font-weight: var(--bold-f);
}

.h2_f {
  font-size: var(--h2-f);
  font-weight: var(--bold-f);
}

.h3_f {
  font-size: var(--h3-f);
  font-weight: var(--bold-f);
}

.p1_f {
  font-size: var(--p1-f);
  line-height: var(--line-h);
}

.p1_fb {
  font-size: var(--p1-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.p2_f {
  font-size: var(--p2-f);
  line-height: var(--line-h);
}

.p2_fb {
  font-size: var(--p2-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.p3_f {
  font-size: var(--p3-f);
  line-height: var(--line-h);
}

.p3_fb {
  font-size: var(--p3-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.p4_f {
  font-size: var(--p4-f);
  line-height: var(--line-h);
}

.p4_fb {
  font-size: var(--p4-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.p5_f {
  font-size: var(--p5-f);
  line-height: var(--line-h);
}

.p5_fb {
  font-size: var(--p5-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.p6_f {
  font-size: var(--p6-f);
  line-height: var(--line-h);
}

.p6_fb {
  font-size: var(--p6-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.p7_f {
  font-size: var(--p7-f);
  line-height: var(--line-h);
}

.p7_fb {
  font-size: var(--p7-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.span1_f {
  font-size: var(--span1-f);
}

.span1_fb {
  font-size: var(--span1-f);
  font-weight: var(--bold-f);
}

.span2_f {
  font-size: var(--span2-f);
}

.span2_fb {
  font-size: var(--span2-f);
  font-weight: var(--bold-f);
}

.span3_f {
  font-size: var(--span3-f);
}

.span3_fb {
  font-size: var(--span3-f);
  font-weight: var(--bold-f);
}

.span4_f {
  font-size: var(--span4-f);
}

.span4_fb {
  font-size: var(--span4-f);
  font-weight: var(--bold-f);
}

.misc1_th {
  font-size: var(--misc1-f);
  text-decoration: line-through;
}

.misc1_thb {
  font-size: var(--misc1-f);
  font-weight: var(--bold-f);
  text-decoration: line-through;
}

.misc2_th {
  font-size: var(--misc2-f);
  text-decoration: line-through;
}

.misc2_thb {
  font-size: var(--misc2-f);
  font-weight: var(--bold-f);
  text-decoration: line-through;
}

.misc1_under {
  font-size: var(--misc1-f);
  text-decoration: underline;
}

.misc1_underb {
  font-size: var(--misc1-f);
  font-weight: var(--bold-f);
  text-decoration: underline;
}

.misc2_under {
  font-size: var(--misc2-f);
  text-decoration: underline;
}

.misc2_underb {
  font-size: var(--misc2-f);
  font-weight: var(--bold-f);
  text-decoration: underline;
}

.txt_center {
  text-align: center;
}

.txt_right {
  text-align: right;
}

.txt_left {
  text-align: left;
}

.listdot {
  position: relative;
  padding-left: 1rem;
}
.listdot::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--gray-02);
  position: absolute;
  left: 5px;
  top: 7px;
}

.bold_f {
  font-weight: var(--bold-f);
}

.medium_f {
  font-weight: var(--medium-f);
}

.thin_f {
  font-weight: var(--thin-f);
}

.second_f {
  font-family: var(--second-f);
}

/***************************************************************
    05. color
***************************************************************/
.primary_color {
  color: var(--primary-color);
}

.primary_09 {
  color: var(--primary-09);
}

.primary_08 {
  color: var(--primary-08);
}

.primary_07 {
  color: var(--primary-07);
}

.primary_06 {
  color: var(--primary-06);
}

.primary_05 {
  color: var(--primary-05);
}

.primary_04 {
  color: var(--primary-04);
}

.primary_03 {
  color: var(--primary-03);
}

.primary_02 {
  color: var(--primary-02);
}

.primary_01 {
  color: var(--primary-01);
}

.primary_005 {
  color: var(--primary-005);
}

.system_red {
  color: var(--system-red);
}

.system_red_09 {
  color: var(--system-red-09);
}

.system_red_08 {
  color: var(--system-red-08);
}

.system_red_07 {
  color: var(--system-red-07);
}

.system_red_06 {
  color: var(--system-red-06);
}

.system_red_05 {
  color: var(--system-red-05);
}

.system_red_04 {
  color: var(--system-red-04);
}

.system_red_03 {
  color: var(--system-red-03);
}

.system_red_02 {
  color: var(--system-red-02);
}

.system_red_01 {
  color: var(--system-red-01);
}

.system_red_005 {
  color: var(--system-red-005);
}

.system_yellow {
  color: var(--system-yellow);
}

.system_yellow_09 {
  color: var(--system-yellow-09);
}

.system_yellow_08 {
  color: var(--system-yellow-08);
}

.system_yellow_07 {
  color: var(--system-yellow-07);
}

.system_yellow_06 {
  color: var(--system-yellow-06);
}

.system_yellow_05 {
  color: var(--system-yellow-05);
}

.system_yellow_04 {
  color: var(--system-yellow-04);
}

.system_yellow_03 {
  color: var(--system-yellow-03);
}

.system_yellow_02 {
  color: var(--system-yellow-02);
}

.system_yellow_01 {
  color: var(--system-yellow-01);
}

.system_yellow_005 {
  color: var(--system-yellow-005);
}

.gray_black {
  color: var(--gray-black);
}

.gray_01 {
  color: var(--gray-01);
}

.gray_01 {
  color: var(--gray-01);
}

.gray_02 {
  color: var(--gray-02);
}

.gray_03 {
  color: var(--gray-03);
}

.gray_04 {
  color: var(--gray-04);
}

.gray_05 {
  color: var(--gray-05);
}

.gray_white {
  color: var(--gray-white);
}

.brand_yellow {
  color: var(--brand-yellow);
}

.brand_orange {
  color: var(--brand-orange);
}

.brand_blue {
  color: var(--brand-blue);
}

.brand_purple {
  color: var(--brand-purple);
}

/***************************************************************
    06. icons
***************************************************************/
i {
  width: 100%;
  aspect-ratio: 1;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ic_kakao_w {
  background-image: url(../images/system/kakao_w.svg);
}

.ic_kakao_bk {
  background-image: url(../images/system/kakao_bk.svg);
}

.ic_blog_w {
  background-image: url(../images/system/blog_w.svg);
}

.ic_insta_w {
  background-image: url(../images/system/insta_w.svg);
}

.ic_apple_w {
  background-image: url(../images/system/apple_w.svg);
}

.ic_down_gray {
  background-image: url(../images/system/down_gray.svg);
}

.ic_navchallenge {
  background-image: url(../images/common/navchallenge_off.svg);
}

.ic_navhome {
  background-image: url(../images/common/navhome_off.svg);
}

.ic_navqna {
  background-image: url(../images/common/navqna_off.svg);
}

.ic_navstore {
  background-image: url(../images/common/navstore_off.svg);
}

.ic_back {
  background-image: url(../images/system/back.svg);
}

.ic_x {
  background-image: url(../images/system/x.svg);
}

.ic_check_off {
  background-image: url(../images/system/check_off.svg);
}

.ic_check_on {
  background-image: url(../images/system/check_on.svg);
}

/***************************************************************
    07. form
***************************************************************/
input[type=text],
input[type=password],
input[type=tell],
input[type=email],
input[type=number] {
  background-color: var(--gray-05);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  font-size: var(--span2-f);
  width: 100%;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;
  transition: 0.2s;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tell]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=number]::-moz-placeholder {
  color: var(--gray-03);
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=tell]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder {
  color: var(--gray-03);
}
input[type=text]:required,
input[type=password]:required,
input[type=tell]:required,
input[type=email]:required,
input[type=number]:required {
  background-image: url(../images/system/check_off.svg);
}
input[type=text]:required.valid,
input[type=password]:required.valid,
input[type=tell]:required.valid,
input[type=email]:required.valid,
input[type=number]:required.valid {
  background-image: url(../images/system/check_on.svg);
}
input[type=text]:required.error,
input[type=password]:required.error,
input[type=tell]:required.error,
input[type=email]:required.error,
input[type=number]:required.error {
  background-image: none;
  background-color: var(--system-red-005);
}

.label {
  font-size: var(--span2-f);
  padding-bottom: 0.25rem;
  display: block;
}

.input_wrap {
  position: relative;
  width: 100%;
}
.input_wrap input ~ label {
  font-size: var(--span3-f);
  padding-top: 0.5rem;
}
.input_wrap input ~ label.error {
  color: var(--system-red);
}
.input_wrap .input_block {
  position: relative;
  width: 100%;
}
.input_wrap .input_block .btn_abs {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}
.input_wrap .input_block .btn_abs ~ .time_count {
  font-size: var(--span3-f);
  font-weight: var(--bold-f);
  color: var(--gray-02);
  position: absolute;
  right: 4.25rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.input_wrap .input_block .btn_abs ~ .time_count .jst-hours {
  display: none;
}

/***************************************************************
    08. buttons
***************************************************************/
button {
  cursor: pointer;
}
button:disabled {
  background-color: var(--gray-03);
  color: var(--gray-02);
}

.btn {
  font-size: var(--span1-f);
  font-weight: var(--bold-f);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: var(--w);
  background-color: var(--primary-color);
  color: var(--gray-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid transparent;
}
.btn i {
  width: 1.25rem;
}
.btn-icon {
  width: 2rem;
  height: 2rem;
}
.btn.color_white {
  background-color: var(--gray-white);
  color: var(--gray-01);
  border-color: var(--gray-04);
}
.btn.color_error {
  background-color: var(--system-red);
}
.btn.color_black {
  background-color: var(--gray-black);
}
.btn.color_gray {
  background-color: var(--gray-05);
  color: var(--gray-01);
}
.btn.color_kakao {
  background-color: #fee500;
  color: var(--gray-black);
}
.btn.color_apple {
  background-color: #000;
  color: var(--gray-white);
}
.btn.size_s {
  padding: 0.5rem 0.75rem;
  font-size: var(--span2-f);
  border-radius: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.25rem;
  font-weight: var(--medium-f);
}
.btn.size_xs {
  padding: 0.375rem 0.625rem;
  font-size: var(--span3-f);
  border-radius: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.25rem;
  font-weight: var(--medium-f);
}
.btn.size_xs i {
  width: 1rem;
}
.btn.type_wide {
  border-radius: 0.5rem;
}
.btn.type_wide.size_l {
  border-radius: 0;
}
.btn.type_wide.size_s {
  font-size: var(--span2-f);
  font-weight: var(--bold-f);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  width: 100%;
}
.btn.type_round {
  border-radius: 6rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  box-shadow: var(--shadow-btn);
}
.btn.type_round.size_s {
  opacity: 0.8;
  font-size: var(--span3-f);
  font-weight: var(--bold-f);
  padding: 0.375rem 0.75rem 0.375rem 0.5rem;
  box-shadow: none;
  gap: 0;
}
.btn.type_round.size_s.color_black {
  background-color: #000;
}
.btn.type_popup {
  border-radius: 0.5rem;
  padding-block: 14px;
}
.btn.type_social {
  padding-block: 11px;
}

.btn_fixed {
  position: fixed;
  bottom: 0.5rem;
  width: 100%;
  display: grid;
  gap: 0.5rem;
  padding-inline: 1rem;
  z-index: var(--z-fixed);
}

/***************************************************************
    09. components
***************************************************************/
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  color: var(--gray-04);
}

.swiper-pagination-bullet-active {
  background-color: var(--gray-black);
}

.tooltip {
  position: absolute;
  z-index: var(--z-tool);
}
.tooltip p {
  font-size: var(--span2-f);
  font-weight: var(--bold-f);
  color: var(--gray-white);
  padding: 0.375rem 0.75rem;
  border-radius: 3rem;
  background-color: var(--gray-black);
  animation: tootip 1s ease-in-out infinite;
}
.tooltip p::after {
  content: "";
  position: absolute;
  background-color: var(--gray-black);
  width: 1rem;
  height: 1rem;
  left: 50%;
  z-index: -1;
  bottom: -0.5rem;
  transform: rotate(45deg) translateX(-50%);
}

/***************************************************************
    10. nav
***************************************************************/
/***************************************************************
    11. popup
***************************************************************/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--z-modal);
  transition: opacity 0.2s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.popup.open {
  z-index: var(--z-modal);
  opacity: 1;
}
.popup .contents {
  width: 20rem;
  padding: 1.5rem;
  background-color: var(--gray-white);
  position: fixed;
  z-index: var(--z-modal);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
}
.popup .contents .title {
  font-size: var(--p2-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
  padding-bottom: 0.75rem;
}
.popup .contents .txt {
  font-size: var(--p3-f);
  line-height: var(--line-h);
  color: var(--gray-01);
}
.popup .contents .popup_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding-top: 1rem;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}
.modal.open {
  opacity: 1;
  z-index: 99;
}
.modal.open .modal_wrap {
  bottom: 0;
}

/***************************************************************
    12. header
***************************************************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  height: 3rem;
  background-color: var(--gray-white);
  position: sticky;
  top: 0;
  z-index: var(--z-fixed);
}
.header-name {
  font-size: var(--span1-f);
  font-weight: var(--bold-f);
  width: calc(100% - 8.5rem);
  text-align: center;
}
.header-btn {
  font-size: var(--span1-f);
  font-weight: var(--bold-f);
  color: var(--gray-02);
}
.header-btn.active {
  color: var(--primary-color);
}
.header-left {
  width: 4.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.header-right {
  width: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/***************************************************************
    13. footer
***************************************************************/
.footer {
  background-color: var(--gray-05);
  padding-block: 2rem;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-social a {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--gray-03);
  padding: 0.375rem;
}
@media (max-device-width: 359px) {
  .footer-social a {
    width: 7.7778vw;
  }
}
.footer-info .title {
  font-size: var(--span3-f);
  font-weight: var(--bold-f);
  color: var(--gray-01);
  margin-bottom: 0.75rem;
}
.footer-info .flex_top {
  font-size: var(--span3-f);
  color: var(--gray-02);
  gap: 0.5rem;
}
.footer-info .flex_top p:first-child {
  white-space: nowrap;
}
.footer .info_btn {
  font-size: var(--span3-f);
  font-weight: var(--bold-f);
  color: var(--gray-01);
  display: flex;
  align-items: center;
  padding-bottom: 0.625rem;
  cursor: pointer;
}
.footer .info_btn i {
  width: 1.25rem;
  transition: 0.2s;
}
@media (max-device-width: 359px) {
  .footer .info_btn i {
    width: 5.5556w;
  }
}
.footer .info_btn.more_open i {
  transform: rotate(180deg);
}
.footer .info_more {
  padding-block: 0.375rem 1rem;
  display: none;
}
.footer-lnb {
  display: flex;
  align-items: center;
  gap: 1.0625rem;
}
.footer-lnb a {
  font-size: var(--span3-f);
  color: var(--gray-02);
  position: relative;
}
.footer-lnb a::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: var(--gray-02);
  position: absolute;
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.footer-lnb a:first-child::before {
  display: none;
}

.footer-quick {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gray-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--gray-04);
}
.footer-quick .quick_group {
  width: calc((100% - 4.5rem) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5625rem 0.25rem;
}
.footer-quick .quick_group a {
  width: 50%;
}
.footer-quick .quick_group a i {
  width: 20px;
  margin: 0 auto 0.5rem;
}
@media (max-device-width: 359px) {
  .footer-quick .quick_group a i {
    width: 5.5556vw;
  }
}
.footer-quick .quick_group a p {
  font-size: var(--span4-f);
  font-weight: var(--bold-f);
  color: var(--gray-02);
  text-align: center;
}
.footer-quick .quick_group a.active p {
  color: var(--gray-black);
}
.footer-quick .quick_group a.active .ic_navchallenge {
  background-image: url(../images/common/navchallenge_on.svg);
}
.footer-quick .quick_group a.active .ic_navstore {
  background-image: url(../images/common/navstore_on.svg);
}
.footer-quick .quick_group a.active .ic_navhome {
  background-image: url(../images/common/navhome_on.svg);
}
.footer-quick .quick_group a.active .ic_navqna {
  background-image: url(../images/common/navqna_on.svg);
}
.footer-quick .quick_center {
  position: fixed;
  z-index: var(--z-fixed);
}
.footer-quick .quick_center .center_btn {
  position: fixed;
  left: 50%;
  bottom: 0.625rem;
  transform: translateX(-50%);
  width: 3.375rem;
  aspect-ratio: 1;
  background-color: var(--gray-white);
  padding: 0.1875rem;
  box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.1) inset;
  border-radius: 50%;
  transition: 0.2s;
}
.footer-quick .quick_center .center_btn img {
  width: 100%;
}
@media (max-device-width: 359px) {
  .footer-quick .quick_center .center_btn {
    width: 15vw;
    padding: 0.8333vw;
  }
}
.footer-quick .quick_center .center_btn.active {
  transform: translateX(-50%) rotate(90deg);
  box-shadow: none;
}

.quick_full {
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.quick_full .full_menu {
  position: fixed;
  z-index: var(--z-fixed);
  display: grid;
  gap: 1rem;
  left: 50%;
  bottom: 5.5rem;
  transform: translateX(-50%);
}
.quick_full .full_menu a {
  background-color: var(--gray-white);
  max-width: 9.75rem;
  width: 41.6667vw;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4375rem 1.25rem;
}
.quick_full .full_menu a.ani_add:first-child {
  animation: navquick_01 0.2s ease-in-out;
}
.quick_full .full_menu a img {
  width: 50px;
  aspect-ratio: 1;
}
@media (max-device-width: 359px) {
  .quick_full .full_menu a img {
    width: 13.9276vw;
  }
}
.quick_full .full_menu a p {
  width: calc(100% - 3.125rem);
  text-align: center;
  font-size: var(--span1-f);
  font-weight: var(--bold-f);
  color: var(--gray-01);
}
@media (max-device-width: 359px) {
  .quick_full .full_menu a p {
    width: calc(100% - 13.9276vw);
  }
}
.quick_full.open {
  z-index: var(--z-tool);
  opacity: 1;
}

/***************************************************************
    14. board
***************************************************************/
/***************************************************************
    15. main
***************************************************************/
body.open {
  height: 100svh;
  overflow: hidden;
}

.section_title {
  font-size: var(--p1-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}

.section_txt {
  padding-top: 0.75rem;
  font-size: var(--p3-f);
  line-height: var(--line-h);
  color: var(--gray-02);
}

.txt_link {
  font-size: var(--misc2-f);
  text-decoration: underline;
  color: var(--gray-01);
  text-align: center;
  display: block;
}

.onboarding {
  padding-bottom: 8.5rem;
  height: 100%;
}
.onboarding .swiper-wrapper .onboarding-img {
  aspect-ratio: 1;
}
.onboarding-item {
  display: grid;
  align-content: center;
  height: 100%;
}
.onboarding-img {
  margin: 0 auto;
  max-width: 20rem;
  width: 100%;
}
.onboarding-info {
  text-align: center;
  padding-top: 8svh;
  display: grid;
  gap: 1rem;
}
.onboarding-txt {
  font-size: var(--p1-f);
  line-height: var(--line-h);
  font-weight: var(--bold-f);
}
.onboarding-sub {
  font-size: var(--p3-f);
  line-height: var(--line-h);
  color: var(--gray-02);
}
.onboarding .last_slide .onboarding-info {
  padding-top: 5svh;
}
.onboarding .last_slide ~ .swiper-pagination {
  bottom: 20svh;
}
.onboarding .swiper-pagination {
  bottom: 12svh;
}

.login_btns {
  display: grid;
  gap: 0.5rem;
  margin-top: 10.25rem;
  position: relative;
}
.login_btns .tooltip {
  top: -2.625rem;
  left: 50%;
  transform: translateX(-50%);
}