/***************************************************************
    11. footer
***************************************************************/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    padding-block: 1rem;
}