/***************************************************************
    14. main
***************************************************************/
html {
  background-color: var(--paper-bg);
}

body {
  ::-webkit-scrollbar {
    background-color: var(--action-hover);
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--action-disabled-bg);
    border-radius: 3rem;
  }

  &.open {
    height: 100svh;
    overflow: hidden;
  }
}

.body_wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flextopbtw;
  min-width: 90rem;
}

.container {
  height: 100svh;
  overflow: auto;
  background-color: var(--body-bg);
  width: calc(100% - 16.25rem);
  padding: var(--padding-4) var(--padding-6);

  &.con_wide {
    width: calc(100% - 4.375rem);
  }

  .container_body {
    width: 100%;
    min-height: calc(100% - 5.875rem);
    position: relative;
    z-index: 1;
    padding-block: var(--padding-6);
  }
}

.container_title {
  @include flexbtw;
  padding-bottom: var(--padding-6);

  .font_h4 {
    @include flex;
    gap: var(--gap-2);
  }

  .flex_right {
    gap: var(--gap-4);
  }
}

.container_grid {
  @include flextopbtw;
}

.content_title {
  padding: var(--padding-6);
  // @include flexbtw;
  position: relative;

  .heading_abs {
    top: 1.5rem;
    right: 1.5rem;
  }

  .title {
    @include font_h5;
  }

  .txt {
    @include font_subtitle_1;
    color: var(--text-secondary);
  }
}

.content_body {
  padding: 0 var(--padding-6) var(--padding-6);

  &.inventory {
    @include flextop;

    .tab_group_fill {
      width: 14rem;
      border-right: 1px solid var(--divider);
      padding-right: var(--padding-6);

      .tab_btn {
        justify-content: flex-start;

        i {
          width: 1.125rem;
          height: 1.125rem;
          background-size: cover;
        }

        &:hover {
          .ic_box {
            background-image: url(../images/system/box_pr.svg);
          }
          .ic_car {
            background-image: url(../images/system/car_pr.svg);
          }
          .ic_world {
            background-image: url(../images/system/world_pr.svg);
          }
          .ic_link {
            background-image: url(../images/system/link_pr.svg);
          }
          .ic_lock {
            background-image: url(../images/system/lock_pr.svg);
          }
        }

        &.active {
          .ic_box {
            background-image: url(../images/system/box_w.svg);
          }
          .ic_car {
            background-image: url(../images/system/car_w.svg);
          }
          .ic_world {
            background-image: url(../images/system/world_w.svg);
          }
          .ic_link {
            background-image: url(../images/system/link_w.svg);
          }
          .ic_lock {
            background-image: url(../images/system/lock_w.svg);
          }
        }
      }
    }

    .tab_con {
      width: calc(100% - 14rem);
      padding-left: var(--padding-6);

      .input_wrap {
        gap: var(--gap-4);

        .input_basic {
          width: calc(100% - 113px);
        }
        button {
          width: 6.0625rem;
        }
      }
    }
  }

  &.pricing {
    .input_switch {
      border-top: 1px solid var(--divider);
      padding-top: var(--padding-2);
      margin-top: var(--padding-2);
      justify-content: space-between;

      .switch_label {
        width: 100%;
        justify-content: space-between;
      }

      .swtich_btn {
        order: 2;
      }

      .switch_txt {
        order: 1;
        color: var(--text-secondary);
      }
    }
  }

  &.organize {
    .input_wrap {
      gap: var(--gap-4);

      .input_basic {
        width: calc(100% - 3.375rem);
      }
    }
  }
}

.widget {
  //======= 1.Analytics ===========
  .analytics_slide {
    background-color: var(--primary);
    color: var(--light-color);
    height: 16.25rem;

    .widget-title {
      .title_heading {
        .txt {
          color: var(--light-color);
        }
      }
    }

    .swiper-slide {
      background-image: url(../images/analytics_img.png);
      background-repeat: no-repeat;
      background-position: calc(100% + 2rem) calc(100% + 2rem);
    }

    .analytics_trf {
      padding-block: var(--padding-3);
      .title {
        font-weight: var(--font-medium);
        padding-bottom: var(--padding-4);
      }
      .trf_grid {
        width: 17rem;
        display: grid;
        gap: var(--gap-4) 0;
        grid-template-columns: repeat(2, 1fr);

        .trf_data {
          @include flex;
          gap: var(--gap-2);
        }

        .no {
          font-weight: var(--font-medium);
          padding: var(--padding-2);
          border-radius: 0.375rem;
          width: fit-content;
          background-color: var(--primary-700);
          white-space: nowrap;
        }

        .txt {
          white-space: nowrap;
        }
      }
    }
  }

  .analytics_slide_nav {
    position: absolute;
    top: 0.625rem;
    right: 1.5rem;
    z-index: 2;

    .swiper-pagination {
      position: initial;
    }

    .swiper-pagination-bullet {
      background-color: var(--light-color);
      transition: all 0.2s ease;
    }
  }

  .daily_sales {
    padding: var(--padding-3) var(--padding-6) var(--padding-6);
  }

  .canvas_dailysales {
    height: 76px;
  }

  .sales_overview {
    .content {
      @include flexbtw;
      gap: 0.625rem;
      padding-bottom: var(--padding-6);

      .data {
        width: calc((100% - 2.75rem) / 2);

        .title {
          @include flex;
          gap: 0.625rem;
          padding-bottom: 0.625rem;
          .order_icon {
            width: 1.5rem;
            height: 1.5rem;
            background-color: var(--info-o-light);
            border-radius: 0.375rem;
            padding: 0.1875rem;

            img {
              width: 1.125rem;
              height: 1.125rem;
            }
          }
          .link_icon {
            width: 1.5rem;
            height: 1.5rem;
            background-color: var(--primary-o-light);
            border-radius: 0.375rem;
            padding: 0.1875rem;

            img {
              width: 1.125rem;
              height: 1.125rem;
            }
          }
        }

        &-right {
          text-align: right;

          .title {
            justify-content: flex-end;
          }
        }
      }
      .vs {
        position: relative;
        @include flexcenter;
        height: 6rem;

        &::before {
          content: "";
          width: 1px;
          height: 1.875rem;
          background-color: var(--divider);
          position: absolute;
          top: 0;
        }

        &::after {
          content: "";
          width: 1px;
          height: 1.875rem;
          background-color: var(--divider);
          position: absolute;
          bottom: 0;
        }
        .txt {
          border-radius: 50%;
          @include font_overline;
          color: var(--text-disabled);
          background-color: var(--action-hover);
          width: 1.5rem;
          height: 1.5rem;
          @include flexcenter;
        }
      }
    }
    .progress {
      background-color: var(--primary);
      border-radius: 3rem;
      width: 100%;
      height: 0.625rem;
      position: relative;
      overflow: hidden;
      .bar {
        position: absolute;
        height: 100%;
        width: var(--prg-bar);
        background-color: var(--info);
        animation: prgbar 2s ease-in-out;
      }
    }
  }

  &.earning_reports {
    // height: 25.1875rem;
    .widget-con {
      padding-top: 0;

      .data_top {
        @include flexbtw;
        gap: var(--gap-8);
        height: 10.0625rem;
        padding-bottom: var(--padding-5);

        .data {
          width: 100%;
          .font_h2 {
            @include flex;
            gap: 0.625rem;
          }
        }
        .canvas_earning_reports {
          width: 100%;
        }
      }

      .data_bottom {
        border: 1px solid var(--divider);
        border-radius: 0.375rem;
        @include flexbtw;
        gap: var(--gap-6);
        padding: var(--padding-5);

        .data {
          width: 100%;
          display: grid;
          gap: var(--gap-2);

          .icon_title {
            @include flex;
            gap: var(--gap-2);
            .icon {
              width: 1.625rem;
              height: 1.625rem;
              border-radius: 0.375rem;
              background-color: var(--bg-color);
              @include flexcenter;
              img {
                width: 1.125rem;
                height: 1.125rem;
              }
            }
          }

          .progress {
            width: 100%;
            background-color: var(--action-selected);
            border-radius: 3rem;
            position: relative;
            height: 0.25rem;
            overflow: hidden;

            .bar {
              position: absolute;
              height: 100%;
              left: 0;
              width: var(--prg-bar);
              background-color: var(--bar-bg);
              border-radius: 3rem;
              animation: prgbar 2s ease-in-out;
            }
          }
        }
      }
    }
  }

  .support_tracker {
    @include flexbtw;
    .data_list {
      padding-top: var(--padding-6);
      display: grid;
      gap: var(--gap-4);

      .avatar_data {
        gap: var(--gap-4);

        .avatar_info {
          .txt {
            color: var(--text-disabled);
          }
        }
      }
    }

    .support_graph {
      width: 240px;
      height: 240px;
      position: relative;
      @include flexcenter;

      .praph_bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        mask-image: url("../images/support_graph.png");
        mask-size: 100%;
        background: conic-gradient(
          from 90deg,
          var(--primary) 0deg,
          transparent var(--prg-bar)
        );

        transform: rotate(180deg) scaleX(-1);
      }
    }
  }

  .total_earning {
    .canvas_total_earning {
      height: 5.4375rem;
    }
    .data_bottom {
      display: grid;
      gap: var(--gap-4);
      padding-top: var(--padding-6);

      .data {
        @include flexbtw;

        .avatar_data {
          gap: var(--gap-4);
          .thumb {
            width: 2.375rem;
            height: 2.375rem;
            @include flexcenter;
            border-radius: 0.375rem;

            img {
              width: 1.375rem;
              height: 1.375rem;
            }
          }
        }
      }
    }
  }

  .source_visits {
    height: calc(100% - 4.5rem);

    .widget-list {
      height: 100%;
    }

    .avatar_data {
      gap: var(--gap-4);
    }
  }

  .monthly_campaign {
    height: calc(100% - 4.5rem);
    .widget-list {
      height: 100%;
      .widget_data {
        .avatar_data {
          gap: var(--gap-4);
        }

        .data_right {
          .cost {
            background-image: none;
            padding-left: 0;
            font-weight: initial;
            width: 2.8125rem;
          }
        }
      }
    }
  }

  .order_s {
    padding-top: var(--padding-3);

    .canvas_order_s {
      height: 4.5rem;
    }
  }

  .canvas_sale_s {
    padding-top: var(--padding-3);
    height: 5.25rem;
  }

  .sale_s {
    padding-top: 0;
  }

  .revenue_growth {
    height: 100%;

    .list {
      height: 100%;
      display: grid;
      align-content: space-between;
    }

    .canvas_revenue_growth {
      height: 100%;
    }
  }

  .earning_order {
    .order_tab {
      @include flex;
      gap: var(--gap-4);

      .tab_btn {
        width: 6.875rem;
        height: 6.25rem;
        border: 1px dashed var(--divider);
        border-radius: 0.625rem;
        display: grid;
        gap: var(--gap-2);
        align-content: center;
        justify-items: center;
        transition: all 0.2s ease;
        cursor: pointer;

        .icon {
          width: 2.375rem;
          height: 2.375rem;
          border-radius: 0.375rem;
          background-color: var(--avatar-bg);
          background-size: 1.375rem;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 0.2s ease;
        }
        .txt {
          font-weight: var(--font-medium);
        }

        &.active {
          border: 1px solid var(--primary);

          .icon {
            background-color: var(--primary-o-light);

            &.ic_shopping_cart_gr {
              background-image: url(../images/system/shopping_cart_pr.svg);
            }
            &.ic_chart_bar_gr {
              background-image: url(../images/system/chart_bar_pr.svg);
            }
            &.ic_currency_dollar_gr {
              background-image: url(../images/system/currency_dollar_pr.svg);
            }
            &.ic_chart_pie_2_gr {
              background-image: url(../images/system/chart_pie_2_pr.svg);
            }
          }
        }
      }
    }

    .canvas_earning_order {
      height: 16.875rem;
    }
  }

  .sales_rader {
    height: 100%;
    .canvas_sales_rader {
      height: 100%;
      max-height: 19.75rem;
    }
  }

  .active_project {
    .avatar {
      .thumb {
        max-width: 2rem;
      }
    }
    .data_right {
      width: calc(100% - 11.875rem);
    }
    .progress_data {
      width: 100%;
      max-width: 9.375rem;
      .progress {
        height: 0.5rem;
        .bar {
          background-color: var(--bar-bg);
          box-shadow: var(--bar-shadow);
        }
      }
    }
  }

  .project_states {
    .data_bottom {
      .flex_right {
        gap: var(--gap-4);
      }
    }
  }

  .canvas_project_states {
    height: 15.75rem;
  }

  .last_transaction {
    .avatar {
      width: 3.125rem;
      height: 1.875rem;

      .thumb {
        border-radius: 0.375rem;
        img {
          width: 1.875rem;
        }
      }
    }
  }

  .best_month {
    height: 100%;
    display: grid;
    align-content: space-between;
    background-image: url(../images/best_month.png);
    background-repeat: no-repeat;
    background-size: 7.25rem;
    background-position: calc(100% - 1.5rem) bottom;

    .font_h5 {
      padding-bottom: 0.125rem;
    }
  }

  .statics {
    @include flexbtw;
    padding-top: 4rem;

    .avatar_data {
      width: 25%;

      .avatar {
        .thumb img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .avatar_info {
        .name {
          @include font_h5;
        }
      }
    }
  }

  .profit {
    padding-top: var(--padding-3);

    .canvas_profit {
      height: 5rem;
    }

    .cost {
      @include font_body_2;
      padding-left: 0;
      background: none;
    }
  }

  .monthly_report {
    @include flexbtw;
    height: 100%;

    .con_left {
      width: calc(100% - 7.5rem);
      display: grid;
      align-content: space-between;
      height: 100%;

      .cost {
        text-align: left;
      }
    }
    .canvas_monthly_report {
      width: 7.5rem;
      height: 7.5rem;
      padding: var(--padding-1);
      position: relative;
      .total {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        p {
          line-height: 1.2;
        }
      }

      canvas {
        position: relative;
        z-index: 1;
      }
    }
  }

  .revenue_report {
    width: calc((100% - 10.5rem) / 8 * 5 + 7.5rem);
    height: 100%;

    .heading_abs {
      gap: var(--gap-4);

      p {
        @include flex;
        gap: var(--gap-2);
      }

      .revenue_report_dot1 {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: var(--primary);
      }

      .revenue_report_dot2 {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: var(--warning);
      }
    }

    .widget-con {
      height: calc(100% - 3.25rem);
      display: grid;
      align-content: center;
    }

    .canvas_revenue_report1 {
      height: 8.1875rem;
      position: relative;
      bottom: -0.5rem;
      padding-left: 0.875rem;
    }

    .canvas_revenue_report2 {
      padding-left: 0.875rem;
      height: 8.125rem;
    }
  }

  .budget {
    width: calc((100% - 10.5rem) / 8 * 3 + 3rem);
    display: grid;
    gap: var(--gap-8);
    height: 100%;
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: var(--padding-12);

    .canvas_budget {
      height: 72px;
    }
  }

  .expenses {
    padding-top: var(--padding-3);
    padding-inline: var(--padding-4);
    .canvas_expenses {
      position: relative;
      height: 4.875rem;
      //   padding-bottom: var(--padding-3);
      //   height: 4.4375rem;
    }
    // .expenses_prg {
    //   width: auto;
    //   height: 100%;
    //   border-radius: 6.25rem 6.25rem 0 0;
    //   border-left: 0.1875rem solid var(--divider);
    //   border-right: 0.1875rem solid var(--divider);
    //   border-top: 0.1875rem solid var(--divider);
    //   aspect-ratio: 1/0.5;
    //   margin: 0 auto;
    //   position: relative;

    //   &::before {
    //     content: "";
    //     width: 0.1875rem;
    //     height: 0.1875rem;
    //     position: absolute;
    //     left: -0.1875rem;
    //     bottom: 0;
    //     background-color: var(--divider);
    //     border-radius: 50%;
    //   }

    //   &::after {
    //     content: "";
    //     width: 0.1875rem;
    //     height: 0.1875rem;
    //     position: absolute;
    //     right: -3px;
    //     bottom: 0;
    //     background-color: var(--divider);
    //     border-radius: 50%;
    //   }

    //   .bar {
    //     position: absolute;
    //     width: 126px;
    //     height: calc(100% + 0.25rem);
    //     top: -0.25rem;
    //     left: -0.25rem;
    //     // background-image: conic-gradient(from -90deg, var(--warning));
    //     background-image: conic-gradient(
    //       from -90deg at 50% 0,
    //       #fff 50%,
    //       var(--warning) 0
    //     );
    //     transform: rotate(180deg) scaleX(-1);
    //     border-radius: 0 0 6.25rem 6.25rem;
    //     z-index: 1;

    //     &::before {
    //       content: "";
    //       width: 0.5rem;
    //       height: 0.5rem;
    //       position: absolute;
    //       left: 0;
    //       top: -0.25rem;
    //       background-color: var(--warning);
    //       border-radius: 50%;
    //     }

    //     &::after {
    //       content: "";
    //       width: 0.5rem;
    //       height: 0.5rem;
    //       position: absolute;
    //       right: 0;
    //       top: -0.25rem;
    //       background-color: #000;
    //       border-radius: 50%;
    //       transform-origin: -59px bottom;
    //       transform: rotate(10deg) scaleX(-1);
    //     }
    //   }
    // }
    .expensesDounut {
    }
    .prog_per {
      @include font_h4;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0.25rem;
      position: absolute;
    }
  }

  .earning_report_3 {
    height: calc(100% - 74px);
    display: grid;
    align-content: space-between;

    .widget-list {
      gap: var(--gap-5);
    }
    .canvas_earning_report_3 {
      height: 12.5rem;
    }

    .cost {
      color: var(--text-disabled);
    }
  }

  .popular_product {
    height: calc(100% - 74px);
    .widget-list {
      height: 100%;
    }

    .avatar .thumb {
      background-color: transparent;
    }
  }

  &.order_countries {
    .tab_group {
      width: 100%;

      .tab_btn {
        width: 100%;
        justify-content: center;
      }
    }

    .timeline {
      display: grid;
      gap: var(--gap-5);

      &-data {
        .title {
          @include font_body_2;
          height: auto;
        }

        .content {
          padding-block: 2px 0;
          gap: 2px;
        }
      }

      &-block:last-child::before {
        display: none;
      }

      &:first-child {
        padding-bottom: var(--padding-4);
        margin-bottom: var(--padding-4);
        border-bottom: 1px dashed var(--divider);
      }
    }
  }

  .transactions {
    height: calc(100% - 4.625rem);

    .widget-list {
      height: 100%;
    }
  }

  &.issue_table {
    .widget-table_input {
      .left {
        .input_basic {
          select {
            min-width: 6.25rem;
          }
        }
      }
    }

    table tbody {
      color: var(--text-secondary);
    }
  }

  &.popular_instructors {
    & > .flex_btw {
      padding: var(--padding-4) var(--padding-6);
      border-top: 1px solid var(--divider);
      border-bottom: 1px solid var(--divider);
      margin-top: var(--padding-6);
    }

    .avatar_data {
      .avatar_info {
        .txt {
          color: var(--text-disabled);
        }
      }
    }
  }

  .topic_interested {
    @include flexbtw;
    .topic_labal {
      width: 15.375rem;
      display: grid;
      gap: var(--gap-12) var(--gap-6);
      grid-template-columns: repeat(2, 1fr);
      .flex_top {
        gap: var(--gap-2);
        .dot {
          border: 5px solid var(--paper-bg);
          border-radius: 50%;
          background-color: var(--dot-color);
          width: 1.375rem;
          height: 1.375rem;
        }
      }
    }

    .canvas_topic_interested {
      height: 18.4375rem;
      width: calc(100% - 21.625rem);
    }
  }

  .top_courses {
    height: calc(100% - 3.25rem);

    .widget-list {
      height: 100%;
    }
    .avatar_data {
      width: 70%;
    }

    .avatar_info {
      width: calc(100% - 3.25rem);
    }
  }

  .assianment_progress {
    height: calc(100% - 3.25rem);

    .widget-list {
      height: 100%;
    }

    // .circle_prg {
    //   width: 58px;
    //   height: 58px;
    //   border-radius: 50%;
    //   background-color: var(--action-selected);
    //   position: relative;
    //   padding: 6px;

    //   .prog_per {
    //     background-image: conic-gradient(
    //       var(--primary) var(--prg-per),
    //       transparent var(--prg-per)
    //     );
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 50%;
    //     top: 0;
    //     left: 0;
    //     position: absolute;

    //     &::before {
    //       content: "";
    //       width: 6px;
    //       height: 6px;
    //       border-radius: 50%;
    //       position: absolute;
    //       top: 0;
    //       left: calc(50% - 3px);
    //       background-color: #000;
    //       border-radius: 50%;
    //     }

    //     &::after {
    //       content: "";
    //       position: absolute;
    //       width: 6px;
    //       height: 6px;
    //       background-color: red;
    //       border-radius: 50%;
    //       transform: rotate(calc((360 / 100) * 72)deg);
    //       transform-origin: 29px;
    //       left: 0;
    //       top: calc(50% - 3px);
    //     }
    //   }

    //   .per {
    //     background-color: var(--paper-bg);
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 50%;
    //     @include flexcenter;
    //     top: 0;
    //     left: 0;
    //     position: relative;
    //     z-index: 1;
    //   }
    // }

    // @property --p {
    //   syntax: "<number>";
    //   inherits: true;
    //   initial-value: 0;
    // }

    .circle_prg {
      --w: 3.625rem;
      --p: 72;
      --b: 6px;
      width: var(--w);
      aspect-ratio: 1;
      position: relative;
      border-radius: 50%;
      background-color: var(--action-selected);
      @include flexcenter;
      padding: 6px;
      // animation: p 1s 0.5s ease;

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 0;
        background: radial-gradient(farthest-side, var(--c) 98%, #0000)
            top/var(--b) var(--b) no-repeat,
          conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
        mask: radial-gradient(
          farthest-side,
          #0000 calc(99% - var(--b)),
          #000 calc(100% - var(--b))
        );
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: calc(50% - var(--b) / 2);
        background: var(--c);
        transform: rotate(calc(var(--p) * 3.6deg))
          translateY(calc(50% - 3.625rem / 2));
      }

      .per {
        background-color: var(--paper-bg);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        @include flexcenter;
      }
    }

    .txt {
      display: grid;
      gap: 0.375rem;
      width: calc(100% - 7.5rem);
    }

    .more {
      width: 1.875rem;
      height: 1.875rem;
      background-color: var(--secondary-o-light);
      border-radius: 0.375rem;
      @include flexcenter;
      cursor: pointer;

      i {
        width: 1.25rem;
        height: 1.25rem;
        background-size: cover;
      }
    }
  }

  .upcoming {
    display: grid;
    gap: var(--gap-4);

    .upcoming_img {
      background: var(--primary-o-light) url(../images/pricing_banner.png);
      background-repeat: no-repeat;
      background-size: 8.25rem;
      background-position: center bottom;
      border-radius: 0.375rem;
      height: 10.25rem;
      width: 100%;
    }

    & > .flex_btw {
      gap: var(--gap-4);
    }

    .avatar_data {
      width: 100%;
    }

    .avatar {
      .thumb {
        background-color: var(--primary-o-light);

        .avatar_icon {
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      .name {
        font-weight: var(--font-medium);
      }
    }
  }

  .course_table {
    .progress_data {
      .progress {
        width: calc(100% - 100px);
        height: 0.5rem;
      }
      .font_body_2 {
        width: 2.8125rem;
      }
      .per {
        width: 2.375rem;
      }
    }

    .avatar_data {
      gap: var(--gap-4);

      .avatar_info {
        gap: var(--gap-1);
      }
    }

    .avatar {
      width: 2.5rem;
      height: 2.5rem;

      .thumb {
        .avatar_icon {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }

    .table_icons {
      @include flex;
      gap: var(--gap-5);

      .flex {
        gap: 0.375rem;
        width: 25%;
      }
      i {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    tbody td {
      height: 4.25rem;
    }
  }

  &.welcom_first {
    border-right: 1px solid var(--divider);
    padding-right: var(--padding-6);

    & > .flex_btw {
      gap: var(--gap06);
    }

    .avatar_data {
      width: 100%;
      gap: var(--gap-4);

      .name {
        font-weight: var(--font-medium);
        color: var(--text-secondary);
      }

      .txt {
        @include font_h4;
        color: var(--txt-c);
      }
    }
  }

  &.time_spendings {
    @include flex;

    .con_left {
      width: calc(100% - 9.375rem);
      display: grid;
      align-content: space-between;
      height: 100%;
    }

    .canvas_time_spendings {
      width: 9.375rem;
      height: 9.375rem;
      position: relative;

      .total {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }

  .vehicles_overview {
    .labels {
      @include flex;

      p {
        width: var(--w);
        color: var(--text-secondary);
        position: relative;
        animation: barlabel 0.85s ease-out;
        opacity: 1;
        white-space: nowrap;

        &::after {
          content: "";
          display: block;
          width: 2px;
          background-color: var(--divider);
          height: 0.625rem;
          margin-top: var(--padding-1);
        }
      }
    }
    .canvas_vehicles_overview {
      height: 94px;
    }
    .list_0_75 {
      .flex_btw {
        border-bottom: 1px solid var(--divider);
        padding-bottom: var(--gap-3);
      }

      .list_name {
        @include flex;
        gap: var(--gap-2);

        i {
          width: 1.5rem;
          height: 1.5rem;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .list_per {
        @include flexright;
        gap: var(--gap-6);

        p {
          min-width: 46px;
        }
      }
    }
  }

  .delivery_performance {
    height: calc(100% - 4.625rem);

    .widget-list {
      height: 100%;
    }

    .cost {
      width: fit-content;
    }
  }

  .route_vehicles {
    tbody {
      td {
        color: var(--text-secondary);
      }
    }
    .flex {
      gap: var(--gap-4);
    }

    .avatar {
      .thumb {
        .avatar_icon {
          width: 1.75rem;
        }
      }
    }

    .progress_data {
      .progress {
        height: 0.5rem;
      }
    }
  }

  .shipment_statistics {
    .canvas_shipment_statistics {
      height: 18.125rem;
    }
  }

  .delivery_exceptions {
    .canvas_delivery_exceptions {
      height: 25.3125rem;
      position: relative;

      .total {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
}

// ====================== eCommerce =======================
.editor {
  .input_label {
    padding-bottom: var(--padding-1);
  }

  .fr-toolbar.fr-top,
  .fr-box.fr-basic.fr-top .fr-wrapper,
  .fr-second-toolbar:empty {
    border-color: var(--divider);
  }

  .fr-toolbar .fr-btn-grp {
    // opacity: 1;
  }
}

.dragdrop {
  border: 1px dashed var(--divider);
  padding: var(--padding-12);

  .file-upload {
    display: grid;
    gap: var(--gap-2);
    justify-items: center;
  }

  table {
    border-top: 1px solid var(--divider);
    width: 100%;
    margin-top: 1.5rem;

    thead {
      th {
        @include font_table_header;
        text-align: left;
        text-transform: uppercase;
        padding: var(--padding-2);
        border-bottom: 1px solid var(--divider);
      }
    }

    tbody {
      td {
        @include font_body_2;
        color: var(--text-secondary);
        border-bottom: 1px solid var(--divider);
        padding: var(--padding-2);

        img {
          border-radius: 6px;
        }

        .btn {
          padding: 0.375rem;
        }

        .ic_file {
          width: 1rem;
          height: 1rem;
          background-size: 1rem;
          display: block;
        }
      }
    }
  }
}

.category_list {
  table {
    thead {
      th {
        &.text_right {
          text-align: right;
        }

        &.text_center {
          text-align: center;
        }

        &::after {
          display: none;
        }
      }
    }

    tbody {
      td {
        color: var(--text-secondary);

        .name {
          color: var(--text-primary);
          font-weight: var(--font-medium);
        }
      }
    }
  }
}

.order_list {
  .card_logo {
    width: 1.75rem;
  }

  .pay_dot {
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--c);
    border-radius: 50%;
    margin-right: var(--padding-2);

    & + .font_m {
      color: var(--c);
    }
  }
}

.order_detail_total {
  padding: var(--padding-6);
  @include flex;
  align-items: flex-end;
  flex-direction: column;

  .flex_btw {
    gap: var(--gap-12);

    .font_m {
      width: 3.25rem;
    }
  }
}

.shipping_activity {
  .now + .timeline-block {
    &::before {
      background: none;
    }
    .timeline-icon {
      .icon {
        background-color: var(--secondary);
        box-shadow: 0 0 0 3px var(--secondary-o-light);
      }
    }
  }

  .now,
  .timeline-block:has(~ .now) {
    .icon {
      background-color: var(--primary);
      box-shadow: 0 0 0 3px var(--primary-o-light);
    }
  }

  .now {
    &.timeline-block {
      &::before {
        background-color: transparent;
        background-image: url(../images/timeline_bg.svg);
      }
    }
  }
}

.customer {
  padding: var(--padding-12) var(--padding-6) vaR(--padding-6);

  .customer_smr {
    text-align: center;

    .customer_pic {
      width: 7.5rem;
      aspect-ratio: 1;
      border-radius: 0.375rem;
      overflow: hidden;
      margin: 0 auto var(--padding-4);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & > .flex_center {
    margin-block: var(--padding-6);
    gap: var(--gap-12);

    .avatar {
      .thumb {
        background-color: var(--primary-o-light);
      }
    }

    .name {
      @include font_h5;
    }
  }

  .list_0_5 {
    border-top: 1px solid var(--divider);
    padding-block: var(--padding-4) var(--padding-6);
    margin-top: var(--padding-4);
  }

  .btn {
    width: 100%;
  }
}

.banner_upgrade {
  background: var(--primary-gr);
  padding: var(--padding-6);
  color: var(--light-color);

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: -1.875rem;
    width: 100%;
    height: 100%;
    background-image: url(../images/banner_up.png);
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .btn {
    background-color: var(--light-color);
    color: var(--primary);
    width: 100%;
  }
}

.customer_overview {
  display: grid;
  gap: var(--gap-6);
  grid-template-columns: repeat(2, 1fr);

  .widget {
    display: grid;
    gap: var(--gap-2);
  }
}

.customer_security {
  table {
    .flex {
      @include flex;
      gap: var(--gap-4);
      i {
        width: 1.375rem;
        height: 1.375rem;
      }
    }
  }

  .input_wrap {
    .flex {
      i {
        cursor: pointer;
      }
    }
  }
}

.addbook {
  border-bottom: 1px solid var(--divider);

  &:last-child {
    border-bottom: 0;
  }

  &-title {
    @include flexbtw;
    padding-block: var(--padding-3);

    .title {
      width: calc(100% - 7.125rem);
      @include flex;
      gap: var(--gap-4);
      cursor: pointer;

      i {
        width: 1.5rem;
        height: 1.5rem;
        background-size: cover;
        transition: all 0.3s;
      }

      .add_info {
        .name {
          @include flex;
          gap: var(--gap-2);
          padding-bottom: var(--padding-1);
        }
      }

      &.moreOpen {
        i {
          transform: rotate(90deg);
        }
      }
    }

    .buttons {
      width: 7.125rem;
      @include flex;

      i {
        width: 2.375rem;
        height: 2.375rem;
        background-size: 1.375rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }

    .avatar {
      width: 3.125rem;
      height: 1.875rem;

      .thumb {
        .avatar_img {
          width: 60%;
        }
      }
    }
  }

  &-more {
    padding: 0 var(--padding-10) var(--padding-3);
    display: none;

    & > .flex_top {
      gap: var(--gap-12);
      @include font_body_2;

      .more_1 {
        .text_secondary {
          width: 5.25rem;
        }
      }

      .more_2 {
        .text_secondary {
          width: 6.5rem;
          @include flex;
          gap: var(--gap-4);
        }

        .font_m {
          @include flex;
          gap: var(--gap-4);
        }
      }

      .origin_img {
        width: 1.25rem;
        height: 1.25rem;
      }

      .cvc_check {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: var(--bg);
        @include flexcenter;

        i {
          width: 0.75rem;
          height: 0.75rem;
          background-size: cover;
        }
      }
    }
  }
}

.manage_reviews {
  padding: var(--padding-6);
  @include flexbtw;
  height: 12.75rem;

  .reviews_info {
    width: 100%;
    padding-right: var(--padding-6);
    border-right: 1px solid var(--divider);
    display: grid;
    gap: var(--gap-2);

    .font_h3 {
      @include flex;
      gap: var(--gap-2);
    }

    i {
      width: 2rem;
      height: 2rem;
      background-size: cover;
    }
  }

  .chart_manage_reviews {
    width: 100%;
    height: 100%;
    padding-left: var(--padding-6);
    display: grid;

    .progress_bar {
      @include flexbtw;
      gap: var(--gap-2);

      .data_label {
        width: 2.375rem;
        @include font_body_2;
        color: var(--text-secondary);
      }
      .data_bar {
        height: 0.5rem;
        border-radius: 3rem;
        width: calc(100% - 4.875rem);
        position: relative;
        background-color: var(--primary-o-lighter);

        .bar {
          --total: 130; //최대높이 기준 조금 더 높게 설정
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: calc((100% / var(--total)) * var(--prg-bar));
          background-color: var(--primary);
          box-shadow: var(--primary-s-small);
          border-radius: 3rem;
          // animation: prgbar2 1s ease-in-out;
        }
      }

      .data_total {
        @include font_body_2;
        color: var(--text-secondary);
        width: 1.5rem;
      }
    }
  }
}

.manage_reviews_statistics {
  padding: var(--padding-6);
  @include flexbtw;
  height: 12.75rem;

  .statistics_info {
    display: grid;
    height: 100%;
    align-content: space-between;
  }

  .canvas_manage_reviews_statistics {
    width: 14.375rem;
    height: 100%;
  }
}

:root.dark {
  .shipping_activity {
    .now {
      &.timeline-block {
        &::before {
          background-image: url(../images/timeline_bg_d.svg);
        }
      }
    }
  }
}
