/***************************************************************
    14. main
***************************************************************/
html {
  background-color: var(--paper-bg);
}

body {
  ::-webkit-scrollbar {
    background-color: var(--action-hover);
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--action-disabled-bg);
    border-radius: 3rem;
  }

  &.open {
    height: 100svh;
    overflow: hidden;
  }
}

.body_wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flextop;
}

.container {
  height: 100svh;
  overflow: hidden;
  background-color: var(--body-bg);
  width: calc(100% - 16.25rem);
  padding: var(--padding-4) var(--padding-6);

  .container_body {
    width: 100%;
    height: calc(100% - 5.875rem);
    overflow-y: hidden;
    position: relative;
    z-index: 1;
    padding-block: var(--padding-6);
  }
}

//======= 1.Analytics ===========
.analytics_slide {
  background-color: var(--primary);
  color: var(--light-color);

  .swiper-slide {
    background-image: url(../images/analytics_img.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 2rem) calc(100% + 2rem);
  }

  .analytics_trf {
    padding-block: var(--padding-3);
    .title {
      font-weight: var(--font-medium);
      padding-bottom: var(--padding-4);
    }
    .trf_grid {
      width: 17rem;
      display: grid;
      gap: var(--gap-4) 0;
      grid-template-columns: repeat(2, 1fr);

      .trf_data {
        @include flex;
        gap: var(--gap-2);
      }

      .no {
        font-weight: var(--font-medium);
        padding: var(--padding-2);
        border-radius: 0.375rem;
        width: fit-content;
        background-color: var(--primary-700);
        white-space: nowrap;
      }

      .txt {
        white-space: nowrap;
      }
    }
  }
}

.analytics_slide_nav {
  position: absolute;
  top: 0.625rem;
  right: 1.5rem;
  z-index: 2;

  .swiper-pagination {
    position: initial;
  }

  .swiper-pagination-bullet {
    background-color: var(--light-color);
    transition: all 0.2s ease;
  }
}
