
/* loading */
.dimLoading{position:fixed;left:0;right:0;top:0;bottom:0;z-index:100;width:100%;min-height:100%;background:rgba(0,0,0,.8);}
.dimLoading .inner{position:absolute;top:50%;width:100%;transform:translateY(-50%);}
.dimLoading .inner .img{display:flex;align-items:center;justify-content:center;width:6.25rem;height:6.25rem;margin:0 auto;}
.dimLoading .inner .img img{width:70%;}
.basicLoading{position:fixed;overflow:hidden;top:0;left:0;z-index:2223;width:100vw;height:100vh;}
#basicLoading_img{position:absolute;top:50%;left:50%;z-index:200;width:25%;transform:translate(-50%, -50%);}


/*메인페이지*/

.main_title_wr {position:absolute; top:5%; left:3%; text-align:left;}
.main_title_wr .text {margin-bottom:0px;}
.main_title_wr .title{font-size:23px; color:#2a2a2a; padding-bottom:10px;}

/*메인페이지*/

#container {background-color:#fff;}
.main_visual_wr{}
.main_visual_wr .visual00 {position:relative;}
.visual02 .main_title_wr .text {margin-bottom:0px;}
.visual02 .main_title_wr .text_img {display:inline-block; padding:20px 0; min-height:330px;}
.main_visual_wr .visual02 .main_title_wr .main_btn {margin-top:40px;}


.main_visual_wr .main_title_wr{padding:0 5%;width:100%;  position:absolute; top:60px; left:0; text-align:left;}
.main_visual_wr .main_title_wr .title{font-size:23px; color:#2a2a2a; padding-bottom:30px;}
.visual02 .main_title_wr .title{padding-bottom:80px;}
.main_visimg_wr {position:relative;}
.main_visual_img01 {animation-name: medicine01; animation-duration:7s; animation-iteration-count:infinite;}
.main_visual_img02 {position:absolute; top:0; left:50%; transform:translateX(-50%); animation-name: medicine02; animation-duration:7s; animation-iteration-count:infinite;}

@-webkit-keyframes medicine01 {
    0% {
        opacity:100%;
    }
    50% {
        opacity:0%;
    }
    100% {
        opacity:100%;
    }
}
@-webkit-keyframes medicine02 {
    0% {
        opacity:0%;
    }
    50% {
        opacity:100%;
    }
    100% {
        opacity:0%;
    }
}




.main_visual_wr .main_title_wr .title span{background: linear-gradient(transparent 50%, rgba(62,186,226,.5) 50%);padding:0 5px;color:#fff;}
.main_visual_wr .main_title_wr .text{font-size:18px; color:#2a2a2a; letter-spacing:-1px;position:relative;padding-left:20px;}
.main_visual_wr .main_title_wr .text:before{position:absolute;top:0;left:0;content:"";background-color:#A9EDFF;width:10px;height:100%;}
.main_visual_wr .vis_btn_wr {position: absolute; left:10%; top:250px; max-width:280px;width:90%; text-align:center; border-radius:50px; background-color:#3c5fd6;     overflow: hidden;}
.main_visual_wr .vis_btn_wr .main_btn {font-size:16px;color:#fff; width:100%; display:block; padding:20px 0;}
.main_visual_wr .visual02{background-color:#ececec;width:100%;padding:80px 0;}
.main_visual_wr .visual02 .main_tit_wr{font-size:26px;font-weight:400;padding:0 5%;padding-bottom:50px; position:relative; left:6%;}
.main_visual_wr .visual02 .main_tit_wr .title{padding-bottom:30px;}
.main_visual_wr .visual02 .main_tit_wr div{font-size:18px;font-weight:400;position:relative;padding-left:20px;}
.main_visual_wr .visual02 .main_tit_wr div:before{position:absolute;top:0;left:0;content:"";background-color:rgba(39,209,255,.4);width:10px;height:100%;}
.main_visual_wr .visual02 .main_visual_img{width:100%; text-align:center;}
.main_visual_wr .visual02 .main_visual_img img{width:65%;}
.main_visual_wr .visual02 .vis2_btn_wr {width:80%; text-align:center; border-radius:50px; background-color:#3c5fd6; overflow: hidden; margin:80px auto 0;}
.main_section_wr01{/*padding-top:37px; background:#EFF2F5 url(/images/main_section1_bg.png) no-repeat 50% 50%;*/}
.main_event_wr {position:relative;padding-bottom:31px;}
.main_event_wr .img_wr{text-align:center;}
.main_event_wr .text_wr{position:absolute; top:0;left:0;color:#fff;padding:0 10%;}
.main_event_wr .text_wr .cate{font-size:12px; font-weight:700; padding-top:9px;}
.main_event_wr .text_wr .tit{font-size:20px; font-weight:700;padding-top:4px;margin-bottom:9px;}
.main_event_wr .text_wr a{color:#fff;font-size:12px;padding:4px 13px;background-color:#00aaff;border-radius:50px;}
.main_section_wr01 .main_cont01_wr{position:relative;padding:80px 0; background-color:#fff;}
.main_section_wr01 .main_cont01_wr > .text_wr{position:absolute;top:33px; left:0;padding-left:10%;}
.main_section_wr01 .main_cont01_wr > .text_wr .text{font-size:20px;font-weight:700; color:#fff;}
.main_section_wr01 .main_cont01_wr .survey_step_wr{/*background-color:#fff; box-shadow:0 3px 6px rgba(0,0,0,.16); margin-top:31px;*/margin:0 5%;border-radius:5px;}



.main_cont02_wr .main_cont_title_wr .title {color: #fff;}
/*.main_cont02_wr .main_cont_title_wr .text {color: #fff;}*/
.main_cont02_wr .main_cont_title_wr .line {background-color:#fff;}
.main_cont02_wr .main_btn_wr a {font-size:14px; color: #3c5fd6; background-color: #fff; border-radius:5px; width:35%; text-align:center; display:block; max-width:500px;  padding:15px 0; font-weight:700;margin:0 auto;}
.main_visual_wr .visual02 .vis2_btn_wr .main_btn{font-size:16px;color:#fff; width:100%; display:block; padding:15px 0;font-weight:500;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li:last-child {padding-bottom:0;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .img_wr{display:inline-block;position:relative;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .img_wr:after{content:"";position:absolute;bottom:-35px;width:22px; height:11px;left:50%;transform:translateX(-50%);background:url('/images/main_section1_icon01.png') no-repeat;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li:last-child .img_wr:after{content:none;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .text_wr{display:inline-block;vertical-align:middle;padding-left:5%;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .text_wr .num{font-size:14px; font-weight:700; color:#3c5fd6;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .text_wr .tit{font-size:18px; font-weight:700; padding:3px 0;}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .text_wr .text{font-size:14px;}
.main_section_wr01 .main_cont02_wr{ background-color:#fff;/*background:url('../images/main_bg00.png') no-repeat; background-size:cover; margin-bottom:40px;*/ position:relative;}
/*.main_section_wr01 .main_cont02_wr .main_cont_title_wr .title{font-size:20px; font-weight:700; color:#000;letter-spacing:-1px;padding-bottom:7px;}*/
/*.main_section_wr01 .main_cont02_wr .main_cont_title_wr .title span{background: linear-gradient(transparent 50%, rgba(0,124,164,.5) 50%);padding:0 5px;color:#000;}*/
.main_section_wr01 .main_cont02_wr .myfit_box{width:100%;background-color:#fff;padding:0 5%;border-radius:5px;padding-top:37px;box-shadow:0 3px 6px rgba(0,0,0,0.16);}
.main_section_wr01 .main_cont02_wr .main_cont02_bg{}
.main_section_wr01 .main_cont02_wr .main_cont02_bg img{width:100%;}

.main_section_wr01 .main_cont02_wr .main_cont02_text {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-align:center; width:100%;}

.main_section_wr01 .main_cont02_wr .main_cont_title_wr{color:#fff;text-align:left;/*position:absolute;top:80px; left:50%; transform:translateX(-50%); text-align:center; */}
.main_section_wr01 .main_cont02_wr .main_cont_title_wr .title{color:#fff; font-size:24px; font-weight:500; text-align:center;}
.main_section_wr01 .main_cont02_wr .main_btn_wr{/*position:absolute;z-index:1;width:100%;bottom:30px;left:0;*/ margin-top:35px}
.main_section_wr01 .main_cont02_wr .myfit_box .customer_wr .img_wr{display:inline-block;width:30%;}
.main_section_wr01 .main_cont02_wr .myfit_box .customer_wr .text_wr{display:inline-block;vertical-align:middle;padding-left:3%;width:67%;}
.main_section_wr01 .main_cont02_wr .myfit_box .customer_wr .text_wr .name{color:#2a2a2a; font-size:18px; font-weight:700;display:inline-block;}
.main_section_wr01 .main_cont02_wr .myfit_box .customer_wr .text_wr .age{color:#989898; font-size:14px;display:inline-block;padding-left:3px;}
.main_section_wr01 .main_cont02_wr .myfit_box .customer_wr .text_wr .hash_wr{padding-top:9px;width:100%;}
.main_section_wr01 .main_cont02_wr .myfit_box .customer_wr .text_wr .hash_wr a{padding:3px 6px; background-color:rgba(0,169,224,.1); border-radius:5px;font-size:12px; color:#00aaff;letter-spacing:-1px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr{padding-bottom:20px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr .title{font-size:16px; font-weight:700; color:#2A2A2A;position:relative;text-indent:10px;padding-bottom:10px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr .title .bar{position:absolute;left:0; top:50%;transform:translateY(-50%); width:3px;height:22px;background-color: rgba(39,209,255,.4);}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li{background-color:#F8FAFB;border-radius:5px;margin-bottom:10px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li .img_wr{border-radius:5px 0 0 5px;width:26%;text-align:center;height:87px;padding:20px 0;float:left;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li:nth-child(1) .img_wr{background-color:#ffd3b5;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li:nth-child(2) .img_wr{background-color:#DCDCDC;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li:nth-child(3) .img_wr{background-color:#A9DAEB;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li .text_wr{width:73%;float:right;padding-top:14px;padding-left:10px;letter-spacing:-1px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li .text_wr .tit{font-size:14px; font-weight:700; color:#2A2A2A;display:inline-block;padding-right:8px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li .text_wr .type{font-size:12px; color:#fff;display:inline-block;background-color:#00aaff;border-radius:9px;padding:0 4%;padding-bottom:1px;}
.main_section_wr01 .main_cont02_wr .myfit_box .nutrition_design_wr li .text_wr .text{font-size:12px; color:#2A2A2A;}
.main_section_wr01 .main_cont03_wr{padding:0 5%;width:100%;position:relative;padding-bottom:36px;}
.main_section_wr01 .main_cont03_wr>.img_wr{position:relative;}
.main_section_wr01 .main_cont03_wr>.img_wr .text_wr{position:absolute; top:25px;left:15px; color:#fff;}
.main_section_wr01 .main_cont03_wr>.img_wr .text_wr .sub_tit{font-size:12px;}
.main_section_wr01 .main_cont03_wr>.img_wr .text_wr .tit{font-size:20px; font-weight:700;}
.main_section_wr01 .main_cont03_inbox{width:100%;background-color:#fff;padding:0 5%;padding-bottom:20px;}
.main_section_wr01 .main_cont03_inbox .fit_compare00{width:49%;float:left; text-align:center;vertical-align:middle;}
.main_section_wr01 .main_cont03_inbox .fit_compare01{margin-right:2%;}
.main_section_wr01 .main_cont03_inbox .fit_compare00 .img_wr{height:128px;position:relative;}
.main_section_wr01 .main_cont03_inbox .fit_compare00 .img_wr img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.main_section_wr01 .main_cont03_inbox .fit_compare00 .cont_tit_wr{font-size:20px;color:#2a2a2a;padding-bottom:18px;}
.main_section_wr01 .main_cont03_inbox .fit_compare00 .compare_list_wr {width:100%;}
.main_section_wr01 .main_cont03_inbox .fit_compare00 .compare_list_wr li{background-color:#F5F5F5; border-radius:12px 0 12px 0;width:100%; font-size:16px;padding:12px 0;margin-bottom:12px;}
.main_section_wr01 .main_cont03_inbox .fit_compare02 .compare_list_wr li{background-color:#00aaff;color:#fff;}
/*.main_section_wr02{width:100%;height:465px;background-color:#E3E8EE;}*/
.main_section_wr03{padding:0 5%;padding-top:100px;}
.main_section_wr03 .main_cont04_event_wr{width:100%; border-radius:5px;padding:0 5%;margin-bottom:37px;}
.main_section_wr03 .main_cont04_event_wr .text_wr{color:#fff; padding-top:10px; padding-bottom:14px; float:left; letter-spacing:-1px;}
.main_section_wr03 .main_cont04_event_wr .text_wr .tit{font-size:18px; font-weight:700;}
.main_section_wr03 .main_cont04_event_wr .text_wr .sub_tit{font-size:12px; padding-top:4px; padding-bottom:7px;}
.main_section_wr03 .main_cont04_event_wr .text_wr a{color:#3666B3; background-color:#fff; font-size:12px; font-weight:500; border-radius:50px;padding:3px 0; display:block; width:115px; text-align:center;}
.main_section_wr03 .main_cont04_event_wr img{float:right;padding-top:21px;}
.main_section_wr03 .main_cont05_wr{width:100%;margin-bottom:0px;padding-bottom:80px;}
.main_section_wr03 .main_cont05_wr .event00{width:48%;float:left; background-color:#fff; box-shadow:0 3px 6px rgba(0,0,0,.16); border-radius:5px; overflow:hidden; text-align:center;}
/*.main_section_wr03 .main_cont05_wr .event00 .img_wr{margin-bottom:7px;}*/
.main_section_wr03 .main_cont05_wr .event00 .img_wr {background-color:#3c5fd6; padding:25px 0;}
.main_section_wr03 .main_cont05_wr .event00 .img_wr img{width:80%;}
.main_section_wr03 .main_cont05_wr .right_event .img_wr {background-color:#45BDE6;}
.main_section_wr03 .main_cont05_wr .text_wr{text-align:center; padding:25px 0;}
.main_section_wr03 .main_cont05_wr .text_wr .tit{padding-bottom:10px;font-size:16px; font-weight:700; position:relative; display:inline-block; z-index:10;}
/*.main_section_wr03 .main_cont05_wr .text_wr .tit:after {content:""; position:absolute; width:100%; height:5px;    background-color: rgba(49,159,219,.3); left:0; bottom:5px; z-index:9;}*/
.main_section_wr03 .main_cont05_wr .text_wr .tit span{color:#2A2A2A;}
.main_section_wr03 .main_cont05_wr .text_wr .text{font-size:12px;}
/*.main_section_wr03 .main_cont05_wr .left_event{margin-right:2%;}*/
/*.main_section_wr03 .main_cont05_wr .right_event{background-color:#45BDE6;padding-top:23px;}*/
.main_section_wr03 .main_cont05_wr .right_event {margin-left:4%;}

.main_review_wr {padding-top:80px; position:relative;}
.main_review_wr .bg_wr {position:absolute; top:0; left:50%; transform:translateX(-50%);width:80%; display:none;}
.main_review_wr .bg_wr img{width:100%;}
.main_review_wr .main_cont_title_wr {    margin-bottom:0px; }
.main_review_wr .main_cont_title_wr .title {color:#fff;}

#swiper-container-review .swiper-slide {background-color:#fff; box-shadow:0 3px 6px rgba(0,0,0,.16); text-align:center; padding:60px 11.559% 30px; border-radius:5px;height:320px;}
#swiper-container-review .swiper-slide .text_wr .tit {padding:15px 0; font-size:14px; font-weight:400;}
#swiper-container-review .swiper-slide .text_wr .text {font-size:18px; word-break:keep-all;font-weight:700;text-align:inherit;}
#swiper-container-review .swiper-slide .star_wr {padding-top:25px; text-align:left;}
#swiper-container-review .swiper-slide .star_wr li {padding-bottom:7px;}
#swiper-container-review .swiper-slide .star_wr li:last-child {padding:0;}
#swiper-container-review .swiper-slide .star_wr li p {display:inline-block; width:40%; font-size:12px; font-weight:500;}
#swiper-container-review .swiper-slide .star_wr li .img {float:right;}
#swiper-container-review .swiper-wrapper {padding-bottom:20px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:-10px;}
#swiper-container-review {overflow:initial;}
#swiper-container-review .swiper-pagination-bullet {background: #32b9e5; opacity:1;}
#swiper-container-review .swiper-pagination-bullet-active {width:30px; border-radius:10px;}
#swiper-container-review .swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {top:initial; bottom:0; width:90%; left:50%; transform:translateX(-50%);}
#swiper-container-review .swiper-pagination-progressbar {background-color:#fff; border-radius: 10px; overflow: hidden; height:5px;bottom:-20px;top:auto;}
#swiper-container-review .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {background-color:#00aaff; border-radius: 10px;}


/**/
.main_section_wr {background:#f5f7fe;}
.main_section_wr .main_cont_title_wr .title {font-size: 22px; font-weight: 700; color: #000;  letter-spacing: -1px; padding-bottom:35px;}
.main_section_wr .main_cont_title_wr .title .under{position:relative;z-index:0;}
.main_section_wr .main_cont_title_wr .title .under::after{content:"";position:absolute;bottom:0;left:0;width:100%;height:10px; background-color:rgba(39,209,255,.4);z-index:-1;}
.main_section_wr .main_cont_title_wr .text {font-size:16px;position:relative; text-align:center;}
/*.main_section_wr .main_cont02_wr .main_cont_title_wr .text:before{position:absolute;top:0;left:0;content:"";background-color:#A9EDFF;width:10px;height:100%;}*/
.main_section_wr .main_cont_title_wr {position:relative; text-align:center;}
.main_section_wr .main_cont_title_wr .line {width:90%; height:1px; background-color:#dadada; position:absolute; left:50%; bottom:0; transform:translateX(-50%);}
.main_section_wr01 .main_cont01_wr .survey_step_wr li .text_wr .sub_text {padding-top:0px;color:#3C5FD6;font-weight:500; font-size:12px;}
.main_section_wr01 .section01_ul {background-color:#fff; padding:50px 2%; border-radius:5px; /*box-shadow:0 3px 6px rgba(0,0,0,.16);*/}
.main_section_wr01 .survey_guide_list00 {padding-bottom:60px;}
.main_section_wr01 .survey_guide_list03 {padding-bottom:0;}
/*.main_section_wr01 .main_cont02_wr .main_btn_wr {s}*/
.main_review_wr .main_cont_title_wr .title {color:#2a2a2a; display:inline-block; position:relative;z-index:0;}
.main_review_wr .main_cont_title_wr .title:after {content:""; position:absolute; left:50%; transform:translateX(-50%); bottom:35px; width:110%; height:10px; background-color:rgba(39,209,255,.4);z-index:-1;}
.main_section_wr03 .main_cont_title_wr .title {display:inline-block; position:relative; z-index:1;}
.main_section_wr03 .main_cont_title_wr .title:after {content:""; position:absolute; bottom:35px; left:50%; transform:translateX(-50%);background-color:rgba(39,209,255,.4); width:110%; height:10px; z-index:-1;}
.main_cont06_box hr {display:block; border-color:#F2F2F2; border-style:solid;}

.main_step_wr {padding:100px 5% 80px; padding-bottom:40px; background:url('../images/main_step_bg.png') no-repeat center / cover; position:relative;}
.main_step_wr .step00 {position:relative; /*background-color:#fff; box-shadow:0 3px 6px rgba(0,0,0,.16); border-radius:5px;*/ margin-bottom:150px;}
/*.main_step_wr .step03 {margin-bottom:0px;}*/

.main_step_wr .step00 .text_wr {position:absolute; top:0px;left:4%;}
.main_step_wr .step02 .text_wr {left:initial; right:4%; text-align:right;}
.main_step_wr .step02 .text_wr .hashtag_wr {float:right;}


.main_step_wr .step00 .text_wr .step {font-size:22px;  font-weight:bold; padding-bottom:15px;}
.main_step_wr .step00 .text_wr .step .small_text {display:block; font-size:14px; color:#3c5fd6;}

.main_step_wr .step00 .text_wr .text {font-size:15px; font-weight:500; padding-bottom:25px;}
/*.main_step_wr .step00 .text_wr .text span {font-weight:bold; display:inline-block; position:relative;}*/
/*.main_step_wr .step00 .text_wr .text span:before {content:""; position:absolute; bottom:0; left:0; width:100%; height:12px; background-color:rgba(62,186,226,.4);}*/
.main_step_wr .step00 .img_wr {float:right;}
.main_step_wr .step00 .img_wr img{height:530px;}


.main_step_wr .step01 .img_wr {margin-top:90px;}
.main_step_wr .step02 .img_wr {margin-top:40px;}
.main_step_wr .step03 .img_wr {top:140px;}


.main_step_wr .main_step_btn a {display: block; padding: 20px 0; width: 80%;  font-size: 16px; text-align: center; color: #fff; background-color: #3c5fd6; margin: 40px auto 0; border-radius: 50px; position:absolute; bottom:80px; left:50%; transform:translateX(-50%);font-weight:500;}
.main_step_wr .step_bg00 {height:330px; position:absolute; left:0; top:550px;}
.main_step_wr .step_bg00 img {height:100%;}
.main_step_wr .step02 .img_wr {float:left;}
/*.main_step_wr .step03{background-color:#B2E5FF;}*/
.main_step_wr .step03 a{position:absolute;bottom:20px; left:50%;transform:translateX(-50%);font-weight:700;width:80%;}
.main_step_wr .step03 .img_wr {float:none;width:100%; position:relative; right:-5%;}
.main_step_wr .step03 .img_wr img{width:100%;height:auto;}
.main_step_wr .hashtag {display:block; background-color:#EFEFEF; padding:5px 0; border-radius:5px; text-align:center; font-size:13px; color:#3c5fd6;font-weight:500; width:90px;}
.main_step_wr .hashtag:first-child {margin-bottom:8px;}
.main_step_wr .step00 a {display:inline-block; padding:20px 0; width:80%;font-size:16px; text-align:center; color:#fff; background-color:#3c5fd6; margin-top:40px; border-radius:50px;}
.main_step_wr .step00 b {position:relative; display:inline-block;}
.main_step_wr .step00 .text b .txt_under:after {content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 12px; background-color: rgba(39,209,255,.4);}
.main_step_wr .step00 .text b .text_b {position:relative; z-index:10;}



.main_faq_wr {background-color:#f5f5f5; padding:80px 0;}
.main_made_wr {background-color:#f5f5f5;}
.main_made_box {box-shadow:0 3px 6px rgba(0,0,0,.16); background-color:#fff; border-radius:5px;}
.main_made_box .main_made_hd {padding:30px 6%; position:relative;}
.main_made_box .main_made_hd .img_wr img{width:80px;}
.main_made_box .main_made_hd .text_wr {position:absolute; left:35%; top:50%; transform:translateY(-50%); width:100%}
.main_made_box .main_made_hd .text_wr .tit {font-size:24px; font-weight:bold; padding-bottom:15px;}
.main_made_box .main_made_hd .text_wr .tit b {position:relative;}
.main_made_box .main_made_hd .text_wr .tit b:before {content:""; position:absolute; bottom:0; left:50%; transform:translateX(-50%); z-index:-1; width:110%; height:12px; background-color:rgba(39,209,255,.4);}
.main_made_box .main_made_hd .text_wr .tit span {padding-left:2%;}
.main_made_box .main_made_hd .text_wr .text {font-size:14px;}
.main_made_box .main_made_hd .text_wr .text span{background-color:#EFEFEF;border-radius:5px;padding:3px 10px 5px;margin-right:3px; color:#3c5fd6;}

.main_made_box .main_made_cont {background-color:#D8F5FF; padding:70px 0; text-align:center; position:relative;}
.main_made_box .main_made_cont01{background-color:#DFCEED;}
.main_made_box .main_made_cont02{background-color:#F4ECBE;}
.main_made_box .main_made_cont03{background-color:#ACEAE5;}
.main_made_box .main_made_cont .list_a00 {position:absolute;border:1px solid #3c5fd6;background-color:#fff; color:#3c5fd6;border-radius:30px;font-size:12px;padding:5px 10px;font-weight:500;}
.main_made_box .main_made_cont .list_a00 img{width:20px;position:absolute;bottom:0;}
.main_made_box .main_made_cont .list_a01 {left:11%; top:145px;}
.main_made_box .main_made_cont .list_a01 img{right:-20px;margin-left:10px;}
.main_made_box .main_made_cont .list_a02 {right:1%; top:155px;}
.main_made_box .main_made_cont .list_a02 img{left:-20px;margin-right:10px;}
.main_made_box .main_made_cont .list_a03 {left:10%; top:315px;}
.main_made_box .main_made_cont .list_a03 img{right:-20px;margin-left:10px;bottom:auto;top:-9px;}
.main_made_box .main_made_cont .list_a04 {right:1%; top:320px;}
.main_made_box .main_made_cont .list_a04 img{left:-20px;margin-right:10px;bottom:auto;top:-0px;}



.main_made_box .main_made_cont02 .list_a01 {left:2%; top:130px;}
.main_made_box .main_made_cont02 .list_a02 {right:7%; top:155px;}
.main_made_box .main_made_cont02 .list_a03 {left:7%; top:315px;}
.main_made_box .main_made_cont02 .list_a04 {right:20%; top:305px;}

.main_made_box .main_made_cont03 .list_a01 {left:20%; top:145px;}
.main_made_box .main_made_cont03 .list_a02 {right:3%; top:130px;}
.main_made_box .main_made_cont03 .list_a03 {left:3%; top:315px;}
.main_made_box .main_made_cont03 .list_a04 {right:17%; top:305px;}

.main_made_wr .swiper-pagination-bullet {background:#fff; opacity:1;}




.main_made_box .main_made_cont .btn_wr {margin-top:50px;}
.main_made_box .main_made_cont .btn_wr a {display:block; background-color:#3c5fd6; color:#fff; border-radius:50px; width:80%; margin:0 auto; padding:15px 0; font-size:18px;/*font-weight:700;*/}
.swiper-container-main>.swiper-pagination.swiper-pagination-bullets{bottom:170px;width:220px; margin:0 auto;left:50%;transform:translateX(-50%);}
.swiper-container-main .swiper-pagination-bullet{width:15%;height:5px;border-radius:5px;}
.swiper-container-main .swiper-pagination-bullet-active{width:40%;background-color:#99DDFF;}
.main_detail_wr {background-color:#fff; padding:80px 5%;}
.main_detail_wr .main_cont_title_wr { margin-bottom:30px;}
.main_detail_wr .main_cont_title_wr .title {position:relative; display:inline-block;}
/*.main_detail_wr .main_cont_title_wr .title {position:relative; z-index:10;}*/
.main_detail_wr .main_cont_title_wr .title .small_text {font-weight:normal; font-size:16px;}
.main_detail_wr .main_cont_title_wr .title .up {position:relative; z-index:10;}
.main_detail_wr .main_cont_title_wr .title .up:after {content:""; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:100%; height:12px; background-color:rgba(39,209,255,.4);z-index:-1;}
.main_detail_wr .detail_ul li {position:relative; margin-bottom:30px;}
.main_detail_wr .detail_ul li:last-child {margin-bottom:0px;}
.main_detail_wr .detail_ul .img_wr {width:38%; /*margin-right:5%;*/}
.main_detail_wr .detail_ul .img_wr img {width:100%;}
.main_detail_wr .detail_ul .text_wr {position:absolute; top:50%; left:45%; transform:translateY(-50%); width:70%;}
.main_detail_wr .detail_ul .text_wr .tit {font-size:14px; letter-spacing: -1px; font-weight:bold; padding-bottom:5px;}
.main_detail_wr .detail_ul .text_wr .text {font-size:12px; letter-spacing: -1px;}
.main_detail_wr .detail_ul .text_wr .small_text {font-size:12px; padding-left:2%; color:#3d5fd6;font-weight:500;}

.main_detail_box .detail_ul {padding:0 8%;}

.main_start_wr {}
.main_start_box {/*box-shadow:0 3px 6px rgba(0,0,0,.16);*/ background:url('../images/main_start_bg.svg') no-repeat 100% 100% #D9F2FF; padding:80px 8%;}
.main_start_box .tit {font-size:22px; font-weight:bold;}
.main_start_box .text {font-size:16px; margin:30px 0 40px;position:relative;padding-left:15px;}
.main_start_box .text:before{position:absolute;top:0;left:0;content:"";background-color:#A9EDFF;width:10px;height:100%;}
.main_start_box .text_wr a {display:block; width:50%; border-radius:30px; padding:15px 0; text-align:center; color:#fff; background-color:#3c5fd6; font-size:16px;/*font-weight:700;*/}

.main_feature_wr{padding:30px 5%;}
.main_feature_wr .main_cont06_wr{width:100%;padding-bottom:40px;}
.main_feature_wr .main_cont06_wr .img_wr{vertical-align:middle;display:inline-block;}
.main_feature_wr .main_cont06_wr .title{font-size:20px; color:#2A2A2A;vertical-align:middle;display:inline-block;padding-left:5px;}
.main_feature_wr .main_cont06_wr .title span{background: linear-gradient(transparent 55%, rgba(62,186,226,.5) 45%);padding:0 5px;color:#2a2a2a;}
.main_feature_wr .main_cont06_wr .cont_title_wr{text-align:center;padding-bottom:12px;}
.main_feature_wr .main_cont06_wr .main_cont06_box ul{width:100%; background-color:#fff;border-radius:5px;box-shadow:0 3px 6px rgba(0,0,0,.16);padding:20px 5%;}
.main_feature_wr .main_cont06_wr .main_cont06_box ul li{float:left; width:32%; margin:10px 0; margin-right:2%; text-align:center;}
.main_feature_wr .main_cont06_wr .main_cont06_box ul li:nth-child(3n) {margin-right:0;}
.main_feature_wr .main_cont06_wr .main_cont06_box .img_wr{height:46px; position:relative;}
.main_feature_wr .main_cont06_wr .main_cont06_box .img_wr .inbox {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.main_feature_wr .main_cont06_wr .main_cont06_box .text_wr{text-align:center;}
.main_feature_wr .main_cont06_wr .main_cont06_box .text_wr .tit{font-size:14px; font-weight:bold; color:#2A2A2A;padding-top:5px;}

.main_faq_wr #bo_cate {display:none;}
.main_faq_wr #myp_faq_wr {background-color:transparent; padding:0 5%;height:auto;min-height:auto;}
.main_faq_wr .main_cont_title_wr .title {position:relative; display:inline-block;}
.main_faq_wr .main_cont_title_wr .title .small_text {font-weight:normal; font-size:16px;}
.main_faq_wr .main_cont_title_wr .title .up {position:relative; z-index:10;}
.main_faq_wr .main_cont_title_wr .title .up:after {content:""; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:100%; height:12px;background-color:rgba(39,209,255,.4);z-index:-1;}
.main_faq_wr #faq_wrap li:last-child {margin-bottom:0;}
.main_faq_wr #faq_wrap li h3 span {display:none;}
.main_faq_wr .fa {display:none;}
.main_faq_wr #faq_wrap li h3 .tit_btn {background:url('../images/main_faq_arrow.svg') no-repeat center;}
.main_faq_wr #faq_wrap li h3.faq_li_open .tit_btn {transform:rotate(180deg);}
.main_faq_wr #faq_con .con_inner .closer_btn {opacity:0;}
.main_faq_wr #faq_con li a {font-size:14px;width:100%;}
.main_faq_wr #faq_con li a p{width:100%;}
.main_faq_wr #faq_wrap {margin:0;}
.main_faq_wr #faq_con .con_inner .closer_btn {top:50%; transform:translateY(-50%);}
