/* ================= font ======================= */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
:root {
  --header-height: 4rem;
  --text-color: #323232;
  --text-color-2: #888;
  --point-color: #3C5DF6;
  --point-color-2: #A9EDFF;
  --point-color-3: #27D1FF;
  --point-color-basic: #00A9E0;
  --yellow-color: #FEE500;
  --orange-color: #f4c964;
  --red-color: #EC736D;
  --bg-color: #fff;
  --border-color: #ddd;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.375rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  --smaller-font-size: .6875rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 700;
  /* =========== margin ============== */
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* ============================= base ============================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: var(--normal-font-size);
  letter-spacing: -.5px;
}

body {
  color: var(--text-color);
}

::-moz-selection {
  background-color: var(--point-color-2);
  color: var(--bg-color);
}

::selection {
  background-color: var(--point-color-2);
  color: var(--bg-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.w_bold {
  font-weight: var(--font-semi-bold);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ===================== input =================== */
label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  line-height: inherit;
}

input,
select,
textarea {
  border: 1px solid var(--border-color);
  padding: .5rem;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: .3rem;
  font-size: var(--small-font-size);
  color: var(--text-color-2);
}

input[type="text"]:hover,
input[type="text"]:focus
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border-color: var(--point-color);
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: .3rem;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
}

/* ============ btn =============== */
.btn_basic {
  background-color: var(--point-color);
  color: var(--bg-color);
  border-radius: .3rem;
}

.btn_basicg {
  background-color: var(--text-color-2);
  color: var(--bg-color);
  border-radius: .3rem;
}

.btn_basicw {
  color: var(--text-color-2);
  border: 1px solid var(--border-color);
  border-radius: .3rem;
  background-color: var(--bg-color);
}

.btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.column_btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.column_btn .btn {
  width: 100%;
}

.btn {
  display: block;
  border-radius: 3rem;
  font-size: var(--h4-font-size);
  text-align: center;
  width: 80%;
  padding: 1rem;
  font-weight: var(--font-medium);
}

.btn_blue {
  background-color: var(--point-color);
  color: #fff;
}

.btn_gray {
  background-color: var(--border-color);
  color: #fff;
}

.btn_white {
  background-color: var(--bg-color);
  color: var(--point-color);
}

.btn_whiteb {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #ddd;
}

.btn_yellow {
  background-color: var(--yellow-color);
  color: var(--text-color);
}

/* ======================== index header ========================== */
.header {
  padding: 0 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  z-index: 9;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: var(--bg-color);
}

.scroll-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.nav_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.nav_user_link {
  width: 50%;
  text-align: center;
  font-size: var(--small-font-size);
  border: 1px solid var(--border-color);
  display: inline-block;
  padding: .5rem 0;
}

.nav_user_link:first-child {
  border-right: 0;
}

/* menu */
.nav_menu {
  position: fixed;
  background-color: var(--bg-color);
  width: 90%;
  height: 100%;
  top: 0%;
  right: -100%;
  -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
  padding: 4rem 1rem 2rem 1rem;
  border-radius: 1rem 0 0 1rem;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 99;
  overflow-y: scroll;
}

.nav_list {
  margin-bottom: 2rem;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.5;
  font-size: var(--h3-font-size);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_link.active_link {
  font-weight: var(--font-semi-bold);
}

.nav-open i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav_dep {
  font-size: inherit;
  line-height: 2;
  padding-left: 1rem;
}

.nav_dep_item:last-child {
  padding-bottom: 1rem;
}

.nav_dep_link {
  display: inline-block;
  width: 100%;
  font-size: var(--normal-font-size);
}

.nav_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

input.search {
  width: 70%;
}

button.search {
  width: calc(30% - .25rem);
}

.nav_quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_quick_link {
  width: calc(50% - .5rem);
  position: relative;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: .5rem;
}

.nav_quick_link img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_quick_txt {
  position: absolute;
  top: .8rem;
  left: .8rem;
}

.nav_quick_txt span {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-2);
  margin-bottom: .3rem;
  display: block;
}

.nav_quick_txt p {
  font-weight: var(--font-semi-bold);
  line-height: 1.5;
}

.nav_toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* show menu */
.show-menu {
  right: 0%;
}

.nav_dep {
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

/* ==================== footer =================== */
.footer {
  border-top: 1px solid var(--border-color);
  padding: 1.5rem;
  color: var(--text-color-2);
  font-size: var(--small-font-size);
  position: relative;
  z-index: 1;
  padding-bottom: calc(var(--header-height) + 1rem);
}

.social {
  margin-bottom: 1rem;
}

.social_link {
  width: 1.5625rem;
  display: inline-block;
  margin-right: 1rem;
}

.footer_item {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.footer_item .w_bold {
  font-size: var(--normal-font-size);
}

.footer_lnb a {
  margin-right: .5rem;
  font-weight: var(--font-medium);
  color: var(--text-color-2);
  font-size: var(--small-font-size);
}

.copy {
  font-size: var(--smaller-font-size);
}

.bottom_menu {
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
}

.bottom_link {
  display: -ms-grid;
  display: grid;
  width: 20%;
  justify-items: center;
  row-gap: .3rem;
}

