@charset "UTF-8";
.sub_container {
  padding: 2rem 0;
}

/* ========================= 회사소개 =========================== */
.about_contents {
  margin-top: 3rem;
}

.about_top {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  background: url(../images/bg_about01.jpg) no-repeat center bottom;
  color: #fff;
}

.about_top p {
  font-size: var(--font-h2);
  font-weight: 300;
}

.about_top span {
  display: block;
  font-size: var(--font-h1);
}

.about_block {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.about_list {
  border-bottom: 1px dashed #ddd;
  padding: 2rem 0;
}

.about_title {
  margin-bottom: 1rem;
  font-size: var(--font-h2);
  text-align: center;
}

.about_img {
  width: 50px;
}

.about_item {
  margin-top: 1rem;
}

.about_item-title {
  font-size: var(--font-h1);
  font-weight: 500;
}

.about_item-subtitle {
  font-size: var(--font-small);
  color: var(--point-color-text);
  margin-bottom: 1rem;
}

.about_ci {
  background: url(../images/ci_bg.webp) repeat;
  border: 1px solid #ddd;
  padding: 2rem;
}

.about_ci-logo {
  width: 100px;
}

.about_add-item {
  margin-top: 1rem;
}

.about_add-item span {
  font-weight: var(--font-medium);
  color: var(--point-color-text);
  display: block;
}

.location_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.location_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_title i {
  font-size: 1.5rem;
  color: var(--point-color-text);
  margin-right: .5rem;
  font-weight: initial;
}

.location_title {
  font-size: var(--font-large);
  font-weight: var(--font-medium);
}

.location_title span {
  font-size: var(--font-small);
  font-weight: initial;
}

.location_txt {
  padding-left: 2rem;
  margin-top: .25rem;
  font-weight: var(--font-medium);
}

.location_txt span {
  font-weight: initial;
}

/* ================== 교육소개 =================== */
.sub_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  margin: 0 1rem;
}

.sub_loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-small);
}

.sub_loc i {
  margin-right: .25rem;
}

.sub_icon {
  color: #999;
}

.sub_contents {
  margin: 2rem 1rem;
}

.sub_block {
  margin-bottom: 2rem;
}

.sub_title {
  font-size: var(--font-large);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.sub_subtitle {
  font-size: var(--font-medium);
  margin-bottom: .5rem;
  color: var(--point-color-text);
  font-weight: var(--font-medium);
}

.sub_txt2 {
  font-size: var(--font-small);
  margin-top: .25rem;
}

.sub_ul {
  padding-left: 1rem;
}

.sub_ul li {
  list-style: decimal;
  font-weight: var(--font-medium);
  margin-bottom: 1.5rem;
}

.sub_ul li span {
  font-weight: initial;
}

.sub_txt-ul li {
  margin: .5rem 0;
  list-style: none;
  font-weight: initial;
}

.sub_txt-ul li::before {
  content: '-';
  color: var(--point-color-text);
  margin-right: .25rem;
}

.sub_txt-ul li span {
  padding-left: .5rem;
}

.sub_ul2 > li {
  margin-bottom: 1.5rem;
}

/* ======================= table ================ */
.table table {
  margin: 1rem 0 2rem;
  border-top: 2px solid #555;
  font-size: var(--font-small);
  text-align: center;
}

.table th {
  padding: .5rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #999;
  border-right: 1px solid #ddd;
}

.table th:last-child, .table td:last-child {
  border-right: 0;
}

.table td {
  padding: .5rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table_bold {
  font-weight: var(--font-medium);
}

.table_left {
  text-align: initial;
}

.table_bg {
  background-color: #f9f9f9;
  color: var(--point-color-text);
  font-weight: var(--font-medium);
}

/* ================== button ================== */
.button_purple {
  background-color: var(--point-color);
  margin-top: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-size: var(--font-small);
  padding: .5rem 1rem;
  border-radius: 3rem;
}

.board_button {
  margin-left: .25rem;
  font-size: var(--font-small);
  padding: .5rem .75rem;
}

.button_gray {
  background-color: #555;
  color: #fff;
}

.board_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.board_btn .button {
  padding: .75rem 1.25rem;
}

/* =================== board ===================== */
.board_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.board_search select {
  width: 85px;
}

.board_search .board_searchtxt {
  width: calc(100% - 150px);
  margin-left: .25rem;
  max-width: 150px;
}

.board_notice {
  width: 100%;
  margin-top: 1rem;
}

.board_list {
  border-top: 2px solid #555;
}

.b_no, .b_count {
  display: none;
}

.board_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: .75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board_top {
  background-color: #f9f9f9;
}

.board_header {
  font-weight: var(--font-medium);
  text-align: center;
}

.board_header .b_date {
  color: #222;
}

.b_title {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.b_title a:hover {
  color: var(--point-color-text);
  text-decoration: underline;
}

.b_date {
  width: 30%;
  text-align: center;
  color: #999;
}

/* faq */
.board_faq {
  margin-top: 1rem;
}

.board_category {
  margin-bottom: 1rem;
}

.category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: var(--font-small);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.category_item {
  width: 25%;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: .5rem;
}

.category_item.selected {
  background-color: var(--point-color);
  color: #fff;
  font-weight: var(--font-medium);
}

.board_faq .board_item {
  padding: .75rem 0;
}

.board_faq .board_header .b_cate {
  font-size: var(--font-normal);
}

.board_faq .b_cate {
  width: 30%;
  text-align: center;
  font-size: var(--font-small);
}

.board_faq .b_title {
  width: 70%;
}

.board_faq .board_item {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.board_faq .board_item.selected {
  font-weight: var(--font-medium);
}

.faq_read {
  font-weight: initial;
  width: 100%;
  background-color: #f9f9f9;
  margin-top: 1rem;
  padding: 1.5rem 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  line-height: 1.5rem;
}

/* read */
.read_top {
  border-top: 2px solid #555;
  padding: .5rem 0;
  border-bottom: 1px solid #ddd;
}

.read_date {
  color: #999;
  font-size: var(--font-small);
  margin-top: .5rem;
}

.read_article {
  padding: 2rem 0;
  border-bottom: 1px solid #ddd;
  line-height: 1.5rem;
}

.read_file {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.file_link {
  background-color: #fff;
  padding: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: var(--font-small);
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file_link i {
  margin-right: .25rem;
  color: var(--point-color-text);
}

.file_link:hover {
  background-color: var(--point-color);
  color: #fff;
}

.file_link:hover i {
  color: #fff;
}

/* ===================== write form ============================ */
.write_form {
  border-top: 2px solid #555;
}

.form_block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem .25rem;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_label {
  width: 20%;
  font-weight: var(--font-medium);
}

.form_block input:hover, .form_block select:hover, .form_block textarea:hover {
  border-color: var(--point-color);
}

.form_block > input {
  width: 70%;
}

.form_block > select {
  width: 70%;
}

.form_phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.form_phone > input {
  width: 30%;
}

.form_phone > select {
  width: 58px;
}

.form_phone span {
  font-size: var(--font-small);
}

.form_block textarea {
  width: 70%;
  resize: vertical;
}

.write_form .button {
  border-radius: 0;
  padding: .75rem 2rem;
  font-weight: var(--font-medium);
  -webkit-transition: .3s;
  transition: .3s;
}

.write_form .button:hover {
  background-color: var(--point-color-text);
}

.form_check {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_check input {
  margin-right: .25rem;
  margin-top: .1rem;
}

.form_check label {
  font-size: var(--font-small);
}

.form_check label span {
  display: block;
  font-size: var(--font-smaller);
}

/* =================== pagenation =================== */
.pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.pagenation a {
  font-size: var(--font-smaller);
}

.pagenation .selected {
  font-weight: 500;
  color: var(--point-color-text);
}

/* mediaquery*/
@media screen and (min-width: 321px) {
  .form_block, .form_phone {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form_block > select {
    max-width: 206px;
  }
  .form_block > input {
    max-width: 206px;
  }
  .form_phone > input {
    max-width: 62px;
  }
  .form_phone span {
    margin: 0 .25rem;
  }
  .form_block textarea {
    width: 80%;
  }
}

@media screen and (min-width: 426px) {
  .sub_contents, .sub_header {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .about_img {
    width: 100px;
  }
  .read_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .read_date {
    margin-top: 0;
  }
  .read_article {
    padding: 2rem 1rem;
  }
  .about_ci-logo {
    width: 150px;
  }
  .about_add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about_add-item {
    width: 50%;
  }
  .flex_none {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .sub_container {
    max-width: 960px;
  }
  .sub_title {
    margin-bottom: 3rem;
  }
  .sub_block {
    margin-bottom: 4rem;
  }
  .about_top {
    padding: 8rem 0;
  }
  .about_contents {
    padding-bottom: 5rem;
  }
  .about_img {
    width: 174px;
  }
  .about_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .about_item {
    width: calc(100% - 174px);
  }
  .about_ci {
    text-align: center;
  }
  .about_ci-logo {
    width: 193px;
  }
  .about_add {
    width: 650px;
    margin: 0 auto;
    text-align: initial;
    margin-top: 1rem;
  }
  .about_add-item {
    padding-left: 2rem;
  }
  .about_add-item:first-child {
    border-right: 1px solid #ddd;
  }
  .about_add-item span {
    display: inline-block;
    width: 80px;
  }
  .about_add-item.flex_none {
    border: 0;
  }
  .location_contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .location_list {
    width: 100%;
  }
  .location_title {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
  .location_title span {
    font-size: var(--font-smaller);
  }
  .location_txt {
    margin-bottom: .5rem;
  }
  .location_item {
    margin-top: 1rem;
    font-size: var(--font-small);
  }
  .table th {
    padding: 1rem;
  }
  .table td {
    padding: 1rem;
  }
  .board_search select {
    width: 100px;
  }
  .board_search .board_searchtxt {
    max-width: 180px;
    padding: .5rem;
  }
  .board_button {
    padding: .5rem 1rem;
  }
  .b_no {
    display: block;
    width: 10%;
    text-align: center;
    font-size: var(--font-small);
  }
  .b_title {
    width: 60%;
    padding-left: .5rem;
  }
  .b_date {
    width: 20%;
    color: #222;
  }
  .b_count {
    display: block;
    width: 10%;
    text-align: center;
  }
  .board_header .b_no {
    font-size: initial;
  }
  .pagenation {
    margin: 3rem 0;
  }
  .pagenation a {
    font-size: var(--font-small);
  }
  .read_article {
    line-height: 2rem;
  }
  .file_link {
    font-size: var(--font-smaller);
  }
  .category_list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 800px;
  }
  .board_faq .b_cate {
    width: 20%;
  }
  .board_faq .b_title {
    width: 80%;
  }
  .faq_read {
    padding: 2rem;
    font-size: var(--font-small);
    line-height: 2rem;
  }
  .form_block {
    padding: .75rem 1rem;
  }
  .form_block > input#title {
    max-width: 500px;
  }
  .form_phone > input {
    max-width: 62px;
  }
  .write_form .button {
    padding: 1rem 3rem;
  }
  .form_check input {
    margin-top: .25rem;
    margin-right: .5rem;
  }
  .form_check label span {
    margin-top: .25rem;
  }
}

@media screen and (min-width: 1000px) {
  .sub_container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  .table table {
    max-width: 960px;
  }
}
