/***************************************************************
    11. footer
***************************************************************/
#footer {
  border-top: 1px solid var(--border-color);
  padding-block: 1.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--sub-dext-color);
  position: relative;
  z-index: 11;
  backdrop-filter: blur(0.25rem);

  @include pc_small{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
