/***************************************************************
    10. header
***************************************************************/
#header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  @include flexbtw;
  padding: 1rem 1.5rem;
  z-index: var(--z-fixed);
  backdrop-filter: blur(0.25rem);

  .logo {
    font-size: var(--h1-font-size);
    font-weight: $font_b;
  }

  .txt {
    font-size: var(--smaller-font-size);
    text-align: right;
    line-height: $lineh;
  }
}
