/* ============================== google font ============================ */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
/* ======================= root ====================== */
:root {
  --header-height: 3.5rem;
  /*  color */
  --text-color: #222;
  --second-color: #555;
  --third-color: #999;
  --point-color: #0765c7;
  --point-color-alt: #26408a;
  --gray-color-frist: #f5f5f5;
  --gray-color-second: #f9f9f9;
  /* font */
  --body-font: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .75rem;
  --font-semi-bold: 600;
  --font-bold: 800;
  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for small devices */
@media screen and (max-width: 540px) {
  :root {
    --h1-font-size: 1.125rem;
    --h2-font-size: 1rem;
    --h3-font-size: .875rem;
    --normal-font-size: .875rem ;
    --small-font-size: .75rem;
    --smaller-font-size: .6875rem;
  }
  h1 {
    font-size: var(--h1-font-size);
  }
  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: var(--h3-font-size);
  }
}

/* ============================== base ========================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  line-height: 180%;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--first-color);
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  color: var(--point-color);
}

input,
textarea,
select {
  outline: none;
  border: none;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  -webkit-transition: .1s;
  transition: .1s;
  padding: .5rem .25rem;
}

select {
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: url(../images/select_bg.png) no-repeat;
  background-position: calc(100% - 5px) center;
  border: 1px solid #ddd;
  padding: .5rem;
}

/*input reset*/
input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

input[type="text"], textarea {
  -webkit-border-radius: .5rem;
  -webkit-appearance: none;
}

/* ======= scrollbr ========= */
::-webkit-scrollbar {
  width: .5rem;
  border-radius: .5rem;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}

/* ======================= button ========================= */
button {
  border: none;
  outline: none;
  font-size: var(--small-font-size);
  cursor: pointer;
}

.button_bluew {
  padding: .75rem 1.5rem;
  color: #fff;
  background-color: var(--point-color);
  border-radius: 3rem;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.button_blue:hover {
  background: var(--point-color-alt);
}

/* ============================= layout ============================== */
.container {
  max-width: 1260px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.scroll-header {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.main {
  margin-top: var(--header-height);
}

@media screen and (min-width: 768px) {
  input,
  textarea,
  select {
    padding: .75rem .5rem;
  }
  select {
    padding: .75rem;
  }
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .main {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 1260px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ============================= header ================================== */
.header {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: var(--z-fixed);
  background-color: #fff;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--header-height);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_img {
  width: 120px;
}

.nav_toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.gnb {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 2px solid var(--point-color);
  }
  .header_container {
    height: 100px;
  }
}

/* ============================== nav =========================== */
.nav {
  position: fixed;
  width: 80%;
  background-color: #fff;
  right: -100%;
  top: 0;
  height: 100%;
  border-radius: 1rem 0 0 .5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: var(--z-fixed);
}

.show-menu {
  right: 0;
}

.close_toggle {
  position: absolute;
  right: .5rem;
  top: 1rem;
  font-size: 1.5rem;
}

.lnb {
  font-size: var(--smaller-font-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
  background-color: var(--gray-color-second);
  padding: var(--mb-0-5) 0;
}

.lnb_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.333%;
}

.lnb_icon {
  display: block;
  font-size: 1.2rem;
  margin-top: var(--mb-0-25);
}

.nav_full {
  margin: 1rem 0;
}

.nav_title {
  font-size: var(--h3-font-size);
  padding: .75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.nav_title i {
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-open .nav_title i {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav_sub {
  background-color: var(--gray-color-second);
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav_link {
  display: block;
  line-height: 300%;
  font-size: var(--small-font-size);
  padding: .25rem 2rem;
}

.nav-open {
  height: 100%;
}

.myclass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--h3-font-size);
  background-color: var(--point-color);
  color: #fff;
  padding: .75rem 1.5rem;
}

.myclass:hover {
  background-color: var(--point-color-alt);
  color: #fff;
}

.myclass i {
  margin-right: var(--mb-0-25);
}

@media screen and (min-width: 768px) {
  .nav_toggle, .close_toggle, .lnb_icon {
    display: none;
  }
  .nav {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    right: 0;
    height: auto;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: initial;
    border-radius: 0;
    background-color: transparent;
    height: 100px;
  }
  .nav:hover .nav_full {
    height: 330px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .logo_img {
    width: 180px;
    padding-top: 30px;
  }
  .nav_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-right: 2rem;
  }
  .lnb {
    background-color: transparent;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 0;
    padding: 0;
  }
  .lnb_link {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lnb_link::after {
    content: '';
    width: 1px;
    background-color: #ddd;
    height: .5rem;
    display: inline-block;
    margin: 0 1rem;
  }
  .lnb_link:last-child::after {
    width: 0;
    margin: 0;
  }
  .gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  .gnb_link {
    font-weight: var(--font-semi-bold);
  }
  .myclass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: var(--normal-font-size);
  }
  .myclass i {
    font-size: var(--h1-font-size);
  }
  .nav_full {
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100px;
    margin-top: 2px;
    -webkit-transition: .3s;
    transition: .3s;
    height: 0;
    overflow: hidden;
  }
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 99;
  }
  .nav_item {
    width: 25%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav_item:hover {
    background-color: var(--gray-color-second);
  }
  .nav_title {
    padding: 1rem 1.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--point-color);
  }
  .nav_title i {
    display: none;
  }
  .nav_sub {
    height: 100%;
    background-color: transparent;
    padding: 0 1.5rem;
  }
  .nav_link {
    padding: 0;
  }
  .sub_item:last-child {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1260px) {
  .logo_img {
    width: 250px;
    padding-top: 0;
  }
  .gnb {
    gap: 5rem;
  }
  .gnb_link {
    font-size: var(--h3-font-size);
  }
  .nav_list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav_item:first-child {
    width: 160px;
  }
  .nav_item:nth-child(2) {
    width: 145px;
  }
  .nav_item:nth-child(3) {
    width: 175px;
  }
  .nav_item:last-child {
    width: 233px;
  }
}

/* =========================== sub header ===================== */
.subheader_top {
  display: none;
}

.subloc {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.subloc_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: var(--smaller-font-size);
}

.subloc_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.subloc_menu {
  border-right: 1px solid #ddd;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 .5rem;
  position: relative;
  line-height: 100%;
}

.subloc_full {
  cursor: pointer;
  width: 50%;
}

.subloc_sub {
  position: absolute;
  top: 41px;
  left: 0;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  width: 100%;
  z-index: 99;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  height: auto;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.sub-open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.subloc_link {
  border-bottom: 1px solid #ddd;
  padding: 0 .5rem;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 411px) {
  .subloc_menu {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .subheader_top {
    display: block;
    background: url(../images/subheader.jpg) no-repeat center;
    background-size: cover;
    padding: 2rem 0;
  }
  .subheader_contents {
    padding: 0 2rem;
  }
  .subheader_title {
    color: #fff;
    font-size: var(--h1-font-size);
  }
  .subheader_sub {
    color: #6ea3da;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
  }
  .subcon_contents {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .subloc_contents {
    border-right: 1px solid #ddd;
  }
  .subloc_menu {
    width: 150px;
  }
}

@media screen and (min-width: 1260px) {
  .subloc_contents {
    font-size: var(--small-font-size);
  }
  .subloc_icon {
    width: 50px;
    height: 50px;
  }
  .subloc_menu {
    height: 50px;
    padding: 0 1rem;
    width: 180px;
  }
  .subloc_sub {
    top: 51px;
  }
  .subloc_link {
    padding: 0 1rem;
    font-size: var(--smaller-font-size);
  }
}

/* ========================= sub side container ================= */
.subcon_inner {
  padding: 1rem 0;
}

.side_container {
  padding: var(--mb-1-5) 0;
}

.side_link {
  display: inline-block;
  padding: .5rem 1rem;
  border: 1px solid #ddd;
  font-size: var(--smaller-font-size);
  line-height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: var(--mb-0-25);
}

.tab-open {
  background-color: var(--point-color);
  color: #fff;
  border: 1px solid var(--point-color);
}

.right_con {
  margin-top: var(--mb-1-5);
}

.subcon_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

.subcon_title span {
  font-size: var(--small-font-size);
  display: block;
  line-height: 150%;
  margin-top: var(--mb-0-25);
  font-weight: initial;
}

@media screen and (min-width: 768px) {
  .subcon_inner {
    padding: var(--mb-2);
  }
  .side_container {
    padding: var(--mb-1-5);
  }
  .subcon_title {
    margin-bottom: var(--mb-3);
  }
  .subcon_title span {
    margin-top: var(--mb-0-5);
  }
}

@media screen and (min-width: 1024px) {
  .side_container {
    max-width: 1260px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .side_con {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .side_link {
    padding: 1.5rem;
    font-size: var(--small-font-size);
    border: none;
    border-bottom: 1px solid #ddd;
    background: var(--gray-color-second);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .tab-open {
    background: #fff;
    color: var(--point-color);
    z-index: 1;
    width: calc(100% + 1px);
    font-weight: var(--font-semi-bold);
  }
  .right_con {
    width: 80%;
    border-left: 1px solid #ddd;
    margin-top: 0;
    padding: 4rem;
  }
}

@media screen and (min-width: 1260px) {
  .subcon_inner {
    padding: 4rem;
  }
  .side_link {
    padding: 1.5rem;
    font-size: var(--normal-font-size);
  }
}

/* ========================= pagenation ===================== */
.pagenation {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: var(--mb-2) 0;
}

.pagenation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--smaller-font-size);
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.pagenation a:hover {
  background-color: var(--point-color-alt);
  color: #fff;
}

.pagenation .selected {
  background-color: var(--point-color);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .pagenation a {
    width: 30px;
    height: 30px;
    font-size: var(--small-font-size);
  }
}

/* ====================== footer ============================ */
.footer_lnb {
  border-top: 2px solid var(--point-color);
  border-bottom: 1px solid #ddd;
  padding: .5rem 0;
  font-size: var(--smaller-font-size);
}

.footer_link::after {
  content: '';
  display: inline-block;
  margin: 0 .5rem;
  width: 1px;
  height: .5rem;
  background-color: #ddd;
}

.footer_link:last-child {
  font-weight: var(--font-semi-bold);
  text-decoration: underline;
}

.footer_link:last-child::after {
  width: 0;
  margin: 0;
}

.footer_container {
  padding: 1rem 0;
}

.footer_img {
  width: 120px;
  margin-bottom: var(--mb-0-5);
}

.address, .copy {
  font-size: var(--smaller-font-size);
  line-height: 180%;
  color: var(--second-color);
}

.copy {
  margin-top: var(--mb-0-5);
}

@media screen and (min-width: 768px) {
  .footer_img {
    width: 200px;
    height: 44px;
    margin-bottom: 0;
  }
  .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
