@charset "UTF-8";
/* ====================== 슬라이드 이미지 ===================== */
.main_slide {
  overflow: hidden;
  height: 400px;
  position: relative;
}

.slide_data {
  background-size: cover !important;
}

.slide_text {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  gap: .25rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.slide_sub {
  font-size: 12px;
}

.slide_title {
  font-weight: var(--font-semi-bold);
  font-size: 1rem;
}

.slide_btn {
  border: 1px solid #fff;
  display: inline-block;
  padding: .25rem 0;
  width: 70%;
  font-size: .75rem;
  margin-top: 2rem;
  border-radius: 3rem;
  text-align: center;
}

.slide_btn:hover {
  background-color: #fff;
  color: var(--text-color);
  text-shadow: none;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: var(--point-color);
  width: 30px;
  border-radius: 4px;
}

.swiper-pagination {
  text-align: left;
  padding-left: 1rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 4rem;
}

/* ==================== 메인 퀵 링크 ===================== */
.quick_contents {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 1rem;
  gap: 0;
}

.quick_item {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.quick_link {
  width: 100%;
  height: 100%;
  display: block;
  padding: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  overflow: hidden;
}

.quick_link:hover {
  color: #fff;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.quick_img {
  width: 40px;
  -webkit-transition: .1s;
  transition: .1s;
}

.quick_bar {
  display: inline-block;
  height: 2px;
  background-color: var(--text-color);
  width: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.quick_sub {
  font-size: var(--small-font-size);
  line-height: 150%;
}

.quickbg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

.quick_link:hover .quick_title,
.quick_link:hover .quick_sub {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.quick_link:hover .quickbg {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quick_link:hover .quick_bar {
  background-color: var(--point-color);
  width: 30px;
}

.quick_link:hover .quick_img {
  -webkit-filter: grayscale(1000%) brightness(500%);
          filter: grayscale(1000%) brightness(500%);
}

.button_blueb {
  background-color: var(--text-color);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: var(--mb-1);
  -webkit-transition: .3s;
  transition: .3s;
}

.quick_link:hover .button_blueb {
  background-color: var(--point-color);
}

/* ======================= 추천콘텐츠 ======================== */
.best {
  background-color: var(--gray-color-frist);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.best_contents {
  gap: 2rem;
}

.best_title {
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

.best_item {
  background-color: #fff;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.best_item:hover {
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.best_link {
  display: block;
}

.best_img {
  display: block;
}

.best_txt {
  padding: 1rem;
  text-align: left;
}

.cate {
  font-size: var(--smaller-font-size);
  color: var(--third-color);
}

/* =========================== 국민안전교육 =================== */
.lecture {
  padding: 2rem 0;
}

.lecture_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.lecture_list {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.lecture_link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: .5rem;
  overflow: hidden;
  line-height: 0;
}

.lecture_link:hover {
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.lecture_img {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lecture_block {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  line-height: 300%;
}

.lecture_txt {
  font-size: var(--h1-font-size);
}

.lecture_link:hover .lecture_img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button_bluec {
  background-color: var(--point-color);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
  font-size: var(--small-font-size);
}

.button_bluec span {
  display: none;
}

.lecture_link:hover .button_bluec {
  width: 100%;
  background-color: #fff;
  color: var(--point-color);
}

.lecture_link:hover .button_bluec span {
  display: block;
}

/* =================== 하단고객센터 ======================= */
.support {
  background-color: #e9f0f6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.support_contents h2 {
  border-bottom: 2px solid #555;
  margin-bottom: var(--mb-0-5);
}

.notice {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: var(--mb-1-5);
}

.notice_item {
  border-bottom: 1px solid #ddd;
  padding: .25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.notice_link {
  font-size: var(--normal-font-size);
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notice_date {
  width: 30%;
  font-size: var(--smaller-font-size);
  text-align: right;
  color: var(--third-color);
}

.notice_more {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  font-size: var(--smaller-font-size);
  color: var(--third-color);
}

.support_bank, .support_tell {
  background-color: #fff;
  padding: 1rem;
  border-radius: .5rem;
}

.support_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.support_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #ddd;
  padding: .5rem;
  border-radius: 50%;
}

.bank_txt {
  display: inline-block;
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

.bank_txt span, .tell_txt span {
  display: block;
  font-weight: initial;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.support_icon i {
  font-size: 1.625rem;
  color: var(--second-color);
}

.tell_txt {
  font-size: 1.5rem;
  color: var(--point-color);
  font-weight: var(--font-semi-bold);
}

.tell_txt a {
  color: var(--point-color);
}

.wbanner {
  background: url(../images/support.png) no-repeat 70%;
  background-size: cover;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  overflow: hidden;
}

.wbanner_title {
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

.wbanner_txt {
  font-size: var(--small-font-size);
  line-height: 150%;
}

.wbanner_link {
  display: inline-block;
  padding: .25rem 1.5rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  font-size: var(--small-font-size);
  margin-top: var(--mb-1);
}

.wbanner_link:hover {
  background-color: #fff;
  color: var(--point-color);
}

/* ======================== 하단 배너 ========================== */
.fbanner {
  border-top: 1px solid #ddd;
  padding: 1rem 0;
}

.fbanner_contents {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

/* ===================== mediaquery ==================== */
@media screen and (min-width: 411px) {
  /* 메인슬라이드 */
  .slide_text {
    gap: 1rem;
    padding: 0 2rem;
  }
  .slide_sub {
    font-size: 1rem;
  }
  .slide_title {
    font-size: 1.5rem;
    line-height: 150%;
  }
  .slide_btn {
    border: 2px solid #fff;
    padding: .5rem 0;
    width: 200px;
    font-size: .875rem;
  }
  .swiper-pagination {
    padding-left: 2rem;
  }
  /* 메인 퀵링크 */
  .quick_contents {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  /* 추천콘텐츠 */
  .best_list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  /* 국민안전교육 */
  .lecture_list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  /* 하단고객센터 */
  .wbanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 1.5rem;
  }
  .wbanner_link {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  /* 메인 슬라이드 */
  .slide_sub {
    font-size: 1.5rem;
  }
  .slide_title {
    font-size: 2rem;
  }
  .slide_btn {
    font-size: 1rem;
    width: 250px;
  }
  /* 메인 퀵링크 */
  .button_blueb {
    width: 40px;
    height: 40px;
  }
  .quick_sub {
    font-size: var(--normal-font-size);
  }
  /* 국민안전교육 */
  .lecture_block {
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
  }
  .lecture_txt {
    margin-top: var(--mb-2);
  }
  .button_bluec {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .lecture_link:hover .button_bluec {
    width: 100%;
    background-color: #fff;
    color: var(--point-color);
  }
  /* 하단 고객센터 */
  .support_contents h2 {
    margin-bottom: var(--mb-1);
  }
  .notice_item {
    padding: .5rem 0;
  }
  .notice_more {
    right: 1.5rem;
    top: 1.75rem;
  }
  .support_info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .notice, .support_bank, .support_tell {
    padding: 1.5rem;
  }
  .support_grid {
    gap: 1rem;
  }
  .wbanner {
    padding: 1.5rem;
  }
  .wbanner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .wbanner_title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  /* 하단배너 */
  .fbanner {
    padding: 2rem 0;
  }
  .fbanner_contents {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  /* 메인 슬라이드 */
  .slide_text {
    padding-left: 3rem;
  }
  .slide_sub {
    font-size: 1.875rem;
  }
  .slide_title {
    font-size: 3rem;
    line-height: 120%;
  }
  .slide_btn {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 320px;
  }
  .swiper-pagination {
    padding-left: 3rem;
  }
  /* 메인 퀵링크 */
  .quick {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .quick_contents {
    margin: 0 auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    border-top: 0;
  }
  .quick_item {
    border-bottom: 0;
  }
  .quick_link {
    padding: 3rem 1rem;
  }
  /* 추첰콘텐츠 */
  .best {
    padding: 8rem 0 4rem;
  }
  .best_title {
    font-size: 2.25rem;
    margin-bottom: var(--mb-3);
  }
  .best_list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  /* 국민안전교육 */
  .lecture {
    padding: 8rem 0 4rem;
  }
  .lecture_title {
    margin-bottom: var(--mb-3);
  }
  .lecture_list {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  /* 하단 고객센터*/
  .support {
    padding: 2rem 0;
  }
  .support_contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .notice {
    width: 35%;
    margin-bottom: 0;
  }
  .support_block {
    width: 65%;
  }
  .support_info {
    -ms-grid-columns: (1.3fr 1fr)[1];
        grid-template-columns: repeat(1, 1.3fr 1fr);
  }
  .fbanner_contents {
    gap: 3rem;
  }
}

@media screen and (min-width: 1260px) {
  .support_info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .tell_txt {
    font-size: 2rem;
  }
  .wbanner {
    padding: 3rem;
  }
  .wbanner_block {
    gap: 2rem;
  }
  .wbanner_title {
    font-size: 1.75rem;
  }
  .wbanner_txt {
    font-size: var(--normal-font-size);
  }
  .lecture_list {
    gap: 2rem;
  }
  .fbanner_contents {
    gap: 5rem;
  }
}

@media screen and (min-height: 720px) {
  /* 메인슬라이드 */
  .main_slide {
    height: 600px;
  }
}
