/***************************************************************
    07. components
***************************************************************/
//bubble
.bubble{
  color: $light;
  background: $dark;
  @include  p6f;
  width: fit-content;
  position: absolute;
  padding: .375rem 1.5rem;
  border-radius: 3rem;
  top: -3.75rem;
  left: 50%;
  animation: bubble 1s ease-in-out infinite;
  
  &::after{
    content: '';
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: $dark;
    display: block;
    bottom: -.4rem;
    transform: rotate(45deg) translateX(-50%);
    left: 50%;
    z-index: -1;
  }
}