/***************************************************************
    08. nav
***************************************************************/
.nav{
    @include flexbtw;

    .nav_link{
        font-size: var(--h1-font-size);
        color: var(--border-color);
        width: 25%;
        text-align: center;

        &.active{
            color: var(--primary-color);
        }
    }
}