i {
  width: 100%;
  aspect-ratio: 1;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ic_search {
  background-image: url(../../images/system/search.svg);
}

.ic_bag {
  background-image: url(../../images/system/bag.svg);
}

.ic_favorite {
  background-image: url(../../images/system/favorite.svg);
}

.ic_profile {
  background-image: url(../../images/system/profile.svg);
}

.ic_menu {
  background-image: url(../../images/system/menu.svg);
}
