/***************************************************************
    04. typo
***************************************************************/

body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-color);
  font-size: var(--base-font-size);
}

.line_h {
  line-height: $lineh;
}

.line_th {
  text-decoration: $lineth;
}

.line_under {
  text-decoration: $lineunder;
}

.bold_f {
  font-weight: $font_b;
}

.medium_f {
  font-weight: $font_m;
}

.normal_f {
  font-weight: $font_n;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.listdot {
  position: relative;
  padding-left: 1rem;
  &::before {
    content: "";
    @include listdot;
  }
}

.h1_f {
  font-size: var(--h1-font-size);
}

.h2_f {
  font-size: var(--h2-font-size);
}

.h3_f {
  font-size: var(--h3-font-size);
}

.large_f {
  font-size: var(--large-font-size);
}

.base_f {
  font-size: var(--base-font-size);
}

.small_f {
  font-size: var(--small-font-size);
}

.smaller_f {
  font-size: var(--smaller-font-size);
}

.tiny_f {
  font-size: var(--tiny-font-size);
}
