@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");
.dark {
  color: #2b303b;
}

.darker {
  color: #21252d;
}

.light {
  color: #fff;
}

.icon_color {
  color: #929aac;
}

.system_purple_lighter {
  color: #f5f3fc;
}

.system_purple_light {
  color: #b3a2e7;
}

.system_purple {
  color: #7252D3;
}

.system_purple_dark {
  color: #4E37B6;
}

.system_purple_darker {
  color: #2D218F;
}

.system_red_lighter {
  color: #fdf3f2;
}

.system_red_light {
  color: #e88e87;
}

.system_red {
  color: #D83C31;
}

.system_red_dark {
  color: #b91e1e;
}

.system_red_darker {
  color: #900f17;
}

.system_blue_lighter {
  color: #ebf4ff;
}

.system_blue_light {
  color: #52a5ff;
}

.system_blue {
  color: #0072EC;
}

.system_blue_dark {
  color: #004fbf;
}

.system_blue_darker {
  color: #00318e;
}

.system_green_lighter {
  color: #f2fdf9;
}

.system_green_light {
  color: #48e5ae;
}

.system_green {
  color: #19AD79;
}

.system_green_dark {
  color: #0d935b;
}

.system_green_darker {
  color: #04733e;
}

.system_yellow_lighter {
  color: #fffae5;
}

.system_yellow_light {
  color: #ffeb99;
}

.system_yellow {
  color: #FFd945;
}

.system_yellow_dark {
  color: #daab2d;
}

.system_yellow_darker {
  color: #aa7918;
}

.gray01 {
  color: #232323;
}

.gray02 {
  color: #747474;
}

.gray03 {
  color: #ccc;
}

.gray04 {
  color: #eee;
}

.gray05 {
  color: #f5f5f5;
}

.bg_dark {
  background-color: #2b303b;
}

.bg_darker {
  background-color: #21252d;
}

.bg_light {
  background-color: #fff;
}

.bg_icon_color {
  background-color: #929aac;
}

.bg_table_color {
  background-color: #fafafa;
}

.bg_system_purple_lighter {
  background-color: #f5f3fc;
}

.bg_system_purple_light {
  background-color: #b3a2e7;
}

.bg_system_purple {
  background-color: #7252D3;
}

.bg_system_purple_dark {
  background-color: #4E37B6;
}

.bg_system_purple_darker {
  background-color: #2D218F;
}

.bg_system_red_lighter {
  background-color: #fdf3f2;
}

.bg_system_red_light {
  background-color: #e88e87;
}

.bg_system_red {
  background-color: #D83C31;
}

.bg_system_red_dark {
  background-color: #b91e1e;
}

.bg_system_red_darker {
  background-color: #900f17;
}

.bg_system_blue_lighter {
  background-color: #ebf4ff;
}

.bg_system_blue_light {
  background-color: #52a5ff;
}

.bg_system_blue {
  background-color: #0072EC;
}

.bg_system_blue_dark {
  background-color: #004fbf;
}

.bg_system_blue_darker {
  background-color: #00318e;
}

.bg_system_green_lighter {
  background-color: #f2fdf9;
}

.bg_system_green_light {
  background-color: #48e5ae;
}

.bg_system_green {
  background-color: #19AD79;
}

.bg_system_green_dark {
  background-color: #0d935b;
}

.bg_system_green_darker {
  background-color: #04733e;
}

.bg_system_yellow_lighter {
  background-color: #fffae5;
}

.bg_system_yellow_light {
  background-color: #ffeb99;
}

.bg_system_yellow {
  background-color: #FFd945;
}

.bg_system_yellow_dark {
  background-color: #daab2d;
}

.bg_system_yellow_darker {
  background-color: #aa7918;
}

.bg_gray01 {
  background-color: #232323;
}

.bg_gray02 {
  background-color: #747474;
}

.bg_gray03 {
  background-color: #ccc;
}

.bg_gray04 {
  background-color: #eee;
}

.bg_gray05 {
  background-color: #f5f5f5;
}

.dark {
  color: #2b303b;
}

.darker {
  color: #21252d;
}

.light {
  color: #fff;
}

.icon_color {
  color: #929aac;
}

.system_purple_lighter {
  color: #f5f3fc;
}

.system_purple_light {
  color: #b3a2e7;
}

.system_purple {
  color: #7252D3;
}

.system_purple_dark {
  color: #4E37B6;
}

.system_purple_darker {
  color: #2D218F;
}

.system_red_lighter {
  color: #fdf3f2;
}

.system_red_light {
  color: #e88e87;
}

.system_red {
  color: #D83C31;
}

.system_red_dark {
  color: #b91e1e;
}

.system_red_darker {
  color: #900f17;
}

.system_blue_lighter {
  color: #ebf4ff;
}

.system_blue_light {
  color: #52a5ff;
}

.system_blue {
  color: #0072EC;
}

.system_blue_dark {
  color: #004fbf;
}

.system_blue_darker {
  color: #00318e;
}

.system_green_lighter {
  color: #f2fdf9;
}

.system_green_light {
  color: #48e5ae;
}

.system_green {
  color: #19AD79;
}

.system_green_dark {
  color: #0d935b;
}

.system_green_darker {
  color: #04733e;
}

.system_yellow_lighter {
  color: #fffae5;
}

.system_yellow_light {
  color: #ffeb99;
}

.system_yellow {
  color: #FFd945;
}

.system_yellow_dark {
  color: #daab2d;
}

.system_yellow_darker {
  color: #aa7918;
}

.gray01 {
  color: #232323;
}

.gray02 {
  color: #747474;
}

.gray03 {
  color: #ccc;
}

.gray04 {
  color: #eee;
}

.gray05 {
  color: #f5f5f5;
}

.bg_dark {
  background-color: #2b303b;
}

.bg_darker {
  background-color: #21252d;
}

.bg_light {
  background-color: #fff;
}

.bg_icon_color {
  background-color: #929aac;
}

.bg_table_color {
  background-color: #fafafa;
}

.bg_system_purple_lighter {
  background-color: #f5f3fc;
}

.bg_system_purple_light {
  background-color: #b3a2e7;
}

.bg_system_purple {
  background-color: #7252D3;
}

.bg_system_purple_dark {
  background-color: #4E37B6;
}

.bg_system_purple_darker {
  background-color: #2D218F;
}

.bg_system_red_lighter {
  background-color: #fdf3f2;
}

.bg_system_red_light {
  background-color: #e88e87;
}

.bg_system_red {
  background-color: #D83C31;
}

.bg_system_red_dark {
  background-color: #b91e1e;
}

.bg_system_red_darker {
  background-color: #900f17;
}

.bg_system_blue_lighter {
  background-color: #ebf4ff;
}

.bg_system_blue_light {
  background-color: #52a5ff;
}

.bg_system_blue {
  background-color: #0072EC;
}

.bg_system_blue_dark {
  background-color: #004fbf;
}

.bg_system_blue_darker {
  background-color: #00318e;
}

.bg_system_green_lighter {
  background-color: #f2fdf9;
}

.bg_system_green_light {
  background-color: #48e5ae;
}

.bg_system_green {
  background-color: #19AD79;
}

.bg_system_green_dark {
  background-color: #0d935b;
}

.bg_system_green_darker {
  background-color: #04733e;
}

.bg_system_yellow_lighter {
  background-color: #fffae5;
}

.bg_system_yellow_light {
  background-color: #ffeb99;
}

.bg_system_yellow {
  background-color: #FFd945;
}

.bg_system_yellow_dark {
  background-color: #daab2d;
}

.bg_system_yellow_darker {
  background-color: #aa7918;
}

.bg_gray01 {
  background-color: #232323;
}

.bg_gray02 {
  background-color: #747474;
}

.bg_gray03 {
  background-color: #ccc;
}

.bg_gray04 {
  background-color: #eee;
}

.bg_gray05 {
  background-color: #f5f5f5;
}

/* mediaquery */
/* grid */
/* typo */
/* grid */
/***************************************************************
    01. base
***************************************************************/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  background-color: #fff;
  cursor: default;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100svh;
  scroll-behavior: smooth;
  color: #2b303b;
}

main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  outline-style: none;
  margin: 0;
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #2b303b;
}

input:foucs {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #ccc;
  font-size: inherit;
  line-height: 1;
}

[type="radio"],
[type="checkbox"] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  padding: 0;
}

[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

/***************************************************************
    02. animations
***************************************************************/
/***************************************************************
    03. layer
***************************************************************/
:root {
  font-size: 16px;
  --user-header: 3rem;
}

.pd_none {
  padding-bottom: 0;
}

.mt_0_25 {
  margin-top: .25rem;
}

.mt_0_5 {
  margin-top: .5rem;
}

.mt_0_75 {
  margin-top: .75rem;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_1_25 {
  margin-top: 1.25rem;
}

.mt_1_5 {
  margin-top: 1.5rem;
}

.mt_1_75 {
  margin-top: 1.75rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_2_5 {
  margin-top: 2.5rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mt_3_5 {
  margin-top: 3.5rem;
}

.mt_4 {
  margin-top: 4rem;
}

.bg_gray {
  background: #f5f5f5;
}

.bg_black {
  background: #2b303b;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.flex_topcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_topright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_topbtw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner_0_25 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.inner_0_5 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.inner_0_75 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.inner_1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.inner_1_25 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.inner_1_5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.inner_1_75 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.inner_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.inner_tb_0_25 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.inner_tb_0_5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.inner_tb_0_75 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.inner_tb_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inner_tb_1_25 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.inner_tb_1_5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.inner_tb_1_75 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.inner_tb_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pd_bottom {
  border-bottom: 0.5rem solid #f5f5f5;
}

.pd_bottom_s {
  border-bottom: 3rem solid #f5f5f5;
}

.pd_bottom_m {
  border-bottom: 5rem solid #f5f5f5;
}

.pd_bottom_l {
  border-bottom: 8rem solid #f5f5f5;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100svh;
  overflow: hidden;
  min-width: 48rem;
}

.main.fold .sidebar {
  overflow-x: hidden;
  width: 1rem;
}

.main.fold .sidebar .logo,
.main.fold .sidebar .user_info,
.main.fold .sidebar .consult_sml,
.main.fold .sidebar .nav,
.main.fold .sidebar .logoutBtn {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  white-space: nowrap;
}

@media (max-width: 1599px) {
  .main.fold .sidebar {
    left: 0;
    width: 18rem;
  }
  .main.fold .sidebar .logo,
  .main.fold .sidebar .user_info,
  .main.fold .sidebar .consult_sml,
  .main.fold .sidebar .nav,
  .main.fold .sidebar .logoutBtn {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    white-space: nowrap;
  }
}

.main.fold .container {
  width: calc(100% - 1rem);
}

@media (max-width: 1599px) {
  .main.fold .container {
    width: 100%;
  }
}

.container {
  width: calc(100% - 18rem);
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 100svh;
  overflow: hidden;
}

@media (max-width: 1599px) {
  .container {
    width: 100%;
  }
}

/*font*/
/***************************************************************
    04. typo
***************************************************************/
:root {
  --largest-f: 1.5rem;
  --large-f: 1.25rem;
  --base-f: 1rem;
  --small-f: .875rem;
  --smaller-f: .75rem;
  --exsmaller-f: .6875rem;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.line_h {
  line-height: 1.5;
}

.line_th {
  text-decoration: line-through;
}

.line_under {
  text-decoration: underline;
}

.bold_f {
  font-weight: 700;
}

.largest_f {
  font-size: var(--largest-f);
}

.largest_fb {
  font-size: var(--largest-f);
  font-weight: 700;
}

.large_f {
  font-size: var(--large-f);
}

.large_fb {
  font-size: var(--large-f);
  font-weight: 700;
}

.base_f {
  font-size: var(--base-f);
}

.base_fb {
  font-size: var(--base-f);
  font-weight: 700;
}

.small_f {
  font-size: var(--small-f);
}

.small_fb {
  font-size: var(--small-f);
  font-weight: 700;
}

.smaller_f {
  font-size: var(--smaller-f);
}

.smaller_fb {
  font-size: var(--smaller-f);
  font-weight: 700;
}

.exsmaller_f {
  font-size: var(--exsmaller-f);
}

.exsmaller_fb {
  font-size: var(--exsmaller-f);
  font-weight: 700;
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

/***************************************************************
    05. buttons
***************************************************************/
.btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.btn_b {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .875rem 0;
  font-size: var(--small-f);
}

.btn_m {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .5rem 1rem;
  font-size: var(--smaller-f);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn_s {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .25rem .75rem;
  font-size: var(--exsmaller-f);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.icon {
  font-size: var(--exsmaller-f);
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.icon_side {
  font-size: var(--exsmaller-f);
  background-color: #7252D3;
  color: #fff;
  border-radius: 3rem 0 0 3rem;
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.icon_side:hover {
  background-color: #4E37B6;
}

.st_btn {
  font-size: var(--large-f);
  cursor: pointer;
  color: #747474;
}

.st_btn.no {
  font-size: var(--smaller-f);
  font-weight: 700;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_basic {
  background-color: #232323;
  color: #fff;
}

.btn_basic:hover {
  background-color: #7252D3;
}

.btn_light {
  background-color: #fff;
  color: #747474;
  border-color: #ccc;
}

.btn_light:hover {
  border-color: transparent;
  background-color: #2b303b;
  color: #fff;
}

.btn_purple {
  background-color: #7252D3;
  color: #fff;
}

.btn_purple:hover {
  background-color: #4E37B6;
}

.btn_red {
  background-color: #D83C31;
  color: #fff;
}

.btn_red:hover {
  background-color: #b91e1e;
}

.btn_green {
  background-color: #19AD79;
  color: #fff;
}

.btn_green:hover {
  background-color: #0d935b;
}

.btn_blue {
  background-color: #0072EC;
  color: #fff;
}

.btn_blue:hover {
  background-color: #004fbf;
}

.btn_yellow {
  background-color: #FFd945;
  color: #fff;
}

.btn_yellow:hover {
  background-color: #daab2d;
}

.icon_light {
  background-color: #f5f5f5;
  color: #747474;
}

.icon_purple {
  background-color: #f5f3fc;
  color: #7252D3;
}

.icon_blue {
  background-color: #ebf4ff;
  color: #0072EC;
}

.icon_green {
  background-color: #f2fdf9;
  color: #19AD79;
}

.icon_yellow {
  background-color: #fffae5;
  color: #daab2d;
}

.icon_red {
  background-color: #fdf3f2;
  color: #D83C31;
}

/***************************************************************
    06. form
***************************************************************/
input:not([type="radio"]):not([type="checkbox"]) {
  padding: .875rem;
  font-size: var(--small-f);
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #eee;
  background-color: #fff;
}

input:not([type="radio"]):not([type="checkbox"]):hover, input:not([type="radio"]):not([type="checkbox"]):focus {
  border-color: #7252D3;
  background-color: #fff;
}

input:not([type="radio"]):not([type="checkbox"])::-webkit-input-placeholder {
  color: #ccc;
}

input:not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder {
  color: #ccc;
}

input:not([type="radio"]):not([type="checkbox"])::-ms-input-placeholder {
  color: #ccc;
}

input:not([type="radio"]):not([type="checkbox"])::placeholder {
  color: #ccc;
}

input:not([type="radio"]):not([type="checkbox"]):disabled {
  background-color: #eee;
  cursor: not-allowed;
}

input:not([type="radio"]):not([type="checkbox"]):disabled:hover {
  border-color: transparent;
}

.input_block {
  position: relative;
}

.input_block .input_div {
  position: relative;
}

.input_block .input_div.flex_btw {
  gap: .5rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.input_block .input_div.flex_btw .btn_b {
  width: 9.5rem;
}

.input_block .input_div .file_img {
  height: 2.925rem;
  border-radius: .125rem;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  aspect-ratio: 1;
  background-image: url(../images/icon/img.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;
}

.input_block .input_div .file_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.input_block label {
  padding-bottom: .5rem;
  display: block;
  font-size: var(--base-f);
  font-weight: 700;
}

.input_block .input_error {
  font-size: var(--smaller-f);
  margin-top: .25rem;
  color: #D83C31;
}

.input_block .input_info {
  font-size: var(--smaller-f);
  margin-top: .25rem;
  color: #ccc;
}

.input_block .input_ok {
  font-size: var(--smaller-f);
  margin-top: .25rem;
  color: #7252D3;
}

input[type=file] {
  color: #ccc;
}

input[type=file]::file-selector-button {
  display: none;
}

button:disabled {
  background-color: #eee;
  color: #929aac;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:disabled:hover {
  background-color: #eee;
  color: #929aac;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.check_block input[type=checkbox],
.check_block input[type=radio] {
  display: none;
}

.check_block label {
  padding-left: 1.5rem;
  background-size: 1.25rem;
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: var(--small-f);
  color: #747474;
}

.check_block input[type=checkbox] ~ label {
  background-image: url(../images/icon/checkbox_off.svg);
}

.check_block input[type=checkbox]:checked ~ label {
  background-image: url(..//images/icon/checkbox_on.svg);
}

.check_block input[type=radio] ~ label {
  background-image: url(../images/icon/radio_off.svg);
}

.check_block input[type=radio]:checked ~ label {
  background-image: url(../images/icon/radio_on.svg);
}

.check_no {
  display: inline;
  padding-left: 1.25rem;
  background-size: 1.25rem;
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: var(--small-f);
  color: #747474;
  background-image: url(../images/icon/checkbox_off.svg);
}

.check_no.on {
  background-image: url(..//images/icon/checkbox_on.svg);
}

.select_block {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.select_block label {
  font-size: var(--small-f);
  font-weight: initial;
  display: block;
  margin-bottom: 0.5rem;
}

.select_block .selectBtn {
  background-image: url(../../images/icon/down.svg);
  background-color: #f5f5f5;
  border: 1px solid #eee;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: calc(100% - 0.75rem) center;
  color: #747474;
  padding: .5rem 2rem .5rem .75rem;
  text-align: left;
  width: 100%;
  font-size: var(--smaller-f);
}

.select_block .selectBtn.optSlt {
  color: #2b303b;
}

.select_block .optionList {
  position: absolute;
  width: 100%;
  left: 0;
  top: 2.5rem;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  max-height: 0;
  overflow: hidden;
  z-index: 10;
}

.select_block .optionList .optionItem {
  border-bottom: 1px solid #eee;
  color: #232323;
  font-size: var(--smaller-f);
  padding: .5rem 0.75rem;
  cursor: pointer;
  background-color: #fff;
}

.select_block .optionList .optionItem:first-child {
  border-top: 1px solid #eee;
}

.select_block.active .overlay {
  opacity: 1;
  z-index: 1;
}

.select_block.active .selectBtn {
  background-image: url(../../images/icon/up.svg);
}

.select_block.active .optionList {
  max-height: 500px;
}

.textarea_div {
  font-size: 0;
}

.textarea_div textarea {
  width: 100%;
  border: 1px solid #eee;
  padding: .875rem;
  font-size: var(--small-f);
  line-height: 1.5;
}

.textarea_div textarea::-webkit-input-placeholder {
  color: #ccc;
}

.textarea_div textarea:-ms-input-placeholder {
  color: #ccc;
}

.textarea_div textarea::-ms-input-placeholder {
  color: #ccc;
}

.textarea_div textarea::placeholder {
  color: #ccc;
}

.input_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.input_search input {
  border: none !important;
}

.input_search .search_input {
  border-left: 1px solid #eee;
  padding-left: 1rem;
}

.toggle_block .toggle {
  display: none;
}

.toggle_block .toggle + .toggle_btn {
  display: block;
  width: 2.5rem;
  height: 1.375rem;
  position: relative;
  cursor: pointer;
  background-color: #eee;
  border-radius: 2.5rem;
  padding: .1875rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.toggle_block .toggle + .toggle_btn::after {
  content: "";
  position: relative;
  display: block;
  width: 1rem;
  height: 100%;
  left: 0;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.toggle_block .toggle:checked + .toggle_btn {
  background-color: #7252D3;
}

.toggle_block .toggle:checked + .toggle_btn::after {
  left: 1.125rem;
}

/***************************************************************
    07. components
***************************************************************/
.pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
}

.pagenation a {
  font-size: var(--smaller-f);
  width: 2rem;
  height: 2rem;
  display: block;
  border-radius: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pagenation a.active {
  font-weight: 700;
  color: #fff;
  background-color: #2b303b;
}

.pagenation a:hover {
  background-color: #7252D3;
  color: #fff;
}

/***************************************************************
    08. nav
***************************************************************/
.sidebar {
  height: 100svh;
  width: 18rem;
  background-color: #2b303b;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  z-index: 9;
}

.sidebar::-webkit-scrollbar {
  background-color: #2b303b;
  width: .5rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #181b23;
}

.sidebar .logo,
.sidebar .user_info,
.sidebar .consult_sml,
.sidebar .nav,
.sidebar .logoutBtn {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  white-space: nowrap;
}

.sidebar .logo {
  padding: 2rem;
  -webkit-transition: opacity;
  transition: opacity;
}

.sidebar .logoutBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: var(--exsmaller-f);
  color: #fff;
  cursor: pointer;
  background-color: #21252d;
  padding: .5rem .75rem;
  border-radius: .25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  white-space: nowrap;
}

.sidebar .logoutBtn:hover {
  background-color: #232323;
}

.sidebar .user_info {
  gap: 1rem;
  padding: 0 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #232323;
}

.sidebar .user_info .user_img {
  width: 3rem;
  height: 3rem;
  background: #232323 url(../images/icon/user.svg) no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: .25rem;
}

.sidebar .user_info .user_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar .consult_sml {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232323;
}

.sidebar .consult_sml .al_setting {
  padding: .75rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .consult_sml .al_setting .small_f {
  color: #fff;
}

.sidebar .consult_sml .sml_list {
  padding: 1rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  text-align: center;
}

.sidebar .consult_sml .sml_list .sml_data {
  background-color: #21252d;
  border-radius: .25rem;
  padding: 1.5rem 0;
}

.sidebar .consult_sml .sml_list .sml_data .txt {
  font-size: var(--small-f);
  color: #f5f5f5;
}

.sidebar .consult_sml .sml_list .sml_data .total_no {
  font-size: var(--base-f);
  font-weight: 700;
  color: #fff;
  padding-top: 1rem;
  display: block;
  text-decoration: underline;
}

.sidebar .consult_sml .sml_list .sml_data:first-child {
  background-color: rgba(79, 55, 182, 0.7);
}

.sidebar .closeBtn {
  position: absolute;
  color: #929aac;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 1599px) {
  .sidebar {
    position: fixed;
    width: 0;
    left: 0;
    top: 0;
  }
  .sidebar .logo,
  .sidebar .user_info,
  .sidebar .consult_sml,
  .sidebar .nav,
  .sidebar .logoutBtn {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  .sidebar .closeBtn {
    display: block;
  }
  .sidebar .logoutBtn {
    top: 6rem;
    right: 1rem;
  }
}

.nav {
  color: #fff;
  padding: 1rem 0;
}

.nav .nav_link {
  display: block;
}

.nav .nav_link .nav_menu {
  padding: 1.25rem 2rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  white-space: nowrap;
  font-size: var(--small-f);
}

.nav .nav_link .nav_menu:hover {
  color: #929aac;
}

.nav .nav_link .nav_menu i {
  color: #929aac;
  margin-right: .5rem;
}

.nav .nav_link .nav_menu.sub_menu {
  background-image: url(../images/icon/down.svg);
  background-position: calc(100% - 2rem) center;
  background-size: 1.25rem;
  background-repeat: no-repeat;
}

.nav .nav_link .nav_menu.sub_menu.open {
  background-image: url(../images/icon/up.svg);
}

.nav .sub_list {
  padding: 1.5rem 0;
  background-color: #21252d;
  display: none;
}

.nav .sub_list .sub_link {
  display: block;
  font-size: var(--small-f);
  padding: .5rem 3.75rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  white-space: nowrap;
  color: #f5f5f5;
}

.nav .sub_list .sub_link:hover {
  color: #929aac;
}

/***************************************************************
    09. popup
***************************************************************/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup .popup_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.75rem;
  z-index: 2;
  padding: 1.5rem;
  width: 88.8889vw;
  max-width: 20rem;
}

.popup .popup_wrap .pop_title {
  font-size: var(--base-f);
  font-weight: 700;
}

.popup .popup_wrap .pop_txt {
  font-size: var(--small-f);
  color: #747474;
  margin-top: .5rem;
}

.popup .popup_wrap .popClose {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  background: url(../images/icon/close.svg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.popup.open {
  opacity: 1;
  z-index: 9;
}

/***************************************************************
    10. header
***************************************************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 4.5rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .header_left .open_toggle {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  font-size: .5rem;
  cursor: pointer;
  -webkit-transform: all .3s;
          transform: all .3s;
}

.header .header_left .open_toggle .burger {
  display: block;
  width: 100%;
  border-radius: .25rem;
  background-color: #929aac;
  height: .125rem;
  top: calc(50% - 1px);
  position: relative;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: top .2s,left .2s,background-color .4s .2s,-webkit-transform .2s;
  transition: top .2s,left .2s,background-color .4s .2s,-webkit-transform .2s;
  transition: top .2s,left .2s,transform .2s, background-color .4s .2s;
  transition: top .2s,left .2s,transform .2s, background-color .4s .2s,-webkit-transform .2s;
}

.header .header_left .open_toggle .burger::before {
  content: "";
  display: block;
  border-radius: .25rem;
  background-color: #929aac;
  height: .125rem;
  position: absolute;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 1rem;
  left: 0;
  top: .5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header_left .open_toggle .burger::after {
  content: "";
  display: block;
  width: .75rem;
  border-radius: .25rem;
  background-color: #929aac;
  height: .125rem;
  position: absolute;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  left: 0;
  top: -.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header_left .open_toggle .burger.open::before {
  top: -.25rem;
  width: .75rem;
  left: initial;
  right: -.1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header_left .open_toggle .burger.open::after {
  top: .25rem;
  left: initial;
  right: -.1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header_left .open_toggle:hover .burger::before, .header .header_left .open_toggle:hover .burger::after {
  width: 1.5rem;
}

.header .header_left .open_toggle:hover .burger.open::before, .header .header_left .open_toggle:hover .burger.open::after {
  width: .75rem;
}

.header .header_left .header_menu {
  font-size: var(--large-f);
  font-weight: 700;
}

.header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.header .header_right .header_icon {
  font-size: var(--largest-f);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header_right .header_icon:hover {
  color: #7252D3;
}

/***************************************************************
    11. footer
***************************************************************/
/***************************************************************
    12. board
***************************************************************/
.board_list {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #eee;
  position: relative;
}

.board_list .table_title {
  font-size: var(--base-f);
  font-weight: 700;
  margin-bottom: 1rem;
}

.board_list .myqnaBtn {
  position: absolute;
  right: 0;
  top: -3rem;
}

.basic_table {
  width: 100%;
}

.basic_table tr {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.basic_table th {
  border-bottom: 2px solid #747474;
  padding: 1rem .75rem;
  font-size: var(--base-f);
  font-weight: 700;
  text-align: left;
}

.basic_table td {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  font-size: var(--small-f);
}

.basic_table td a:hover {
  text-decoration: underline;
}

.basic_table tbody tr:hover {
  background-color: #fafafa;
}

.search_table {
  width: 100%;
}

.search_table th {
  font-size: var(--base-f);
  font-weight: 700;
  padding: 0 .75rem;
  border-right: 2px solid #747474;
  background-color: #fafafa;
}

.search_table td {
  padding: 0 .75rem;
}

.search_table td .input_div.flex_btw {
  gap: .5rem;
}

.search_table td .input_div.flex_btw .btn_b {
  width: 12.5rem;
}

@media (max-width: 960px) {
  .search_table td .input_div.flex_btw .btn_b {
    width: 9.375rem;
  }
}

@media (max-width: 768px) {
  .search_table td .input_div.flex_btw .btn_b {
    width: 7.5rem;
  }
}

.search_table td .input_div.flex_btw input {
  width: calc(100% - 13rem);
}

@media (max-width: 960px) {
  .search_table td .input_div.flex_btw input {
    width: calc(100% - 9.375rem);
  }
}

@media (max-width: 768px) {
  .search_table td .input_div.flex_btw input {
    width: calc(100% - 7.5rem);
  }
}

.board_btn {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: .5rem;
}

.board_btn .btn_b {
  padding: .875rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.board_read .read_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.board_read .read_title .read_title_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: .5rem;
}

@media (max-width: 1260px) {
  .board_read .read_title .read_title_left {
    width: 100%;
  }
  .board_read .read_title .read_title_left .title {
    width: calc(100% - 5rem);
  }
}

.board_read .read_title .read_title_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 1260px) {
  .board_read .read_title .read_title_right {
    margin-top: .5rem;
  }
}

.board_read .read_title .cate {
  font-size: var(--small-f);
  font-weight: 700;
  color: #7252D3;
  padding-right: .75rem;
  position: relative;
  width: 4.75rem;
  margin-top: .25rem;
}

.board_read .read_title .cate::after {
  content: '';
  display: block;
  width: 2px;
  height: .6875rem;
  background-color: #7252D3;
  position: absolute;
  right: 0;
  top: .125rem;
}

.board_read .read_title .title {
  font-size: var(--large-f);
  font-weight: 700;
}

.board_read .read_title .date {
  font-size: var(--small-f);
  color: #747474;
}

@media (max-width: 768px) {
  .board_read .read_title .date {
    padding-top: .5rem;
  }
}

.board_read .read_title .name {
  font-size: var(--small-f);
  color: #747474;
  position: relative;
  padding-right: 1rem;
}

.board_read .read_title .name::after {
  content: '';
  display: block;
  width: 1px;
  height: .75rem;
  background-color: #ccc;
  position: absolute;
  top: .125rem;
  right: 0;
}

.board_read .board_file {
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
  padding: 1.5rem;
}

.board_read .board_file .addfile {
  font-size: var(--small-f);
  font-weight: 700;
}

.board_read .board_file .file_list {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.board_read .board_file .file_list .file_name {
  font-size: var(--smaller-f);
  color: #747474;
  background-color: #fff;
  padding: .5rem;
  text-decoration: underline;
  cursor: pointer;
  border: 1px dashed #ccc;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.board_read .board_file .file_list .file_name:hover {
  color: #7252D3;
}

.board_read .board_file .user_info_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 1rem;
  line-height: 1.8;
}

.board_read .board_file .user_info_t .title {
  width: 5rem;
  font-size: var(--small-f);
  font-weight: 700;
  color: #747474;
}

.board_read .board_file .user_info_t .txt {
  font-size: var(--small-f);
  width: calc(100% - 6rem);
}

.board_read .article {
  padding: 2rem 0;
  line-height: 1.5;
  font-size: var(--small-f);
}

.board_read .article img {
  padding: 1rem 0;
  width: 100%;
  max-width: 50rem;
}

.board_read .rp_list {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.board_read .rp_article {
  width: 100%;
  padding: 2rem;
  border-top: 1px solid #ccc;
  overflow-x: hidden;
}

.board_read .rp_article .rp_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  font-size: var(--base-f);
  font-weight: 700;
}

.board_read .rp_article .rp_cmt {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: var(--small-f);
}

.board_read .rp_article .date {
  font-size: var(--small-f);
  font-weight: 700;
  color: #747474;
  padding-top: 1.5rem;
}

.board_read .rp_article.rp_done {
  border-top: none;
  background-color: #fafafa;
}

.board_read .page_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  font-size: var(--small-f);
}

.board_read .page_nav .btn_m {
  cursor: pointer;
  gap: .5rem;
}

.board_write .input_block .input_div.flex_btw {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board_write .input_block .input_div.flex_btw label {
  width: 6.25rem;
  padding: 0;
  font-weight: initial;
}

.faq_table .info_txt {
  font-size: var(--small-f);
  color: #747474;
  margin-bottom: 1rem;
}

.faq_table .faq_list {
  border-top: 2px solid #747474;
}

.faq_table .faq_list .faq_q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 1px solid #eee;
  gap: .5rem;
}

.faq_table .faq_list .faq_q:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.faq_table .faq_list .faq_q .q_bold {
  font-size: var(--small-f);
  font-weight: 700;
  color: #7252D3;
}

.faq_table .faq_list .faq_q .title {
  font-size: var(--base-f);
}

.faq_table .faq_list .faq_a {
  padding: 2rem 2rem 2rem 5rem;
  font-size: var(--small-f);
  background-color: #fcfcfc;
  border-bottom: 1px solid #eee;
  display: none;
}

.inner_table {
  width: 100%;
}

.inner_table table {
  width: 100%;
}

.inner_table tr {
  border-bottom: 1px solid #f5f5f5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.inner_table tr:hover {
  background-color: #fafafa;
}

.inner_table th {
  padding: 1rem .5rem;
  position: relative;
  font-size: var(--small-f);
  font-weight: 700;
}

.inner_table td {
  padding: 1rem .5rem;
  font-size: var(--small-f);
}

.inner_table .inner_list {
  width: 100%;
}

.inner_table .inner_list .inner_txt {
  font-size: var(--small-f);
  border-bottom: 1px solid #f5f5f5;
  padding: 1rem;
  line-height: 1.5;
}

.inner_table .inner_list .inner_txt:first-child {
  padding-top: 0;
}

.inner_table .inner_list .inner_txt:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.inner_table.table_odd table tr {
  border-color: #eee;
}

.inner_table.table_odd table tr:nth-child(odd) {
  background-color: #fafafa;
}

.inner_table.table_odd table tr:nth-child(odd):hover {
  background-color: #fafafa;
}

.inner_table.table_odd table tr:hover {
  background-color: transparent;
}

/***************************************************************
    13. guide
***************************************************************/
:root {
  --point-y: #F9F871;
  --point-g: #65FBD2;
  --point-b: #7EF0FF;
  --guide-point-f: "Barlow Semi Condensed";
  --border-color: #eee;
  --bg-color: #fafafa;
}

body {
  font-weight: 400;
}

#guide_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  gap: 1rem;
}

#guide_nav {
  width: 250px;
  height: 100svh;
  overflow: hidden;
  border-radius: 1px solid var(--border-color);
  -webkit-box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.02);
          box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.02);
  text-transform: uppercase;
  font-family: var(--guide-point-f);
}

#guide_nav h1 {
  font-size: var(--h1-f);
  font-weight: 700;
  padding: 2rem;
}

#guide_nav .nav_menu {
  border-top: 1px solid var(--border-color);
}

#guide_nav .nav_menu a {
  display: block;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 2rem;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
  font-size: 0.875rem;
}

#guide_nav .nav_menu a::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background-color: var(--point-y);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#guide_nav .nav_menu a:hover {
  color: #fff;
  border-color: transparent;
}

#guide_nav .nav_menu a:hover::after {
  width: 100%;
}

#guide_nav .nav_menu a.active {
  font-weight: 700;
}

#guide_nav .nav_menu a.active::before {
  content: "- ";
}

.container {
  width: calc(100% - 250px);
  height: 100svh;
  overflow: auto;
}

.container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb {
  background-color: #2F2F2F;
}

.container .contents {
  padding: 2rem;
}

.container .contents h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--guide-point-f);
  font-weight: 700;
}

.container .contents .guide_info {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 2rem;
  margin: 2rem 0 4rem;
  line-height: 2;
}

.container .contents h3 {
  font-size: 1.5rem;
  font-family: var(--guide-point-f);
  text-transform: uppercase;
  font-weight: 700;
}

.container .contents .guide_block {
  margin: 4rem 0;
}

.container .contents .guide_block .guide_data {
  margin-top: 1rem;
}

.container .contents .guide_block .guide_data .title {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  padding: 0.5rem 1rem;
  font-family: var(--guide-point-f);
  font-weight: 500;
  color: #747474;
}

.container .contents .guide_block .guide_data .data {
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-top: 0;
}

.container .contents .guide_block .guide_data .guide_color {
  width: 80px;
  height: 80px;
}

.container .contents .guide_block .guide_data .guide_icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
