/***************************************************************
    12. header
***************************************************************/
.header {
  @include flexbtw;
  padding-inline: 1rem;
  height: 3rem;
  background-color: var(--gray-white);
  position: sticky;
  top: 0;
  z-index: var(--z-fixed);

  &-name {
    @include span1b;
    width: calc(100% - 8.5rem);
    text-align: center;
  }

  &-btn {
    @include span1b;
    color: var(--gray-02);

    &.active {
      color: var(--primary-color);
    }
  }

  &-left {
    width: 4.25rem;
    @include flex;
    gap: 0.25rem;
  }

  &-right {
    width: 4.25rem;
    @include flexright;
    gap: 0.25rem;
  }

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.home_header {
    .header-right {
      width: fit-content;
    }

    .coin {
      @include span2b;
      background-image: url(../images/system/color_coin.svg);
      background-size: 1.125rem;
      background-repeat: no-repeat;
      background-position: lect center;
      padding-left: 1.5625rem;
      line-height: 1.125rem;
    }
  }
}
