/***************************************************************
    15. main
***************************************************************/
body.open {
  height: 100svh;
  overflow: hidden;
}

//* 온보딩 *//
.onboarding {
  padding-block: 3rem 8.5rem;
  height: 100%;

  .swiper-wrapper {
    // height: 100%;

    .onboarding-img {
      aspect-ratio: 1;
    }
  }

  &-item {
    display: grid;
    align-content: center;
    height: 100%;
  }

  &-img {
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
  }

  &-info {
    text-align: center;
    padding-top: 8svh;
    display: grid;
    gap: 1rem;
  }

  &-txt {
    @include p1b;
  }

  &-sub {
    @include p3;
    color: var(--gray-02);
  }

  .last_slide {
    .onboarding-info {
      padding-top: 5svh;
    }
  }

  .last_slide ~ .swiper-pagination {
    bottom: 20svh;
  }

  .swiper-pagination {
    bottom: 12svh;
  }
}
