/***************************************************************
    15. main
***************************************************************/
body.open {
  height: 100svh;
  overflow: hidden;
}

//* 공통 *//
.section_title {
  @include p1b;
}

.section_subtitle {
  @include h3;
}

.section_txt {
  padding-top: 0.75rem;
  @include p3;
  color: var(--gray-02);
}

.txt_link {
  @include misc2under;
  color: var(--gray-01);
  text-align: center;
  display: block;
}

//* 온보딩 *//
.onboarding {
  padding-bottom: 8.5rem;
  height: 100%;

  .swiper-wrapper {
    // height: 100%;

    .onboarding-img {
      aspect-ratio: 1;
    }
  }

  &-item {
    display: grid;
    align-content: center;
    height: 100%;
  }

  &-img {
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
  }

  &-info {
    text-align: center;
    padding-top: 8svh;
    display: grid;
    gap: 1rem;
  }

  &-txt {
    @include p1b;
  }

  &-sub {
    @include p3;
    color: var(--gray-02);
  }

  .last_slide {
    .onboarding-info {
      padding-top: 5svh;
    }
  }

  .last_slide ~ .swiper-pagination {
    bottom: 20svh;
  }

  .swiper-pagination {
    bottom: 12svh;
  }
}

//* 로그인 *//
.login_btns {
  display: grid;
  gap: 0.5rem;
  margin-top: 10.25rem;
  position: relative;

  .tooltip {
    top: -2.625rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

//* 완료 *//
.cpl_img {
  width: 3rem;
  height: 3rem;
  margin-block: 0.5rem 1.5rem;
}

//* 약관 *//
.terms_block {
  .section_title {
    padding-bottom: 0.75rem;
  }

  .section_subtitle {
    padding-bottom: 0.75rem;
  }

  .txt {
    @include p4;
    color: var(--gray-01);
  }

  .terms_table {
    width: 100%;
    border-top: 1px solid var(--gray-04);
    border-left: 1px solid var(--gray-04);

    th {
      background-color: var(--gray-04);
      @include p4b;
      color: var(--gray-01);
      padding: 0.75rem 1rem;
      border-bottom: 1px solid var(--gray-04);
      border-right: 1px solid var(--gray-04);
      text-align: left;
    }

    td {
      border-bottom: 1px solid var(--gray-04);
      border-right: 1px solid var(--gray-04);
      padding: 0.75rem 1rem;
      @include p4;
      color: var(--gray-01);
    }
  }

  .select_wrap {
    .optionList {
      top: 3.25rem;
    }
  }
}

//* 홈 매안 *//
.intake_friends {
  position: relative;
  padding: 1.25rem;

  &-data {
    width: 3.875rem;

    &.my {
      .intake_friends-name {
        color: var(--gray-black);
        font-weight: var(--bold-f);
      }
    }

    &.done {
      .intake_friends-thumb {
        border-color: var(--primary-color);
      }
    }
  }
  &-thumb {
    width: 100%;
    aspect-ratio: 1;
    border: 0.125rem solid var(--gray-04);
    border-radius: 50%;
    padding: 0.125rem;
    overflow: hidden;
  }
  &-img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--gray-03);
    background-image: url(../images/system/user_fill_w.svg);
    background-size: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-name {
    @include span4;
    padding-top: 0.25rem;
    width: 100%;
    text-align: center;
    color: var(--gray-01);
  }

  &-add {
    width: 3.375rem;

    .intake_friends-thumb {
      border: none;
      cursor: pointer;
      background-image: url(../images/img/add_circle.png);
      background-size: cover;
    }
  }

  &-msg {
    position: absolute;
    top: 1.25rem;
    left: 10.75rem;
    background-color: var(--primary-color);
    color: var(--gray-white);
    padding: 0.75rem 0.5rem 0.75rem 0.75rem;
    width: 11rem;
    @include flexbtw;
    gap: 0.25rem;
    border-radius: 0.5rem 0.125rem 0.125rem 0.125rem;
    z-index: var(--z-tool);

    i {
      cursor: pointer;
      width: 1.5rem;
    }

    .msg {
      @include span3;
      width: calc(100% - 1.75rem);
      word-break: auto-phrase;
    }

    &::before {
      content: "";
      position: absolute;
      left: -0.5rem;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background-color: var(--primary-color);
      width: 1rem;
      height: 1rem;
    }
  }
}

//* 홈 컨텐츠 *//
.home_con {
  display: grid;
  gap: 2rem;

  //오늘의 기록
  .today_record {
    padding-inline: 1.25rem;
    position: relative;

    & > .title {
      @include h3;
      padding-bottom: 1rem;

      .now {
        color: var(--primary-color);
        @include span1;
      }
    }

    &-add {
      width: 100%;
      border-radius: 0.5rem;
      padding: 1.75rem 1.25rem;
      box-shadow: var(--shadow-s);

      .icon {
        width: 2.625rem;
        height: 2.625rem;
        margin: 0 auto;
      }

      .txt {
        @include span2b;
        color: var(--gray-02);
        text-align: center;
        padding-block: 1rem;
      }
    }

    .all_clear {
      background-color: var(--primary-color);
      color: var(--gray-white);
      padding: 2.625rem 1.25rem;
      border-radius: 0.5rem;
      background-image: url(../images/banner/today_cpl.svg);
      background-size: 7.8125rem;
      background-repeat: no-repeat;
      background-position: right bottom;

      .title {
        @include h3;
      }

      .txt {
        @include p5b;
        padding-top: 0.5rem;
      }
    }

    .btns {
      position: absolute;
      right: 1.25rem;
      top: -0.25rem;
    }
  }

  //롤링배너
  .home_banner {
    padding-inline: 1.25rem;
    width: 100%;
    overflow: hidden;

    &-data {
      border: 1px solid var(--gray-04);
      border-radius: 0.5rem;
      padding: 2.25rem 1.5rem 2.125rem;
      background-repeat: no-repeat;
      background-size: 7.5rem;
      background-position: calc(100% - 1.25rem) center;

      .title {
        @include p6b;
        padding-bottom: 0.375rem;
      }

      .txt {
        @include p5;
      }
    }
  }

  //메뉴리스트
  .home_menu {
    display: grid;
    gap: 2rem;
    padding-inline: 1.25rem;

    &-data {
      .title {
        @include p2b;
        color: var(--gray-01);
        padding-bottom: 1rem;
      }
    }

    &-list {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);

      a {
        @include span2b;
        padding: 1.25rem 0.75rem;
        text-align: center;
        box-shadow: var(--shadow-add);
        border-radius: 0.75rem 0 0 0;
      }
    }
  }
}

//* 섭취인증관련 팝업 *//
.fullpop {
  height: 100svh;
  border-radius: 0.5rem;
  background-color: var(--gray-white);
  position: relative;

  .loading_bar {
    padding: 1rem 0.5rem 0.75rem;

    .bar {
      position: relative;
      height: 2px;
      background-color: var(--gray-04);

      span {
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        display: block;
        transition: 2s;
        animation: widthfull 5s linear;
      }
    }
  }

  .user_info {
    padding-inline: 1.25rem;
  }

  .popClose {
    width: 2rem;
    position: absolute;
    top: 2rem;
    right: 1.25rem;
  }

  .fullpop_con {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    width: 100%;

    .user_thumb {
      width: 10.875rem;
      aspect-ratio: 1;
      margin: 0 auto;
      border: 0.5rem solid var(--gray-05);
      border-radius: 50%;
      padding: 0.5rem;
      position: relative;

      .thumbnail {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;

        .img {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .user_lv {
        width: 3.25rem;
        position: absolute;
        bottom: -1.75rem;
        right: 1rem;
      }

      &.done {
        border-color: var(--primary-color);
      }
    }

    .calendar {
      padding-block: 1.5rem 2rem;
    }

    .con_txt {
      display: grid;
      gap: 1rem;
      justify-items: center;

      .title {
        @include span1b;
      }

      .txt {
        @include p4;
        color: var(--gray-02);
        text-align: center;
      }
    }
  }

  &.bg_dark {
    background-color: #111;
  }
}

.message_full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: 0.3s;

  .massage_con {
    position: absolute;
    top: calc(50% - 4.125rem);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tab_color {
    margin: 0 auto;
  }

  .tab_con p {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
    @include flexcenter;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-07);
    }
  }

  .emoji_list {
    display: grid;
    gap: 2.25rem;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2.25rem;
    height: 12.875rem;
    justify-items: center;

    p {
      width: 3.875rem;
      height: 3.875rem;
      border-radius: 50%;
      font-size: 2rem;
    }
  }

  .msg_list {
    display: grid;
    gap: 1.5rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
    height: 12.875rem;

    p {
      @include span1b;
      color: var(--gray-white);
      border-radius: 999px;
      width: 8.75rem;
      padding: 0.75rem 1rem;
    }
  }

  &.open {
    opacity: 1;
    z-index: 0;
  }
}
