/***************************************************************
    02. animations
***************************************************************/
@keyframes tootip {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
