/***************************************************************
    02. animations
***************************************************************/
@keyframes tootip {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

//footer nav
@keyframes navwidth {
  0% {
    width: 23.8889vw;
    max-width: 5.375rem;
  }

  90% {
    width: 23.8889vw;
    max-width: 5.375rem;
  }
  100% {
    width: 43.3333vw;
  }
}

@keyframes navname {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//* =========== main ============= *//
@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: var(--w);
  }
}

@keyframes widthfull {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
