/***************************************************************
    05. color
***************************************************************/
.primary_color {
  color: var(--primary-color);
}

.primary_09 {
  color: var(--primary-09);
}

.primary_08 {
  color: var(--primary-08);
}

.primary_07 {
  color: var(--primary-07);
}

.primary_06 {
  color: var(--primary-06);
}

.primary_05 {
  color: var(--primary-05);
}

.primary_04 {
  color: var(--primary-04);
}

.primary_03 {
  color: var(--primary-03);
}

.primary_02 {
  color: var(--primary-02);
}

.primary_01 {
  color: var(--primary-01);
}

.primary_005 {
  color: var(--primary-005);
}

.system_red {
  color: var(--system-red);
}

.system_red_09 {
  color: var(--system-red-09);
}

.system_red_08 {
  color: var(--system-red-08);
}

.system_red_07 {
  color: var(--system-red-07);
}

.system_red_06 {
  color: var(--system-red-06);
}

.system_red_05 {
  color: var(--system-red-05);
}

.system_red_04 {
  color: var(--system-red-04);
}

.system_red_03 {
  color: var(--system-red-03);
}

.system_red_02 {
  color: var(--system-red-02);
}

.system_red_01 {
  color: var(--system-red-01);
}

.system_red_005 {
  color: var(--system-red-005);
}

.system_yellow {
  color: var(--system-yellow);
}

.system_yellow_09 {
  color: var(--system-yellow-09);
}

.system_yellow_08 {
  color: var(--system-yellow-08);
}

.system_yellow_07 {
  color: var(--system-yellow-07);
}

.system_yellow_06 {
  color: var(--system-yellow-06);
}

.system_yellow_05 {
  color: var(--system-yellow-05);
}

.system_yellow_04 {
  color: var(--system-yellow-04);
}

.system_yellow_03 {
  color: var(--system-yellow-03);
}

.system_yellow_02 {
  color: var(--system-yellow-02);
}

.system_yellow_01 {
  color: var(--system-yellow-01);
}

.system_yellow_005 {
  color: var(--system-yellow-005);
}

.gray_black {
  color: var(--gray-black);
}

.gray_01 {
  color: var(--gray-01);
}

.gray_01 {
  color: var(--gray-01);
}

.gray_02 {
  color: var(--gray-02);
}

.gray_03 {
  color: var(--gray-03);
}

.gray_04 {
  color: var(--gray-04);
}

.gray_05 {
  color: var(--gray-05);
}

.gray_white {
  color: var(--gray-white);
}

.brand_yellow {
  color: var(--brand-yellow);
}

.brand_orange {
  color: var(--brand-orange);
}

.brand_blue {
  color: var(--brand-blue);
}

.brand_purple {
  color: var(--brand-purple);
}
