/***************************************************************
    06. icons
***************************************************************/
i {
  width: 100%;
  aspect-ratio: 1;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ic_kakao_w {
  background-image: url(../images/system/kakao_w.svg);
}

.ic_kakao_bk {
  background-image: url(../images/system/kakao_bk.svg);
}

.ic_blog_w {
  background-image: url(../images/system/blog_w.svg);
}

.ic_insta_w {
  background-image: url(../images/system/insta_w.svg);
}

.ic_apple_w {
  background-image: url(../images/system/apple_w.svg);
}

.ic_down_gray {
  background-image: url(../images/system/down_gray.svg);
}

.ic_navchallenge {
  background-image: url(../images/common/navchallenge_off.svg);
}

.ic_navhome {
  background-image: url(../images/common/navhome_off.svg);
}

.ic_navqna {
  background-image: url(../images/common/navqna_off.svg);
}

.ic_navstore {
  background-image: url(../images/common/navstore_off.svg);
}

.ic_back {
  background-image: url(../images/system/back.svg);
}

.ic_x {
  background-image: url(../images/system/x.svg);
}

.ic_check_off {
  background-image: url(../images/system/check_off.svg);
}

.ic_check_on {
  background-image: url(../images/system/check_on.svg);
}
