/***************************************************************
    06. icons
***************************************************************/
i {
  width: 100%;
  aspect-ratio: 1;
  display: block;
}
