/***************************************************************
    06. icons
***************************************************************/
i {
  width: 100%;
  aspect-ratio: 1;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ic_kakao_w {
  background-image: url(../images/system/kakao_w.svg);
}

.ic_kakao_bk {
  background-image: url(../images/system/kakao_bk.svg);
}

.ic_blog_w {
  background-image: url(../images/system/blog_w.svg);
}

.ic_insta_w {
  background-image: url(../images/system/insta_w.svg);
}

.ic_apple_w {
  background-image: url(../images/system/apple_w.svg);
}

.ic_down_gray {
  background-image: url(../images/system/down_gray.svg);
}

.ic_navchallenge {
  background-image: url(../images/common/navchallenge_off.svg);
}

.ic_navhome {
  background-image: url(../images/common/navhome_off.svg);
}

.ic_navqna {
  background-image: url(../images/common/navqna_off.svg);
}

.ic_navstore {
  background-image: url(../images/common/navstore_off.svg);
}

.ic_back {
  background-image: url(../images/system/back.svg);
}

.ic_x {
  background-image: url(../images/system/x.svg);
}

.ic_x_w {
  background-image: url(../images/system/x_w.svg);
}

.ic_x_w {
  background-image: url(../images/system/x_w.svg);
}

.ic_check_off {
  background-image: url(../images/system/check_off.svg);
}

.ic_check_on {
  background-image: url(../images/system/check_on.svg);
}

.ic_user {
  background-image: url(../images/system/user.svg);
}

.ic_alarm {
  background-image: url(../images/system/alarm.svg);
}

.ic_color_coin {
  background-image: url(../images/system/color_coin.svg);
}

.ic_right {
  background-image: url(../images/system/right.svg);
}

.ic_sun {
  background-image: url(../images/icon/sun.svg);
}

.ic_sun_gray {
  background-image: url(../images/icon/sun_gray.svg);
}

.ic_moon {
  background-image: url(../images/icon/moon.svg);
}

.ic_moon_gray {
  background-image: url(../images/icon/moon_gray.svg);
}

.ic_send {
  background-image: url(../images/system/sendBtn.svg);
}

.ic_send_disabled {
  background-image: url(../images/system/sendBtn_disabled.svg);
}
