/***************************************************************
    04. typo
***************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");

body {
  font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "sans-serif";
  font-weight: var(--medium-f);
  line-height: 1.2;
  color: var(--gray-black);
}

.h1_f {
  @include h1;
}

.h2_f {
  @include h2;
}

.h3_f {
  @include h3;
}

.p1_f {
  @include p1;
}

.p1_fb {
  @include p1b;
}

.p2_f {
  @include p2;
}

.p2_fb {
  @include p2b;
}

.p3_f {
  @include p3;
}

.p3_fb {
  @include p3b;
}

.p4_f {
  @include p4;
}

.p4_fb {
  @include p4b;
}

.p5_f {
  @include p5;
}

.p5_fb {
  @include p5b;
}

.p6_f {
  @include p6;
}

.p6_fb {
  @include p6b;
}

.p7_f {
  @include p7;
}

.p7_fb {
  @include p7b;
}

.span1_f {
  @include span1;
}

.span1_fb {
  @include span1b;
}

.span2_f {
  @include span2;
}

.span2_fb {
  @include span2b;
}

.span3_f {
  @include span3;
}

.span3_fb {
  @include span3b;
}

.span4_f {
  @include span4;
}

.span4_fb {
  @include span4b;
}

.misc1_th {
  @include misc1th;
}

.misc1_thb {
  @include misc1thb;
}

.misc2_th {
  @include misc2th;
}

.misc2_thb {
  @include misc2thb;
}

.misc1_under {
  @include misc1under;
}

.misc1_underb {
  @include misc1underb;
}

.misc2_under {
  @include misc2under;
}

.misc2_underb {
  @include misc2underb;
}

.txt_center {
  text-align: center;
}

.txt_right {
  text-align: right;
}

.txt_left {
  text-align: left;
}

.listdot {
  position: relative;
  padding-left: 1rem;
  &::before {
    content: "";
    @include listdot;
  }
}

.bold_f {
  font-weight: var(--bold-f);
}

.medium_f {
  font-weight: var(--medium-f);
}

.thin_f {
  font-weight: var(--thin-f);
}

.second_f {
  font-family: var(--second-f);
}
