@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --p-hue: 235;
  --p-sat: 70%;
  --p-lgt: 65%;
  --r-hue: 0;
  --r-sat: 85%;
  --r-lgt: 64%;
  --primary-color: hsla(var(--p-hue), var(--p-sat), var(--p-lgt), 1);
  --primary-color-alp: hsl(var(--p-hue), var(--p-sat), var(--p-lgt), 10%);
  --system-red: hsla(var(--r-hue), var(--r-sat), var(--r-lgt), 1);
  --system-red-alp: hsla(var(--r-hue), var(--r-sat), var(--r-lgt), 10%);
  --system-purple: #7030FD;
  --system-pruple-2: #B12DFF;
  --text-color: #1C1D27;
  --text-color-2: #87888D;
  --border-color: #ddd;
  --white-color: #fff;
  --white-color-alp: rgba(255,255,255,.4);
  --bg-color: #F3F6F8;
  /*========== Font and typography ==========*/
  --body-font: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --second-font: "Caveat", cursive;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.375rem;
  --h3-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --base-font-size: 1rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  --smaller-font-size: .625rem;
  --tiny-font-size: .5rem;
  --bold-font: 700;
  --semi-bold-font: 500;
  --medium-font: 400;
  --thin-font: 200;
  /* ========= margin ========= */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-25: 1.25rem;
  --m-1-5: 1.5rem;
  --m-1-75: 1.75rem;
  --m-2: 2rem;
  --m-2-25: 2.25rem;
  --m-2-5: 2.5rem;
  --m-2-75: 2.75rem;
  --m-3: 3rem;
  --m-3-25: 3.25rem;
  --m-3-5: 3.5rem;
  --m-3-75: 3.75rem;
  --m-4: 4rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  /* ========= etc ============= */
  --shadow-s: 0 0 5px rgba(0, 0, 0, 0.025);
  --shadow-m: 0 0 8px rgba(0, 0, 0, 0.05);
  --shadow-l: 0 0 16px rgba(0, 0, 0, 0.1);
}

/* color */
.primary_color {
  color: var(--primary-color);
}

.primary_color-alp {
  color: var(--primary-color-alp);
}

.system_red {
  color: var(--system-red);
}

.system_red-alp {
  color: var(--system-red-alp);
}

.text_color {
  color: var(--text-color);
}

.text_color-2 {
  color: var(--text-color-2);
}

.border_color {
  color: var(--border-color);
}

.white_color {
  color: var(--white-color);
}

.white_color-alp {
  color: var(--white-color-alp);
}

.bg_color {
  background-color: var(--bg-color);
}

.bg_primary {
  background-color: var(--primary-color);
}

/* mediaquery - mobile base (360px) */
/* typo */
/* flex */
/***************************************************************
    01. base
***************************************************************/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100svh;
  scroll-behavior: smooth;
}

main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  outline-style: none;
  margin: 0;
  border: none;
  transition: all 0.2s;
}

input:foucs {
  outline: none;
}

input::-webkit-input-placeholder {
  font-size: inherit;
  line-height: 1;
}

[type=radio],
[type=checkbox] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  padding: 0;
}

[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit;
}

/***************************************************************
    02. animations
***************************************************************/
/***************************************************************
    03. layout
***************************************************************/
.pd_none {
  padding-bottom: 0;
}

.mb_0_25 {
  margin-bottom: var(--m-0-25);
}

.mb_0_5 {
  margin-bottom: var(--m-0-5);
}

.mb_0_75 {
  margin-bottom: var(--m-0-75);
}

.mb_1 {
  margin-bottom: var(--m-1);
}

.mb_1_25 {
  margin-bottom: var(--m-1-25);
}

.mb_1_5 {
  margin-bottom: var(--m-1-5);
}

.mb_1_75 {
  margin-bottom: var(--m-1-75);
}

.mb_2 {
  margin-bottom: var(--m-2);
}

.mb_2_25 {
  margin-bottom: var(--m-2-25);
}

.mb_2_5 {
  margin-bottom: var(--m-2-5);
}

.mb_2_75 {
  margin-bottom: var(--m-2-75);
}

.mb_3 {
  margin-bottom: var(--m-3);
}

.mb_3_25 {
  margin-bottom: var(--m-3-25);
}

.mb_3_5 {
  margin-bottom: var(--m-3-5);
}

.mb_3_75 {
  margin-bottom: var(--m-3-75);
}

.mb_4 {
  margin-bottom: var(--m-4);
}

.mt_0_25 {
  margin-top: var(--m-0-25);
}

.mt_0_5 {
  margin-top: var(--m-0-5);
}

.mt_0_75 {
  margin-top: var(--m-0-75);
}

.mt_1 {
  margin-top: var(--m-1);
}

.mt_1_25 {
  margin-top: var(--m-1-25);
}

.mt_1_5 {
  margin-top: var(--m-1-5);
}

.mt_1_75 {
  margin-top: var(--m-1-75);
}

.mt_2 {
  margin-top: var(--m-2);
}

.mt_2_25 {
  margin-top: var(--m-2-25);
}

.mt_2_5 {
  margin-top: var(--m-2-5);
}

.mt_2_75 {
  margin-top: var(--m-2-75);
}

.mt_3 {
  margin-top: var(--m-3);
}

.mt_3_25 {
  margin-top: var(--m-3-25);
}

.mt_3_5 {
  margin-top: var(--m-3-5);
}

.mt_3_75 {
  margin-top: var(--m-3-75);
}

.mt_4 {
  margin-top: var(--m-4);
}

.flex {
  display: flex;
  align-items: center;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_top {
  display: flex;
  align-items: flex-start;
}

.flex_topcenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex_topbtw {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex_topright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.inner_0_25 {
  padding-inline: 0.25rem;
}

.inner_0_5 {
  padding-inline: 0.5rem;
}

.inner_0_75 {
  padding-inline: 0.75rem;
}

.inner_1 {
  padding-inline: 1rem;
}

.inner_1_25 {
  padding-inline: 1.25rem;
}

.inner_1_5 {
  padding-inline: 1.5rem;
}

.inner_1_75 {
  padding-inline: 1.75rem;
}

.inner_2 {
  padding-inline: 2rem;
}

.innerb_0_25 {
  padding-block: 0.25rem;
}

.innerb_0_5 {
  padding-block: 0.5rem;
}

.innerb_0_75 {
  padding-block: 0.75rem;
}

.innerb_1 {
  padding-block: 1rem;
}

.innerb_1_25 {
  padding-block: 1.25rem;
}

.innerb_1_5 {
  padding-block: 1.5rem;
}

.innerb_1_75 {
  padding-block: 1.75rem;
}

.innerb_2 {
  padding-block: 2rem;
}

.list_0_25 {
  display: grid;
  gap: 0.25rem;
}

.list_0_5 {
  display: grid;
  gap: 0.5rem;
}

.list_0_75 {
  display: grid;
  gap: 0.75rem;
}

.list_1 {
  display: grid;
  gap: 1rem;
}

.list_1_25 {
  display: grid;
  gap: 1.25rem;
}

.list_1_25 {
  display: grid;
  gap: 1.5rem;
}

.list_1_75 {
  display: grid;
  gap: 1.75rem;
}

.list_2 {
  display: grid;
  gap: 2rem;
}

/***************************************************************
    04. typo
***************************************************************/
body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-color);
}

.line_h {
  line-height: 1.5;
}

.line_th {
  text-decoration: line-through;
}

.line_under {
  text-decoration: underline;
}

.bold_f {
  font-weight: var(--bold-font);
}

.semi_bold_f {
  font-weight: var(--semi-bold-font);
}

.medium_f {
  font-weight: var(--medium-font);
}

.thin_f {
  font-weight: var(--thin-font);
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.second_font {
  font-family: var(--second-font);
}

.h1_f {
  font-size: var(--h1-font-size);
}

.h2_f {
  font-size: var(--h2-font-size);
}

.h3_f {
  font-size: var(--h3-font-size);
}

.large_f {
  font-size: var(--large-font-size);
}

.base_f {
  font-size: var(--base-font-size);
}

.normal_f {
  font-size: var(--normal-font-size);
}

.small_f {
  font-size: var(--small-font-size);
}

.smaller_f {
  font-size: var(--smaller-font-size);
}

.tiny_f {
  font-size: var(--tiny-font-size);
}

.listdot {
  position: relative;
  padding-left: 1rem;
}
.listdot::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--text-color-2);
  position: absolute;
  left: 5px;
  top: 6px;
}

@media (max-width: 359px) {
  :root {
    font-size: 4.4568vw;
  }
}
/***************************************************************
    05. buttons
***************************************************************/
.btn_wrap {
  width: 100%;
  display: grid;
  gap: 1rem;
}
.btn_wrap .btn_txt {
  text-align: center;
}

.btn_fixed {
  position: fixed;
  right: 1.25rem;
  left: 1.25rem;
  bottom: 1.25rem;
}

.btn_group {
  width: calc(100% + 2.5rem);
  transform: translateX(1.25rem);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}

.icon_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.icon_group .user_img {
  background-color: var(--bg-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.icon_group .user_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font);
  border-radius: 0.75rem;
  line-height: 1;
  padding-block: 1.25rem;
  transition: all 0.3s;
  border: 2px solid transparent;
}

.btn_m {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--small-font-size);
  border-radius: 0.5rem;
  line-height: 1;
  padding: 1rem;
  font-weight: var(--semi-bold-font);
  transition: all 0.3s;
}

.btn_s {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--smaller-font-size);
  font-weight: var(--semi-bold-font);
  border-radius: 0.5rem;
  line-height: 1;
  padding: 0.75rem;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.btn_round {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--small-font-size);
  font-weight: var(--semi-bold-font);
  border-radius: 3rem;
  line-height: 1;
  padding: 0.75rem 1.25rem;
}

.btn_icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_txt {
  font-size: var(--normal-font-size);
  font-weight: var(--semi-bold-font);
  color: var(--text-color-2);
  text-decoration: underline;
  cursor: pointer;
}

.icon_round {
  font-size: var(--smaller-font-size);
  font-weight: var(--bold-font);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
}

.icon_squre {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--smaller-font-size);
  border-radius: 0.25rem;
  line-height: 1;
  padding: 0.25rem;
}

.btn_primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn_primary-alp {
  background-color: var(--primary-color-alp);
  color: var(--primary-color);
}
.btn_primary-dash {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px dashed var(--primary-color-alp);
}

.btn_primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn_white {
  background-color: var(--white-color);
  color: var(--primary-color);
}
.btn_white-border {
  border-color: var(--border-color);
  color: var(--primary-color);
}

.icon_primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.icon_primary-alp {
  background-color: var(--primary-color-alp);
  color: var(--primary-color);
}

.icon_red {
  background-color: var(--system-red);
  color: var(--white-color);
}
.icon_red-alp {
  background-color: var(--system-red-alp);
  color: var(--system-red);
}

.icon_gray {
  background-color: var(--text-color);
  color: var(--white-color);
}
.icon_gray-alp {
  background-color: var(--border-color);
  color: var(--text-color-2);
}

.icon_white {
  background-color: var(--white-color);
  color: var(--primary-color);
}

/***************************************************************
    06. form
***************************************************************/
input::-moz-placeholder {
  color: var(--text-color-2);
}
input::placeholder {
  color: var(--text-color-2);
}

.input_block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input:not([type=checkbox]),
input:not([type=radio]) {
  line-height: 1;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  background-color: transparent;
  border-radius: 1rem;
  width: 100%;
  padding: 1.25rem;
}
input:not([type=checkbox]).login_input, input:not([type=checkbox]).pass_input, input:not([type=checkbox]).find_input,
input:not([type=radio]).login_input,
input:not([type=radio]).pass_input,
input:not([type=radio]).find_input {
  border-color: var(--white-color-alp);
  color: var(--white-color);
  background-position: 1.25rem center;
  background-size: 1rem;
  background-repeat: no-repeat;
  padding-left: 3rem;
}
input:not([type=checkbox]).login_input::-moz-placeholder, input:not([type=checkbox]).pass_input::-moz-placeholder, input:not([type=checkbox]).find_input::-moz-placeholder, input:not([type=radio]).login_input::-moz-placeholder, input:not([type=radio]).pass_input::-moz-placeholder, input:not([type=radio]).find_input::-moz-placeholder {
  color: var(--white-color-alp);
}
input:not([type=checkbox]).login_input::placeholder, input:not([type=checkbox]).pass_input::placeholder, input:not([type=checkbox]).find_input::placeholder,
input:not([type=radio]).login_input::placeholder,
input:not([type=radio]).pass_input::placeholder,
input:not([type=radio]).find_input::placeholder {
  color: var(--white-color-alp);
}
input:not([type=checkbox]).login_input,
input:not([type=radio]).login_input {
  background-image: url(/images/input_user.svg);
}
input:not([type=checkbox]).pass_input,
input:not([type=radio]).pass_input {
  background-image: url(/images/input_key.svg);
}
input:not([type=checkbox]).find_input,
input:not([type=radio]).find_input {
  background-image: url(/images/input_search.svg);
}
input:not([type=checkbox]).input_search,
input:not([type=radio]).input_search {
  border: 1px solid var(--border-color);
  border-radius: 3rem;
  padding: 1rem;
  font-size: var(--small-font-size);
  padding-left: 2.5rem;
}
input:not([type=checkbox]).input_search + .btn_search,
input:not([type=radio]).input_search + .btn_search {
  position: absolute;
  left: 0.5rem;
}

input[type=file] {
  display: none;
}
input[type=file] + label {
  background-image: url(/images/clip_gr.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--border-color);
}

/***************************************************************
    07. components
***************************************************************/
.swiper {
  width: calc(100% + 2.5rem);
  transform: translateX(-1.25rem);
}
.swiper .swiper-slide {
  transform: translateX(1.25rem);
}
.swiper .swiper-slide:last-child {
  margin-right: 2.5rem;
}
.swiper .swiper-pagination {
  position: relative;
  padding-top: 1rem;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 0.3125rem;
  height: 0.3125rem;
  margin: 0 0.125rem;
  transition: all 0.2s;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.card_link {
  background-color: var(--white-color);
  border-radius: 0.75rem;
  padding: 1.25rem;
  background-image: url(/images/arrow_right_gr.svg);
  background-position: calc(100% - 1.25rem) center;
  background-size: 1.25rem;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card_link .title {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font);
}
.card_link .sub {
  font-size: var(--small-font-size);
  color: var(--text-color-2);
  line-height: 1.5;
}

.study_card {
  height: 50svh;
  border-radius: 0.75rem;
  padding: 1.5rem;
}
.study_card .grid {
  display: grid;
  align-content: space-between;
  height: 100%;
}
.study_card .grid .card_s {
  font-size: var(--small-font-size);
  color: var(--white-color-alp);
  font-weight: var(--semi-bold-font);
}
.study_card .grid .card_l {
  font-size: var(--h1-font-size);
  font-weight: var(--semi-bold-font);
  color: var(--white-color);
  line-height: 1.5;
}
.study_card .grid .group_top {
  display: grid;
  gap: 1rem;
}
.study_card .grid .group_bottom {
  display: grid;
  gap: 0.75rem;
}

.card_board {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  padding: 1.25rem;
}
.card_board .title_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}
.card_board .title {
  font-size: var(--base-font-size);
  font-weight: var(--bold-font);
}
.card_board .title_s {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font);
}
.card_board .user_pf {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card_board .user_pf .user_img {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
}
.card_board .user_pf .user_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_board .user_pf .user_name {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font);
}
.card_board .article {
  line-height: 1.5;
  font-size: var(--small-font-size);
  padding-top: 1rem;
}
.card_board .board_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  padding-top: 0.75rem;
  margin-top: 0.75rem;
}
.card_board .board_info .date {
  font-size: var(--small-font-size);
  color: var(--text-color-2);
}
.card_board .board_info .board_act {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.card_board .board_info .board_act .like {
  font-size: var(--small-font-size);
  background-image: url(/images/heart_off.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.25rem;
  cursor: pointer;
}
.card_board .board_info .board_act .like.active {
  background-image: url(/images/heart_on.svg);
}
.card_board .board_info .board_act .cmt {
  font-size: var(--small-font-size);
  background-image: url(/images/chat.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.25rem;
}
.card_board .quiz_smr {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-top: 1px solid var(--border-color);
  font-size: var(--small-font-size);
  padding-top: 0.75rem;
}
.card_board .quiz_smr span {
  font-weight: var(--bold-font);
}

.card_cmts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.card_cmts .inner {
  padding-inline: 0;
  max-width: 70vw;
}
.card_cmts .cmt_user {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 0.75rem;
}
.card_cmts .cmt_user .user_list {
  display: grid;
  grid-template-columns: repeat(4, 0.65rem);
}
.card_cmts .cmt_user .user_list .img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--bg-color);
}
.card_cmts .cmt_user .user_list .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_cmts .cmt_user .user_list.grid_3 {
  grid-template-columns: repeat(3, 0.65rem);
}
.card_cmts .cmt_user .user_list.grid_2 {
  grid-template-columns: repeat(2, 0.65rem);
}
.card_cmts .cmt_user .user_list.grid_1 {
  grid-template-columns: repeat(1, 0.65rem);
}
.card_cmts .cmt_user .cmt_msg {
  font-size: var(--small-font-size);
  font-weight: var(--semi-bold-font);
}
.card_cmts .cmt_txt {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card_cmts .cmt_txt .user_img {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  border-radius: 50%;
}
.card_cmts .cmt_txt .user_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_cmts .cmt_txt .cmt {
  font-size: var(--small-font-size);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color-2);
}

.scd_slide .time_card {
  width: 200px;
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-color: var(--system-red);
}
.scd_slide .time_card .class_name {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font);
  color: var(--white-color-alp);
}
.scd_slide .time_card .class_time {
  font-size: var(--h3-font-size);
  font-weight: var(--bold-font);
  color: var(--white-color);
  line-height: 1.5;
  padding-top: 0.75rem;
}
.scd_slide .time_card:nth-child(odd) {
  background-color: var(--primary-color);
}

.card_dash {
  background-color: var(--white-color);
  border-radius: 0.75rem;
  padding: 1rem;
}
.card_dash .title {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font);
}
.card_dash .date {
  font-size: var(--small-font-size);
  color: var(--text-color-2);
  padding-top: 0.5rem;
}
.card_dash.new {
  background-color: var(--primary-color);
}
.card_dash.new .icon_round {
  margin-bottom: 0.5rem;
}
.card_dash.new .title {
  color: var(--white-color);
}
.card_dash.new .date {
  color: var(--white-color-alp);
}

.tab_group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tab_group .tab_btn {
  font-size: var(--small-font-size);
  font-weight: var(--bold-font);
  color: var(--text-color-2);
  text-decoration: underline;
  position: relative;
}
.tab_group .tab_btn.new::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--primary-color);
  top: 0;
  right: -0.5rem;
}
.tab_group .tab_btn.active {
  color: var(--primary-color);
}

.mini-cal {
  background-color: transparent;
  font-family: var(--body-font);
  color: var(--text-color);
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 0.75rem;
}
.mini-cal #calTitle {
  font-size: var(--small-font-size);
  font-weight: var(--bold-font);
  padding: 0;
  justify-content: center;
  gap: 1rem;
}
.mini-cal #calTitle button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cal #calTitle button svg {
  fill: var(--text-color-2);
  width: 1.25rem;
}
.mini-cal #calThead {
  color: var(--text-color-2);
  font-size: var(--smaller-font-size);
  font-weight: var(--bold-font);
  padding: 0;
}
.mini-cal #calThead > div {
  padding: 0;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cal #calTbody {
  color: var(--text-color-2);
  padding: 0;
}
.mini-cal #calTbody .a-date {
  border: none;
  font-size: var(--small-font-size);
  padding: 0;
  padding: 0.5rem;
}
.mini-cal #calTbody .a-date.current.event.focused {
  background: transparent;
  color: var(--white-color);
}
.mini-cal #calTbody .a-date.current.event.focused span {
  background-color: var(--primary-color);
  transition: 0.2s;
}
.mini-cal #calTbody .a-date.focused, .mini-cal #calTbody .a-date:active {
  background-color: transparent;
  color: var(--text-color);
}
.mini-cal #calTbody .a-date.focused > span, .mini-cal #calTbody .a-date:active > span {
  background-color: var(--primary-color-alp);
  font-weight: var(--bold-font);
}
.mini-cal #calTbody .a-date.event::before {
  background-color: var(--primary-color);
  top: initial;
  bottom: 0.5rem;
  font-weight: var(--bold-font);
}
.mini-cal #calTbody .a-date > span {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.1s;
}
.mini-cal #calTFooter {
  margin-top: 0;
  font-size: var(--small-font-size);
  padding: 0.5rem 0 0;
  border-top: 1px solid var(--border-color);
}
.mini-cal #calTFooter #eventTitle {
  color: var(--text-color-2);
  font-weight: var(--bold-font);
}
.mini-cal #calTFooter #calLink {
  color: var(--primary-color);
  font-weight: var(--semi-bold-font);
  transition: 0.2s;
}
.mini-cal #calTFooter #calLink:active, .mini-cal #calTFooter #calLink:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 3rem;
}

.board_chat {
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  background-color: var(--white-color);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 1rem;
}
.board_chat .input_block:nth-child(2) {
  width: calc(100% - 4rem);
}
.board_chat input[type=text] {
  border: none;
  width: 100%;
  padding-inline: 0;
}
.board_chat .write_btn {
  background-image: url(/images/arrow_right_gr.svg);
  width: 1rem;
  height: 1rem;
}

.info_block {
  background-color: var(--white-color);
  border-radius: 0.5rem;
}
.info_block > div {
  border-bottom: 1px solid var(--border-color);
}
.info_block > div:last-child {
  border-bottom: none;
}
.info_block .info_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.info_block .info_table .title {
  font-size: var(--smaller-font-size);
  color: var(--font-color-2);
}
.info_block .info_table .txt {
  font-size: var(--small-font-size);
}
.info_block .info_table-toggle {
  background-image: url(/images/arrow_down_gr.svg);
  background-size: 1.25rem;
  background-position: center 1.5rem;
  background-repeat: no-repeat;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.info_block .info_table-toggle .toggle_inner .info_table {
  padding-block: 0.5rem;
}
.info_block .info_table-toggle .toggle_inner .info_table:last-child {
  padding-bottom: 1rem;
}
.info_block .info_table-toggle.open {
  background-image: url(/images/arrow_up_gr.svg);
}

/***************************************************************
    08. nav
***************************************************************/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav_link {
  font-size: var(--h1-font-size);
  color: var(--border-color);
  width: 25%;
  text-align: center;
}
.nav .nav_link.active {
  color: var(--primary-color);
}

/***************************************************************
    09. popup
***************************************************************/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 0.2s;
}

/***************************************************************
    10. header
***************************************************************/
header {
  padding-block: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--white-color);
  transition: 0.3s;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: calc(100% - 3rem);
}
header .header_title h2 {
  font-size: var(--h1-font-size);
  font-weight: var(--bold-font);
}
header .header_title h2 span {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-2);
}
header .header_title .back {
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
header .icon_group {
  justify-content: flex-end;
}
header .icon_group .btn_icon {
  background-color: var(--bg-color);
}
header .header_noti {
  font-size: var(--small-font-size);
  color: var(--text-color-2);
  padding: 0.75rem 1.25rem 0;
  line-height: 1.5;
}
header .header_toggle {
  position: absolute;
  width: 1.5rem;
  height: 0.25rem;
  background-color: var(--border-color);
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
header.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
header.primary .icon_group .btn_icon {
  background-color: var(--white-color-alp);
}
header.scroll {
  box-shadow: var(--shadow-m);
}

.header_menu {
  padding-top: 1rem;
  position: relative;
  width: 100%;
  transform: initial;
}
.header_menu::-webkit-scrollbar {
  background: transparent;
}
.header_menu::-webkit-scrollbar-thumb {
  background: transparent;
}
.header_menu .btn_s {
  width: -moz-fit-content;
  width: fit-content;
  border-color: var(--border-color);
  color: var(--primary-color);
  white-space: nowrap;
  transition: all 0.3s;
}
.header_menu .btn_s.active {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}

/***************************************************************
    11. footer
***************************************************************/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  padding-block: 1rem;
}

/***************************************************************
    12. table
***************************************************************/
/***************************************************************
    13. guide
***************************************************************/
:root {
  --point-y: #f9f871;
  --point-g: #65fbd2;
  --point-b: #7ef0ff;
  --guide-point-f: "Barlow Semi Condensed";
  --border-color: #eee;
  --bg-color: #fafafa;
  --dark: #323232;
  --light: #f5f5f5;
  --white: #fff;
  --h1-f: 1.5rem;
  --base-f: 1rem;
  --normal-f: 0.875rem;
  --small-f: 0.75rem;
}

body {
  font-weight: 400;
}

.guide_point_f {
  font-family: var(--guide-point-f);
}

.h1_f {
  font-size: var(--h1-f);
}

.base_f {
  font-size: var(--base-f);
}

.normal_f {
  font-size: var(--normal-f);
}

.small_f {
  font-size: var(--small-f);
}

#guide_main {
  display: flex;
  align-items: center;
  background-color: var(--white);
}

#guide_nav {
  width: 250px;
  height: 100svh;
  overflow: hidden;
  border-right: 1px solid var(--border-color);
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.02);
  text-transform: uppercase;
  font-family: var(--guide-point-f);
}
#guide_nav h1 {
  font-size: var(--h1-f);
  font-weight: var(--bold-font);
  padding: 2rem;
}
#guide_nav .nav_menu {
  border-top: 1px solid var(--border-color);
}
#guide_nav .nav_menu a {
  display: block;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 2rem;
  position: relative;
  transition: all 0.3s;
  z-index: 1;
  font-size: 0.875rem;
}
#guide_nav .nav_menu a::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background-color: var(--point-y);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s;
}
#guide_nav .nav_menu a:hover {
  color: var(--white);
  border-color: transparent;
}
#guide_nav .nav_menu a:hover::after {
  width: 100%;
}
#guide_nav .nav_menu a.active {
  font-weight: 700;
}
#guide_nav .nav_menu a.active:before {
  content: "- ";
}

.container {
  width: calc(100% - 250px);
  height: 100svh;
  overflow: auto;
}
.container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--light);
}
.container::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}
.container .contents {
  padding: 2rem;
}
.container .contents h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--guide-point-f);
  font-weight: 700;
}
.container .contents .guide_info {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 2rem;
  margin: 2rem 0 4rem;
}
.container .contents .guide_info .txt {
  font-size: var(--normal-f);
  line-height: 1.5;
}
.container .contents h3 {
  font-size: 1.5rem;
  font-family: var(--guide-point-f);
  text-transform: uppercase;
  font-weight: 700;
}
.container .contents .guide_block {
  margin: 4rem 0;
}
.container .contents .guide_block .guide_data {
  margin-top: 1rem;
}
.container .contents .guide_block .guide_data .title {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  padding: 0.5rem 1rem;
  font-family: var(--guide-point-f);
  font-weight: 500;
  color: #747474;
}
.container .contents .guide_block .guide_data .data {
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-top: 0;
}
.container .contents .guide_block .guide_data .guide_color {
  width: 80px;
  height: 80px;
}
.container .contents .guide_block .guide_data .guide_icon {
  width: -moz-fit-content;
  width: fit-content;
}