/***************************************************************
    06. form
***************************************************************/
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  background-color: $gray05;
  padding: 1rem 0.75rem;
  font-size: var(--span2-f);
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;

  &:disabled,
  &:read-only {
    background-color: $gray04;
  }

  &:required {
    background-image: url(../images/icon/system_checkOff.svg);
  }

  &:required:valid {
    background-image: url(../images/icon/system_checkOn.svg);
  }

  &:required:valid ~ button {
    background-color: $primary;
    color: $light;
    border-color: transparent;
  }

  &:hover,
  &:focus,
  &:required:valid:focus {
    background-color: $primary-op;
    background-image: none;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    background-color: $system-red-op;
    background-image: none;

    & ~ .pass_view {
      opacity: 0;
    }
  }

  &:required:valid ~ .input_time {
    right: 6.25rem;
  }

  &:not(:focus):not(:placeholder-shown) ~ .input_time {
    right: 4.25rem;
  }
}

.input_block {
  width: 100%;
  label {
    @include span2fn;
    display: block;
    margin-bottom: 0.5rem;
  }

  .input_error {
    font-size: var(--span3-f);
    margin-top: 0.5rem;
    padding-left: 0.25rem;
    color: $system-red;
  }

  .input_info {
    font-size: var(--span3-f);
    margin-top: 0.5rem;
    padding-left: 0.25rem;
    color: $gray01;
  }

  .input_txt {
    font-size: var(--span3-f);
    margin-top: 0.25rem;
    padding-left: 0.25rem;
    color: $gray02;
  }

  .input_ok {
    font-size: var(--span3-f);
    margin-top: 0.5rem;
    padding-left: 0.25rem;
    color: $primary;
  }
}

.input_div {
  position: relative;
  width: 100%;

  .btn_m {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
  }

  .input_time {
    position: absolute;
    right: 4.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--span2-f);
    color: $gray02;
  }

  .input_btnl + .btnClear {
    right: 7.5rem;
  }

  .input_btns + .btnClear {
    right: 4.25rem;
  }
}

//opation
.btnClear {
  position: absolute;
  background: url(../images/icon/system_delete_gray.svg) no-repeat;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}

.pass_view {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-image: url(../images/icon/system_eyeOff.svg);
  background-repeat: no-repeat;
  right: 2.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.pass_view-on {
    background-image: url(../images/icon/system_eyeOn.svg);
  }
}

//search
.btnSearch {
  width: 2rem;
  height: 2rem;
  background: transparent url(../images/icon/system_search.svg) no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;

  & + .btnClear {
    right: 2.75rem;
  }
}

.search_drop {
  position: absolute;
  background-color: $light;
  width: 100%;
  left: 0;
  top: 4rem;
  padding: 1rem 0;
  max-height: 50svh;
  overflow: auto;
  display: none;
  z-index: 9;

  p {
    @include span2fn;
    padding: 0.5rem 1.25rem;
    @include txtover;

    span {
      color: $gray02;
      margin-right: 0.25rem;
    }
  }
}

//textarea
.textarea_block {
  width: 100%;
  font-size: 0;
  label {
    @include span2fn;
    display: block;
    margin-bottom: 0.5rem;
  }

  textarea {
    background-color: $gray05;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: var(--p4-f);
    line-height: 1.5;
    width: 100%;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: $primary-op;
    }

    &::placeholder {
      color: $gray03;
    }
  }
}

//select
.select_block {
  position: relative;
  width: 100%;

  .overlay {
    opacity: 0;
    z-index: -1;
  }
  label {
    @include span2fn;
    display: block;
    margin-bottom: 0.5rem;
  }

  .selectBtn {
    background-image: url(../images/icon/systems_down.svg);
    background-color: $gray05;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.75rem) center;
    border-radius: 0.5rem;
    color: $gray03;
    padding: 1rem 0.75rem;
    text-align: left;
    width: 100%;
    font-size: var(--span2-f);

    &.optSlt {
      color: $dark;
    }
  }

  .optionList {
    position: absolute;
    width: 100%;
    left: 0;
    top: 3.25rem;
    border-right: 1px solid $gray04;
    border-left: 1px solid $gray04;
    transition: all 0.3s ease-in;
    max-height: 0;
    overflow: hidden;
    z-index: 10;

    .optionItem {
      border-bottom: 1px solid $gray04;
      color: $gray01;
      font-size: var(--span2-f);
      padding: 1rem 0.75rem;
      cursor: pointer;
      background-color: $light;

      &:first-child {
        border-top: 1px solid $gray04;
      }
    }
  }

  &.active {
    .overlay {
      opacity: 1;
      z-index: 9;
    }
    .selectBtn {
      background-image: url(../images/icon/systems_top.svg);
    }

    .optionList {
      max-height: 500px;
    }

    .optionmodal {
      bottom: 0;
    }
  }
}

.filter_block {
  position: relative;

  label {
    @include span2fn;
    display: block;
    margin-bottom: 0.5rem;
  }

  .selectBtn {
    @include span2fn;
    border: 1px solid $gray04;
    padding: 0.75rem 2.25rem 0.75rem 0.75rem;
    border-radius: 0.5rem;
    width: fit-content;
    background: url(../images/icon/systems_down_bk.svg) no-repeat;
    background-position: calc(100% - 0.75rem) center;
    position: relative;
  }

  .filterOption {
    background-color: $light;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 14.375rem;
    position: absolute;
    z-index: 1;
    top: 3rem;
    display: none;

    .optionItem {
      @include p3fn;
      padding: 0.625rem 1rem 0.625rem 2.75rem;
      border-bottom: 1px solid $gray05;

      &.select {
        background: url(../images/icon/systems_check_on.svg) no-repeat;
        background-size: 1.25rem;
        background-position: 1rem center;
      }
    }
  }
}

//toggle
.toggle_block {
  .toggle {
    display: none;

    & + .toggle_btn {
      display: block;
      width: 2.875rem;
      height: 1.75rem;
      position: relative;
      cursor: pointer;
      background-color: $gray04;
      border-radius: 2.875rem;
      padding: 0.125rem;
      transition: all 0.4s ease;

      &::after {
        content: "";
        position: relative;
        display: block;
        width: 1.5rem;
        height: 100%;
      }

      &::after {
        left: 0;
        border-radius: 50%;
        background: $light;
        transition: all 0.2s ease;
      }
    }

    &:checked + .toggle_btn {
      background-color: $primary;

      &::after {
        left: 1.125rem;
      }
    }
  }
}

//checkbox
input[type="checkbox"],
input[type="radio"] {
  display: none;

  & ~ label {
    padding: 0.5rem 1rem 0.5rem 2rem;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 2rem;
  }
}

.check_block {
  position: relative;
  .input_check {
    position: relative;

    input ~ .ck_line {
      background-image: url(../images/icon/system_checkOff.svg);
    }

    input:checked ~ .ck_line {
      background-image: url(../images/icon/system_checkOn.svg);
    }

    input ~ .ck_circle {
      background-image: url(../images/icon/system_radioOff.svg);
    }

    input:checked ~ .ck_circle {
      background-image: url(../images/icon/system_radioOn.svg);
    }
  }
}
