/***************************************************************
    09. popup
***************************************************************/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: opacity 0.2s;
}

//popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;

  .popup_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 0.75rem;
    z-index: 2;
    padding: 1.5rem;
    width: 88.8889vw;
    max-width: 20rem;

    .pop_title {
      @include p2fb;
    }

    .pop_txt {
      @include p3fn;
      color: $gray02;
      padding: 0.75rem 0 1rem;
    }
    .pop_btn {
      @include flexcenter;
      gap: 0.5rem;

      button {
        @include span1fb;
        padding: 0.8125rem;
        border-radius: 0.5rem;
        width: 100%;

        @include sd {
          border-radius: 0.25rem;
        }
      }
    }

    @include sd {
      padding: 1.25rem;
      border-radius: 0.5rem;
    }
  }

  &.open {
    z-index: 99;
    opacity: 1;
  }
}

//modal
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;

  .modal_wrap {
    background: #fff;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 1;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: all 0.5s;
    padding-bottom: 1rem;

    & > .toast {
      top: -3.4375rem;
    }
  }

  .modal_top {
    padding: 2rem 1.25rem 0;
    margin-bottom: 1rem;
    display: grid;
    gap: 0.5rem;

    .detail_img {
      @include flexbtw;

      .goods_img img {
        height: 2rem;
        width: auto;
      }

      .flex_right {
        gap: 0.25rem;
        img {
          height: 2rem;
          width: auto;
        }
      }
    }

    .modal_title {
      @include p1fb;
    }

    .modal_sub {
      @include p3fn;
      color: $gray02;
    }

    .day_time {
      @include span2fn;

      .txt {
        padding-right: 1rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0.4375rem;
          height: 0.625rem;
          width: 1px;
          background-color: $gray02;
          top: 0.25rem;
        }
      }
    }

    .goods_cost {
      @include span1fb;
    }
  }

  .modal_con {
    padding: 0 1.25rem;
    max-height: 50svh;
    overflow: auto;

    .check_list {
      @include p4fn;
      padding-left: 1.75rem;
      background: url(../images/icon/systems_check_on.svg) no-repeat;
      background-size: 1.25rem;
      background-position: left top;
    }

    &.con_only {
      max-height: 75svh;
      margin-top: 2rem;
    }
  }

  .modal_goods {
    .goods_data {
      margin-bottom: 1rem;

      li {
        @include p5fn;
        padding-left: 1rem;
        position: relative;

        &::before {
          content: "";
          @include listdot;
        }
      }

      table {
        width: 100%;

        th {
          background-color: $gray04;
          @include p5fb;
          color: $gray01;
          padding: 0.5rem 0.75rem;
          text-align: left;
          border: 1px solid $gray04;

          &:first-child {
            border-right-color: $gray03;
          }
        }

        td {
          @include p5fn;
          padding: 0.5rem 0.75rem;
          border-right: 1px solid $gray04;
          border-bottom: 1px solid $gray04;

          &:first-child {
            border-left: 1px solid $gray04;
          }
        }
      }

      .noti {
        border-radius: 0.6rem;
        background-color: $gray05;
        padding: 1rem;

        li {
          @include span3fn;
          color: $gray02;
        }
      }
    }
    .goods_title {
      @include span2fb;
      color: $dark;
      margin-bottom: 0.25rem;
    }
  }

  .modal_option {
    padding-top: 1rem;
    .option_val {
      padding: 1rem 2rem;
    }
  }

  .img_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    .img {
      width: 100%;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .btn_wrap {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .modal_gridbtn {
    @include gridbtw;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;

    .icon_btn {
      background-color: $gray05;
      border-radius: 1rem;
      padding: 1.75rem 0 1.5rem;
      cursor: pointer;

      .icon {
        width: 2.625rem;
        margin: 0 auto 0.5rem;
        img {
          width: 100%;
        }
      }
      .txt {
        @include p3fb;
        color: $gray01;
        text-align: center;
      }
    }
  }

  .first_on {
    background-color: $light;
    border-radius: 1rem;
    padding: 1.25rem 1.5rem;
    position: absolute;
    top: -7.1875rem;
    width: calc(100% - 2rem);
    left: 50%;
    transform: translateX(-50%);

    .title {
      @include span1fb;
      @include flex;
      gap: 0.5rem;

      img {
        width: 1rem;
      }
    }

    .txt {
      @include p5fn;
      color: $gray02;
      margin-top: 0.625rem;
    }

    .closeBtn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .modal_con_list {
    display: grid;
    gap: 0.5rem;
  }

  .list_none {
    @include span2fn;
    color: $gray02;
    padding: 1rem 0;
    text-align: center;
  }

  .con_box {
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 0.75rem;
  }

  .addfile_slide {
    .img_list {
      display: initial;
    }
  }

  &.open {
    opacity: 1;
    z-index: 99;

    .modal_wrap {
      bottom: 0;
    }
  }
}

.optionmodal {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: $light;
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 999;
  padding: 1rem 0;
  transition: all 0.75s;

  .optionItem {
    @include p2fn;
    padding: 1rem 2rem;
    cursor: pointer;
  }

  .toast {
    top: -3.5rem;
  }
}

//toast
.toast {
  position: fixed;
  width: calc(100% - 2rem);
  background: rgba(0, 0, 0, 0.75);
  @include p4fn;
  text-align: center;
  padding: 0.75rem;
  color: #fff;
  border-radius: 3rem;
  z-index: 10;
  left: 1rem;
  transition: all 0.5s;
}

//ν•λ‹¨ μΈν¬
.bottom_btn {
  background-color: $dark;
  position: fixed;
  bottom: 3.75rem;
  width: calc(100% - 2rem);
  left: 1rem;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  @include flexbtw;
  z-index: 10;

  .txt {
    @include span2fn;
    color: $light;
  }
}
