/***************************************************************
    08. components
***************************************************************/
.breadcrumbs {
  @include flex;
  height: 1.5rem;

  &-nav {
    @include font_body_1;
    color: var(--primary);
    position: relative;
    @include flex;
    gap: 0.25rem;
    white-space: nowrap;

    &::after {
      content: "/";
      padding-inline: 0.5rem;
      color: var(--text-secondary);
    }

    &:last-child {
      color: var(--text-primary);

      &::after {
        display: none;
      }
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
  }
}

.dropdown {
  position: relative;
  &-label {
    @include font_input-label;
    padding-bottom: 0.25rem;
  }

  &-btn {
    border: 1px solid var(--input-border);
    padding: 0.4375rem 0.875rem;
    border-radius: 0.375rem;
    background-color: transparent;
    position: relative;
    height: 2.625rem;
    // cursor: pointer;
    @include flex;
    gap: 0.625rem;
  }

  &-open {
    position: absolute;
    right: 0.875rem;
    width: 1rem;
    height: 1rem;
    background-image: url(/images/system/chevron_down.svg);
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .chip {
    position: relative;
    z-index: 1;
  }

  .dropdown_list {
    background-color: var(--paper-bg);
    padding: 0.5rem;
    border-radius: 0.375rem;
    box-shadow: var(--gray-s-large);
    position: absolute;
    width: 100%;
    top: 4.375rem;
    display: grid;
    gap: 0.125rem;
    z-index: 1;
    &-data {
      @include font_body_1;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--action-hover);
      }

      &.active {
        background-color: var(--primary-o-light);
        color: var(--primary);
      }

      .exlink {
        color: var(--text-disabled);
      }
    }
  }
}

.stepper {
  @include flexbtw;
  position: relative;
  gap: 0.5rem;

  .stepper_default {
    white-space: nowrap;
    width: auto;
    @include flex;
    gap: 0.5rem;
  }

  .stepper_center {
    text-align: center;
    white-space: nowrap;
    display: grid;
    gap: 1rem;
  }

  &-divider {
    height: 3px;
    border-radius: 3rem;
    background-color: var(--primary);
    width: 100%;
  }

  &-icon {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-size: 0.875rem;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  &-no {
    @include font_h6;
  }

  &-nol {
    @include font_h4;
  }

  &-title {
    @include font_body-1;
    color: var(--text-primary);
  }

  &-subtxt {
    @include font_body-2;
  }

  &-pre {
    .stepper-icon {
      background-image: url(/images/system/check_w.svg);
      background-color: var(--primary);
    }
  }

  &-active {
    .stepper-icon {
      border: 0.3125rem solid var(--primary);
    }

    & ~ .stepper-divider {
      background-color: var(--primary-o-light);
    }
  }

  &-next {
    .stepper-icon {
      border: 0.1875rem solid var(--primary-o-light);
    }
  }

  &.type_vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    .stepper-divider {
      height: 2.5rem;
      width: 3px;
      margin-left: 0.5rem;
    }

    .stepper_center {
      width: 100%;
    }

    .stepper_center ~ .stepper-divider {
      margin-inline: auto;
    }
  }
}

.stepper_custom {
  @include flex;
  gap: 1rem;
  .stepper_default {
    @include flex;
    gap: 0.75rem;
  }

  &-icon {
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 0.375rem;
    @include font_h5;
    @include flexcenter;

    img {
      width: 1.375rem;
      height: 1.375rem;
    }
  }

  &-title {
    @include font_body_1;
    white-space: nowrap;
  }

  &-subtxt {
    @include font_body_2;
  }

  .stepper_divider {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(/images/system/chevron_right.svg);
    background-size: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-pre {
    .stepper_custom-icon {
      background-color: var(--primary-o-light);
      color: var(--primary);
    }

    .stepper_custom-title,
    .stepper_custom-subtxt {
      color: var(--text-disabled);
    }
  }

  &-active {
    .stepper_custom-icon {
      background-color: var(--primary);
      color: var(--light-color);
    }
  }

  &-next {
    .stepper_custom-icon {
      background-color: var(--action-hover);
    }
  }

  &.stepper_v {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    .stepper_divider {
      display: none;
    }
  }
}

.tab_group {
  @include flex;
  border-bottom: 1px solid var(--divider);
  width: fit-content;

  .tab_btn {
    @include font_btn_m;
    padding: 0.5rem 1.25rem;
    position: relative;
    @include flex;
    gap: 0.375rem;
    transition: all 0.2s ease;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: all 0.2s ease;
    }

    &:hover {
      color: var(--primary);
      &::after {
        background-color: var(--primary-o-light);
      }
    }

    &.active {
      color: var(--primary);
      &::after {
        background-color: var(--primary);
      }
    }
  }

  .tab_icon {
    width: 1.125rem;
    height: 1.125rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.type_vertical {
    flex-direction: column;
    border-bottom: none;
    width: 8.125rem;
    border-right: 1px solid var(--divider);

    .tab_btn {
      width: 100%;
      justify-content: center;

      &::after {
        width: 0.125rem;
        height: 100%;
        left: initial;
        right: 0;
        top: 0;
        bottom: initial;
      }
    }
  }
}

.tab_group_fill {
  @include flex;
  gap: 0.25rem;
  width: fit-content;

  .tab_btn {
    @include font_btn_m;
    padding: 0.5rem 1.25rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease;
    @include flex;
    gap: 0.375rem;
    white-space: nowrap;

    &:hover {
      background-color: var(--primary-o-light);
      color: var(--primary);
    }

    &.active {
      background-color: var(--primary);
      color: var(--light-color);
      box-shadow: var(--primary-s-small);
    }
  }

  .tab_icon {
    width: 1.125rem;
    height: 1.125rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.type_vertical {
    flex-direction: column;
    width: 8.125rem;

    .tab_btn {
      width: 100%;
      justify-content: center;
    }
  }
}

.pagenation {
  @include flex;
  gap: 0.375rem;

  a {
    @include font_body_2;
    @include flexcenter;
    width: 2.375rem;
    height: 2.375rem;
    border-top-width: 2.375rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--action-selected);
    transition: all 0.2s ease;
    background-repeat: no-repeat;
    background-size: 1.125rem;
    background-position: center;

    &:hover {
      background-color: var(--action-disabled-bg);
    }

    &.active {
      background-color: var(--primary-o-light);
      color: var(--primary);
    }

    &.first {
      background-image: url(/images/system/chevrons_left_gr.svg);
    }

    &.pre {
      background-image: url(/images/system/chevron_left_gr.svg);
    }

    &.next {
      background-image: url(/images/system/chevron_right.svg);
    }

    &.last {
      background-image: url(/images/system/chevrons_right.svg);
    }
  }

  &.type_rounded {
    a {
      border-radius: 0.375rem;
    }
  }

  &.type_outline {
    a {
      border-color: var(--input-border);
      background-color: transparent;

      &:hover {
        background-color: var(--action-hover);
      }

      &.active {
        border-color: var(--primary);
        background-color: var(--primary-o-light);
      }
    }
  }

  &.color_pr {
    a {
      &:hover {
        background-color: var(--primary-o-light);
        color: var(--primary);
      }

      &.active {
        background-color: var(--primary);
        color: var(--light-color);
        box-shadow: var(--primary-s-small);
      }
    }
  }

  &.color_gr {
    a {
      &:hover {
        background-color: var(--secondary-o-light);
        color: var(--secondary);
      }

      &.active {
        background-color: var(--secondary);
        color: var(--light-color);
        box-shadow: var(--secondary-s-small);
      }
    }
  }

  &.color_error {
    a {
      &:hover {
        background-color: var(--error-o-light);
        color: var(--error);
      }

      &.active {
        background-color: var(--error);
        color: var(--light-color);
        box-shadow: var(--error-s-small);
      }
    }
  }

  &.color_warning {
    a {
      &:hover {
        background-color: var(--warning-o-light);
        color: var(--warning);
      }

      &.active {
        background-color: var(--warning);
        color: var(--light-color);
        box-shadow: var(--warning-s-small);
      }
    }
  }

  &.color_info {
    a {
      &:hover {
        background-color: var(--info-o-light);
        color: var(--info);
      }

      &.active {
        background-color: var(--info);
        color: var(--light-color);
        box-shadow: var(--info-s-small);
      }
    }
  }

  &.color_success {
    a {
      &:hover {
        background-color: var(--success-o-light);
        color: var(--success);
      }

      &.active {
        background-color: var(--success);
        color: var(--light-color);
        box-shadow: var(--success-s-small);
      }
    }
  }

  &.size_s {
    a {
      width: 1.875rem;
      height: 1.875rem;
      background-size: 1rem;
      @include font_caption;
    }
  }

  &.size_l {
    a {
      width: 3rem;
      height: 3rem;
      background-size: 1.5rem;
      @include font_body_1;
    }
  }

  &.disabled {
    opacity: 0.45;
  }
}

.alert {
  width: 100%;
  border-radius: 0.375rem;
  padding: var(--padding-3) var(--padding-4);
  border: 1px solid transparent;
  @include flextop;
  gap: var(--gap-4);
  position: relative;
  color: var(--light-color);

  &-icon {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 0.375rem;
    background-color: var(--light-color);
    background-repeat: no-repeat;
    background-size: 1.375rem;
    background-position: center;
  }

  &-data {
    width: calc(100% - 4.5rem);
  }

  &-title {
    @include font_alert;
    padding-bottom: var(--padding-1);
    font-weight: var(--font-medium);
  }

  .alertDel {
    width: 2.125rem;
    height: 2.125rem;
    background-size: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: var(--padding-3);
    right: var(--padding-4);
    background-image: url(../images/system/x_w.svg);
    cursor: pointer;
  }

  &.color_error {
    background-color: var(--error);
    .alert-icon {
      background-image: url(../images/system/alert_circle_red.svg);
    }
  }

  &.color_warning {
    background-color: var(--warning);
    .alert-icon {
      background-image: url(../images/system/alert_triangle_orange.svg);
    }
  }

  &.color_info {
    background-color: var(--info);
    .alert-icon {
      background-image: url(../images/system/info_circle_blue.svg);
    }
  }

  &.color_success {
    background-color: var(--success);
    .alert-icon {
      background-image: url(../images/system/circle_check_green.svg);
    }
  }

  &.type_outline {
    background-color: transparent;
    &.color_error {
      border-color: var(--error);
      color: var(--error);

      .alert-icon {
        background-color: var(--error-o-light);
      }

      .alertDel {
        background-image: url(../images/system/x_red.svg);
      }
    }
    &.color_warning {
      border-color: var(--warning);
      color: var(--warning);

      .alert-icon {
        background-color: var(--warning-o-light);
      }

      .alertDel {
        background-image: url(../images/system/x_orange.svg);
      }
    }
    &.color_info {
      border-color: var(--info);
      color: var(--info);

      .alert-icon {
        background-color: var(--info-o-light);
      }

      .alertDel {
        background-image: url(../images/system/x_blue.svg);
      }
    }
    &.color_success {
      border-color: var(--success);
      color: var(--success);

      .alert-icon {
        background-color: var(--success-o-light);
      }

      .alertDel {
        background-image: url(../images/system/x_green.svg);
      }
    }
  }

  &.type_label {
    &.color_error {
      color: var(--error);
      background-color: var(--error-o-light);

      .alert-icon {
        background-color: var(--error);
        background-image: url(../images/system/alert_circle_w.svg);
      }

      .alertDel {
        background-image: url(../images/system/x_red.svg);
      }
    }
    &.color_warning {
      color: var(--warning);
      background-color: var(--warning-o-light);

      .alert-icon {
        background-image: url(../images/system/alert_triangle_w.svg);
        background-color: var(--warning);
      }

      .alertDel {
        background-image: url(../images/system/x_orange.svg);
      }
    }
    &.color_info {
      background-color: var(--info-o-light);
      color: var(--info);

      .alert-icon {
        background-image: url(../images/system/info_circle_w.svg);
        background-color: var(--info);
      }

      .alertDel {
        background-image: url(../images/system/x_blue.svg);
      }
    }
    &.color_success {
      background-color: var(--success-o-light);
      color: var(--success);

      .alert-icon {
        background-color: var(--success);
        background-image: url(../images/system/circle_check_w.svg);
      }

      .alertDel {
        background-image: url(../images/system/x_green.svg);
      }
    }
  }
}

.accordion {
  display: grid;
  gap: var(--gap-2);

  &-data {
    box-shadow: var(--gray-s-xsmall);
    border-radius: 0.375rem;
    background-color: var(--paper-bg);
  }
  &-title {
    padding: var(--padding-3) var(--padding-5) var(--padding-3) var(--padding-6);
    @include flexbtw;
    .title {
      width: calc(100% - 1.75rem);
    }
    i {
      width: 1.25rem;
      height: 1.25rem;
      background-size: cover;
      background-position: center;
      transition: all 0.3s ease;
    }

    &.accOpen {
      i {
        transform: rotate(90deg);
      }
    }
  }
  &-dec {
    padding: 0 var(--padding-5) var(--padding-5) var(--padding-6);
    color: var(--text-secondary);
    display: none;
  }

  &.type_outline {
    border: 1px solid var(--divider);
    border-radius: 0.375rem;
    display: initial;
    overflow: hidden;

    .accordion-data {
      box-shadow: none;
      background-color: var(--gray-light);

      &:last-child {
        .accordion-title,
        .accordion-dec {
          border-bottom: none;
        }
      }
    }

    .accordion-title {
      border-bottom: 1px solid var(--divider);

      &.accOpen {
        i {
          transform: rotate(0);
          background-image: url(../images/system/minus.svg);
        }
      }
    }

    .accordion-dec {
      padding-top: var(--padding-5);
      background-color: var(--paper-bg);
      border-bottom: 1px solid var(--divider);
    }
  }
}

.badge {
  border-radius: 0.25rem;
  padding: var(--padding-1) var(--padding-3);
  color: var(--light-color);
  background-color: var(--primary);

  &.color_gr {
    background-color: var(--secondary);
  }
  &.color_error {
    background-color: var(--error);
  }
  &.color_warning {
    background-color: var(--warning);
  }
  &.color_info {
    background-color: var(--info);
  }
  &.color_success {
    background-color: var(--success);
  }

  &.type_label {
    background-color: var(--primary-o-light);
    color: var(--primary);
    &.color_gr {
      background-color: var(--secondary-o-light);
      color: var(--secondary);
    }
    &.color_error {
      background-color: var(--error-o-light);
      color: var(--error);
    }
    &.color_warning {
      background-color: var(--warning-o-light);
      color: var(--warning);
    }
    &.color_info {
      background-color: var(--info-o-light);
      color: var(--info);
    }
    &.color_success {
      background-color: var(--success-o-light);
      color: var(--success);
    }
  }
  &.type_dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    padding: 0;
  }
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;

  .thumb {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    background-color: var(--avatar-bg);
    @include flexcenter;
    @include font_avatar;

    .avater_icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .badge {
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid var(--avatar-bg);
    position: absolute;
    bottom: -0.25rem;
    right: -0.25rem;
  }

  &.type_rounded {
    .thumb {
      border-radius: 0.375rem;
    }
  }

  &.type_circle {
    .thumb {
      border-radius: 50%;
    }
    .badge {
      bottom: 0;
      right: 0;
    }
  }
}

.avatar_list {
  @include flex;

  .avatar {
    width: 1.875rem;
    .thumb {
      border: 2px solid var(--avatar-bg);
    }

    &:last-child {
      width: 2.5rem;
    }
  }
}

.avatar_data {
  @include flex;
  gap: var(--gap-3);

  .avatar_info {
    display: grid;
    .name {
    }
    .txt {
      @include font_body_2;
      color: var(--text-secondary);
    }
    .subtxt {
      @include font_caption;
      color: var(--text-disabled);
    }
  }
}
.option {
  border-radius: 0.375rem;
  border: 1px solid var(--divider);
  padding: var(--padding-4);
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;

  &-ck {
    width: 2.25rem;
    height: 2.25rem;
    position: relative;
    @include flexcenter;

    &::before {
      content: "";
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 50%;
      border: 2px solid var(--text-disabled);
      transition: all 0.2s ease;
      background-color: var(--paper-bg);
    }
  }

  &-name {
    @include flex;
    gap: var(--gap-1);
    position: relative;
    font-weight: var(--font-medium);

    span {
      position: absolute;
      right: 0;
      @include font_body_2;
      color: var(--text-disabled);
      font-weight: initial;
    }
  }
  &-txt {
    @include font_body_2;
    color: var(--text-secondary);
    padding-left: 2.625rem;
  }
  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    background-size: cover;
  }

  &-icon_l {
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
  }
  &-price {
    display: flex;
    align-items: baseline;

    .price {
      @include font_h4;
      color: var(--primary);

      span {
        @include font_body_1;
        position: relative;
        bottom: 0.4rem;
        font-weight: initial;
      }
    }
    .mo {
      @include font_body_2;
      color: var(--text-disabled);
    }
  }
  &-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & + .option-ck {
      position: absolute;
      top: var(--padding-2);
      right: var(--padding-2);
    }
  }

  &.checkbox {
    .option-ck::before {
      border-radius: 0.25rem;
    }
  }

  &.type_icon {
    display: grid;
    gap: var(--gap-2);
    justify-items: center;
    text-align: center;
    padding-bottom: var(--padding-2);

    .option-txt {
      padding: 0;
    }
  }

  &.type_img {
    padding: 0;
  }

  &.active {
    border-color: var(--primary);

    .option-ck::before {
      border: 5px solid var(--primary);
    }

    &.checkbox {
      .option-ck::before {
        background-color: var(--primary);
        border-color: var(--primary);
      }
      .option-ck::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0.75rem;
        height: 0.75rem;
        background-image: url(/images/system/check_w.svg);
        transform: translate(-50%, -50%);
      }
    }
  }
}

.progress {
  width: 100%;
  @include flexbtw;
  gap: var(--gap-2);

  &-bar {
    width: 100%;
    position: relative;
    background-color: var(--action-selected);
    border-radius: 3rem;
    height: 0.375rem;
    .bar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 3rem;
      background-color: var(--primary);
    }
  }

  &-per {
    white-space: nowrap;
    @include font_body_2;
    color: var(--text-secondary);
    min-width: 2rem;
  }

  &.size_s {
    .progress-bar {
      height: 0.1875rem;
    }
  }
}

.snackbar {
  padding-inline: var(--padding-4);
  border-radius: 0.375rem;
  height: 2.75rem;
  @include flexbtw;
  gap: var(--gap-4);
  background-color: var(--snackbar-color);
  color: var(--paper-bg);

  .snack_btn {
    @include flexright;
  }

  .delBtn {
    width: 2.125rem;
    height: 2.125rem;
    background-size: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.tooltip {
  @include font_tooltip;
  font-weight: var(--font-medium);
  color: var(--paper-bg);
  background-color: var(--snackbar-color);
  padding: 0.3125rem var(--padding-3);
  border-radius: 0.25rem;
  position: relative;

  &::before {
    content: "";
    width: 0.75rem;
    height: 0.5rem;
    position: absolute;
    background-image: url(../images/tooltip_arr.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
  }

  &.type_bottom::before {
    display: block;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &.type_top::before {
    display: block;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }

  &.type_left::before {
    display: block;
    top: 50%;
    left: -0.5rem;
    transform: translateY(-50%) rotate(90deg);
  }

  &.type_right::before {
    display: block;
    top: 50%;
    right: -0.5rem;
    transform: translateY(-50%) rotate(-90deg);
  }
}

.dialog {
  width: 100%;
  max-width: 37.5rem;
  background-color: var(--paper-bg);
  border-radius: 0.5rem;
  position: relative;
  box-shadow: var(--gray-s-large);
  padding: var(--padding-6);

  .title {
    @include font_h5;
  }

  .txt {
    color: var(--text-secondary);
    padding-block: var(--padding-6);
  }

  .btn_wrap {
    justify-content: flex-end;
  }

  .delDialog {
    background-color: var(--paper-bg);
    border-radius: 0.25rem;
    width: 1.875rem;
    height: 1.875rem;
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--gray-s-xsmall);
    position: absolute;
    right: -0.625rem;
    top: -0.5625rem;
    cursor: pointer;
  }
}

.toast {
  background-color: var(--paper-bg);
  border-radius: 0.375rem;
  box-shadow: var(--gray-s-medium);
  padding: var(--padding-3) var(--padding-4);
  position: relative;
  @include flex;
  gap: var(--gap-3);
  &-error {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--error);
    background-image: url(../images/system/x_w.svg);
    background-size: 70%;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
  }
  &-success {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--success);
    background-image: url(../images/system/check_w.svg);
    background-size: 70%;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
  }
  &-loading {
    width: 0.875rem;
    height: 0.875rem;
    background-image: url(../images/system/loading.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    animation: toastLaoding 0.8s linear infinite;
  }
  &-msg {
    @include font_toast;
  }

  &.type_avatar {
    padding-right: 3.875rem;
  }

  .delToast {
    width: 2.125rem;
    height: 2.125rem;
    cursor: pointer;
    background-size: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: var(--padding-4);
  }
}

.list {
  &-title {
    @include font_subtitle_2;
    color: var(--text-secondary);
    padding: 0.625rem var(--padding-5);
  }

  ul {
    display: grid;
    gap: 2px;
    li {
      @include flexbtw;
      padding: var(--padding-2) var(--padding-5);
      cursor: pointer;
      transition: all 0.2s ease;
      border-radius: 0.375rem;

      a {
        @include flex;
        gap: var(--gap-3);

        i {
          width: 1.375rem;
          height: 1.375rem;
          background-size: cover;
        }
      }

      &:hover {
        background-color: var(--action-hover);
      }

      .input_switch {
        width: 100%;
        .switch_label {
          justify-content: space-between;
        }
      }

      &.active {
        background-color: var(--primary-o-light);
        color: var(--primary);
      }

      &.disabled {
        color: var(--text-disabled);
      }
    }

    &.type_left {
      li {
        justify-content: flex-start;
        gap: var(--gap-3);

        i {
          width: 1.375rem;
          height: 1.375rem;
          background-size: cover;
        }
      }
    }
  }
}

.card {
  border-radius: 0.375rem;
  box-shadow: var(--gray-s-medium);
  overflow: hidden;
  border: 1px solid transparent;

  &-title {
    padding: var(--padding-6);

    .title {
      @include font_h5;
    }
    .subtitle {
      @include font_subtitle_1;
      color: var(--text-secondary);
    }
  }

  &-body {
    padding: 0 var(--padding-6) var(--padding-6);
  }

  &-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & + .card-body {
      padding-top: var(--padding-6);
    }
  }

  .btn_wrap {
    justify-content: flex-end;
    padding: 0 var(--padding-6) var(--padding-6);
  }

  &.type_fill {
    background-color: var(--primary);
    color: var(--light-color);
  }

  &.type_label {
    background-color: var(--primary-o-light);
    color: var(--primary);
    box-shadow: none;
  }

  &.type_outline {
    border-color: var(--primary);
    color: var(--primary);
    box-shadow: none;
  }
}

.timeline {
  position: relative;
  &::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--divider);
    position: absolute;
    left: 5px;
  }
  &-block {
    @include flextop;
    gap: var(--gap-4);
    width: 100%;
    position: relative;
    z-index: 1;
  }
  &-icon {
    height: 2.25rem;
    width: 0.75rem;
    @include flexcenter;
    background-color: var(--paper-bg);

    .icon {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;

      &.color_pr {
        background-color: var(--primary);
        box-shadow: 0 0 0 3px var(--primary-o-light);
      }

      &.color_info {
        background-color: var(--info);
        box-shadow: 0 0 0 3px var(--info-o-light);
      }

      &.color_success {
        background-color: var(--success);
        box-shadow: 0 0 0 3px var(--success-o-light);
      }
    }
  }

  &-data {
    width: 100%;

    .title {
      height: 2.25rem;
      @include flexbtw;

      font-weight: var(--font-medium);
      .date {
        @include font_caption;
        color: var(--text-disabled);
      }
    }
    .content {
      display: grid;
      gap: var(--gap-2);
      padding-block: var(--padding-1) var(--padding-4);
      .txt {
      }
    }
    .file {
      background-color: var(--action-hover);
      border-radius: 0.375rem;
      padding: 0.3125rem 0.625rem;
      color: var(--text-secondary);
      @include flex;
      gap: 0.625rem;
      width: fit-content;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--action-selected);
      }

      i {
        height: 1.25rem;
      }
    }
  }

  .avatar_list {
    .avatar {
      .thumb {
        border: 2px solid var(--paper-bg);
      }
    }
  }

  &.type_outline {
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: transparent;
      background-image: url(../images/timeline_bg.svg);
    }

    .timeline-icon {
      .icon {
        background-color: transparent;
        border: 2px solid transparent;
        box-shadow: none;

        &.color_pr {
          border-color: var(--primary);
        }

        &.color_info {
          border-color: var(--info);
        }

        &.color_success {
          border-color: var(--success);
        }
      }
    }
  }
}

.widget {
  border-radius: 0.375rem;
  box-shadow: var(--gray-s-medium);
  background-color: var(--paper-bg);
  overflow: hidden;
  position: relative;

  &-title {
    padding: var(--padding-6) var(--padding-6) 0;

    .title_heading {
      display: grid;
      gap: 2px;

      .title {
        @include font_h5;
      }

      .txt {
        @include font_subtitle_2;
        color: var(--text-secondary);
      }

      .heading_abs {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        .color_success {
          color: var(--success);
        }

        .ic_dots_vertical_gr {
          width: 1.375rem;
          height: 1.375rem;
          display: block;
          cursor: pointer;
        }
      }
    }

    .title_score {
      @include font_h4;
    }
  }

  &-table_title {
    padding: var(--padding-6);
    @include flexbtw;

    .title_left {
      .title {
        @include font_h5;
      }
    }

    .title_right {
    }
  }

  &-table {
    border-top: 1px solid var(--divider);

    table {
      width: 100%;

      &.check_table {
        thead {
          border-bottom: 1px solid var(--divider);
          th {
            padding-inline: var(--padding-4);
            height: 3.5rem;
            @include font_table_header;
            text-transform: uppercase;
            text-align: left;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              right: var(--padding-4);
              width: 2px;
              height: 0.875rem;
              top: 50%;
              transform: translateY(-50%);
              background-color: var(--divider);
            }

            &:first-child::after {
              display: none;
            }
          }
        }
      }
    }

    thead {
      th {
        @include font_table_header;
        text-transform: uppercase;
      }
    }

    tbody {
      td {
        padding-inline: 1.25rem 16px;
        height: 3.5rem;
        border-bottom: 1px solid var(--divider);
      }
    }

    .table_icon {
      width: 2.375rem;
      height: 2.375rem;
      cursor: pointer;
      @include flexcenter;
      background-size: 1.375rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    .avatar {
      width: 2.125rem;
      height: 2.125rem;

      .thumb {
        width: 100%;
        height: 100%;
      }
    }

    .avatar_list .avatar {
      width: 1rem;
      height: 1.625rem;

      .thumb {
        width: 1.625rem;
        height: 1.625rem;
      }
    }

    .progress_data {
      @include flex;
      gap: var(--gap-3);
      white-space: nowrap;
      .progress {
        width: 100%;
        position: relative;
        height: 0.375rem;
        border-radius: 5rem;
        background-color: var(--action-selected);

        .bar {
          width: var(--prg-bar);
          background-color: var(--primary);
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 5rem;
          height: 100%;
          box-shadow: var(--primary-s-small);
          animation: prgbar 1s linear;
        }
      }
    }

    .table_bottom {
      @include flexbtw;
      padding-inline: var(--padding-6);
      height: 4rem;
    }
  }

  &-con {
    padding: var(--padding-6);
  }

  &-list {
    display: grid;
    gap: var(--gap-4);

    .widget_data {
      @include flexbtw;

      .data_left {
        @include flex;
        gap: var(--gap-4);
        .icon {
          width: 2.125rem;
          height: 2.125rem;
          @include flexcenter;
        }
        .left_txt {
          .title {
            font-weight: var(--font-medium);
          }
          .txt {
            @include font_body_2;
            color: var(--text-secondary);
          }
        }
      }

      .data_right {
        @include flexright;
        gap: var(--gap-4);

        .cost {
          text-align: right;
          background-size: 1.25rem;
          background-repeat: no-repeat;
          background-position: left center;
          font-weight: var(--font-medium);
          padding-left: 1.5rem;

          &.up {
            color: var(--success);
            background-image: url(../images/system/chevron_up_green.svg);
          }

          &.down {
            color: var(--error);
            background-image: url(../images/system/chevron_down_red.svg);
          }
        }
      }
    }
  }

  &.type_basic {
    padding: var(--padding-6);
  }
}
