.ic_chevron_right {
  background-image: url(../images/system/chevron_right.svg);
}

.ic_chevron_right_gr {
  background-image: url(../images/system/chevron_right_gr.svg);
}

.ic_chevron_down {
  background-image: url(../images/system/chevron_down.svg);
}

.ic_external_link {
  background-image: url(../images/system/external_link.svg);
}

.ic_smart_home {
  background-image: url(../images/system/smart_home.svg);
}

.ic_shopping_cart {
  background-image: url(../images/system/shopping_cart.svg);
}

.ic_shopping_cart_pr {
  background-image: url(../images/system/shopping_cart_pr.svg);
}

.ic_school {
  background-image: url(../images/system/school.svg);
}

.ic_car {
  background-image: url(../images/system/car.svg);
}

.ic_user {
  background-image: url(../images/system/user.svg);
}

.ic_user_pr {
  background-image: url(../images/system/user_pr.svg);
}

.ic_mail {
  background-image: url(../images/system/mail.svg);
}

.ic_message_circle_2 {
  background-image: url(../images/system/message_circle_2.svg);
}

.ic_calendar {
  background-image: url(../images/system/calendar.svg);
}

.ic_copy {
  background-image: url(../images/system/copy.svg);
}

.ic_file_invoice {
  background-image: url(../images/system/file_invoice.svg);
}

.ic_lock {
  background-image: url(../images/system/lock.svg);
}

.ic_file {
  background-image: url(../images/system/file.svg);
}

.ic_shield_lock {
  background-image: url(../images/system/shield_lock.svg);
}

.ic_dots {
  background-image: url(../images/system/dots.svg);
}

.ic_square {
  background-image: url(../images/system/square.svg);
}

.ic_typography {
  background-image: url(../images/system/typography.svg);
}

.ic_brand_tabler {
  background-image: url(../images/system/brand_tabler.svg);
}

.ic_chart_bar {
  background-image: url(../images/system/chart_bar.svg);
}

.ic_atom {
  background-image: url(../images/system/atom.svg);
}

.ic_checkbox {
  background-image: url(../images/system/checkbox.svg);
}

.ic_layout {
  background-image: url(../images/system/layout.svg);
}

.ic_checkup_list {
  background-image: url(../images/system/checkup_list.svg);
}

.ic_git_merge {
  background-image: url(../images/system/git_merge.svg);
}

.ic_table {
  background-image: url(../images/system/table.svg);
}

.ic_grid_line {
  background-image: url(../images/system/grid_line.svg);
}

.ic_chart_donut_2 {
  background-image: url(../images/system/chart_donut_2.svg);
}

.ic_box {
  background-image: url(../images/system/box.svg);
}

.ic_circle {
  background-image: url(../images/system/circle.svg);
}

.ic_star_fill_y {
  background-image: url(../images/system/star_fill_y.svg);
}

.ic_star_fill_gr {
  background-image: url(../images/system/star_fill_gr.svg);
}

.ic_moon_stars {
  background-image: url(../images/system/moon.svg);
}

.ic_menu_2 {
  background-image: url(../images/system/menu_2.svg);
}

.ic_alert_circle_red {
  background-image: url(../images/system/alert_circle_red.svg);
}

.ic_alert_circle_w {
  background-image: url(../images/system/alert_circle_w.svg);
}

.ic_alert_triangle_orange {
  background-image: url(../images/system/alert_triangle_orange.svg);
}

.ic_alert_triangle_w {
  background-image: url(../images/system/alert_triangle_w.svg);
}

.circle_check_green {
  background-image: url(../images/system/circle_check_green.svg);
}

.ic_circle_check_w {
  background-image: url(../images/system/circle_check_.svg);
}

.ic_info_circle_blue {
  background-image: url(../images/system/info_circle_blue.svg);
}

.ic_info_circle_w {
  background-image: url(../images/system/info_circle_w.svg);
}

.ic_x {
  background-image: url(../images/system/x.svg);
}

.ic_x_w {
  background-image: url(../images/system/x_w.svg);
}

.ic_x_blue {
  background-image: url(../images/system/x_blue.svg);
}

.ic_x_orange {
  background-image: url(../images/system/x_orange.svg);
}

.ic_x_green {
  background-image: url(../images/system/x_green.svg);
}

.ic_x_red {
  background-image: url(../images/system/x_red.svg);
}

.ic_x_gr {
  background-image: url(../images/system/x_gr.svg);
}

.ic_star {
  background-image: url(../images/system/star.svg);
}

.ic_crown {
  background-image: url(../images/system/crown.svg);
}

.ic_star_pr {
  background-image: url(../images/system/star_pr.svg);
}

.ic_crown_pr {
  background-image: url(../images/system/crown_pr.svg);
}

.ic_map_pin {
  background-image: url(../images/system/map_pin.svg);
}

.ic_credit_card {
  background-image: url(../images/system/credit_card.svg);
}

.ic_ship {
  background-image: url(../images/system/ship.svg);
}

.ic_check_circle_pr_label {
  background-image: url(../images/system/check_circle_pr_label.svg);
}

.ic_corner_left_down_gr {
  background-image: url(../images/system/corner_left_down_gr.svg);
}

.ic_circle_x_gr {
  background-image: url(../images/system/circle_x_gr.svg);
}

.ic_circle_star_pr {
  background-image: url(../images/system/circle_star_pr.svg);
}

.ic_arrow_right_pr {
  background-image: url(../images/system/arrow_right_pr.svg);
}

.ic_help_pr {
  background-image: url(../images/system/help_pr.svg);
}

.ic_currency_dollar_pr {
  background-image: url(../images/system/currency_dollar_pr.svg);
}

.ic_color_swatch_pr {
  background-image: url(../images/system/color_swatch_pr.svg);
}

.ic_lock_open_pr {
  background-image: url(../images/system/lock_open_pr.svg);
}

.ic_language {
  background-image: url(../images/system/language.svg);
}

.ic_bell {
  background-image: url(../images/system/bell.svg);
}

.ic_layout_grid_add {
  background-image: url(../images/system/layout_grid_add.svg);
}

.ic_plus {
  background-image: url(../images/system/plus.svg);
}

.ic_minus {
  background-image: url(../images/system/minus.svg);
}

.ic_brand_gitlab {
  background-image: url(../images/system/brand_gitlab.svg);
}

.ic_settings {
  background-image: url(../images/system/settings.svg);
}

.ic_wallet {
  background-image: url(../images/system/wallet.svg);
}

.ic_help {
  background-image: url(../images/system/help.svg);
}

.ic_file_dollar {
  background-image: url(../images/system/file_dollar.svg);
}

.ic_currency_dollar {
  background-image: url(../images/system/currency_dollar.svg);
}

.ic_question_mark {
  background-image: url(../images/system/question_mark.svg);
}

.ic_mail_opened {
  background-image: url(../images/system/mail_opened.svg);
}

.ic_sun {
  background-image: url(../images/system/sun.svg);
}

.ic_device_desktop_analytics {
  background-image: url(../images/system/device_desktop_analytics.svg);
}

.ic_users {
  background-image: url(../images/system/device_desktop_analytics.svg);
}

.ic_search {
  background-image: url(../images/system/search.svg);
}

/*-------- color ------------- */
.icc_rocket_gr {
  background-image: url(../images/color/rocket_gr.svg);
}
.icc_gift_gr {
  background-image: url(../images/color/gift_gr.svg);
}
.icc_keyboard_gr {
  background-image: url(../images/color/keyboard_gr.svg);
}
.icc_laptop_gr {
  background-image: url(../images/color/laptop_gr.svg);
}
.icc_lightbulb_gr {
  background-image: url(../images/color/lightbulb_gr.svg);
}
.icc_discord_gr {
  background-image: url(../images/color/discord_gr.svg);
}

:root.dark {
  .ic_chevron_right {
    background-image: url(../images/system/chevron_right_d.svg);
  }

  .ic_chevron_right_gr {
    background-image: url(../images/system/chevron_right_gr_d.svg);
  }

  .ic_chevron_down {
    background-image: url(../images/system/chevron_down_d.svg);
  }

  .ic_external_link {
    background-image: url(../images/system/external_link_d.svg);
  }

  .ic_smart_home {
    background-image: url(../images/system/smart_home_d.svg);
  }

  .ic_shopping_cart {
    background-image: url(../images/system/shopping_cart_d.svg);
  }

  .ic_school {
    background-image: url(../images/system/school_d.svg);
  }

  .ic_car {
    background-image: url(../images/system/car_d.svg);
  }

  .ic_user {
    background-image: url(../images/system/user_d.svg);
  }

  .ic_mail {
    background-image: url(../images/system/mail_d.svg);
  }

  .ic_message_circle_2 {
    background-image: url(../images/system/message_circle_2_d.svg);
  }

  .ic_calendar {
    background-image: url(../images/system/calendar_d.svg);
  }

  .ic_copy {
    background-image: url(../images/system/copy_d.svg);
  }

  .ic_file_invoice {
    background-image: url(../images/system/file_invoice_d.svg);
  }

  .ic_lock {
    background-image: url(../images/system/lock_d.svg);
  }

  .ic_file {
    background-image: url(../images/system/file_d.svg);
  }

  .ic_shield_lock {
    background-image: url(../images/system/shield_lock_d.svg);
  }

  .ic_dots {
    background-image: url(../images/system/dots_d.svg);
  }

  .ic_square {
    background-image: url(../images/system/square_d.svg);
  }

  .ic_typography {
    background-image: url(../images/system/typography_d.svg);
  }

  .ic_brand_tabler {
    background-image: url(../images/system/brand_tabler_d.svg);
  }

  .ic_chart_bar {
    background-image: url(../images/system/chart_bar_d.svg);
  }

  .ic_atom {
    background-image: url(../images/system/atom_d.svg);
  }

  .ic_checkbox {
    background-image: url(../images/system/checkbox_d.svg);
  }

  .ic_layout {
    background-image: url(../images/system/layout_d.svg);
  }

  .ic_checkup_list {
    background-image: url(../images/system/checkup_list_d.svg);
  }

  .ic_git_merge {
    background-image: url(../images/system/git_merge_d.svg);
  }

  .ic_table {
    background-image: url(../images/system/table_d.svg);
  }

  .ic_grid_line {
    background-image: url(../images/system/grid_line_d.svg);
  }

  .ic_chart_donut_2 {
    background-image: url(../images/system/chart_donut_2_d.svg);
  }

  .ic_box {
    background-image: url(../images/system/box_d.svg);
  }

  .ic_circle {
    background-image: url(../images/system/circle_d.svg);
  }

  .ic_moon_stars {
    background-image: url(../images/system/moon_stars_d.svg);
  }

  .ic_chevron_down {
    background-image: url(../images/system/chevron_down_d.svg);
  }

  .ic_menu_2 {
    background-image: url(../images/system/menu_2_d.svg);
  }

  .ic_x {
    background-image: url(../images/system/x_d.svg);
  }

  .ic_map_pin {
    background-image: url(../images/system/map_pin_d.svg);
  }

  .ic_credit_card {
    background-image: url(../images/system/credit_card_d.svg);
  }

  .ic_ship {
    background-image: url(../images/system/ship_d.svg);
  }
  .ic_corner_left_down_gr {
    background-image: url(../images/system/corner_left_down_d.svg);
  }

  .ic_language {
    background-image: url(../images/system/language_d.svg);
  }

  .ic_bell {
    background-image: url(../images/system/bell_d.svg);
  }

  .ic_layout_grid_add {
    background-image: url(../images/system/layout_grid_add_d.svg);
  }

  .ic_plus {
    background-image: url(../images/system/plus_d.svg);
  }

  .ic_minus {
    background-image: url(../images/system/minus_d.svg);
  }

  .ic_brand_gitlab {
    background-image: url(../images/system/brand_gitlab_d.svg);
  }

  .ic_settings {
    background-image: url(../images/system/settings_d.svg);
  }

  .ic_wallet {
    background-image: url(../images/system/wallet_d.svg);
  }

  .ic_help {
    background-image: url(../images/system/help_d.svg);
  }

  .ic_file_dollar {
    background-image: url(../images/system/file_dollar_d.svg);
  }

  .ic_currency_dollar {
    background-image: url(../images/system/currency_dollar_d.svg);
  }

  .ic_question_mark {
    background-image: url(../images/system/question_mark_d.svg);
  }

  .ic_mail_opened {
    background-image: url(../images/system/mail_opened_d.svg);
  }

  .ic_sun {
    background-image: url(../images/system/sun_d.svg);
  }

  .ic_device_desktop_analytics {
    background-image: url(../images/system/device_desktop_analytics_d.svg);
  }

  .ic_users {
    background-image: url(../images/system/device_desktop_analytics_d.svg);
  }

  .ic_search {
    background-image: url(../images/system/search_d.svg);
  }

  /*-------- color ------------- */
  .icc_rocket_gr {
    background-image: url(../images/color/rocket_d.svg);
  }
  .icc_gift_gr {
    background-image: url(../images/color/gift_d.svg);
  }
  .icc_keyboard_gr {
    background-image: url(../images/color/keyboard_d.svg);
  }
  .icc_laptop_gr {
    background-image: url(../images/color/laptop_d.svg);
  }
  .icc_lightbulb_gr {
    background-image: url(../images/color/lightbulb_d.svg);
  }
  .icc_discord_gr {
    background-image: url(../images/color/discord_d.svg);
  }
}
