.ic_chevron_right {
  background-image: url(../images/system/chevron_right.svg);
}

.ic_chevron_down {
  background-image: url(../images/system/chevron_down.svg);
}

.ic_external_link {
  background-image: url(../images/system/external_link.svg);
}

.ic_smart_home {
  background-image: url(../images/system/smart_home.svg);
}

.ic_shopping_cart {
  background-image: url(../images/system/shopping_cart.svg);
}

.ic_school {
  background-image: url(../images/system/school.svg);
}

.ic_car {
  background-image: url(../images/system/car.svg);
}

.ic_user {
  background-image: url(../images/system/user.svg);
}

.ic_mail {
  background-image: url(../images/system/mail.svg);
}

.ic_message_circle_2 {
  background-image: url(../images/system/message_circle_2.svg);
}

.ic_calendar {
  background-image: url(../images/system/calendar.svg);
}

.ic_copy {
  background-image: url(../images/system/copy.svg);
}

.ic_file_invoice {
  background-image: url(../images/system/file_invoice.svg);
}

.ic_lock {
  background-image: url(../images/system/lock.svg);
}

.ic_file {
  background-image: url(../images/system/file.svg);
}

.ic_shield_lock {
  background-image: url(../images/system/shield_lock.svg);
}

.ic_dots {
  background-image: url(../images/system/dots.svg);
}

.ic_square {
  background-image: url(../images/system/square.svg);
}

.ic_typography {
  background-image: url(../images/system/typography.svg);
}

.ic_brand_tabler {
  background-image: url(../images/system/brand_tabler.svg);
}

.ic_chart_bar {
  background-image: url(../images/system/chart_bar.svg);
}

.ic_atom {
  background-image: url(../images/system/atom.svg);
}

.ic_checkbox {
  background-image: url(../images/system/checkbox.svg);
}

.ic_layout {
  background-image: url(../images/system/layout.svg);
}

.ic_checkup_list {
  background-image: url(../images/system/checkup_list.svg);
}

.ic_git_merge {
  background-image: url(../images/system/git_merge.svg);
}

.ic_table {
  background-image: url(../images/system/table.svg);
}

.ic_grid_line {
  background-image: url(../images/system/grid_line.svg);
}

.ic_chart_donut_2 {
  background-image: url(../images/system/chart_donut_2.svg);
}

.ic_box {
  background-image: url(../images/system/box.svg);
}

.ic_circle {
  background-image: url(../images/system/circle.svg);
}

.star_fill_y {
  background-image: url(../images/system/star_fill_y.svg);
}

.ic_moon_stars {
  background-image: url(../images/system/moon.svg);
}

.ic_menu_2 {
  background-image: url(../images/system/menu_2.svg);
}

.ic_x {
  background-image: url(../images/system/x.svg);
}

:root.dark {
  .ic_chevron_right {
    background-image: url(../images/system/chevron_right_d.svg);
  }

  .ic_chevron_down {
    background-image: url(../images/system/chevron_down_d.svg);
  }

  .ic_external_link {
    background-image: url(../images/system/external_link_d.svg);
  }

  .ic_smart_home {
    background-image: url(../images/system/smart_home_d.svg);
  }

  .ic_shopping_cart {
    background-image: url(../images/system/shopping_cart_d.svg);
  }

  .ic_school {
    background-image: url(../images/system/school_d.svg);
  }

  .ic_car {
    background-image: url(../images/system/car_d.svg);
  }

  .ic_user {
    background-image: url(../images/system/user_d.svg);
  }

  .ic_mail {
    background-image: url(../images/system/mail_d.svg);
  }

  .ic_message_circle_2 {
    background-image: url(../images/system/message_circle_2_d.svg);
  }

  .ic_calendar {
    background-image: url(../images/system/calendar_d.svg);
  }

  .ic_copy {
    background-image: url(../images/system/copy_d.svg);
  }

  .ic_file_invoice {
    background-image: url(../images/system/file_invoice_d.svg);
  }

  .ic_lock {
    background-image: url(../images/system/lock_d.svg);
  }

  .ic_file {
    background-image: url(../images/system/file_d.svg);
  }

  .ic_shield_lock {
    background-image: url(../images/system/shield_lock_d.svg);
  }

  .ic_dots {
    background-image: url(../images/system/dots_d.svg);
  }

  .ic_square {
    background-image: url(../images/system/square_d.svg);
  }

  .ic_typography {
    background-image: url(../images/system/typography_d.svg);
  }

  .ic_brand_tabler {
    background-image: url(../images/system/brand_tabler_d.svg);
  }

  .ic_chart_bar {
    background-image: url(../images/system/chart_bar_d.svg);
  }

  .ic_atom {
    background-image: url(../images/system/atom_d.svg);
  }

  .ic_checkbox {
    background-image: url(../images/system/checkbox_d.svg);
  }

  .ic_layout {
    background-image: url(../images/system/layout_d.svg);
  }

  .ic_checkup_list {
    background-image: url(../images/system/checkup_list_d.svg);
  }

  .ic_git_merge {
    background-image: url(../images/system/git_merge_d.svg);
  }

  .ic_table {
    background-image: url(../images/system/table_d.svg);
  }

  .ic_grid_line {
    background-image: url(../images/system/grid_line_d.svg);
  }

  .ic_chart_donut_2 {
    background-image: url(../images/system/chart_donut_2_d.svg);
  }

  .ic_box {
    background-image: url(../images/system/box_d.svg);
  }

  .ic_circle {
    background-image: url(../images/system/circle_d.svg);
  }

  .ic_moon_stars {
    background-image: url(../images/system/moon_stars_d.svg);
  }

  .ic_chevron_down {
    background-image: url(../images/system/chevron_down_d.svg);
  }

  .ic_menu_2 {
    background-image: url(../images/system/menu_2_d.svg);
  }

  .ic_x {
    background-image: url(../images/system/x_d.svg);
  }
}
